.error-page {
	.error-description {
		text-align: center;
	}
	.error-description {
		margin: 0 0 4em;
	}
	.error-description h2 {
		color: #3db5e7;
		font-weight: bold;
	}
	.error-image img {
		margin: auto;
		position: relative;
	}
	.border-left {
		width: 1px;
		background: $color__border-dark;
		height: 176px;
		position: absolute;
		right: 0;
		top: 0;
	}
	.search {
		text-align: center;
		margin-top: 2em;
		padding: 0 4em;
	}
	.search-form {
		width: 100% !important;
		margin: auto;
		margin-bottom: 1em;
		.input-group {
			.form-controller {
				font-style: italic;
				padding: 1em;
				height: 56px;
			}
			.btn-search {
				i {
					position: relative;
					top: 3px;
				}
			}
			button {
				@include prefixed(border-radius, 0);
				padding: 1.12em;
				position: relative;
			}
		}
	}
	.goto-button {
		padding: 0 4em;
		text-align: center;
		display: block;
	} 
	.go-to {
		margin: 0 1em;
		text-align: center;
		&:first-child {
			margin-left: 0;
			position: relative;
			left: -3px;
		}
		&:last-child {
			margin-right: 0;
			position: relative;
			right: -4px;
		}
	}
}
