.about-me {
	background: $color__white;
	.author-name, #author-skill h3 {
		font-style: italic;
		font-weight: bold;
		font-size: 1.25em;
	}
	.author-name {
		margin-top: 0;
	}
	.entry-footer {
		font-family: $font__sub;
		.author-sign {
			border-bottom: 1px solid $color__border-post;
			padding-bottom: 0.5em;
			h3 {
				font-size: 1em;
				font-weight: 500;
				line-height: 1.6em;
				margin-top: 5px;
			}
		}
		.follow-link {
			margin-top: 1.2em;
			span {
				font-weight: 500;
				margin-right: 10px;
			}
			a {
				margin: 0 5px;
			}
		}
	}

	.author-image {
		img {
			width: 100%;
		}
	}

	#author-skill {
		margin: floor($base__line-grid * 2.12) 0 ($base__line-grid * 1.5833); 
		h3 {
			margin-left: 1.4em;
		}
		.pd-bottom {
			padding-bottom: 2.3em;
		}
		.skillbar {
			position: relative;
			display: block;
			margin-top: 16px;
			background: transparent;
			@include prefixed(transition, 0.4s linear);
			@include prefixed_double(transition, width, background-color);
		}
		.skillbar-title {
			top: 0;
			left: 0;
			line-height: 1.7em;
			font-size: 0.8em;
			font-weight: bold;
			font-family: $font__sub;
			margin-bottom: 0.4em;
		}
		.skillbar-bg {
			background: $color__background-main;
		}
		.skillbar-bar {
			height: 15px;
			width: 0;	
		}
		.skill-bar-percent {
			position: absolute;
			top: -18px;
			margin-left: -5px;
			font-size: 12px;
			height: 40px;
			line-height: 36px;
			font-weight: bold;
			content: "";
			&:after {
				content: "";
	    		border-left: 6px solid transparent; 
	    		border-right: 6px solid transparent;
	    		position: absolute;
	    		bottom: 1px;
	    		left: 0;
			}
		}
	}	
}
