.contact-page {
	background: $color__white;
	.header-title {
		margin-bottom: 3.5em;
	}
	.sub-heading {
		font-weight: 400;
		width: 50%;
		margin: 1.4em auto 0;
		line-height: 1.6em;
	}
	.title {
		font-style: italic;
		font-weight: bold;
		font-size: 1.25em;
	}
	#gmaps {
		height: 500px;
	}
	.post img, 
	.page img {
	    max-width: none;
	}
	.entry-content {
		margin-top: -6px;
	}
	.address {
		h4 {
			border-bottom: 1px solid $color__border-post;
			padding-bottom: 0.8em;
			margin-bottom: 1.3em;
			margin-top: 0;
			font-style: italic;
		}
		.dl-horizontal dd {
		    margin-bottom: 8px;
		    margin-left: 110px;
		    font-weight: 400;
		}
		.dl-horizontal dt {
			text-align: left;
			width: 100px;
		}
	}
	.padding-left {
		padding-left: 0.5em;
	}
	.padding-right {
		padding-right: 0.5em;
	}
	.padding-left-right {
		padding: 0 0.5em;
	}
	.contact-respond {
		margin: floor($base__line-grid * 2.42) 0 floor($base__line-grid * 1.88);
		p {
			margin-bottom: 1em;
		}
	}
	span.wpcf7-not-valid-tip {
	    color: #df2626;
	    display: block;
	    font-family: $font__sub;
	    font-size: 0.8em;
	    margin-bottom: -10px;
	    margin-left: 4px;
	    margin-top: 3px;
	}
	div.wpcf7-validation-errors {
		border: 1px solid #efdf35;
		color: #df2626;
		font-family: $font__sub;
	}
	div.wpcf7-mail-sent-ng {
		border: 1px solid #df2626;
	} 
	div.wpcf7-response-output {
		padding: 0.4em 1em;
		margin: 0;
	}
	.wpcf7-mail-sent-ok {
		border-width: 1px;
	}
}