$font__heading: 'Playfair Display', serif;
$font__body: 'Lato', sans-serif;
$font__meta: 'Herr Von Muellerhoff', sans-serif;
$font__category: 'Herr Von Muellerhoff', sans-serif;

$base__font-size: em(16px);
$heading__one: 2.441em;
$heading__two: 1.953em;
$heading__three: 1.563em;
$heading__four: 1.25em;
$heading__five: 1em;
$heading__six: 0.8em;

$font__line-height-body: 1.45em;
$font__line-height-heading: 1.4em;
$font__line-height-paragraph: 1.75em;
$font__line-height-pre: 1.6em;