#mobile-menu {
    display: none;
}
.mainmenu {
    position: relative;
}
.overlapblackbg {
    display: none;
}
.menu-wrapper {
    color: $color__white;
    position: relative;
    padding: 0;
    margin: 0px auto;
    width: 100%;
    max-width: 1150px;
}
.menu-content {
    text-align: center;
    margin: auto;
}
.menu-list {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    text-align: center;
    display: table;
    > li {
        display: table-cell;      
    }
    li {
        &:first-child a {
            border-left: 0;
        }
        &:last-child a {
            border-right: 0;
        }
    }
}
#nav-left {
    .menu-list > li:first-child > a {
        padding-left: 0;
    }    
    .menu-list > li:last-child > a {
        padding-right: 0;
    }
}
#nav-right {
    .menu-list > li:first-child > a {
        padding-left: 0;
    }    
    .menu-list > li:last-child > a {
        padding-right: 0;
    }
}
.top-navigation {
    .menu-list {
        > li > a {
            display: block;
            padding: 10px 15px;
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            text-decoration: none;
            position: relative;
            color: $color__black;
            vertical-align: middle;
            @include prefixed(transform, translateZ(0));
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            @include prefixed(backface-visibility, hidden);
            overflow: hidden;
            white-space: nowrap;
        }
        > li.current-menu-item,
        > li.current-menu-ancestor {
            > a:before {
                @include prefixed(transform, translateY(0));
            }
        }
        > li:last-child > a::after {
            content: "";
        }        
    }
}
.menu-click {
    display: none;
}
/* Sub Menu CSS */
.menu-submenu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
    border: solid 1px $color__border-one;
    background-color: $color__white;
    opacity: 0;
    font-family: $font__body;
    @include prefixedallon(transform-origin, 0% 0%);
    @include prefixed_double(transition, transform 0.3s, opacity 0.3s);
    li {
        position: relative;
        a {
            background: $color__white;
            background-image: none !important;
            color: $color__menu-text !important;
            border-right: 0 none !important;
            
            text-align: left;
            display: block;
            line-height: 1.5em;
            padding: 8px 16px;
            text-transform: none;
            font-size: 13px;
            letter-spacing: normal;   
        }
        &:last-child a {
            border-bottom: none;
        }
    }
}
.menu-submenu li a,
.menu-submenu .menu-submenu li a {
    border-bottom: 1px dashed $color__border-one;

}
.menu-submenu li:last-child > a {
    border-bottom: 0;
}
.menuexpandermain {
    display: none;
}
.menu-list {
    .menu-submenu {
       min-width: 200px; 
    }
    li:hover .menu-submenu,
    .menu-submenu li:hover .menu-submenu-sub {
        display: block;
    }
    .menu-submenu .menu-submenu,
    .menu-submenu .menu-submenu .menu-submenu {
        min-width: 200px;
        position: absolute;
        left: 100%;
        top: -1px;
        margin: 0;
        padding: 0;
        opacity: 0;
        @include prefixedallon(transform-origin, 0% 0%);
        @include prefixed_double(transition, transform 0.4s, opacity 0.4s);
        z-index: 1001;
    }
    .menu-submenu li:hover .menu-submenu,
    .menu-submenu .menu-submenu li:hover .menu-submenu {
        opacity: 1;
        list-style: none;
        background-color: $color__white;
    }
}
.menu-submenu li {
    position: relative;
    display: block;
}
/*Animation*/
.menu-list {
    li {
        > .menu-submenu,
        > .megamenu > .menu-submenu {
            @include prefixedallon(transform-style, preserve-3d);
            @include prefixed(transform, rotateX(-90deg));
            visibility: hidden;
        }
        &:hover {
            > .menu-submenu,
            > .megamenu > .menu-submenu {
                @include prefixed(transform, rotateX(0deg));
                opacity: 1;
                visibility: visible;
            }    
        }
    }
}
/* Default Color */
.menu-list {
    li:hover>a,
    > li > a:hover,
    > li > a.active {
        background-color: rgba(0, 0, 0, 0) !important;
        text-decoration: none;
    }
}
.menu-submenu > li > a:hover,
.menu-submenu .menu-submenu > li > a:hover,
.menu-submenu .menu-submenu .menu-submenu > li > a:hover {
    background-color: $header__footer-bg !important;
    @include prefixed(border-radius, 0!important);
    text-decoration: none;
}
.menu-submenu .current-menu-parent > a,
.menu-submenu .current-menu-item > a {
    background-color: $header__footer-bg;
}
.current-menu-ancestor .current-menu-ancestor > a {
    background-color: $header__footer-bg;
}
.megamenu .menu-submenu .current-menu-item > a,
.megamenu .current-menu-ancestor > a,
.megamenu.current-menu-ancestor .current-menu-ancestor > a {
    background-color: rgba(0, 0, 0, 0) !important;
}
.megamenu {
    .menu-submenu .current-menu-parent > a, 
    .menu-submenu .current-menu-item > a {
       background-color: rgba(0, 0, 0, 0) !important; 
    }
}
.menu-submenu .fa {
    margin-right: 7px;
}
#nav-right .menu-submenu .menu-submenu {
    left: -100%;
    margin-left: -2px;
}