@media only screen and (min-width: 1000px) {
    .menu-list > li {
        overflow: hidden;
    }
    .menu-list li:hover > .menu-submenu {
        display: block !important;
    }
    .menu-list li a span {
        font-size: 13px;
        position: absolute;
        color: $color__meta;
        right: 5px;
        top: 13px;
    }
    .menu-list > li > a span {
        position: static;
        margin-left: 5px;
    }
    .menu-list li .menu-submenu li a span {
        transform: rotate(-90deg);
    }
    #nav-right .menu-list li .menu-submenu li a {
        padding-left: 20px;
    }
    #nav-right .menu-list li .menu-submenu li a span {
        transform: rotate(90deg);
        left: 7px;
        right: auto;
        top: 11px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1203px) {
    #nav-left .menu-list > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }    
    #nav-right .menu-list > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1023px) {
    .menu-list > li > a > .fa {
        display: none !important;
    }
    .menu-list >li >a {
        padding: 0 10px !important;
        white-space: nowrap !important;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .menu-list li a .arrow:after {
        display: none !important;
    }
}
/*--------------------------------------------------------------
# Mobile CSS
--------------------------------------------------------------*/
@media only screen and (max-width: 1000px) {
    #nav-left, #nav-right {
        display: none !important;
    }
    .menu-list li a span {
        display: none !important;
    }
    #mobile-menu {
        display: block;
    }
    .menu-list > li:hover>a {
        background-color: rgba(0, 0, 0, 0.04) !important;
        text-decoration: none;
    }
    .top-menu {
        .menu-list {
            > li.current-menu-item > a,
            > li.current-menu-ancestor > a {
                background-color: rgba(0, 0, 0, 0.04);
            }
        }
    }
    .overlapblackbg {
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        display: none;
        background-color: rgba(0, 0, 0, 0.45);
        cursor: pointer;
    }
    .overlapblackbg.menuopen {
        display: block;
    }
    .top-menu .menu-list > li > a {
        backface-visibility: hidden;
        background-color: white;
        box-shadow: 0 0 1px transparent;
        color: #282828;
        display: block;
        font-weight: 700;
        line-height: 60px;
        overflow: hidden;
        padding: 5px 14px;
        position: relative;
        text-decoration: none;
        transform: translateZ(0px);
        vertical-align: middle;
    }
    /* Default Color */
    .menu-list li:hover {
        .menu-submenu {
            display: none;
            .menu-submenu {
                display: none;
            }
        }
    }
    .menu-list .menu-submenu .menu-submenu li:hover .menu-submenu {
        display: none;
        list-style: none;
        padding: 2px;
        border: solid 1px $color__border-one;
        background-color: $color__white;
    }
    .menu-list li:first-child a {
        @include prefixed(border-radius, 0);
    }
    .menu-list li:last-child a {
        border-right: 0;
        @include prefixed(border-radius, 0);
    }
    .innerpnd {
        padding: 0 !important;
    }
    .menu-container {
        overflow: hidden;
        @include prefixed(backface-visibility, hidden);
        min-height: 800px;
        @include prefixed(transition, all 0.4s ease-in-out);
    }
    .menuexpandermain {
        background: $header__footer-bg;
        display: block !important;
        position: relative;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        @include prefixed(transition, all 0.4s ease-in-out);
    }
    /* Mobile click to drop arrow */
    .menu-click {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        cursor: pointer;
        z-index: 120;
        i {
            display: block;
            background-size: 25px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.25);
            float: right;
            padding: 15px;
            width: 43px;
            @include prefixed(transition, transform 0.1s ease);
            border-left: 1px solid $color__border-two;
        }
    }
    .menu-extend.fa-plus::before {
        content: "\f068";
        font-family: FontAwesome;
    }
    /*2nd UL Style*/
    .menu-list .menu-submenu {
        a {
            display: block;
            padding: 12px 25px;
            border-bottom: solid 1px $color__border-one !important;
            font-weight: normal;
        }
    }
    .top-menu .menu-wrapper ul > li ul {
        border-top: 0 none;
        border-bottom: 0 none;
        border-right: 0 none;
    } 
    .menu-list .menu-submenu .menu-submenu {
        width: 100% !important;
        position: static !important;
        left: 100% !important;
        top: 0 !important;
        display: none;
        margin: 0 !important;
        padding: 0 !important;
        border: solid 0 !important;
        transform: none !important;
        opacity: 1 !important;
        visibility: visible !important;
        li {
            margin: 0 !important;
            padding: 0;
            position: relative;
        }
    }
    .menu-submenu-sub li:hover>a {
        color: $color__white;
    }
    .menu-list > li > a .fa {
        margin-right: 6px;
    }
    .menu-submenu .menu-submenu .menu-submenu {
        width: 100% !important;
        position: static !important;
        left: 100% !important;
        top: 0 !important;
        display: none;
        margin: 0 !important;
        padding: 0 !important;
        border: solid 0 !important;
        transform: none !important;
        opacity: 1 !important;
        visibility: visible !important;
    }
    .menu-submenu .menu-submenu .menu-submenu li {
        margin: 0 !important;
    }
    .menu-submenu .menu-submenu .menu-submenu a {
        display: block;
        color: $color__black;
        padding: 11px 25px;
        border-bottom: solid 1px $color__border-one;
        font-weight: normal;
    }
    .menu-submenu .menu-submenu .menu-submenu li:hover>a {
        color: #fff;
    }
    .top-menu {
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        .menu-wrapper .container {
            padding: 0;
        }        
        .menu-wrapper .row {
            margin: 0;
        }
    }
    .top-menu .menu-list {
        height: 100%;
        display: block !important;
    }
    .top-menu .menu-list > li {
        width: 240px;
        display: block;
        float: none;
        border-right: none;
        background-color: transparent;
        position: relative;
        text-align: left;
        white-space: inherit;
    }
    .top-menu .menu-list > li > a::before {
        opacity: 0;
    }
    .top-menu .menu-list > li > a::after {
        position: relative;
        content: "";
    }
    .top-menu .menu-list > li > a {
        padding: 9px 32px 9px 17px;
        font-size: 13px;
        letter-spacing: 0.025em;
        border-right: solid 0px;
        background-color: transparent;
        line-height: 25px;
        border-bottom: 1px solid $color__border-two;
        position: static;
        text-transform: uppercase;
        color: #505050;
    }
    .menu-submenu {
        transform: none !important;
        opacity: 1 !important;
        display: none;
        position: relative !important;
        top: 0px;
        background-color: $color__white;
        border: 0 none;
        padding: 0px;
        visibility: visible !important;
    }
    .menu-submenu .menu-submenu li a {
        line-height: 20px;
        font-size: 14px !important;
    }
    .menu-submenu li .menu-submenu li a {
        padding-left: 28px;
    }
    .menu-submenu .menu-submenu li a,
    .menu-submenu .menu-submenu .menu-submenu li a {
        padding-left: 38px !important;
    }
    .menu-submenu li .menu-submenu .menu-submenu {
        padding-left: 38px;
    }
    .menu-submenu .fa {
        margin-right: 0;
    }
    .mrginleft {
        margin-left: 240px;
        @include prefixed(transition,all 0.4s ease-in-out);
    }
    .top-menu {
        width: 0;
        height: 100%;
        position: fixed;
        left: 0;
        padding: 0;
        top: 0;
        margin: 0;
        z-index: 1000;
        @include prefixed(transition,all 0.4s ease-in-out);
        border: none !important;
        background-color: $color__white !important;
    }
   /*Nav Expanding Open Effect*/
    .top-menu.menuopen {
        width: 240px;
        @include prefixed(transition,all 0.4s ease-in-out);
    }
    .top-menu.menuclose {
        @include prefixed(transition,all 0.4s ease-in-out);
    }
    .menucontent {
        z-index: 100;
    }
    /* Navigation arrow Animation */
    .animated-arrow {
        position: absolute;
        right: 0;
        left: 0;
        width: 85px;
        top: 0;
        z-index: 200;
        @include prefixed(transition,all 0.4s ease-in-out);
    }
    #menu-marker {
        width: 100%;
        display: block;
        padding-top: 10px;
        margin-left: 8px;
        position: relative;
        z-index: 0;
        width: 100%;
        height: 50px;
        font-family: $font__heading;
        font-weight: bold;
        color: $color__menu-text;
        text-align: center;
    }
    .animated-arrow {
        cursor: pointer;
        padding: 5px 35px 16px 0;
        margin: 15px auto 0;
    }
    .animated-arrow.menuopen {
        position: fixed;
    }
    .animated-arrow span,
    .animated-arrow span:before,
    .animated-arrow span:after {
        cursor: pointer;
        height: 3px;
        width: 23px;
        background: $color__menu-text;
        position: absolute;
        display: block;
        content: '';
    }
    .animated-arrow span:before {
        top: -7px;
    }
    .animated-arrow span:after {
        bottom: -7px;
    }
    .animated-arrow span,
    .animated-arrow span:before,
    .animated-arrow span:after { 
        @include prefixed(transition,all 500ms ease-in-out);
    }
    .animated-arrow.menuopen span {
        background-color: transparent;
    }
    .animated-arrow.menuopen span:before,
    .animated-arrow.menuopen span:after {
       background: $color__border-three; 
    }
    .animated-arrow.menuopen span:before,
    .animated-arrow.active span:after {
        top: 7px;
    }
    .animated-arrow.menuopen span:before {
        @include prefixed(transform,rotate(45deg));
        bottom: 0;
    }
    .animated-arrow.menuopen span:after {
        @include prefixed(transform,rotate(-45deg));
    }
    /*Animation None */
    .menu-list li > .menu-submenu,
    .menu-list li:hover > .menu-submenu {
        @include prefixed(transform, none !important);
        visibility: visible !important;
    }
    .menu-submenu li:hover > .menu-submenu {
        @include prefixed(transform, none !important);
        visibility: visible !important;
        opacity: 1 !important;
    }
}
@media only screen and (max-width: 600px) {
    .menuexpandermain .menuopen {
        left: 240px !important;
        margin-top: 4px !important;
    }
}

/*--------------------------------------------------------------
# Pagination Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
    .paging-navigation {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 590px) {
    .paging-navigation {
        .nav-links {
            li {
                display: none;
            }   
            li:first-child.nav-previous,    
            li:last-child.nav-next {
                display: block;
            }
            li:first-child.nav-previous {
                float: left;
                margin-left: 60px;
            }
            li:last-child.nav-next {
                float: right;
                margin-right: 60px;
            }   
        }       
    }
}