.sticky {
	display: block;
}
.hentry {
	margin: 0 0 75px;
}
.page-content {
	margin: 1.4em 0;
}
.entry-content {
	@extend .page-content;
}
.entry-summary {
	@extend .page-content;
}
.page-links {
	clear: both;
	margin: 0 0 2.1em;
}
/*--------------------------------------------------------------
# Page Heading
--------------------------------------------------------------*/
.header-title {
	text-align: center;
	margin-bottom: 30px;
}
.page-template {
	.page.single-post .post-thumb,
	.page.single-post .post-media,
	.page.single-post .post-link {
		margin-bottom: 30px;
	}
	.page.single-post .entry-header .entry-title {
		margin-top: 0;
	}
}
/*--------------------------------------------------------------
# Post Meta
--------------------------------------------------------------*/
.post-format {
	background: $color__white;
	border-radius: 50%;
	height: 55px;
	line-height: 46px;
	margin: -24px auto -32px;
	position: relative;
	width: 55px;
	z-index: 10;
	@include prefixed(backface-visibility, hidden);
}
.entry-meta {
	color: $color__meta;
	font-size: 11px;
	letter-spacing: 0.04em;
	font-weight: bold;
	font-style: italic;
	a {
		color: inherit;
	}
	.entry-date {
		display: inline-block;
	}
}
.post .entry-header .cat-links a:after {
    content: ",";
}
.post .entry-header .cat-links a[href="/tag/sidebar-left/"]:after,
.post .entry-header .cat-links a[href="/tag/sidebar-right/"]:after, 
.post .entry-header .cat-links a[href="/tag/full-width/"]:after {
    content: "";
}
.post .entry-header .cat-links a[href="/tag/sidebar-left/"],
.post .entry-header .cat-links a[href="/tag/sidebar-right/"], 
.post .entry-header .cat-links a[href="/tag/full-width/"] {
    display: none;
}
.post .entry-header .cat-links a:last-child:after {
    content: "";
}
/*--------------------------------------------------------------
# Post Format
--------------------------------------------------------------*/
.content-area {
	.post {
		position: relative;
		.post-thumb {
			overflow: hidden;
		}
	}
	.page {
		position: relative;
		.post-thumb {
			overflow: hidden;
		}
		.post-status-wrapper {
			text-align: center;
			iframe {
				 margin: 10px auto !important;
			}
		}
		.page-share {
			text-align: center;
			span {
				font-size: 1.25em;
				font-style: italic;
				&:after {
					content: "-";
					position: relative;
					vertical-align: middle;
				}
			}
			a {
				padding: 0 5px;
			}
		}
	}
	.type-attachment {
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 1.9em;
		position: relative;
		.post-thumb {
			overflow: hidden;
		}
	}
	// Link Post Format
	// ------------------------
	.tag-link .post-format {
		display: none;
	}	
	.tag-video .post-format {
		display: none;
	}	
	.tag-audio .post-format {
		display: none;
	}
	.post-link {
	    overflow: hidden;
	    position: relative;
	    z-index: 9;
	}
	.post-link-wrapper {
	    margin: 10px;
	    position: relative;
	    z-index: 9;
	    &:after {
		    border: 1px solid $color__white;
		    bottom: -5px;
		    content: "";
		    display: block;
		    left: -5px;
		    position: absolute;
		    right: -5px;
		    top: -5px;
		    z-index: -1;	
	    }
		.tb {
		    height: 100%;
		}
		.tb {
		    display: table;
		    width: 100%;
		    padding: 2px;
		}
		.tb-cell {
		    display: table-cell;
		    vertical-align: middle;
			> a {
				display: block;
				font-size: em(13px);
				font-style: italic;
				letter-spacing: 0.1em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}
		}
		h2 {
		    font-size: em(24px);
		    margin-top: 10px;
		    font-weight: 700;
		    text-transform: uppercase;
		}
		.icon-area {
			background: rgba($color__white, 0.8);
			float: left;
			margin-right: 11px;
			padding: 45px;
			position: relative;
			&:after {
				border-right: 1px solid $color__white;
				content: "";
				height: 100%;
				position: absolute;
				top: 0;
				right: -6px;
			}
		}
		.fa {
		    font-size: 4em;
		}
		~ .images {
			height: 100%;
			left: 0;
			padding-top: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: -1;
			overflow: hidden;
			@include prefixed(transform, translateZ(0px));
		}
		.link-content {
			background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
			padding-left: 30px;
			width: 100%;
		}
	}
	.images img {
	    left: 50%;
	    max-width: none !important;
	    position: absolute !important;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    width: 100%;
	    height: 100%;
	}
	// Quote Post Format
	// ------------------------
	.format-quote {
		border: 1px solid $color__border-one;
		.quote-icon {
			position: absolute;
			left: 0;
			right: 0;
			a {
				position: relative;
				top: -55px;
			}
		}
		.quote-icon a span {
			&:before {
			   position: relative;
			   content: "\e601";
			   font-family: 'glimmer';
			   font-size: 15px;
			   left: 2px;
			   top: -8px;
			}
			&:after {
			    position: relative;
			    content: "\e602";
			    font-family: 'glimmer';
			    font-size: 15px;
			   	right: 2px;
			   	top: -8px;
			}
		}

		.entry-title,
		.entry-meta {
			display: none;
		}
		.entry-content {
			margin: 0;
		}
		.quote-content {
			margin: 0;
			padding: 30px;
			text-align: center;
			position: relative;
			i {
				font-size: 3em;
				background: $color__white;
				padding: 0 19px;
				margin-bottom: 9px;
			}
		}
		blockquote {
			margin-left: 0 !important;
			margin-bottom: 10px;
			margin-top: 0;
			border: 0;
			padding: 0;
			font-style: italic;
			position: relative;
			z-index: 100;
			text-align: center;
			&:before {
				content: "";
				display: block;
				height: auto;
				left: 0;
				right: 0;
				margin-top: 0;
				padding-top: 0;
				top: 0; 
			}
			&:after {
				background: transparent;
				width: 0;
			}
			p {
				padding: 0 1em;
				margin-bottom: 10px;
				position: relative;
				&:first-child {
					margin-top: 12px;
				}
				&:last-child {
					margin-bottom: 0;
				}
				cite {
					margin-left: 0;
					padding-left: 0;
				}
			}
			.small::before,
			footer::before,
			footer {
				margin-left: 0;
			}
			cite, a, span {
				padding: 0;
				font-weight: normal;
				font-style: normal;
				position: relative;
			}
			cite::before {
			    content: "";
			    padding-right: 0;
			}
			footer {
				top: 12px;
				padding-top: 12px;
			}
		}
		.author {
			font-size: 16px;
			margin-top: 8px;
			span {
				margin-right: 7px;
				position: relative;
				top: -1px;
			}
		}
	}
	// Status Post Format
	// ------------------------
	.tag-status {
		.post-status-wrapper {
			background-size: cover !important;
			padding: 2.85em 0;
			text-align: center;
			overflow: hidden;
			
			.embed, iframe, object {
				margin: 0 auto !important;
			}
		}
	}
	// For twitter-embed post
	// ------------------------
	.format-standard {
		.entry-content {
			.twitter-tweet.twitter-tweet-rendered {
				margin: auto !important;
			}
		}
	}
	.format-audio {
		.post-thumb iframe {
			width: 100%;
		}
	}
	.no-image {	
		.post-format {
			background: $header__footer-bg;
			line-height: 55px;
			margin-bottom: -15px;
			margin-top: -20px;
		}	
	}
	.grid .no-image {	
		.post-format {
			line-height: 49px;
		}	
	}
	.full-width:first-child .no-image {
		.post-format {
			margin-top: 0;
		}
	}
}
