.page-about {
	.site-content {
		background: $color__white !important;
		padding-bottom: 75px;
	}
	.header-title {
		margin-bottom: 60px;
	}
}
.about-me {
	.author-details {
		.small-border {
			margin-left: 0;
			width: 105px;
		}
	}
	.author-name, #author-skill h3 {
		font-weight: bold;
		font-size: $heading__four;
	}
	.author-name {
		margin-top: 0;
	}
	.entry-content {
		margin-top: 15px;
	}
	.about-footer {
		.author-sign {
			border-bottom: 1px solid $color__border-one;
			padding-bottom: 0.5em;
			h3 {
				font-size: 16px;
				line-height: 1.6em;
				margin-top: 5px;
			}
		}
		.follow-link {
			font-size: 13px;
			margin-top: 1.2em;
			span {
				margin-right: 10px;
			}
			a {
				margin: 0 5px;
			}
		}
	}
	#author-image-bg {
	    background-position: 50% 50%;
	    background-size: cover;
	    height: 750px;
	}
	.author-image {
		img {
			width: 100%;
			height: 100%;
		}
	}
	#author-skill {
		margin: 45px 0 0;
		overflow: hidden;
		.ex-small-border {
			margin-bottom: 30px;
			margin-left: 0;
			width: 100%;
			background: $color__border-one;
		}
		.ex-small-border::after {
			left: 0;
			width: 90px;
		}
		.skill-one.circliful {
			float: left;
		 	margin-left: -8px;
		    margin-right: 20px;
		}
		.skill-one.circliful .circle-text {
			font-size: 11px !important;
			line-height: 90px !important;
			color: #868686 !important;
		}		
		.skill-one.circliful .circle-info-half {
			font-size: 11px !important;
			line-height: 130px !important;
			font-weight: bold;
			color: #868686 !important;
		}
	}	
}