.widget {
	margin: 0 0 1.9em; 
	border: 1px solid $color__border-one;
	background: $color__white;
	padding: 1.9em; 
	font-family: $font__heading;
	select {
		width: 100%;
		border: 1px solid $color__border-one;
		padding: 0.4em 0.8em;
		outline: none;
	}
	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul li {
		border-bottom: 1px solid $color__border-one;
	}
	.widget-title-area {
		position: relative;
	}
	.widget-title {
		background: $color__white; 
		text-align: center;
		position: relative;
		text-transform: capitalize;
		padding: 0 10px;
		margin-bottom: 20px;
		margin-top: 0;
		> span {
		    position: relative;
		    z-index: 3;
		    display: inline-block;
		    padding: 0 7px;
		    background-color: $color__white;
		}
		&:before {
		    position: absolute;
		    top: 50%;
		    left: 0;
		    -webkit-box-sizing: content-box;
		    -moz-box-sizing: content-box;
		    box-sizing: content-box;
		    width: 100%;
		    height: 2px;
		    content: '';
		    border-width: 1px 0;
		    border-style: solid;
		    border-color: #d5d5d5;
		}
	}
	.widget-title-inner {
	    display: block;
	}
	.widget-title-inner:before,
	.widget-title-inner:after {
	    position: absolute;
	    z-index: 2;
	    top: 50%;
	    @include prefixed(box-sizing, content-box);
	    width: 0;
	    height: 2px;
	    content: '';
	    @include prefixed(transition, all 0.4s ease-in-out);
	    border-width: 1px 0;
	    border-style: solid;
	    border-color: $color__black;
	}
	.widget-title-inner:before {
	    left: 0
	}
	.widget-title-inner:after {
	    right: 0
	}
	&:hover {
		.widget-title-inner:before,
		.widget-title-inner:after {
		    width: 50%
		}
	}
	pre {
		padding: 0.5em
	}
	label {
		margin-bottom: 0;
		display: inline;
	}
	option {
		padding: 0.2em 1em;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		padding: 0.5em 1em;
		&:focus {
		 	box-shadow: none !important;
		}
	}
}