.widget {
	margin: 0 0 2.2em; 
	border: 1px solid $color__background-hr;
	padding: 1.5em; 
	&:after, &:before {
		content: "";
		display: table;
		clear: both;
	}
	select {
		max-width: 100%;
	}
	ul, ol {
		margin-bottom: 0;
	}
	ul,ol,li {
		list-style: none;
		padding: 0;
	}

	li,li > ul {
		padding: 1em 0 0;
		border-top: 1px solid $color__background-hr;
	} 
	li:first-child {
		padding: 0;
		border: 0;
	}
	.widget-title-area {
		text-align: center;
		margin-bottom: -35px;
	}
	.widget-title {
		border: 1px solid $color__background-hr;
		background: $color__background-widget_title; 
		display: inline-block;
		padding: 6px 30px;
		position: relative;
		top: -52px;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 500;
		line-height: 1.6;
		vertical-align: middle;
		margin: 12px 0;
		letter-spacing: 0.025em;
		word-spacing: 0.025em;
	}
	pre {
		padding: 0.5em;
	}
	label {
		margin-bottom: 0;
		display: inline;
	}
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		padding: 0.5417em 1.0833em;
		border: 0;
	}
	input[type="submit"] {
		display: none;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		padding: 0.4583em;
		border: 1px solid $color__background-hr;
		width: 95%;
		&:focus {
		 	box-shadow: none !important;
		}
	}
}

/* About widget. */
.about-widget {
	.author-image-home {
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	.author-name {
		text-align: center;
		font-weight: 500;
		margin-top: 0.75em;
		font-size: 1.563em;
	}
	.about-description {
		text-align: center;
	}
	.button {
		margin-bottom: 5px;
	}
}

/* Latest widget */
.latest-widget {
	.latest-wrap {
		padding: 1.5em 0;
		.latest-item {
			.latest-image {
				display: table-cell;
				vertical-align: top;
				padding-right: 1em;
				.fit-img {
					position: relative;
					width: 90px;
					height: 80px;
					overflow: hidden;
				}
			}
			.latest-item-text {
				display: table-cell;
				vertical-align: top;
				h4 {
					margin: 5px 0;
					font-size: 1em;
					font-weight: 400;
					line-height: 1.6;
					word-spacing: 0.025em;
				}
			}
			.latest-item-meta {
				font-size: 12px;
				font-weight: 400;
				color: $color__meta;
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.latest-item-thumb {
				width: 90px;
				height: 80px;
			}
		}
		&:first-child {
			padding-bottom: 1.5em;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
}


/* Categories widget */
.widget_categories,.widget_archive {
	ul {
		padding: 0 1em;
	}
	li {
		padding: 1.3em 0 0.7em;
		font-weight: 500;
		position: relative;
		@include transition-ease(all, .25s, ease-in, 0s);
		&:first-child {
			padding-bottom: 0.7em;	
		}
		.count {
			float: right;
			background: $color__background-aside;
			padding: 2px 12px;
			margin-top: -2px;
		}

		&:hover > .count{
			color: $color__white;
		}
		&.current-cat, &.current-cat-parent {
			> .count{
				color: $color__white;
			}
		}	
	}
	.children {
		margin-top: 0.7em;
		li {
			&:first-child {
				padding-top: 0.2em;				
				padding-bottom: 0.7em;				
			}
			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;				
			}
		}
	}
}

/* Tagcloud widget */
.widget_tag_cloud {
	.widget-title-area {
		margin-bottom: -42px;
	}
	.tagcloud {
		margin-bottom: -3px;
		a {
			border: 1px solid $color__background-hr-two;
			display: inline-block;
			margin: 6px 6px 5px 0;
			padding: 4px 12px;
			font-size: 14px !important;
			font-weight: 400;
			&:hover {
				color: $color__white;
			}
		}
	}
}



/* Popular widget */
.popular-widget {
	.popular-wrap {
		padding: 1.5em 0;
		.popular-item {
			.popular-image {
				display: table-cell;
				vertical-align: top;
				padding-right: 1em;
				.fit-img {
					position: relative;
					width: 90px;
					height: 80px;
					overflow: hidden;
				}
			}
			.popular-item-text {
				display: table-cell;
				vertical-align: top;
				h4 {
					margin: 5px 0;
					font-size: 1em;
					font-weight: 400;
					line-height: 1.6;
					word-spacing: 0.025em;
				}	
			}
			.popular-item-meta {
				font-size: 12px;
				font-weight: 400;
				color: $color__meta;
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		&:first-child {
			padding-bottom: 1.5em;
		}
		&:last-child {
			padding-bottom: 0;
		}
		.popular-item-thumb {
			width: 90px;
			height: 80px;	
		}
	}
}

/* Search widget. */
.widget_search {

	.search-form {
		width: 100% !important;
	}
}


/* Calender widget */
.widget_calendar {
	table {
		margin: 0;
	}
	td,
	th {
		line-height: 2.3333;
		text-align: center;
		padding: 0;
	}	
	caption {
		font-weight: 700;
		margin: 0 0 1em;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		padding-bottom: 0;
	}
	tbody a {
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
		color: #fff;
		display: block;
		font-weight: 700;
		&:hover, &:focus {
			color: $color__white;
		}
	}
}


.widget_links a,
.widget_meta a,
.widget_nav_menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a {
	border: 0;
	color: $color__text-main;
}
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries {
	a {
		border: 0;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0.2em;		
	}
	li {
		border: 0;
		padding: 0.5em 0 0;
		&:before {
			content: "\f054";
			font-family: FontAwesome;
			margin-right: 1em;
			font-size: 10px;
			vertical-align: middle;
			position: relative;
			top: -1.5px;
		}
	}
}

.widget_nav_menu .sub-menu,
.widget_pages .children {
	border: 0;
	margin: 0 0 0 1em;
	padding-top: 0.5em;
}
.widget_recent_entries .post-date {
	display: block;
}

.widget_rss {
	ul {
		list-style: none;
		margin: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	li {
		margin-bottom: 1.6em;
		&:last-child {
			margin-bottom: 0;		
		}
	}
	.rsswidget {
		border: 0;
		font-weight: 700;
	}
	.rsswidget img {
		margin-top: -4px;
	}
	.rss-date,
	cite {
		font-size: 0.8em;
		font-style: normal;
		display: block;
		line-height: 2;
		opacity: 0.8;
	}
}

.follow-us-area {
	margin: 0 auto;
	text-align: center;
	.follow-link .fa {
		border: 1px solid $color__background-hr;
		background: $color__white;
		height: 40px;
		line-height: 2.9;
		margin: 5px;
		display: inline-block;
		text-align: center;
		width: 40px;
		@include border-radius(50%);
		&:hover {
			color: $color__white;
		}
	}
}


.textwidget > :last-child {
	margin-bottom: 0;
}

.textwidget a {
	border-bottom: 1px solid #333;
}

.textwidget a:hover,
.textwidget a:focus {
	border-bottom: 0;
}


/* footer widget */

.tp_recent_tweets li {
  padding-bottom: 10px !important;
  background-image: none !important;
  float: none;
}

.tp_recent_tweets li span {
  font-weight: 400;
  font-style: italic;

}
.tp_recent_tweets li span a:hover {
  text-decoration: underline;
}
.tp_recent_tweets li .twitter_time:before {
    content: "\f099";
    font-family: FontAwesome;
    font-size: 1.25em;
    padding-right: 0.5em;
    font-style: normal;
}
.tp_recent_tweets li .twitter_time {
  font-weight: 500;
  display: block;
  margin-top: 0.5em;
}

#facebook {
    width: 100%;
    overflow: auto;
    blockquote:before, 
    blockquote:after {
    	content: "";
    } 
}