// Initial color
$color__white: #ffffff;			   // White
$color__black: #000000;			   // Black
$color__background-main: #f7f7f7;  // Post area background
$color__footer-bg: #222222;  	   // Footer area background

$color__background-ins: #fff9c0; 
$color__text-screen: #21759b;

//Text color
$color__text-main: #5a5a5a; 		// body text main color
$color__heading: #3d3d3d; 			// Heading color
$color__menu-text: #282828;			// Menu text color
$color__widget-text: #464646;		// Widget text color
$color__meta: #a9a9a9;				// Post meta color
$color__meta-footer: #515151;		// Post Footer meta color
$color__meta-widget: #8b8b8b;		// Post Footer meta color
$color__tagcloud: #464646;			// Post Footer meta color
$color__footer: #7e7e7e;			// Post Footer text-color

//border color
$color__border-one: #ebebeb; 		// Widget. Feature background Stock, Read more border 
$color__border-two: #e6e6e6; 		// 
$color__border-three: #e5e5e5; 		// Menu after content color
$color__border-four: #f0f0f0;		// Post heading, widget border-bottom, and tag meta border
$color__border-five: #646464;		// Footer Widget border

$color__border-dark: #d6d6d6;
$color__border-input: #ccc;
$color__border-abbr: #666;

//Theme and other color
$color__theme-main: #ef9d87;  		// Theme and hover color