<li> <a href="{{@blog.url}}/">Home</a>\
	<ul class="menu-submenu">\
		<li><a href="{{@blog.url}}/?layout=list">Standard Layout</a>\
			<ul class="menu-submenu">\
				<li><a href="{{@blog.url}}/?layout=sidebar-left&post_layout=list">Left-Sidebar</a></li>\
				<li><a href="{{@blog.url}}/?layout=sidebar-right&post_layout=list">Right-Sidebar</a></li>\
				<li><a href="{{@blog.url}}/?layout=full-width&post_layout=list">Full-Width</a></li>\
			</ul>\
		</li>\
		<li><a href="{{@blog.url}}/?layout=grid">Grid Layout</a>\
			<ul class="menu-submenu">\
				<li><a href="{{@blog.url}}/?layout=sidebar-left&post_layout=grid">Left-Sidebar</a></li>\
				<li><a href="{{@blog.url}}/?layout=sidebar-right&post_layout=grid">Right-Sidebar</a></li>\
				<li><a href="{{@blog.url}}/?layout=full-width&post_layout=grid">Full-Width</a></li>\
			</ul>\
		</li>\
	</ul>\
 </li>\
<li> <a href="{{@blog.url}}/#">Features</a>\
	<ul class="menu-submenu">\
		<li> <a href="#">Single Post Layout</a>\
			<ul class="menu-submenu">\
				<li><a href="{{@blog.url}}/what-is-instagram/">Left-Sidebar</a></li>\
				<li><a href="{{@blog.url}}/review-of-joby-gorillapod-original-design/">Right-Sidebar</a></li>\
				<li><a href="{{@blog.url}}/welcome-to-glimmer/">Full-Width</a></li>\
			</ul>\
		</li>\
		<li><a href="{{@blog.url}}/?preloader=on">Layout – With Site Preloader</a></li>\
		<li> <a href="{{@blog.url}}/#">Custom Pages</a>\
			<ul class="menu-submenu">\
				<li><a href="{{@blog.url}}/about">About Me</a></li>\
				<li><a href="{{@blog.url}}/contact">Contact Us</a></li>\
				<li><a href="{{@blog.url}}/404">404</a></li>\
			</ul>\
		</li>\
		<li><a href="{{@blog.url}}/code-highlighting">Code Highlighting</a></li>\
		<li><a href="{{@blog.url}}/what-is-instagram/#related-post">Related Post</a></li>\
	</ul>\
</li>\
<li> <a href="{{@blog.url}}/#">Post Format</a>\
	<ul class="menu-submenu">\
		<li><a href="{{@blog.url}}/tag/image">Image</a></li>\
		<li><a href="{{@blog.url}}/tag/audio">Audio</a></li>\
		<li><a href="{{@blog.url}}/tag/video">Video</a></li>\
		<li><a href="{{@blog.url}}/tag/gallery">Gallery</a></li>\
		<li><a href="{{@blog.url}}/tag/status">Status</a></li>\
		<li><a href="{{@blog.url}}/tag/quote">Quote</a></li>\
		<li><a href="{{@blog.url}}/tag/link">Link</a></li>\
	</ul>\
</li>\
<li><a href="{{@blog.url}}/tag/audio">Music</a></li>\
<li><a href="{{@blog.url}}/tag/video">Video</a></li>\
<li><a href="{{@blog.url}}/about">About Me</a></li>\
<li><a href="{{@blog.url}}/contact">Contact Us</a></li>\
<li><a href="{{@blog.url}}/error-page">Error Page</a></li>