<!doctype html>
<html class="no-js" lang="en">
	<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>
            {{#is "author"}}
                {{author.name}} | {{@blog.title}}
            {{else}}
                {{meta_title}} | {{meta_description}}
                {{#is "post, page"}} 
                    {{@blog.title}} 
                {{/is}} 
            {{/is}} 
        </title>
        <meta name="description" content="{{meta_description}}" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="/assets/images/favicon.ico"> 


        {{! Styles'n'Scripts }}
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic%7CLato:400,400italic,700,700italic">
        <link rel="stylesheet" type="text/css" href="{{asset "fonts/font-awsome/css/font-awesome.min.css"}}">
        <link rel="stylesheet" type="text/css" href="{{asset "fonts/josephine-icon/josephine-icon.css"}}">

        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" type="text/css" href="{{asset "lib/bootstrap/css/bootstrap.css"}}">
        <link rel="stylesheet" type="text/css" href="{{asset "lib/owl-carousel/owl.carousel.css"}}">
        <link rel="stylesheet" type="text/css" href="{{asset "lib/owl-carousel/owl.theme.css"}}">
        <link rel="stylesheet" type="text/css" href="{{asset "css/highlight.min.css"}}">
        <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "colors/color-schemer.css"}}">       


        <!-- Modernizr and jQuery with jQuery-Migrate
        ================================================== -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{asset "js/vendor/jquery-1.11.3.min.js"}}"><\/script>')</script> 
        <script src="{{asset "js/vendor/jquery-migrate.min.js"}}"></script> <!-- plugins -->  
        <script src="{{asset "js/vendor/modernizr-2.8.3.min.js"}}"></script>

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}
	</head>

	<body class="{{body_class}}">					
        {{! Everything else gets inserted here }}
        {{{body}}}


        {{! Footer Section }}
        {{> "footer"}}

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}
 
        <script src="{{asset "lib/bootstrap/js/bootstrap.min.js"}}"></script> <!-- bootstrap -->
        <script src="{{asset "lib/fitvits/jquery.fitvids.js"}}"></script> <!-- fitbits js -->
        <script src="{{asset "lib/owl-carousel/owl.carousel.min.js"}}"></script> <!-- owl-carousel -->
        <script src="{{asset "js/plugin.js"}}"></script> <!-- owl-carousel -->
        <script src="{{asset "js/gatherdata.js"}}"></script> <!-- owl-carousel -->
        <script src="{{asset "js/widget-config.js"}}"></script> <!-- plugins -->
        <script src="{{asset "js/josephine.js"}}"></script> <!-- josephine script -->

	</body>
</html>