{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

<!-- Content
    ================================================== -->
<div id="content" class="site-content error-page {{post_class}}">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> <!-- Content Area -->
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">
                        <div class="row">
                            <div class="col md-12">
                                <div class="error-description">
                                    <h2>Page not found</h2>
                                    <h5>The page you are looking for went finishing!</h5>
                                </div> <!-- /.error-description -->
                            </div> <!-- /.col-md-12 -->
                        </div> <!-- /.row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="error-image clearfix">
                                    <img src="{{asset 'images/404.png'}}" alt="" class="img-responsive">
                                </div> <!-- /.error-image -->
                            </div> <!-- /.col-md-8 -->
                        </div> <!-- /.row -->
                        <div class="row">
                            <div class="col-md-8 col-md-offset-4">
                                <div id="result-error"></div>
                            </div>
                        </div>
                    </main> <!-- #main -->
                </div> <!-- #primary -->
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- #content -->