{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

{{! This code is for Load slider only in homepage }}
{{#is "home"}}
    {{> "featured"}}
{{/is}}

<!-- Content
================================================== -->
<div id="content" class="site-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="main-layout"> <!-- Content Area -->
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">
                        {{#foreach posts}}
                            {{#if featured}}
                                {{^has tag="sticky"}} 
                                    {{> "loop-main"}}  
                                {{/has}}
                            {{/if}}
                        {{/foreach}}

                        {{#foreach posts}}
                            {{#unless featured}}
                                {{^has tag="sticky"}} 
                                    {{> "loop-main"}}  
                                {{/has}}                              
                            {{/unless}}
                        {{/foreach}}

                        {{! Previous/next page links - displayed on every page }}
                        {{pagination}}
                            
                    </main> <!-- #main -->
                </div> <!-- #primary -->
            </div> <!-- /.col-md-8 -->

            {{! Code for load sidebar from partials/sidebar.hbs }}
            {{> "sidebar"}}

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- #content -->