{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

{{! This code to show contact page content }}
{{#post}}
    <!-- Content
    ================================================== -->
    <div id="content" class="site-content contact-page">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="header-title">
                        <h2 class="section-title">{{title}}</h2>
                        <div class="ex-small-border"></div>
                    </div> <!-- /.header-title --> 
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-5"> <!-- main section -->
                    <div id="main">
                        <div class="contact-details">

                            <div class="entry-content">
                                {{content}} 
                            </div> <!-- /.entry-content -->

                            <div class="address">
                                <h4 id="company-address"></h4>
                                <dl class="dl-horizontal"></dl>
                            </div>
                        </div> <!-- /.contact-details -->
                    </div> <!-- /#main -->
                </div> <!-- /.col-md-8 -->

                <div class="col-md-7">
                    <div class="gmaps-area">
                        <div id="gmaps"></div>
                    </div>  <!-- /.gmaps-area -->
                </div> <!-- .col-md-4 -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- #content -->
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script src="{{asset "js/gmaps.js"}}"></script> <!-- gmaps -->
{{/post}}