{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

{{! This code to show contact page content }}
{{#post}}
   <!-- Content
   ================================================== -->
<div id="content" class="site-content about-me">

    <div class="container">
         <div class="row">
            <div class="col-md-12">
                <div class="header-title">
                    <h2 class="section-title">
                        {{title}}
                    </h2>
                    <div class="ex-small-border"></div>    
                </div> <!-- /.header-title --> 
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-md-5">
                <!-- main section -->
                <div id="main">
                       
                    <article class="author-details">

                        <h2 class="author-name"></h2> <!-- /.author-name -->
                        <div class="small-border"></div>

                        <div class="entry-content">
                            {{content}}   
                        </div> <!-- /.entry-content -->

                        <footer class="entry-footer">
                            <div class="author-sign">
                                <img src="" alt="">
                                <h3></h3>
                            </div>
                            <div id="about-follow-social" class="follow-link">
                                <span>Follow me : </span>   
                            </div> <!-- /.follow-link -->
                        </footer> <!-- /.entry-footer --> 
                    </article> <!-- /.author-details -->
                </div> <!-- /#main -->
            </div> <!-- /.col-md-8 -->


            <div class="col-md-7">
                <figure class="author-image">
                    <img class="img-responsive" src="" alt="">
                </figure> <!-- /.author-image -->                                    
            </div> <!-- .col-md-4 -->
        </div> <!-- /.row -->

        <div id="author-skill" class="clearfix">
            <h3>Skills</h3>
            <div class="ex-small-border"></div>
            <div class="row">
               
            </div> <!-- /.row --> 
        </div> <!-- /#author-skill -->
    </div> <!-- /.container -->
</div><!-- #content -->
<script src="{{asset "js/jquery.appear.js"}}"></script>
{{/post}}