{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

<!-- Content
================================================== -->
<div id="content" class="site-content">
    <div class="archive-page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12" >
                    <div class="title-content">
                        <h1><span>Browsing Tag </span> {{tag.name}}</h1>
                        <h4>{{pagination.total}} Post Found in {{tag.name}} Tag</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="main-layout">
                <div id="primary" class="content-area"> <!-- Content Area -->
                    <main id="main" class="site-main">

                        {{! The code below includes the post loop - partials/loop-main.hbs }}
                        {{#foreach posts}}
                            {{#if featured}} 
                                {{> "loop-main"}} 
                            {{/if}}
                        {{/foreach}}

                        {{#foreach posts}}
                            {{#unless featured}}
                                {{> "loop-main"}}                                
                            {{/unless}}
                        {{/foreach}}

                        {{! Previous/next page links - displayed on every page }}
                        {{pagination}}

                    </main> <!-- #main -->
                </div> <!-- #primary -->
            </div> <!-- /.col-md-8 -->

            {{! Code for load sidebar from partials/sidebar.hbs }}
            {{> "sidebar"}}

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- #content -->