/****************************************
	23. 404 page
****************************************/
.head-container {
	background: @color-one-white;
	margin-top: -2.4em;
	.error-head {
		padding: 155px 0 64px;
		h2 {
			font-weight: 400;
		}
		div {

			p {
				margin-left: 5px;
				color: @deepgrey;
				a {
					float: left;
					color: @color-theme-two;
					text-decoration: none;
					margin-left: -2px;
				}
			    &:before {
					content: " — ";
					color: @lightgrey;
					padding-left: 10px;
			  	}
			}
		}
		.searchform {
			margin-top: 3.2em; 
		}		
	}

}


.error-body {
	background: @color-white;
	text-align: center;

	.error-content {
		padding: (@theme-margin * 0.9) 0;
		h2 {
			font-weight: 600;
		}
	}

	.error {
		font-size: 20em;
		font-weight: 600;
		line-height: 1.2;
		position: relative;
		margin-top: -0.25em;
		display: inline-block;
	}
	p {
		position: relative;
		top: -3em;
	}
}