/****************************************
	8. About
****************************************/
.about-us{
    background: @color-white;

    .about-content {
        padding: (@base-line * 4) 0;
        display: block;
        
        .about-service {
            background: @color-one-white;
            margin: 80px 0 0;
            .about-icon {
                background: @color-one-white;
                display: inline;
                font-size: 4em;
                padding: 1em;
                position: relative;
                top: -0.5em;
                z-index: 1;
                .round(); 
            }
            .about-description {
                padding: 0 3em 1em;
                position: relative;
                z-index: 2;
                margin-top: -1em;
                > h4 {
                    color: @theme-gray;
                    font-weight: 600;
                    letter-spacing: 0.04em;
                    margin-bottom: 20px;
                }
            }
        }  
    }
}

