/****************************************
	4. Base
****************************************/
* {  
	.backface-visibility();
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, section,
summary {
	overflow: hidden;
}
img {
	max-width: 100% !important;
	height: auto;
}
hr {
  margin-top: 10px;
  margin-bottom: 7px;
}
.pd-big {
	padding: 0 2em;
}
.margin-top { 
	margin-top: 2em;
}
.pd-bigger {
	padding: 0 3em;
}
.pd-bottom {
	padding-bottom: 1em;
}

.base-padding-sm {
	padding: floor(@base-line * 2.83) 0 floor(@base-line * 3.26);
}

.base-padding {
	padding: floor(@base-line * 3) 0 floor(@base-line * 4.62);
}

.base-padding-two {
	padding: (@base-line * 4) 0 0;
}
.base-padding-three {
	padding: (@base-line * 2) 0 (@base-line * 4);
}

.base-padding-four {
	padding: 0 0 floor(@base-line * 4.62);
}

.base-padding-top {
	padding-top: (@base-line *2); 
}

.base-padding-top-bot {
	padding: (@base-line *2) 0 floor(@base-line * 1.9);
}

.base-margin-bottom {
	margin-bottom: (@base-line *2); 
}

.base-padding-blog {
	padding: floor(@base-line * 4.62) 0;
}
.portfolio-pad {
	padding: 10px 5px 0;
}

.footer-padding {
	padding: floor(@base-line * 1.25)  0 (@base-line);
}


.button-big {
	font-size: 1em;
	font-weight: 600;
	line-height: 1.5;
	padding: 1em 3.5em;
	&:hover {
		.transition();
	}
}


// Alignments
// -------------------------

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em !important;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em !important;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


// Pagination
// -------------------------

.pagination > li > a, 
.pagination > li > span {
	background: transparent;
	font-weight: 500;
	margin-left: 5px;
	margin-bottom: 5px;
	&:hover, &:focus {
		background: transparent;
	}
}
.pagination {
	float: right;
	margin: 0;
	li {
		display: inline-block;
		vertical-align: middle;
		&:first-child a,
		&:last-child a,
		&:first-child span,
		&:last-child span {
			border-radius: 0;
		}
		i {
		  	font-size: @font-size-h4;
		  	font-weight: 600;
		  	vertical-align: middle;
		}	
	}

}

.pagination > .active > {
	a, a:focus, a:hover,
	span, span:focus, span:hover {
	    background-color: transparent;
	    cursor: default;
	    z-index: 2;		
	}
}


.nav-previous {
	border: 1px solid #777;
	display: inline-block;
	padding: 10px;
}

