/****************************************
	20. Blog-list page
****************************************/
/*One page blog Section*/
.blog-section-content {
	background: #f2f2f2;
  	padding: 20px 25px;
  	padding-bottom: 1px;
  	hr {
  		border-top: 1px solid #ddd;
  	}
}
.blog-featured {
	background: @color-white;

	.blog-latest-img, .blog-meta, .blog-description {
		clear: both;
		h2 {
			font-size: 18px;
  			margin-bottom: 5px;
  			font-weight: 500;
  			letter-spacing: 0.03em;
  			margin-top: 0;
		}
	}
	.blog-latest-img  {
		overflow: hidden;
		position: relative;
		> img {
			margin: auto;
			width: 100%;
			height: 215px;	
		}
	}

	.blog-title {
		margin-top: 1em;
	}

	hr {
		margin-top: 10px;
		margin-bottom: 16px;
	}
	
	.blog-description {
		h2 {
			margin-top: 0;
		}
		p {
			letter-spacing: 0.8px;
		} 
		a:hover {
			text-decoration: underline;
		}
	}
}

.blog-meta {
	display: inline-block;
	font-size: 12px; 
	font-weight: 500;
	line-height: 1.832;
	ul,
	li,
	ol{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		float: left;
		&:after {
			content: "|";
			margin: 0 4px;
		}

		&:first-child {
			padding-left: 0;
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&:last-child {
			border-right: none;
			&:after {
				content: "";
			}
		}
	}
}
.author-info .author  a {
	&:hover {
			text-decoration: underline;
	}
}
.page-header {
  padding-bottom: 0; 
  margin: 0; 
  border-bottom: none;
  background: @color-white;
  margin-bottom: 30px;
  padding: 0 3em 0.7em;
}

.blog-header {
	position: relative;
	margin-top: -48px !important;
	.parallax-heading {
		.heading {
			margin: 74px 0 33px;
		}
		padding: 0;
		.subtitle {
			width: 40%;
			font-weight: 500;
		}
	}	
}

.blog-header.stuck {
	margin-top: 60px;
}


.blog-list {
	background: @color-one-white;
	img {
		margin: auto;
	}
}

.blog-content {
	background: @color-white;
	margin-bottom: 2em;
	position: relative;
	.sticky-post {
		background-color: #777;
		color: #fff;
		font-weight: 700;
		letter-spacing: 0.04em;
		padding: 0.25em 0.5em;
		position: absolute;
		top: 0;
		text-transform: uppercase;
	}
	.post-embed {
		iframe {
			margin: auto;
			display: block;
		}
	}
	.blog-details {
		display: block;
		padding: 3em;
		.blog-title {
		}
		.blog-description {
			padding: 0.6em 0;
		}
		.tag-catagory {
			margin-top: -6px;
		}
		a:hover {
			text-decoration: underline;
		}
	}

}
/*Post Pagination*/
.page-links {
	clear: both;
	margin-bottom: 1.3333em;
	> span {
		border: 1px solid #eaeaea;
		margin: 0 0.3333em 0.3333em 0;
		text-align: center;
		padding: 6px 15px 7px 15px;
	}
	a {
		border: 1px solid #eaeaea;
		margin: 0 0.3333em 0.3333em 0;
		text-align: center;
		padding: 6px 15px 7px 15px;
		color: #fff !important;
		&:hover, &:focus {
			color: #fff;
		} 
	}
	> .page-links-title {
		border: 0;
		height: auto;
		margin: 0;
		margin-left: -1em;
		width: auto;
		font-weight: bold;
	}
}

/*Link Post Style*/
.format-link {
	.blog-content {
		a {
			width: 100%;
			text-align: center;
			background: @grey-text;
			display: block;
			padding: 1em;
			font-size: 25px;
			font-weight: 500;
			line-height: 33px;
			color: white;
			&:hover {
				background: @color-theme-two;
			}
		}
	}
}
/*Aside Post Style*/
.format-aside {
	.blog-content {
		.blog-details {
			background: @grey-text !important;
			color: white;
			.aside-meta {
				font-weight: bold;
			}
			p {
				margin: 0;
			}
		}
	}
}
/*Quote Post Style*/
.format-quote {
	.blog-content {
		.blog-details {
			padding: 3em 3em 0;
			p {
				margin: 0;
				font-size: 18px;
				font-weight: normal;
				line-height: 24px;
			}
			blockquote {
			font-size:32px;
			line-height:1.2;
			border: none;
			position:relative;
			padding: 0 60px 0 50px;
			}

			blockquote:before,
			blockquote:after {
			position:absolute;
			width:48px;
			height:48px;
			content:".";
			font-size:0;
			}

			blockquote:before {
			content: "\f10d";
    		font-family: FontAwesome;
    		color: @grey-text;
    		font-size: 30px;
			top:0;
			left:0;
			}

			blockquote:after {
			content: "\f10e";
    		font-family: FontAwesome;
    		color: @grey-text;
    		font-size: 30px;
			bottom:-13px;
			right:0;
			}

			.author {
			display:block;
			text-align:right;
			font-size:18px;
			padding:4px;
			color:rgb(150,150,150);
			font-style:italic;
			}
		}
	}
}


/*unit test fix*/

dd {
	margin-left: 10px;
}

img {
	max-width: 100%;
}
.post, .page, #comments{
	li {
	    line-height: 1.5;
	}
	table {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    border-collapse: separate;
	    margin: 20px 0;
		width: 100%;
		border: 1px solid #dfdfdf;
		border-left: none;
	    thead:first-child tr:first-child th,
		tbody:first-child tr:first-child th, 
		tbody:first-child tr:first-child td {
		    border-top: 0 none;
		}
		tbody tr.odd {
			background: #fff;
		}
		th, 
		td {
		    border-left: 1px solid #ddd;
		    border-top: 1px solid #ddd;
		    line-height: 18px;
		    padding: 8px;
		    text-align: left;
		    vertical-align: top;
		}
	}
}

.post-password-form input[type="password"]{
	border: 1px solid #777;
}
.post-password-form input[type="submit"]{
	padding: 11px;
}
.post-password-form input[type="submit"]:hover {
	color: #fff;
}
