/****************************************
	21. Blog-Single
****************************************/
.blog-details {
	background: @color-white;
	.blog-description {
		.alignright,.alignleft {
			> img {
				width: 320px;	
			}
		}	
	}	
}

.social-share, 
.author-social {
	a {
		padding: 0 6px;
	}
}

// Author info
// ----------------------------
.author-info {
	background: @color-white;
	padding: 3em 3em 0;
	margin-bottom: 2em;
	.media-heading {
		font-weight: 500;
	} 
	.media-body {
		padding-left: 1em;
	}
	p {
		margin-bottom: 10px;
	}
	hr {
		margin: 2em 0 0;
	}
	.pager {
		padding-bottom: 1em;
		li> a> span {
			padding: 0 5px;
		}
	}
	.pager {
		li.previous {
			display: block;
  			margin-left: -1.3em;
		}
		li.next {
			display: block;
  			margin-right: -1.3em;
		}
	}
	.pager li> a, 
	.pager li> span {
		display: inline-block;
		background-color: transparent; 
		border: none; 
		border-radius: 0; 
		font-weight: 500;
		&:hover {
			background: @color-white;
		}
	}
}

