/****************************************
	Colors
****************************************/
@import "variable.less";

.bg-theme-rgba(@o:0.5) {
	background-color: rgba(45, 52, 62, @o);
}

.box-shadow(@x: 0, @y: 0, @z: 0, @s: 4px, @color: @color-theme-two ) {
	-webkit-box-shadow: @x @y @z @s @color;
	        box-shadow: @x @y @z @s @color;
}

//  All template color is here
//-------------------------------
a {
	&:hover {
		color: @color-theme-two;
	}
	&:focus {
    	color: @color-theme-two; 
	}
}
.heading { 
	.title {
		color: @color-theme;
	}
	.small-border {
		background: @color-theme;
	}
}

.button-big {
	color: @color-theme-two;
	border: 1px solid @color-theme-two;
	&:hover {
		color: @color-theme;
		border: 1px solid @color-theme;	
	}
}


// Page loder
//-------------------------------
.pageloader {
    background-color: @color-theme;
}

// header
//-------------------------------

.home {
    .bg-theme-rgba(0.3); 
}

[class*="brick-one"] {
    background: @color-theme-two;
}  
.odd {
    background: @color-theme-two;
}
.blank {
    background: @color-theme;
}


// Menu
//-------------------------------
.navbar-default {
    background-color: @color-theme;
            
    .navbar-brand {
        &:hover, &:focus {
            color: @color-theme-two !important;
        }
    }

    .navbar-nav {
        > .active {
            > a, > a:focus, > a:hover {
                color: @color-theme-two !important;
            }   
        }   
    }

    .navbar-brand, 
    .navbar-nav > li > a {
        &:hover {
             color: @color-theme-two !important;     
        }
    } 
    .navbar-toggle {
        &:focus, &:hover {
            background-color: @color-theme-two !important;
        }
    }  
}

.nav .open {
    > a, > a:focus, > a:hover {
        color: @color-theme-two;       
    }  
}

/*** dropdown menu ***/
.dropdown {
    .dropdown {

        > a:after {
            border-left-color: @color-theme-two;
        }
        &:hover > a:after {
            border-left-color: @color-theme-two;
        }
    }
}

.dropdown-menu {
    background-color: @color-theme;
    li > a {
        &:hover, &:focus {
            color: @color-theme-two !important;  
        }
    }
}

/*** sticky-wrapper ***/
.stuck {
    .navbar-nav > li {
        &.active {
            > a, a:focus, a:hover {
                color: @color-theme-two;            
            } 
        }
    }
}

// parallax
//---------------------------

.team-heading {
	background: @color-theme;
}

.patern-overlay {
	.bg-theme-rgba(0.8);
}

// About us
//--------------------------
.about-service {
    .about-icon {
        color: @color-theme; 
    }
}  

// Team
//--------------------------
.team-member {
	.team-bg {
		background: @color-theme;
	}
}
.team-details {
	.member-details {
		.social-link {
			i {
				color: @color-theme;
				&:hover {
					background: @color-theme-two;							
				}

			}

		} 
	}
}

// Skill
//-------------------------
.our-skill{
	.skillbar-bar {
		background: @color-theme-two;		
	}

	.skill-bar-percent {
		color: @color-theme-two;
		&:after {
			content: "";
			border-top: 12px solid @color-theme-two; 
		}
	}
}


// Service
//--------------------------
.our-service {
	.service-content {
		.service-icon {
			background: @color-theme-two;
			&:after {
			    .box-shadow();
			}			
		}	
	}
}

// portfolio
//--------------------------

.portfolio {
	.portfolio-filter {
		ul {		
			li {         
		        a {
		        	border: 1px solid @color-theme;
		        	color: @color-theme;
				&:hover {
					color: @color-theme-two;
					border: 1px solid @color-theme-two;
				}

		        }
		    	.current {
		    		border: 1px solid @color-theme-two;
					color: @color-theme-two;
				}
				&:hover {
					color: @color-theme-two;
				}
			}
		}
	}
}

/**Portfolio Single**/
	#single-portfolio {
		.close-folio-item {
			color: @color-theme;
		}
		#project-image {

			.owl-prev, .owl-next {
				background: @color-theme-two;
			}
		}
	}


// fun fact
//------------------------
.fun-fact {
	i {
		background: @color-theme-two;
	}
}


// price table
// -------------------------
.price-table {
	.price-table-content {
		.price-title {
			background: @color-theme;
			&:after {
				border-color: rgba(47, 47, 47, 0);
				border-top-color: @color-theme;
			}
		}
		.price-sub-title {
			background: @color-theme;
		}
		.price-table-container {
			.price {
				color: @color-theme-two;
			}
			ul {
				li {
					color: @color-theme;
				}	
			}
			.sign-up-button {
				background: @color-theme;
			}
		}
		.pricing-content:hover, .featured {
			.price-title {
				background: @color-theme-two;
				&:after {
					border-top-color: @color-theme-two;		   	
				}
			}
			.price-sub-title {
				background: @color-theme-two;
			}

			ul > li {
				color: @color-theme-two;
			}

			.sign-up-button {
				background: @color-theme-two;
			}
		}
	}
}

// Pagination
// -------------------------
.pagination > li > a, 
.pagination > li > span {
	&:hover, &:focus {
		color: @color-theme-two !important;
		border-color: @color-theme-two;
	}
}
.pagination {
	li {
		&:first-child a,
		&:last-child a,
		&:first-child span,
		&:last-child span {
			&:hover, &:focus {
				color: @color-theme-two;
				border-color: @color-theme-two;	
			}
		}
	}
}

.pagination > .active > {
	a, a:focus, a:hover,
	span, span:focus, span:hover {
	    border-color: @color-theme-two;
	    color: @color-theme-two !important;
	}
}

// Form
// ---------------------
.submit, button {
	&:hover {
		background: @color-theme-two;
	}
}


input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="subject"],
textarea, select {		
	&:focus {
		border: 1px solid @color-theme-two;
	}	
}

.searchform {
	button:hover {
		background: @color-theme-two;
	}
}

.comment-respond {
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	input[type="subject"],
	textarea, select {
		&:focus {
			border: 1px solid @color-theme-two !important;	
		}	
	}	
}

.comment-respond {
	.submit {
		&:hover {
			background: @color-theme-two !important;
		}	
	}
}

// Blog
//--------------------------
.blog-featured {
	.blog-description {
		p {
			> a {
				color: @color-theme-two;
			}
		} 
	}
}

.blog-meta {
	li {
		&:first-child {
			a {
				color: @color-theme-two;
			}
		}
	}
}

.blog-content {
	.blog-details {
		.blog-title {
			a:hover {
				color: @color-theme-two;
			}
		}
		.blog-description {
			a {
				color: @color-theme-two;
			}
		}
		.tag-catagory {
			a:hover {
				color: @color-theme-two;
			}
		}
	}
}

// Comment Area
// ----------------------------
.comment-area {
	.media {
		.media-reply {
			color: @color-theme-two;
		}
	}
}


// 404
//-----------------------------
.error-body {
	.error {
		span {
			color:@color-theme-two;
		}
	}
}


// footer
//------------------------
.footer-copyright {
	background: @color-theme;
	.social {
		a {
			color: @color-theme;
			&:hover {
				background: @color-theme-two;
			} 
		}
	}

}

/***Back to top***/

.backtopbutton {
	color: @color-theme-two;
	border: 1px solid @color-theme-two;
	span{
	    font-size: 18px;
	    }
    &:hover, &:focus {
    	color: @color-theme-two;
    }
}


// Responsibe
//-----------------------
@media(max-width:988px){
    .team-mobile {
        background: @color-theme;
    }
}
@media(max-width: 767px) {
    .navbar-nav > li > a { 
        &:hover {
    	    color: @color-theme;
        }
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
        color: @color-theme !important;
    }
}
