
// Comment Area
// ----------------------------
.comment-form {
	.col-md-6 , .col-md-12 {
		margin-bottom: 15px;
	}
	.col-md-6 {
		padding-right: 0;
		&:nth-child(2) {
			padding-right: 15px;
		}
	}
	textarea {
		width: 100% !important;
	}
	textarea#comment {
		width: 100% !important;
	}
	.submit {
		margin-left: 15px;
		margin-top: 0;
		padding: 8px 40px;
	}
	.form-submit {
		margin-bottom: 0;
	}
}
.comment-respond {
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	input[type="subject"],
	textarea, select {
		border: 1px solid @lightgrey !important;
	}	
}

.comment-respond {
    width: 100%;
	.submit {
		background-color: @lightergrey;
		&:hover {
			color: @color-white;
		}	
	}
}
.comments-area {
	padding: 1.5em 3em 3em;
	background: @color-white;
	ul, ol {
		padding: 0;
		list-style: none;
	}
	.odd {
		background: #fff;
	}
	.comments-title {
		font-weight: 500;
	}
}

.comment-reply-title {
	font-weight: 500;		
	margin-left: 15px;	
}

.logged-in-as {
	margin-bottom: 18px;
    margin-left: 15px;
}

.comment-list {
	.comment {
		margin-top: 2em;
	}
}
.comment-list, .children {
	padding: 0;
	list-style: none;
}
.comment-body {
	overflow: hidden;
	background: #fff;
}
.author-img {
	height: 80px;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
	width: 80px;
	float: left;
	display: inline-block;
}

.date {
	display: inherit;
	font-size: 13px;
	line-height: 19px;
}

.reply {
	margin-top: 10px;
	a {
		color: #fff;
		padding: 3px 10px;
		display: inline-block;
		&:hover {
			color: #fff;
		}
	}
}
.comment-details {
	display: table-cell;
	vertical-align: top;	
	width: 1200px;
	overflow: hidden;
}

.comment-content {
	border: 1px solid @lightergrey;
	display: block;
	padding: 15px;
	.backface-visibility(visible);
	li {
	}
	p {
		margin: 0;
	}
}

.comment-metadata {
    margin-bottom: 8px;
}

.children {
	margin-left: 100px;
}
