/****************************************
	19. Contact
****************************************/

.find-on-maps {

	.maps-container {
		#gmap {
			height: 380px;
			-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.176);
			   -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.176);
			        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.176);
		}
		.gm-style {
			border-top: 1px solid @lightgrey;
			border-bottom: 1px solid @lightgrey;
		}
	}
}

.form_status {
	position: absolute;
	color: @grey;
	left: 2.5em;
	position: absolute;
	top: -0.8em;
}
.contact-blog-bg {
	background: #E5E5E5 !important;
}
.contact-us {
	background: @color-one-white;
	.where-we {
		background: @color-white;
		
		font-style: normal;
		text-align: center;
		
		margin-top: 1.5em;
		padding: floor(@theme-margin / 2.15) 0;

		.adress-title {
			padding-bottom: 2.6em;
		}

		.main-address {
			border-top: 1px solid @lightgrey;
			border-bottom: 1px solid @lightgrey;
			padding: 1em 2em;

			display: inline-block;		
		}

		.email-me {
			padding-top: 3em;
			a {
				color: @grey;
				text-decoration: none;
			}
		}
	}
}