/****************************************
	24. Footer
****************************************/
.footer-copyright {
	color: @color-white;
	.title {
		color: @color-white;
	}
	.social {
		a {
			background: @color-white;
			padding: 5px 10px;
			margin: 4px;
			font-size: @font-size-h4;
			line-height: 2.3;
			&:hover {
				color: @color-white;
				.transition(0.4s, ease-in, all);
			} 
		}
	}

	.copyright {
		padding-top: 5px;
		a {
			color: @color-white;
		}
	}
}

/***Back to top***/

.backtopbutton {
	text-decoration: none;
	display: block;
	position: fixed;
	bottom: 40px;
	right: 20px;
	padding: 6px 10px;
	font-size: 16px;
	background: @color-white;
	line-height: 1.5;
	text-align: center;
	opacity: 0.6;
	z-index: 15;
	span{
	    font-size: 18px;
	    }
    &:hover, &:focus {
    	opacity: 1;
    	text-decoration: none;
    }
}