/****************************************
	Form
****************************************/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

input[type="search"] {
	-webkit-appearance: textfield; 
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

input, button, select, textarea {
    font-family: @font-family-base;
    line-height: @base-line;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: @theme-gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: @theme-gray;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: @theme-gray;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: @theme-gray;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button,
input,
select,
textarea {
	margin: 0;
	border: none;
	vertical-align: baseline;
	font-size: 100%;
}

label { 
	display: inline-block; 
	cursor: pointer;
}

input,
textarea,
select,
button {
	-webkit-transition: all .25s ease;
			transition: all .25s ease;	
}



button {
	display: inline-block;
	padding: 10px 13px;
	outline: none;
	color: @deepgrey;
	background-color: @color-white;
	vertical-align: baseline;
	text-align: center;
	text-decoration: none;
	font-size: @font-size-base;
	cursor: pointer;
	text-align: center;
	font-weight: 600;

	-webkit-margin-before: -5px;
	margin-top: 0.8em;
	
	&:hover {
		color: @color-white;
	}

}
.input-block {
	padding: 1.6em 0 0.8em;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="subject"],
textarea, select {
	display: inline-block;
	padding: 10px;
	
	outline: none;

	font-size: @font-size-base;
	font-weight: 400;
	-webkit-box-shadow: none;
			box-shadow: none;

	background: @color-white;
	max-width: 100%;
	color: @grey;			
}
textarea {
	min-height: 190px !important;
}

.searchform {
	input,button {
		border-radius: 0;
		background: @color-white;
		margin-top: 0;
		height: 50px;
	}

	input {
		padding-left: 20px;
	}

	input:focus {
	 	border: none !important;
	}

	.submit {
		color: @grey-text;
		background: @color-white;

	}

	button:hover {
		color: @color-white;
	}
	#submit-search {
		border-left: 1px solid @color-theme-rgba;
		font-size: 18px;
		i {
			vertical-align: middle;
		}
	}
}


