/****************************************
	Fun- fact
****************************************/
.fun-fact {
	h2 {
		margin: 0;
		font-weight: 600;
	}
	i , h2, h4 {
		color: @color-white;
		text-transform: none;
		margin-bottom: 0;
	}


	i {
		display: inline-block;
		font-size: 3em;
		padding: 15px 25px;
	}
	.count-number {
		border-bottom: 1px solid @color-white;
		border-top: 1px solid @color-white;
		padding: 0.5em 2em;

		display: inline-block;

	}
}