
/****************************************
	6. Header
****************************************/

.home {
	background: @pattern-bg;
	height: auto; 
    width:100%;
    position:relative;
}

.brow {
    margin-left: 0; 
    a{
        color: @color-white;
        text-decoration: none;
    }
    &::before, &::after{
        display: table;
        content: "";
        line-height: 0;
        }
    &::after{
        clear: both;
        }
}

[class*="brick-one"] {
    float: left;
    min-height: 1px;
    margin-left: 0;
}

.brick-one {
    width: 200px;
    height: 200px;

}

.head-left {  
    margin-left: 200px;
}

#header{ 
    .header-holder {    
        width: 100%;
        margin: 0 auto;
    }
    .heder-menu {
       margin-left: 6.3%;
    }

    [class*="brick-one"] {
        color: @color-white;
    }  
    .odd {
        position: relative;
        z-index: 999;
    }
    .blank {
        position: relative;
        z-index: 999;
    }
    .transparent {
        background: transparent;
        height: 150px;
        img {
            opacity: 0;    
        }
    }
    .nav-item {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 19.2px;
        z-index: 9999;
        
        &:hover, &:active, &:focus{
            color: @color-white;
            text-decoration: none;
            }
            .nav-hover {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border: 8px solid rgba(255, 255, 255, 0.5);
                opacity: 0;
                z-index: 1;
                .transition();
                .transform();
            }
            &:hover{
                .nav-hover {
                    opacity: 1;
                    .transform(1);
                }
            }
        i {
            display: block;
            font-size: 6em;
            padding-top: 20%;
        }
    }
    .headerIn {
        position: relative;
        z-index: 99999 !important;
    }
    .thumb{
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        .nav-hover {
            display: none;
        }

    }
}

