/****************************************
	7. Menu
****************************************/
.navbar {
    border-radius: 0;
    border: none;
    margin: 0;
    height: auto; 
}


.navbar-default {
    color: @color-white;
    z-index: 9999;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176);
       -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176); 
            
    .navbar-collapse {
        .backface-visibility(visible);
    } 

    .navbar-brand {
        min-width: 140px;
        color: @color-white;
        font-weight: 500;
        margin-top: 0.5em;
        display: block !important; 
    }

    .navbar-nav {
        > .open {
            > a, > a:focus, > a:hover {
                background-color: transparent;
                border-color: transparent;
                       
            }   
        }
        > .active {
            > a, > a:focus, > a:hover {
                background: none;
            }   
        }   
    }

    .navbar-brand, 
    .navbar-nav > li > a {
        color: @color-white !important;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.7px;
        text-transform: capitalize;
        padding: 2em 0.5em;
        -moz-transition: background 0.5s ease-in-out, color 100ms linear, padding 0.5s ease-in-out;
        -o-transition: background 0.5s ease-in-out, color 100ms linear, padding 0.5s ease-in-out;
        -webkit-transition: background 0.5s ease-in-out, color 100ms linear, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, color 100ms linear, padding 0.5s ease-in-out; 
    } 
   
    .navbar-toggle {
        border-radius: 0;
        border: 1px solid @color-white;
        padding: 8px;
    }  
}
.navbar-default.stuck .navbar-nav > li.current-menu-ancestor > a { 
    background: @color-white !important; 
}
.dropdown-menu>.current-menu-ancestor>a, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background: @color-white !important;  
}

.nav .open {
    > a, > a:focus, > a:hover {
        background-color: @color-white;     
    }  
}

.navbar-toggle .icon-bar {
    border-radius: 0;
    background-color: @color-white !important;
}
.caret {
    display: none;
}

/*** dropdown menu ***/
.dropdown-menu {
    border: 0 none;
    border-radius: 0;
    border-top: 1px solid @color-white;
    li > a {
        color: @color-white !important;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        padding: 5px 25px;
        &:hover, &:focus {
            background: @color-white !important;    
        }
    }
    .dropdown-menu {
        margin-left: 100% !important;
    }
}


/*** sticky-wrapper ***/
.sticky-wrapper {
    .stuck {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1001;
    } 
}

.sticky-nav {
    position: fixed;
    width: 100%;    
    z-index: 1001;
}