// Mixin
// --------------------

.round (@radius: 50%) {
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
		 -o-border-radius: @radius;
  			border-radius: @radius; 
  		  background-clip: padding-box;
}

.transition (@duration: 0.2s, @ease-type: ease-in-out, @field:all) {
    -webkit-transition: @duration @ease-type @field;
       -moz-transition: @duration @ease-type @field;
         -o-transition: @duration @ease-type @field;
        -ms-transition: @duration @ease-type @field;
        	transition: @duration @ease-type @field;
}

.transition-transfrom(@duration:250ms, @ease-type:ease-out, @sec:0s){	
	-webkit-transition: -webkit-transform @duration @ease-type @sec;	
	   -moz-transition: -moz-transform @duration @ease-type @sec;
		 -o-transition: -o-transform @duration @ease-type @sec;
		    transition: transform @duration @ease-type @sec;
}
.transform (@scale: 0.95) {
    -webkit-transform: scale(@scale);
       -moz-transform: scale(@scale);
        -ms-transform: scale(@scale);
         -o-transform: scale(@scale);
            transform: scale(@scale);
}
    
.transform-rt (@degree:0deg) {
	-webkit-transform: rotate(@degree);
	   -moz-transform: rotate(@degree);
		-ms-transform: rotate(@degree);
		 -o-transform: rotate(@degree);
			transform: rotate(@degree);
}

.translate-y (@value:-100px) {
   	-webkit-transform: translateY(@value);
	   -moz-transform: translateY(@value);
	     -o-transform: translateY(@value);
	    -ms-transform: translateY(@value);
	        transform: translateY(@value);
}

.backface-visibility (@visibility: hidden) {
	-webkit-backface-visibility: @visibility; 
   -moz-backface-visibility: @visibility; 
    -ms-backface-visibility: @visibility;
        backface-visibility: @visibility;
}
