/****************************************
	18. Our Clients
****************************************/
.our-clients {
	.parallax-heading {
		padding: (@theme-margin * 0.8) 0;
	}

	.heading-two .title {
		border-bottom: 1px solid @color-white;
	}

	.our-client {
		width: 90%;
		margin: (@theme-margin / 4) auto floor(@theme-margin / 4.1);

		.item {
			padding: 1em;
		}

		.owl-prev, .owl-next {
			background: @color-white;
			padding: 5px 10px;
			text-align: center;
			i {
				color: @color-theme-two;
				vertical-align: middle;
			}
		}
		
		.owl-controls .owl-buttons div {
		   position: absolute;
		}
		.owl-controls .owl-buttons .owl-prev{
			left: -3em;
			top: 25%;
		}
		 
		.owl-controls .owl-buttons .owl-next{
			right: -3em;
			top: 25%;
		}
	}


}

