/****************************************
	9. Parallax
****************************************/
.parallax-heading {
	padding: (@theme-margin * 2) 0;
	position: relative;

	.heading {
		margin: 30px 0;
	}
	
	.heading-two {	
		padding: 2em 0; 
		opacity : 0.7;
		} 

		h1 {
			color: @color-white;
		}
		.small-border {
			background: @color-white;
		}
		.subtitle {
			color: @color-white;
		}	
}


.patern-overlay {
	background: @pattern-bg repeat; 
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.team {
	clear: both;
	position: relative;
	width: 100%;	
	background-size: cover !important;
	overflow: hidden;
	transition: 0s linear;
    transition-property: background-position;
}

.fun-fact {
	background-size: cover !important;
	padding: @theme-margin 0;
	overflow: hidden;
	transition: 0s linear;
    transition-property: background-position;
    position: relative;	
}

.testimonial {
	background-size: cover !important;
	overflow: hidden;
	transition: 0s linear;
    transition-property: background-position;
    position: relative;
}

.our-clients {
	background-size: cover !important;
	padding: 0;
	overflow: hidden;
	transition: 0s linear;
    transition-property: background-position;
    position: relative;
}

.blog-header {
	background-size: cover !important;
	padding: (@theme-margin / 2) 0;
	overflow: hidden;
	transition: 0s linear;
    transition-property: background-position;  	
}