/****************************************
	14. Portfolio
****************************************/
.portfolio {
	background: @color-white;
	
	.portfolio-filter {
		display:block;
		margin:0 auto;
		text-align: center;
		padding: (@base-line * 2) 0;
		
		ul {
			
			li {
				padding: 1em 0.1em;
				display: inline-block;    	   
		        
		        a {
		      	 	padding: 10px 15px;
		        	text-decoration: none;
		        	.transition (0.2s);

		        }
		    	.current {
					text-decoration: none;
				}
			}
		}
	}


	
	.view {
	   	width: 100%;
	   	height: 100%;
	   	overflow: hidden;
	   	position: relative;
	   	text-align: center;
	   	cursor: default;
		.mask {
		   	width: 100%;
		   	height: 100%;
		   	position: absolute;
		   	overflow: hidden;
		   	top: 0;
		   	left: 0;
		}
		img {
			min-width: 100%;

		   	display: block;
		   	position: relative;
		}
		p {
		   	text-transform: uppercase;
		   	text-align: center;
		   	position: relative;
		   	font-weight: 500;
		  
		   	color: @color-white; 
		}
		a.read-more {
		   	display: inline-block;
		   	text-decoration: none;  
		   	color: @color-white;
		   	font-size: 2em;
		   	text-transform: uppercase;
		   	margin: 25% 0 3%;

		}
	}

	/*Hover Effect*/

	.view-thumb {
		img {
			.transition(0.2s, linear, all);
		}
		.mask {
		   	   opacity: 0;

			   background-color: rgba( 0, 0, 0, 0.7);
			   .transition(0.4s, ease-in-out, all);
	
		}
		p {
			.translate-y();

		   	opacity: 0;
			.transition(0.2s, ease-in-out, all);
		
		}
		&:hover {
			img {
			   	-webkit-transform: scale(1.1,1.1);
			   	   -moz-transform: scale(1.1,1.1);
			   	     -o-transform: scale(1.1,1.1);
			   	    -ms-transform: scale(1.1,1.1);
			   	        transform: scale(1.1,1.1);
			}
			.mask {
			   	opacity: 1;
			}
			p {
			   	opacity: 1;
				.translate-y(0px);
			}	
		}
	}
	
}


/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  	-webkit-transition-duration: 0.8s;
  	   -moz-transition-duration: 0.8s;
  	    -ms-transition-duration: 0.8s;
  	     -o-transition-duration: 0.8s;
  	        transition-duration: 0.8s;
}

.isotope {
  	-webkit-transition-property: height, width;
  	   -moz-transition-property: height, width;
  	    -ms-transition-property: height, width;
  	     -o-transition-property: height, width;
  	        transition-property: height, width;

	.isotope-item {
	  	-webkit-transition-property: -webkit-transform, opacity;
	  	   -moz-transition-property: -moz-transform, opacity;
	  	    -ms-transition-property: -ms-transform, opacity;
	  	     -o-transition-property: -o-transform, opacity;
	  	        transition-property: transform, opacity;
	}

}


/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  	-webkit-transition-duration: 0s;
  	   -moz-transition-duration: 0s;
  	    -ms-transition-duration: 0s;
  	     -o-transition-duration: 0s;
  	        transition-duration: 0s;
}

/**Portfolio Single**/
	#single-portfolio {
		padding: @theme-margin 0;
		background: @color-one-white;
		color: @deepgrey;	
		h2 {
			margin-bottom: 0.6em;
			font-size: 24px;
  			letter-spacing: 0;
		}

		.close-folio-item {
			display: block;
			font-size: 2em;
			font-weight: bold;
			text-align: center;
			margin-top: 20px;
			text-decoration: none;
		}
		#project-image {

			.owl-prev, .owl-next {
				padding: 10px 5px;
				text-align: center;

				i {
					font-size: 1em;
					color: @color-white;
					vertical-align: middle;
				}
			}
			
			.owl-controls .owl-buttons div {
			   position: absolute;
			}
			.owl-controls .owl-buttons .owl-prev{
				left: 0;
				top: 45%;
				margin: 0;
				.round(0);
			}
			 
			.owl-controls .owl-buttons .owl-next{
				right: 0;
				top: 45%;
				margin: 0;
				.round(0);
			}
		}

		#project-video {
			position: relative;
			padding-bottom: 60%; /* 16:9 */
			padding-top: 25px;
			height: auto;
			display: block;
			overflow: hidden;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.dl-horizontal dt {
			width: auto;
			text-align: left;
		}
		.dl-horizontal dd {
			margin-left: 115px;
		}
		.portfolio-clients {
			h5 {
				font-weight: bold;
				text-transform: uppercase;
				border-bottom: 1px solid @border-color;
				padding-bottom: 0.5em; 
			}
			dl {
				margin-bottom: 0;
			}

			a {
				color: @deepgrey;
			}
		}
 
	}
