/****************************************
	16. Price-Table
****************************************/
.price-table {
	background: @color-one-white;
	.price-table-content {
		* {
			-webkit-transition: all .25s ease;
			transition: all .25s ease;
		}
		.price-padding {
			padding: 0 4px;
		}
		.price-title {
			color: @color-white;
			position: relative;
			padding: 0.5em 0;
			&:after {
				top: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				border-width: 14px;
				margin-left: -16px;

		   	   opacity: 0;
			}
			> h3 {
				font-weight: 600;
				color: @color-white;
			}
		}

		.price-sub-title {
			margin-top: 1.5em;
			padding: 1.5em 0;
			> h4 {
				color: @color-white;
				font-weight: 500;
			}
		}

		.price-table-container {
			background: @color-white;
			padding: 0 0 3em;
			.price {
				font-size: 2.7em;
				padding: 0.7em 0 0.1em;
				span {
					font-size: 0.5em;
				}
			}
			ul {
				margin-bottom: 2.5em;
				list-style: none;
				li {
					border-bottom: 1px solid @lightergrey;
					font-size: 16px;
					padding: 8px 0;

					&:first-child {
						border-top: 1px solid @lightergrey;
					}
				}	
			}


			.sign-up-button {
				text-decoration: none;
				font-weight: bold;
				color: @color-white;
				padding: 0.8em 2em;


			}
		}
		.pricing-content:hover, .featured {
			.price-title {
				&:after {
				   	opacity: 1;
				   	.transition (); 	
				}
			}
		}
	}
}