/****************************************
    26. Responsive
****************************************/
@media (min-width:1400px) {
    #header .transparent {
        height: 200px !important;
    }
}
@media (min-width:993px) and (max-width:1207px) {
    #header .head-left {
        margin-left: 19.4%;
    }
    #header .nav-item i {
        padding-top: 16px !important;
    }


}
@media (min-width:992px) and (max-width:1198px) {
    .most-populer img {
        min-height: 131px;
    }
}
@media (min-width:604px) and (max-width:990px) {
    .most-populer .populer-comment {
        min-height: 138px;
        overflow: hidden; 
    }
}
@media (min-width:1100px) and (max-width:1368px) {
    
#header .heder-menu {
    margin-left: 10.3%;
}
.brick-one {
    height: 180px;
    width: 180px;
} 
.head-left {
    margin-left: 180px;
}  
    #header .transparent {
         height: 80px !important;
    }
}
@media (max-width: 1200px){
    #header .nav-item i {
        font-size: 3.5em
    }
}

@media(max-width:1199px){
    .brick-one {
        height: 176px;
        width: 176px;
    }
    #header{
        .nav-item {
            font-size: 2em !important;
        }
        .heder-menu {
            margin-left: 3.3%;
        } 
        .head-left {
            margin-left: 19.5%;
        }
    } 

}
@media (min-width:991px) {
    
    .transparent {
        height: 60px;
    }
}

@media (max-width:991px) {
    .funfact-mobile {
        margin-top: 30px;
    }
    .portfolio-details {
        margin-top: 1.5em;
    }
}

@media (max-width: 990px) {
    .comment-form {
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        input[type="subject"] {
            margin-bottom: 10px;
        }
        .col-md-6 {
            padding-right: 15px;
        }   
    }
    .widget_search {
        margin-top: 30px;
    }

    .pd-bigger {
        padding: 0 1em;
    }
}

@media (max-width:789px) { 
    .hidden-phone {
        display: none;
    }
    .visible-phone {
        display: block !important;
    }
   .blank {
        display: none;
    }

}

@media(min-width:768px) and (max-width:1080px) {

    #header .nav-item i {
        padding-top: 28px
    }
    #header .nav-item {
        font-size: 40px !important;  
    }
    #header .nav-item:hover .nav-hover {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1)
    }
}

@media (max-width:981px) {
    .about-us .pd-big {
        padding: 0 2em 2em 2em;
        &:last-child {
            padding-bottom: 0;
        }
    }
    .pricing-content {
        margin-bottom: 1em !important;
    }
    .blog-section-content {
        margin-bottom: 2em !important; 
    }
}

@media (min-width:790px) {
    .visible-phone {
        display: none !important;
    }
}

@media (min-width:790px) and (max-width:981px) {
   #header .brick-one {
        width: 132.333px;
        height: 132.333px;
   }
   #header .head-left {
        margin-left: 19.065%;
   }
   #header .nav-item i {
        font-size: 2em;
   }
    .visible-phone {
        display: none;
    }

}

@media(max-width:988px){
    .brick-one {
        width:200.3332px;
        height:200.6666px
    }
    .team-mobile {
        margin-top: 8em;
    }
}

@media(max-width:768px){
    #header .container.visible-phone {
        margin:0 15px 0 15px
    }
    .brick-one {
        width:200.3332px;
        height:200.6666px
    }
    .pik-carousel-wrapper {
        margin-top: 6em;
    }
    .testimonial .pik-carousel {
        margin-bottom: 5em;
    }
    .testimonial .pik-carousel .pc-nav-button {
        top: 60%;
    }
    .children {
        margin-left: 40px;
    }
}

@media(min-width: 768px) {
    .navbar-default.stuck {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
        z-index: 9999;
        .navbar-brand {
            margin-top: 0 !important;
            .transition(0.4s, ease, all);
        }
        .navbar-brand, 
        .navbar-nav > li > a {
            .transition(0.4s, ease, all);
            padding: 1.2em 0.5em !important;     
        }
        .navbar-nav > li {
            &.active {
                > a, a:focus, a:hover {
                    background: @color-white !important;         
                } 
            }
        }
    }
}

@media(max-width: 767px) {
    .navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow {
        margin-left: 5px;
    }
    .navbar-brand {
        padding: 15px !important;
    }
    .navbar-default .navbar-brand, 
    .navbar-default .navbar-nav > li > a {
        padding: 0.4em 1.2em;
    }
    .navbar-nav > li > a {
        &:hover {
            padding-left: 1.7em;
            background-color: @color-white;
            border-bottom: 0 !important;
        }
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
        background-color: @color-white !important;
        border-bottom: 0 !important;
        display: block;
    }

    .navbar-nav:hover .dropdown-menu {
        background-color: transparent;
        border: 0 none;
        box-shadow: none;
        float: none;
        margin-top: 0;
        position: static;
        width: auto;
    }
    .navbar-default .navbar-brand {
        margin-top: 0;
    }
    .dropdown-menu {
        padding-bottom: 0;
    }
    .blog-header {
        margin-top: 50px;
    }
    .blog-header.stuck {
        margin-top: 40px !important;
    }

    #single-portfolio .dl-horizontal dd {
        margin-left: 0;
    }
    .blog-header .parallax-heading .subtitle {
        width: 80%;
    }
    .input-block {
        padding: 1.6em 0 0.8em;
    }
}

@media(max-width:672px){
    #header .container.visible-phone{
        margin:0 auto;
    }
    .blog-description img {
        width: 100% !important;
        padding: 0 0 20px !important;
    }
}

@media(min-width:560px) and (max-width:582px) {
    .head-left {
        margin-left: 24% !important;
    }
}

@media(max-width:583px) {
    .brow {
        margin-left: 0;
    }
    .brick-one {
        width:116px;
        height:116px
    }
    #header .transparent {
        height: 100px;
    }
    #header .nav-item i {
        display: block;
        font-size: 2em;
        padding-top: 22px;
    }
    .testimonial-slider {
        .owl-controls .owl-buttons .owl-prev{
            top: -25em !important;
        }        
    }
    #single-portfolio .share-project {
        bottom: 5px !important;
    }
    .error {
        font-size: 10em !important;
    } 
}
@media (min-width:400px) and (max-width:560px) {
    #header .head-left {
        margin-left: 23.9% !important;
    }
}

@media (max-width:400px) {
    .head-left {
        margin-left: 15% !important;
    } 
    #header .nav-item i {
        padding-top: 25px !important;
    }
    .details-link {
        dd {
            margin-left: 0 !important;
        }
    }
    .pagination {
        float: none;
        margin: 0 0.8em 1em;
    }
    .blog-content .blog-details {
        padding: 1.8em;
    }
}

@media (min-width:321px) and (max-width:359px) {
    .head-left {
        margin-left: 12% !important;
    }
    .most-populer img {
        min-height: 174px;
    } 
}
@media (max-width:320px) {
    .head-left {
        margin-left: 10.8% !important;
    } 
    .most-populer img {
        min-height: 172px;
    }
}

