/****************************************
	11. Service 
****************************************/

.our-service {
	background: @color-one-white;
	.service-content {
		padding: 2em 1em;

		.service-icon {
			color: @color-white;
			display: inline-block;
			font-size: 4em;
			height: 112px;
			line-height: 1.2;
			padding: 0.5em;
			position: relative;
			margin-bottom: 15px;
			.round();

			i {
				position: relative;
				color: @color-white;
			}
			&:before {
			    position: absolute;
			    left: 0;
			    top: 0;
			    width: 100%;
			    height: 100%;
			    content: "";
			    border-radius: 50%;
			}
			&:after {
			    border-radius: 50%;
			    box-sizing: content-box;
			    content: "";
			    height: 100%;
			    left: -5px;
			    padding: 5px;
			    position: absolute;
			    top: -5px;
			    -webkit-transform: scale(.8);
			    transform: scale(.8);
			    width: 100%;
			    transition: -webkit-transform 0.2s ease 0s, opacity 0.2s ease 0s;
			    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
			}			
		}
		&:hover .service-icon::after {
		    -webkit-transform: scale(1);
		    transform: scale(1);	
		}
		
		> h4 {
			font-weight: 600;
			line-height: normal;
		}

        > p {
            margin-bottom: 0;
        }
	}
}