/****************************************
	22. Side var 
****************************************/
// Widget Style
// -------------------------

.widget {
	padding: 1.2em 3em 2.6em;
	background: @color-white;
	margin-bottom: 2em;
	ul,
	li,
	ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.widget-title {
		margin-bottom: 5px;
	}
	ul {
		margin-left: 1em;
		li {

			padding: 0 0 !important;
			&:before { 
			    content: "";
			    border-color: transparent #777;
			    border-style: solid;
			    border-width: 0.35em 0 0.35em 0.45em;
			    display: block;
			    height: 0;
			    width: 0;
			    left: -1em;
			    top: 1em;
			    position: relative;
			}
			a {
				
			}
			ul {
				li {
					padding: 0 0 0 !important;
				}
			}
		}
	}	
}



// Widget Glimmer popular post
// -------------------------------
.widget_glimmer_popular_posts {
	> .widget-title {
		margin-bottom: 20px;
	}
	ul {
		margin-left: 0;
		li {
			&:before { 
			    display: none;
			}
		}
	}
	.popular-wrap {
		display: table;
		width: 100%;
	}

	.popular-wrap:last-child {
		margin-bottom: 0;
	}

	.popular-post-thumb {
		display: table-cell;
		vertical-align: top;
		width: 88px;
		padding-right: 1em;
	}

	.popular-post-thumb figure {
		position: relative;
		width: 88px;
		height: 88px;
		overflow: hidden;
		img {
			height: 70px !important;
		}
	}

	.popular-post-detail {
		display: table-cell;
		vertical-align: top;
		.blog-meta {
			font-size: 12px;
			font-weight: 600;
			color: @lightgrey;
			li {
				border-right: 0;
				&:first-child {
					padding-right: 10px !important;
				}
			}

		}
	}

	.popular-post-detail h4 {
		font-size: 14px;
		font-weight: 500;
		margin: 0 0 8px;
	}

}

// Widget Tag Cloud
// ---------------------------
.widget {
		.tagcloud a {
		border: 1px solid @border-color;
		display: inline-block;
		padding: 3px 7px;
		margin: 4px 4px 4px 0;
		font-size: 14px !important;
		&:hover {
			color: @color-theme-two;
			border-color: @color-theme-two;
		} 
		&:focus {
			text-decoration: none;
		}
	}
}


// Widget Search
// -------------------------
.widget_search {
	padding: 0 !important;
}