/****************************************
	skill 
****************************************/
.our-skill{
	background: @color-two-white;
 
    .skill-area {
    	padding: 1em 0;
    }

	.skillbar {
		position: relative;
		display: block;
		margin-top: 16px;
		background: transparent;
		-webkit-transition: 0.4s linear;
		   -moz-transition: 0.4s linear;
		    -ms-transition: 0.4s linear;
		     -o-transition: 0.4s linear;
		        transition: 0.4s linear;

		-webkit-transition-property: width, background-color;
		   -moz-transition-property: width, background-color;
		    -ms-transition-property: width, background-color;
		     -o-transition-property: width, background-color;
		        transition-property: width, background-color;
	}

	.skillbar-title {
		top: 0;
		left: 0;
		line-height: 1.8;
		color: @grey-text;
		font-size: 16px;
	}
	.skillbar-bg {
		background: @lightergrey;
	}
	.skillbar-bar {
		height: 15px;
		width: 0;		
	}

	.skill-bar-percent {
		position: absolute;
		top: -18px;
		margin-left: -5px;
		font-size: 12px;
		height: 40px;
		line-height: 36px;
		font-weight: bold;
		content: "";
		&:after {
			content: "";
    		border-left: 6px solid transparent; 
    		border-right: 6px solid transparent;
    		position: absolute;
    		bottom: 0;
    		left: 0;
		}
	}


}

