/****************************************
	10. Team
****************************************/
.team {
	.subtitle {
		margin-bottom: 5px;
	}
}
.team-member {
	background: @color-one-white;
	padding-bottom: floor(@base-line * 4.62);

	.col-md-4 {
		padding: 0 3em;
	}

	.team-bg {
		min-height: 100%;
		height: floor(@base-line * 10.5);
	}

}
.team-details {
	position: relative;
	top: -8em;
	.member-image > img {
		height: 200px;
		width: 200px;
		margin: 0 auto;
		overflow: hidden;
		border: 10px solid @color-white;
	}
	.member-details {
		> h4 {
			color: @color-white;
			font-weight: 600;
			margin: 1.5em 0 0;
		}
		> p {
			color: @color-white;	
		}
	
		.social-link {
			i {
				background: #dfdfdf;
				font-size: 16px;
				line-height: 1.2;
				padding: 5px 10px;
				margin: 2px;
				display: inline-block;
				
				&:hover {
					background: @color-theme-two;
					color: @color-white;
					.transition(0.2s, ease-in, all);									
				}

			}

		} 
	}
}