/****************************************
	13. testimony
****************************************/
.testimonial {

	.parallax-heading {
		padding: 0;
		background: none;
		.heading {
			margin: @theme-margin 0 0;
		}
	}
	.pik-carousel {
		height: 360px;
		margin: 2em 0;
	}
	.pik-carousel .pc-content-wrapper {
		top:0; 
		.pc-content-container {
			.pc-content {
				background-color: #31363a;
			}
			&:before {
				position: absolute;
				display: block;
				content: "";
				border: solid 12px transparent;
				border-top: solid 12px #939393;
				width: 0;
				height: 0;
				left: 50%;
				margin-left: -14px;
				top: 100%;
			}
			&:after {
				position: absolute;
				display: block;
				content: "";
				border: solid 10px transparent;
				border-top: solid 10px #31363a;
				width: 0;
				height: 0;
				left: 50%;
				margin-left: -12px;			
			}
		}
	}
	.pik-carousel .pc-content-wrapper h2 {
		font-size: 14px;
		line-height: 1.5;
		font-weight: 400;
	}
	.pik-carousel .pc-content-container {
		border: 1.5px solid #939393;
	}
	.pik-carousel .pik-carousel-container li img {
		border: 0;
	}
	.pik-carousel .pik-carousel-container li.pc-selected img {
		border: 10px solid @color-white;
	}
	.pik-carousel .pik-carousel-container .pc-author {
		overflow: hidden;
	}
	.pik-carousel .pik-carousel-container .pc-author h2 {
		font-weight: 600;
	} 
	.pik-carousel .pc-nav-button {
		top: 36%;
	}
}