/****************************************
	3. Typography
****************************************/
body{
	color: @grey-text;
	background: @color-white;
	font-family: @font-family-base;
	font-size: @body-font-size;
	line-height: 1.57143;
	letter-spacing: 0.5px;

	-webkit-font-smoothing: antialiesed;
	-moz-osx-font-smoothing: grayscale;
	word-wrap: break-word;
	  
}

h1,h2,h3,h4,h5,h6 {
	font-family: @font-family-base;
	
	font-weight: normal;
	line-height: @headings-line-height;
	clear: both;
}

h1 {
	font-size: @font-size-h1;
}

h2 {
	font-size: @font-size-h2;
}

h3 {
	font-size: @font-size-h3;
}

h4 {
	font-size: @font-size-h4;
}

h5 {
	font-size: @font-size-h5;
}

h6 {
	font-size: @font-size-h6;
}
p {
	margin: 0 0 @base-line 0;
}

blockquote {
	font-size: @font-size-h4;
	font-weight: 400;
	color: @grey;
	margin: 0 0 1.5em;
	border-left: 5px solid @color-theme-two;	
	footer {
		margin-top: 10px;
		font-weight: bold;
	}
}

ul,
li,
ol{
	
}
dd, dt {
	line-height: 1.6;
}

b, strong {
    font-weight: 600;
}

a {
	color: @grey-text;
	&:hover {
		text-decoration: none;
	}
	&:focus {
    	outline: 0;
    	text-decoration: none; 
	}
}


// Title Style
// -------------------------
.heading {
	margin: @theme-margin 0 0;

	.title {
		font-size: @font-size-title;
		text-transform: uppercase;
		color: @theme-heading;
		margin-top: 0;
	}
	.small-border {
		display: block;
		height: 2px;
		margin: 10px auto 20px;
		width: 140px;
	}
	.small-border-two {
		background: @color-white;
		display: block;
		height: 2px;
		margin: 10px auto 20px;
		width: 140px;
	}

	.subtitle {
		width: 70%;
		margin: 0 auto;
		font-weight: 400;
		line-height: 1.6;
		letter-spacing: 0.02em;
		text-transform: none;
		color: @mediumgrey;
	}
}
.parallax-heading {
	.heading > .title {
		color: @color-white;
	}
	.heading > .subtitle {
		color: @lightergrey
	}	
}

.blog-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: -6px;
    color: @grey-text;
}

.widget-title {
	color: @grey-text;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}
