// Variable
// -------------------------


// Typography
// -------------------------

@font-family-base:		'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
@font-family-code:  	 Monaco, Menlo, Consolas, "Courier New", monospace;
@font-size-base:   		 14px;


@font-size-h1:          floor(@font-size-base * 2.6); // ~36px
@font-size-h2:          ceil(@font-size-base * 2.14); // ~30px
@font-size-h3:          ceil(@font-size-base * 1.71); // ~24px
@font-size-h4:          ceil(@font-size-base * 1.28); // ~18px
@font-size-h5:          ceil(@font-size-base * 1.14); // ~16px
@font-size-h6:          ceil(@font-size-base * 0.85); // ~12px

@font-size-title:       floor(@font-size-base * 2.75); // ~36px

@line-height-base:  	 1.722; // 31/18
@line-height-computed:   floor(@font-size-base * @line-height-base); // ~24px


@headings-font-family:  @font-family-base;
@headings-font-weight:  400;
@headings-line-height:  1.4;
@headings-color:        inherit;


@body-font-size: 		@font-size-base;
@base-line-height: 		1.6;
@base-line: 			@line-height-computed;
@theme-margin: 			(@line-height-computed * 4);


// color
// -------------------------
@color-theme: 			rgb(45,52,62);
@color-theme-two: 		rgb(238,76,98);

@color-white: 			rgb(255,255,255);
@black: 				rgb(0,0,0);
@color-one-white: 		darken(@color-white, 5%);
@color-two-white: 		lighten(@color-white, 80%);

@color-text: 			darken(@black, 77%);;

@color-theme-rgba: 		rgba(45, 52, 62, 0.2);
@color-theme-two-rgba: 	rgba(238, 76, 98, 0.8);
@color-white-rgba: 		rgba(255, 255, 255, 1);


@theme-gray: 			lighten(@color-theme, 10%);						
@theme-heading: 		lighten(@color-theme, 5%);						


@deepgrey: 				lighten(@black, 30%);
@mediumgrey: 			lighten(@black, 40%);
@grey-text: 			lighten(@black, 46.5%);
@grey: 					lighten(@black, 50%);
@lightgrey: 			lighten(@black, 75%);
@lightergrey: 			lighten(@black, 90%);
@border-color: 			#bfbfbf;




// Patern
// -------------------------
@pattern-bg: 			url(../../images/pattern.png);

