.feature-area {
	display: block;
	background-color: $color__white;
	padding: 60px 0;
	overflow: hidden;
	#featured-item {
		position: relative;
		.item img {
			height: auto;
			display: block;
			width: 100%;
		}
		.full-wrapper {
			position: relative;
			background-size: cover!important;
			background-position: center!important;
			background-repeat: no-repeat;
			display: table;
			height:100%;
			width:100%;
			vertical-align:middle;
			padding: 100px 50px;
			position: relative;
		}
		.image-extra {
			bottom: 0;
			display: table-cell;
			height: auto;
			left: 0;
			margin: auto;
			position: relative;
			right: 0;
			top: 0;
			vertical-align: middle;
			width: 100%;
			.extra-content {
				box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
				box-sizing: border-box;
				display: block;
				height: auto;
				margin: 0 auto;
				max-width: 520px;
				padding: 40px;
				position: relative;
				text-align: center;
				width: 100%;
				background: rgba($color__white, 0.2);
				z-index: 1;
				&:before {
					border: 1px solid $color__white;
					bottom: 0;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
					z-index: -1;
				}
			}
			.inner-extra {
				background: #fff;
				padding: 45px 45px 27px;
				border: 1px solid $color__border-one;
				&:before {
					border: 1px solid $color__border-three;
					bottom: 0;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
					z-index: -1;
				}
				h2 {
					margin: 10px 0;
					visibility: hidden;
					text-transform: capitalize;
					font-weight: bold;
					font-size: 26px;
				}
				h2, .entry-date, .entry-meta {
					@include prefixedallon(transition, all .3s);
					@include prefixedallon(transition-timing-function, ease);
					@include prefixedallon(transform, translate3d(0,20px,0));
					visibility:hidden;
					opacity:0
				}
				.fet-read-more {
					background: $color__white;
					border: 1px solid $color__border-one;
					bottom: 0;
					display: inline-block;
					padding: 15px 20px;
					position: relative;
					top: 47px;
					font-size: 11px;
					font-weight: bold;
					line-height: normal;
					text-transform: uppercase;
					word-spacing: 0.2em;
					color: $color__heading;
					@include prefixedallon(transition,all 0.3s);
					@include prefixedallon(transition-timing-function,ease);
				}
				.fet-more-wrapper {
					@include prefixedallon(transform,scale(0));
					@include prefixedallon(transition,all 0.3s);
					@include prefixedallon(transition-timing-function,ease);
				}
			}
			.extra-content, 
			.extra-content::before {
				@include prefixedallon(transition,all 1s);
				@include prefixedallon(transition-timing-function,ease);
				opacity:0
			}
		}
		.owl-item.active .extra-content {
			@include prefixedallon(transition-delay, 0.1s);
			opacity:1
		}
		.owl-item.active .extra-content::before {
			@include prefixedallon(transition-delay, 0.2s);
			opacity:1
		}
		.owl-item.active .image-extra .inner-extra .entry-date {
			@include prefixedallon(transition-delay, 0.3s);
		}
		.owl-item.active .image-extra .inner-extra .entry-date,
		.owl-item.active .image-extra .inner-extra h2,
		.owl-item.active .image-extra .inner-extra .entry-meta {
			visibility:visible;
			opacity:1;
			@include prefixedallon(transform, translate3d(0,0,0));
		}
		.owl-item.active .image-extra .inner-extra h2 {
			@include prefixedallon(transition-delay, 0.4s);
		}
		.owl-item.active .image-extra .inner-extra .entry-meta {
			@include prefixedallon(transition-delay, 0.5s);
		}
		.owl-item.active .image-extra .inner-extra .fet-more-wrapper {
			@include prefixedallon(transform, scale(1));
			@include prefixedallon(transition-delay, 0.6s);
		}
	}
	.owl-controls .owl-buttons div {
		background: $color__white;
		font-size: 90px;
		margin: auto;
		padding: 10px;
		position: absolute;
		top: 50%;
		transform: translate(0px, -50%);
		opacity: 1;
		border-radius: 0;
		color: $color__heading;
		opacity: 0.6;
	} 

	.owl-controls .owl-buttons .owl-prev {
		left: -58px;
	}
	.owl-controls .owl-buttons .owl-next {
		right: -59px;
	}
	.owl-theme .owl-controls {
		margin-top: 0;
	}
	.full-control {
	    cursor: pointer;
	    margin: 2px 1px 0;
	    position: relative;
	    z-index: 0;
	    background: $color__black;
	    &:before {
			border-color: $color__white transparent transparent;
			border-style: solid;
			border-width: 10px 10px 0;
			content: "";
			height: 0;
			left: 0;
			margin: 0 auto;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			@include prefixedallon(transition, all 0.2s ease 0s);
			visibility: hidden;
			width: 0;
			z-index: 1;
	    }
	}
	.full-control img {
		@include prefixedallon(transition, all 0.2s);
		opacity:1
	}
	#full-sync {
		.synced img,
		.full-control:hover img {
			opacity: 0.5;
		}
		.synced .full-control:before {
			opacity: 1;
			visibility: visible;
		}
	}
}
#featured-item .owl-item.active .image-extra .inner-extra .fet-read-more {
	&:hover {
		color: $color__white;
	}
}

/*--------------------------------------------------------------
# Treading Post
--------------------------------------------------------------*/
.trending-area {
	background: $color__white;
	margin-top: -60px;
	.container {
		overflow: hidden;
		padding: 0 15px;;
	}
	.area-title {
		margin: 35px 0 26px;
		text-align: center;
		position: relative;
		overflow: hidden;
		font-size: 24px;
		font-weight: 700;
		&:before {
			background: $color__border-two;
			content: "";
			height: 1px;
			left: 0;
			top: 50%;
			position: absolute;
			width: 100%;
		}
		span {
			background: $color__white;
		    padding: 0 45px;
		    position: relative;
		    z-index: 7;
		}
	}
}
#trending-post {
	margin-bottom: 45px;
	.item {
		margin: 0 1px;
	}
}
.trending-content {
	position: relative;
	overflow: hidden;
	background: $color__black;
	img {
		display: block;
		width: 100%;
		min-height: 100%;
		position: relative;
	}
}
.trending-content figcaption {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba($color__black, 0.7);
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	&:before, &:after {
		position: absolute;
		top: 18px;
		right: 18px;
		bottom: 18px;
		left: 18px;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
		transition: opacity 0.45s, transform 0.45s;
	}
	&:before {
		border-top: 1px solid $color__white;
		border-bottom: 1px solid $color__white;
		-webkit-transform: scale(0,1);
		transform: scale(0,1);
	}
	&:after {
		border-right: 1px solid $color__white;
		border-left: 1px solid $color__white;
		-webkit-transform: scale(1,0);
		transform: scale(1,0);
	}
	.entry-date {
		color: $color__white;
		display: block;
		font-size: 11px;
		left: 0;
		opacity: 0;
		text-align: center;
		-webkit-transition: opacity 0.05s;
		transition: opacity 0.05s;
	}
	&:hover {
		opacity: 1;
		-webkit-transition: opacity 0.35s;
		transition: opacity 0.35s;
	}
	&:hover:before, &:hover:after {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	&:hover .entry-title,
	&:hover .meta,
	&:hover .entry-date {
		opacity: 1;
	}
}
.td-wrapper {
	left: 8.5%;
	position: absolute;
	right: 8.5%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 99;
}
.trending-content .meta {
	opacity: 0;
	text-align: center;
	color: $color__white;
	-webkit-transition: opacity 0.05s;
	transition: opacity 0.05s;
	> div {
		padding: 0 5px;
	}
}
.trending-content .post-comment {
	display: inline-block;
	font-size: 11px;
	&:before {
		content: "\f0e5";
		font-family: FontAwesome;
		margin-right: 3px;
	}
}
.trending-content .post-view {
	font-size: 11px;
	display: inline-block;
	&:before {
		content: "\f06e";
		font-family: FontAwesome;
		margin-right: 3px;
	}
}
.trending-content .entry-title {
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.05s;
	transition: opacity 0.05s;
	position: relative;
	color: $color__white;
	font-size: 16px;
	margin: 5px 0;
}
.trending-content figcaption .td-more {
	font-size: 0;
	opacity: 0;
	text-indent: 200%;
	white-space: nowrap;
	z-index: 1000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#trending-post.owl-theme .owl-controls {
	margin-top: 15px;
	margin-bottom: -25px;
}