/*--------------------------------------------------------------
# Footer Top
--------------------------------------------------------------*/
#footer-top {
	text-align: center;
	background: $color__white;
	margin-top: 90px;
	.widget {
		background: transparent;
		border: 0;
		margin: 0 !important;
		padding: 0;
		.widget-title-area {
			margin-bottom: 0.2em;
		}
		.widget-title {
			background: transparent;
		   	font-weight: bold;
		    margin: 20px 0;
			padding: 0;
			&:before, &:after {
				border: 0 none;
				content: "";
			}
		}
	}
	.jr-insta-thumb {
		background: $color__white;
		img {
			&:hover {
				opacity: 0.8;
			}
		}
	}
}
#footer-top #instafeed .list {
    display: inline-block;
    width: 16.66%;
}
/*--------------------------------------------------------------
# Footer Middle
--------------------------------------------------------------*/
#footer-middle {
	padding: 60px 0;
	background: $color__footer-bg;
	color: $color__footer;
	.widget {
		background: transparent;
		border: none;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		.widget-title {
			background: transparent;
			color: $color__white;
			> span {
				background: $color__footer-bg;
			}
		}
		h1, h2, h3, h4, h5, h6 {
			color: $color__footer;
		}
		.popular-item-meta, .recent-item-meta {
			color: $color__meta-footer;
		}
		input:-webkit-autofill, 
		textarea:-webkit-autofill, 
		select:-webkit-autofill {
			-webkit-text-fill-color: $color__footer !important;
		}
		input:-webkit-autofill:focus {
			-webkit-text-fill-color: $color__footer !important;
		}
	}
	ul li {
		border-color: $color__border-five;
	}
	table,
	td, 
	th, 
	td {
		border-color: $color__border-five;
	}
	.widget .widget-title::before, 
	.widget .widget-title::after {
		border-color: $color__border-five; 
	}
	.widget_tag_cloud .tagcloud a {
		border-color: $color__border-five;
		color: $color__footer;
		&:hover {
			color: $color__white;
		}
	}
	.follow-us-area .follow-link .fa {
		border-color: $color__border-five;
	}
	.widget_categories ul li, 
	.widget_archive ul li {
		color: $color__footer;
	}
	.widget_categories ul li .count, 
	.widget_archive ul li .count {
		background: transparent;
		border: 1px solid $color__border-five;
	}
	.form-controller {
		border-color: $color__border-five;
		background: transparent;
	} 
}

/*--------------------------------------------------------------
# Footer Bottom
--------------------------------------------------------------*/
#footer-bottom {
	background: $color__footer-bg;
	color: $color__footer;
	font-size: em(15px);
	.container {
		border-top: 1px solid #303030;
		text-align: center;
		padding: 40px 15px;
	}
	.copyright {
		p {
			margin-bottom: 0;
			word-spacing: 0.05em;
		}
		a {
			color: inherit;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.footer-social {
		margin-top: 12px;
		> a {
			padding: 0 8px;
		}
	}
}
/*--------------------------------------------------------------
# Scroll Top
--------------------------------------------------------------*/
.topbutton {
	background: $color__white;
	border: 1px solid;
	bottom: 50px;
	display: block;
	height: 40px;
	line-height: 42px;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 40px;
}