/*--------------------------------------------------------------
# Pre-Loader
--------------------------------------------------------------*/
.preloader {
    background: $color__white; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    z-index: 999999;
    .loader {
        top: 40%;
        position: relative;  
        i {
            font-size: 3em;
        }       
    }
}
.preloader-logo {
    position: relative;
    top: 20%;
    img {
        margin: auto;
    }
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
    background: $color__white;
}
.header-content {
    text-align: center;
    clear: both;
    display: block;
    position: relative;
    padding: 75px 0;
    .site-logo {
        display: inline-block;
        position: relative;
        z-index: 5;
        img {
            max-width: 100%;
        }
    }
    .site-logo {
        max-width: 50%;
    }
    .search-social {
        display: inline-block;
        height: 60px;
        position: absolute;
    }
}
.search-social .search {
    display: inline-block;
    float: right;
    position: relative;
    top: 50%;
    margin-top: -12px;
}
.search.default {
    max-width: 200px;
}
.center {
    .search-social {
        left: 0;
        top: 50%;
        @include prefixed(transform, translateY(-50%));
        width: 100%;
        padding: 0 15px;
    }
}
.search .form-control {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #888;
    font-size: 14px;
    font-weight: 300;
    outline: medium none;
    height: 45px;
    margin-top: -12px;
}
.search.default button, 
.search.dropdown .btn {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    outline: none;
    transition: all 0.2s ease 0s;
    position: absolute;
    right: 0;
    top: 0;
}
.search.default i, 
.search.dropdown .btn i {
    color: #222;
    font-size: 20px;
}
#dsearch {
    display: none;
    border-bottom: 1px solid #f0f0f0;
}
.share-button {
    float: left;
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 19px 0 0;
    @include prefixed(transition, all 0.3s ease 0s);
    i {
        color: #222;
        font-size: 20px; 
    }
}
.share-button:hover {
    background: transparent;
}
#top-social {
    float: left;
    height: 25px;
    left: 13px;
    overflow: hidden;
    position: relative;
    top: 19px;
    display: none;
    a {
        @include prefixed(transition, all 0.4s ease-in);
        padding: 0 8px;
    }
}
.header-mobile {
    display: none;
}
#mbtop-social {
    text-align: center;
    padding: 15px 0;
    a {
        padding: 0 5px;
    }
}
.mbsearch-social {
    .search.default {
        max-width: 100%;
    }
    padding: 20px 0;
}
#mobile-social {
    display: none;
}
.search.default .btn.td .fa-search::before {
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 20px;
}