/*
Theme Name: Glimmer
Theme URI: http://demo.softhopper.net/glimmer
Author: SoftHopper
Author URI: http://softhopper.net
Description: Multipurpose One Page Wordpress Theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:  two-columns, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images,  post-formats, sticky-post, threaded-comments, translation-ready
Text Domain: glimmer
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Glimmer is based on Underscores http://underscores.me/, (C) 2012-2015 Automatic, Inc.
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1. Accessibility
2. Clearings
3. Posts and pages
4. Asides
5. Comments
6. Infinite scroll
7. Media
8. Captions
9. Galleries
10. Widget Calender
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1. Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
}
/*--------------------------------------------------------------
2. Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after { clear: both }
/*--------------------------------------------------------------
3. Posts and pages
--------------------------------------------------------------*/
.sticky { display: block }
.hentry { }
.byline,
.updated:not(.published) { display: none }
.single .byline,
.group-blog .byline { display: inline }
.page-content,
.entry-content,
.entry-summary { margin: 1.5em 0 0 }
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}
/*--------------------------------------------------------------
4. Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title { display: none }
/*--------------------------------------------------------------
5. Comments
--------------------------------------------------------------*/
.comment-content a { word-wrap: break-word }
.bypostauthor { display: block }
/*--------------------------------------------------------------
6. Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
/* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer { display: block }
/*--------------------------------------------------------------
7. Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object { max-width: 100% }
/*--------------------------------------------------------------
8. Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
}
.wp-caption-text { text-align: center }
.wp-caption .wp-caption-text { margin: 0.8075em 0 }
/*--------------------------------------------------------------
9. Galleries
--------------------------------------------------------------*/
.gallery { margin-bottom: 1.5em }
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-columns-2 .gallery-item { max-width: 50% }
.gallery-columns-3 .gallery-item { max-width: 33.33% }
.gallery-columns-4 .gallery-item { max-width: 25% }
.gallery-columns-5 .gallery-item { max-width: 20% }
.gallery-columns-6 .gallery-item { max-width: 16.66% }
.gallery-columns-7 .gallery-item { max-width: 14.28% }
.gallery-columns-8 .gallery-item { max-width: 12.5% }
.gallery-columns-9 .gallery-item { max-width: 11.11% }
.gallery-caption { display: block }
/*--------------------------------------------------------------
9. Widget Calender
--------------------------------------------------------------*/
.widget_calendar { }
#wp-calendar {
    width: 100%;
    border-collapse: separate !important;
}
#wp-calendar thead { font-size: 10px }
#wp-calendar thead th {
    padding-bottom: 10px;
    text-align: center;
}
#wp-calendar tbody { color: #424d5c }
#wp-calendar tbody td {
    background: #f2f2f2;
    border: 1px solid #fff;
    text-align: center;
    padding: 8px;
}
#wp-calendar tbody td a {
    font-weight: bold;
    color: #ee4c62;
}
#wp-calendar tbody td a:hover { color: #fff }
#wp-calendar tbody td:hover {
    background: #424d5c;
    color: #fff;
}
#wp-calendar tbody tr td.pad:hover {
    background: transparent;
    color: #fff;
}
#wp-calendar tbody#wp-calendar caption {
    color: #424d5c;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
tr td#today {
    background: #ee4c62;
    color: #fff !important;
}
#wp-calendar tbody tr td#today:hover a { color: #fff }
#wp-calendar tbody .pad { background: none }
#wp-calendar tfoot #next {
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    font-weight: 600;
}
#wp-calendar tfoot #prev {
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: 600;
}