.overlapblackbg {
    display: none;
}
.top-menu {
    font-family: $font__heading;
    border-top: 1px solid $color__border-one;
    border-bottom: 1px solid $color__border-one;
}
.menu-wrapper {
    color: $color__white;
    position: relative;
    padding: 0;
    margin: 0px auto;
    width: 100%;
    max-width: 1140px;
    background-color: $color__white;
}
.menu-list {
    text-align: left;
    margin: 0 auto;
    padding: 0;
    display: table;
    width: 100%;
    > li {
        text-align: center;
        display: table-cell;
    }
    li {
        &:first-child a {
            border-left: 0;
        }
        &:last-child a {
            border-right: 0;
        }
    }
    > a .fa {
        display: inline-block;
        font-size: 14px;
        line-height: inherit;
        margin-right: 0;
    }
    li {
        ul li a .fa.fa-angle-double-right {
            font-size: 12px;
            margin: 0 3px 0 -4px;
        }
        a .arrow:after {
            border-left: 4px solid rgba(0, 0, 0, 0);
            border-right: 4px solid rgba(0, 0, 0, 0);
            border-top: 4px solid #b3b3b3;
            content: "";
            float: right;
            height: 0;
            margin: 0 0 0 9px;
            position: absolute;
            text-align: right;
            top: 22px;
            width: 0;
        }
    }
}
.top-menu {
    .menu-list {
        > li > a {
            display: block;
            background-color: $color__white;
            padding: 5px 35px;
            line-height: 60px;
            text-decoration: none;
            position: relative;
            font-weight: 700;
            color: $color__menu-text;
            vertical-align: middle;
            @include prefixed(transform, translateZ(0));
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            @include prefixed(backface-visibility, hidden);
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                top: 0;
                height: 3px;
                @include prefixed(transform, translateY(-4px));
                @include prefixed(transition-property, transform);
                @include prefixed(transition-duration, 0.3s);
                @include prefixed(transition-timing-function, ease-out);
            }
            &:after {
                content: "//";
                position: absolute;
                right: 0;
                color: $color__border-three;
                font-weight: bold;
            }
            &:hover, &:active, &:focus, &.active {
                &:before {
                    @include prefixed(transform, translateY(0));
                }
            }
        }
        > li.current-menu-item,
        > li.current-menu-ancestor {
            > a:before {
                @include prefixed(transform, translateY(0));
            }
        }
        > li:last-child > a::after {
            content: "";
        }        
    }
}
.menu-click {
    display: none;
}
.menuexpandermain {
    display: none;
}
.top-menu > .menu-wrapper > ul > li {
    position: relative;
}
.mrgtop {
    margin-top: 15px;
}
/* Default Color */
.menu-list {
    li:hover>a,
    > li > a:hover,
    > li > a.active {
        background-color: rgba(0, 0, 0, 0) !important;
        text-decoration: none;
    }
}

/* Sub Menu CSS */
.menu-submenu {
    position: absolute;
    top: 70px;
    z-index: 1000;
    margin: 0;
    padding: 2px;
    border: solid 1px $color__border-one;
    background-color: $color__white;
    opacity: 0;
    font-family: $font__body;
    @include prefixedallon(transform-origin, 0% 0%);
    @include prefixed_double(transition, transform 0.3s, opacity 0.3s);
    li {
        position: relative;
        a {
            background: $color__white;
            background-image: none !important;
            color: $color__menu-text !important;
            border-right: 0 none !important;
            text-align: left;
            display: block;
            line-height: 1.5em;
            padding: 10px 20px;
            text-transform: none;
            font-size: 13px;
            letter-spacing: normal;   
        }
    }
}

.menu-list {
    .menu-submenu {
       min-width: 220px; 
    }
    li:hover .menu-submenu,
    .menu-submenu li:hover .menu-submenu-sub {
        display: block;
    }
    .menu-submenu .menu-submenu,
    .menu-submenu .menu-submenu .menu-submenu {
        min-width: 220px;
        position: absolute;
        left: 100%;
        top: -1px;
        margin: 0;
        padding: 2px;
        opacity: 0;
        z-index: 300;
        @include prefixedallon(transform-origin, 0% 0%);
        @include prefixed_double(transition, transform 0.4s, opacity 0.4s);
    }
    .menu-submenu li:hover .menu-submenu,
    .menu-submenu .menu-submenu li:hover .menu-submenu {
        opacity: 1;
        list-style: none;
        background-color: $color__white;
    }
}
.menu-submenu li {
    position: relative;
    display: block;
}

/*Animation*/
.menu-list {
    li {
        > .menu-submenu {
            @include prefixedallon(transform-style, preserve-3d);
            @include prefixed(transform, rotateX(-90deg));
            visibility: hidden;
        }
        &:hover {
            > .menu-submenu {
                @include prefixed(transform, rotateX(0deg));
                opacity: 1;
                visibility: visible;
            }    
        }
    }
}
.menu-submenu > li > a:hover,
.menu-submenu .menu-submenu > li > a:hover,
.menu-submenu .menu-submenu .menu-submenu > li > a:hover {
    background-color: rgba(0, 0, 0, 0.04) !important;
    @include prefixed(border-radius, 0!important);
    @include prefixed(transition, background 0.2s ease);
    text-decoration: none;
}