/*--------------------------------------------------------------
# Pre-Loader
--------------------------------------------------------------*/
.preloader {
    background: $color__white; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    z-index: 999999;
    .loader {
        top: 40%;
        position: relative;  
        i {
            font-size: 3em;
        }       
    }
}
.preloader-logo {
    position: relative;
    top: 20%;
    img {
        margin: auto;
    }
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
#header-top {
    background: $color__white;
    padding: 5px 0;
    .header-search {
        float: left;
    }
    .header-search .form-control {
        border: 0 none;
        border-radius: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
    }
    .header-social {
        float: right;
    }
    .header-social > a {
        line-height: 35px;
        font-size: 13px;
        padding: 0 5px;
    }
    .header-social > a:last-child {
        padding-right: 0;
    }
}

#glimmer-search-result {
    background: $color__white;
    position: absolute;
    top: 45px;
    z-index: 999;
    border: 1px solid #f0f0f0;
    .post-amount {
        border-bottom: 1px solid #f0f0f0;
        font-size: 13px;
        margin-bottom: 10px;
        padding: 15px 22px;
        text-align: center;
    }
    .results {
        padding: 5px 20px;
    }
    p {
        margin: 0;
    }
    .results i {
        font-size: 9px;
        padding-right: 10px;
        position: relative;
        top: -3px;
    }
    .results:last-child {
        padding-bottom: 20px;
    }
}

#header-middle {
    background: $header__footer-bg;
    padding: 45px 0 60px;
    position: relative;
    .row {
        text-align: center;
    }
    #nav-left {
        float: left;
        margin-top: 73px;
        width: 33.5%;
    }
    #site-logo {
        float: left;
        width: 29.5%;
        margin-left: 25px;
        display: inline-block;
    }
    #site-logo img {
        max-width: 310px;
    }
    #nav-right {
        float: right;
        margin-top: 73px;
        width: 33.5%;
    }
}
.header-content {
    text-align: center;
    clear: both;
    display: block;
    position: relative;
    border-bottom: 1px solid $color__border-dark-two;
    .site-branding {
        padding: 75px 0;
    }
    .site-logo {
        display: inline-block;
        position: relative;
        z-index: 5;
        img {
            max-width: 100%;
        }
    }
    .site-logo {
        max-width: 50%;
    }
    .search-social {
        display: inline-block;
        height: 60px;
        position: absolute;
    }
}
.search-social .search {
    display: inline-block;
    float: right;
}
.search.default {
    max-width: 200px;
}
.search.default button, 
.search.dropdown .btn {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    outline: none;
    transition: all 0.2s ease 0s;
}
.search.default i, 
.search.dropdown .btn i {
    color: #6b6d6d;
    font-size: 15px;
}