.feature-area {
	display: block;
	background-color: $color__white;
	overflow: hidden;
	#featured-item {
		position: relative;
		margin: 45px 0;
		.item img {
			height: auto;
			display: block;
			width: 100%;
		}
		.full-wrapper {
			position: relative;
			background-size: cover!important;
			background-position: center!important;
			background-repeat: no-repeat;
			display: table;
			height:100%;
			width:100%;
			vertical-align:middle;
			padding: 100px 50px;
			position: relative;
		}
		.image-extra {
			bottom: 0;
			display: table-cell;
			height: auto;
			left: 0;
			margin: auto;
			position: relative;
			right: 0;
			top: 0;
			vertical-align: middle;
			width: 100%;
			.extra-content {
				box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
				box-sizing: border-box;
				display: block;
				height: auto;
				margin: 0 auto;
				max-width: 520px;
				padding: 40px;
				position: relative;
				text-align: center;
				width: 100%;
				background: rgba($color__white, 0.2);
				z-index: 1;
				&:before {
					border: 1px solid $color__white;
					bottom: 0;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
					z-index: -1;
				}
			}
			.inner-extra {
				background: $color__white;
				padding: 45px 45px 27px;
				border: 1px solid $color__border-one;
				&:before {
					border: 1px solid $color__border-three;
					bottom: 0;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
					z-index: -1;
				}
				i {
					color: #c8c8c8;
				}
				h2 {
					margin: 10px 0;
					visibility: hidden;
					text-transform: capitalize;
					font-weight: bold;
					font-size: 26px;
				}
				h2, .entry-date, .entry-meta {
					@include prefixedallon(transition, all .3s);
					@include prefixedallon(transition-timing-function, ease);
					@include prefixedallon(transform, translate3d(0,20px,0));
					visibility:hidden;
					opacity:0
				}
				.cat-links {
					a:after {
						content: ",";
						margin: 0 4px;
					}
					a:last-child:after {
						content: "";
						margin-right: 0;
					}
				}
				.fet-read-more {
					background: $color__white;
					border: 1px solid $color__border-one;
					bottom: 0;
					display: inline-block;
					padding: 15px 20px;
					position: relative;
					top: 47px;
					font-size: 11px;
					font-weight: bold;
					line-height: normal;
					text-transform: uppercase;
					word-spacing: 0.2em;
					color: $color__heading;
					@include prefixedallon(transition,all 0.3s);
					@include prefixedallon(transition-timing-function,ease);
				}
				.fet-more-wrapper {
					@include prefixedallon(transform,scale(0));
					@include prefixedallon(transition,all 0.3s);
					@include prefixedallon(transition-timing-function,ease);
				}
			}
			.extra-content, 
			.extra-content::before {
				@include prefixedallon(transition,all 1s);
				@include prefixedallon(transition-timing-function,ease);
				opacity:0
			}
		}
		.owl-item.active .extra-content {
			@include prefixedallon(transition-delay, 0.1s);
			opacity:1
		}
		.owl-item.active .extra-content::before {
			@include prefixedallon(transition-delay, 0.2s);
			opacity:1
		}
		.owl-item.active .image-extra .inner-extra .entry-date {
			@include prefixedallon(transition-delay, 0.3s);
		}
		.owl-item.active .image-extra .inner-extra .entry-date,
		.owl-item.active .image-extra .inner-extra h2,
		.owl-item.active .image-extra .inner-extra .entry-meta {
			visibility:visible;
			opacity:1;
			@include prefixedallon(transform, translate3d(0,0,0));
		}
		.owl-item.active .image-extra .inner-extra h2 {
			@include prefixedallon(transition-delay, 0.4s);
		}
		.owl-item.active .image-extra .inner-extra .entry-meta {
			@include prefixedallon(transition-delay, 0.5s);
		}
		.owl-item.active .image-extra .inner-extra .fet-more-wrapper {
			@include prefixedallon(transform, scale(1));
			@include prefixedallon(transition-delay, 0.6s);
		}
	}
	.owl-controls .owl-buttons div {
		background: $color__white;
		font-size: 90px;
		margin: auto;
		padding: 10px;
		position: absolute;
		top: 50%;
		@include prefixed(transform,translate(0px, -50%));
		border-radius: 0;
		color: #c8c8c8;
		opacity: 0.8;
	} 
	.owl-controls .owl-buttons .owl-prev {
		left: -58px;
	}
	.owl-controls .owl-buttons .owl-next {
		right: -59px;
	}
	.owl-theme .owl-controls {
		margin-top: 0;
	}
}
#featured-item .owl-item.active .image-extra .inner-extra .fet-read-more {
	&:hover {
		color: $color__white;
	}
}