/*--------------------------------------------------------------
# Footer Top
--------------------------------------------------------------*/
#footer-top {
	text-align: center;
	background: $color__white;
	margin-top: 90px;
	.widget {
		background: transparent;
		border: 0;
		margin: 0 !important;
		padding: 0;
		font-size: 18px;
		.widget-title-area {
			margin-bottom: 0.2em;
		}
		.widget-title {
			background: transparent;
		   	font-weight: bold;
		    margin: 20px 0;
			padding: 0;
			> span:before {
				background: transparent;
				border: none;
			}
			> span {
				border: none;
				box-shadow: 0 3px 2px rgba(0, 0, 0, 0);
			}
		}
		&:hover .widget-title {
			color: inherit;
		}
	}
}
#footer-top #instafeed .list {
    display: inline-block;
    width: 16.66%;
}
/*--------------------------------------------------------------
# Footer Middle
--------------------------------------------------------------*/
#footer-middle {
	padding: 60px 0;
	background: $color__footer-bg;
	color: $color__footer;
	.widget {
		background: transparent;
		border: none;
		padding-top: 15px;
		padding-bottom: 0;
		margin-bottom: 0;
		.widget-title {
			background: transparent;
			color: $color__white;
			text-align: left;
			padding: 0;
			margin-bottom: 15px;
			font-size: 18px;
			> span {
				background: transparent;
				padding: 0;
			}
			> span:before {
				background: transparent;
				border: none;
			}
			> span {
				border: none;
				box-shadow: 0 3px 2px rgba(0, 0, 0, 0);
			}
		}
		h1, h2, h3, h4, h5, h6 {
			color: $color__footer;
		}
		.recent-item-meta {
			color: $color__meta-footer;
		}
	}
	ul li {
		border-color: $color__border-five;
	}
	.widget_tag_cloud .tagcloud a {
		border-color: $color__border-five;
		color: $color__footer;
		&:hover {
			color: $color__white;
		}
	}
	.follow-us-area .follow-link .fa {
		border-color: $color__border-five;
	}
	.form-controller {
		border-color: $color__border-five;
		background: transparent;
		height: 45px;
	}
}

/*--------------------------------------------------------------
# Footer Bottom
--------------------------------------------------------------*/
#footer-bottom {
	background: $color__footer-bg;
	color: $color__footer;
	font-size: em(15px);
	.container {
		border-top: 1px solid #303030;
		text-align: center;
		padding: 40px 15px;
	}
	.copyright {
		p {
			margin-bottom: 0;
			word-spacing: 0.05em;
		}
		a {
			color: inherit;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.footer-social {
		margin-top: 12px;
		> a {
			padding: 0 8px;
		}
	}
}
/*--------------------------------------------------------------
# Scroll Top
--------------------------------------------------------------*/
.topbutton {
	background: $color__white;
	border: 1px solid #c8c8c8;
	color: #c8c8c8;
	bottom: 50px;
	display: block;
	height: 40px;
	line-height: 42px;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 40px;
}