$color__white: #ffffff;
$color__black: #000000;
$color__black-rgba: rgba(0,0,0,0.2);
$color__background-screen: #f1f1f1;
$color__background-main: #f5f5f5;

$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__text-main: #505050;
$color__text-heading: #333333;
$color__text-heading-two: #6f6f6f;
$color__text-meta: #787878;
$color__text-widget: #6e6e6e;
$color__text-meta: #9c9c9c;

$color__border-main: #f0f0f0;
$color__border-post: #eeeeee;
$color__border-dark: #d6d6d6;
$color__border-dark-two: #dddddd;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__theme-main: #c69f73;
$color__theme-main-hover: #cfb292;
$color__theme-main-rgba: #c69f73;
