$nameSpace: 'item' !default;
$widget_name_one: 'latest';
$widget_name_one: 'popular';
$includeClasses: true !default;


// for on off Browser prefix
$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;