/*
Theme Name: Josopine
Theme URI: http://softhopper.net
Author: SoftHopper
Author URI: http://softhopper.net
Description: It\' s a Ghost-blog theme. Which is a unique feature and user competitive feature.
Version: 1.0
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
	## Post, Page, Comments Table
# Forms
# Navigation
	## Links
	## Menus
	## Pagination
	## Navigation responsive
		### Mobile CSS
		### Pagination responsive
# Clearings
# Widgets
#layouts
	## Header Content
		### Pre-Loader
		### Site Header
	## Featured Content
	## Main Content
		### Single Post Footer
		### Single Post Navigation
		### Category Section Heading
		### Post Author Info 
		### Related Post 
	## Widget-content
		### About widget
		### Latest widget
		### TagCloud Widget
		### Follow Us Widget
		### About And Contact Widget
		### Search Widget
		### Advertisement Widget
		### NavMenu Widget
		### Email Subscribe Widget
		### Flickr Widget Plugin Fix
	## Footer Content
		### Footer Top
		### Footer Middle
		### Footer Bottom
		### Scroll Top
	## Layout Responsive
		### Header Responsive
		### Featured Responsive
		### Content Area Responsive
		### Post author-info Responsive
		### Footer Responsive
# Site Content
    ## Posts and pages
    	### Page Heading
    	### Post Meta
    	### Post Format
	## Asides
	## Comments
	## About Page
	## Contact Page
	## 404 Page
	## Site Responsive
		### Post Format Responsive
		### Comment and Contact Form Responsive
		### Contact Page Responsive
		### 404 page Responsive
# Media
	## Galleries
		### Post-gallery One
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
  font-size: 100%;
}

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.45em;
  color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Playfair Display", serif;
  line-height: 1.4em;
  color: #3d3d3d;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-weight: inherit;
}

h1 {
  font-size: 2.441em;
  margin: 0 0 1.875em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

small, .font_small {
  font-size: 0.8em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: inherit;
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted black;
}

.entry-content h1 {
  margin-bottom: 10px;
}

.widget-title {
  font-size: 16px;
  letter-spacing: 0.05em;
  word-spacing: 0.025em;
}

::-moz-selection {
  color: white;
  display: inline-block;
  text-shadow: none;
}

::selection {
  color: white;
  display: inline-block;
  text-shadow: none;
}

p {
  margin-bottom: 1.875em;
  line-height: 1.75em;
}

blockquote {
  margin: 0 0 1.3em;
}

address {
  margin: 0 0 1.3em;
}

dfn, em, cite, i, code, kbd, tt, var {
  font-size: 1em;
}

em, cite, i {
  font-style: italic;
}

abbr, acronym {
  border-bottom: 1px dotted #666666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

pre {
  background: transparent;
  padding: 0;
  max-width: 100%;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  border: 0 none;
  font-size: 0.929em;
  overflow: auto;
}

pre code:parent {
  border-left: none;
}

pre code {
  background: transparent;
}

.dropcap {
  display: block;
  float: left;
  margin: 15px 5px 0 0;
  font-weight: bold;
  font-size: 60px;
  color: #ccc;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  background: #f7f7f7;
  /* Fallback for when there is no custom background color defined. */
  word-wrap: break-word;
}

q {
  quotes: "" "";
}
q:before, q:after {
  content: "";
}

blockquote {
  margin-left: 50px !important;
  border: 0;
  padding: 0;
  font-style: italic;
  font-size: 1.25em;
  position: relative;
  border-left: 5px solid #ebebeb;
}
blockquote:before {
  content: "";
  display: block;
  height: auto;
  left: -50px;
  margin-top: -35px;
  padding-top: 0.7em;
  position: absolute;
  top: 50%;
  content: "\f10d";
  font-style: normal;
  font-family: FontAwesome;
  font-size: 1.563em;
}
blockquote p {
  padding: 0 1em;
  margin-bottom: 10px;
  position: relative;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote p cite {
  margin-left: 0;
  padding-left: 0;
}
blockquote cite, blockquote a, blockquote span {
  padding: 0 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-style: normal;
  position: relative;
}
blockquote cite {
  display: block;
}
blockquote cite::before {
  content: "--";
  padding-right: 5px;
}

blockquote .small::before,
blockquote footer::before,
blockquote small::before,
blockquote .font_small::before {
  margin-left: 18px;
}

.single-post blockquote {
  margin: 1.5em 0;
}

ul, ol {
  padding-left: 0.9em;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  border: 1px solid #e5e5e5;
}

th, td {
  border: 1px solid #e5e5e5;
}

td {
  border-width: 0 1px 1px 0;
}

/*--------------------------------------------------------------
# Post, Page, Comments Table
--------------------------------------------------------------*/
.site-main .post li, .site-main .page li, .site-main #comments li {
  line-height: 1.3em;
}
.site-main .post table, .site-main .page table, .site-main #comments table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-left: none;
}
.site-main .post table tbody tr.odd, .site-main .page table tbody tr.odd, .site-main #comments table tbody tr.odd {
  background: white;
}
.site-main .post table th, .site-main .post table td,
.site-main .post table td, .site-main .page table th, .site-main .page table td,
.site-main .page table td, .site-main #comments table th, .site-main #comments table td,
.site-main #comments table td {
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  line-height: 18px;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

/* Overlay */
.hr-line {
  margin-top: 25px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #f0f0f0;
  position: relative;
}
.hr-line:after {
  background: #c8c8c8 none repeat scroll 0 0;
  content: "";
  height: 3px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -2px;
  width: 45px;
}

.devider {
  padding: 0 20px;
}

/* Some border */
.small-border {
  display: block;
  height: 2px;
  margin: 0.5em 0.8em;
  width: 90px;
}

.ex-small-border {
  display: block;
  height: 1px;
  margin: 0.5em auto 0.8em;
  width: 200px;
  background: #d6d6d6;
  position: relative;
}
.ex-small-border:after {
  content: "";
  height: 3px;
  left: 50%;
  margin-left: -38px;
  position: absolute;
  top: -1px;
  width: 80px;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
  font-size: 11px;
  padding: 12px 30px;
  color: white;
  line-height: normal;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

input[type="submit"] {
  font-weight: bold;
  border: 1px solid;
  text-transform: uppercase;
  background: white;
  color: #5a5a5a;
}
input[type="submit"]:hover {
  color: white;
}

button, input[type="button"], input[type="reset"], input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}

button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button a, input[type="button"] a, input[type="reset"] a, input[type="submit"] a {
  color: white;
}

.search-form .btn, .searchform .btn {
  border-radius: 0;
}
.search-form .btn:hover, .searchform .btn:hover {
  color: white;
  text-decoration: none;
}
.search-form .btn:focus, .searchform .btn:focus {
  background: transparent;
  color: white;
  outline: 0 none;
}
.search-form .btn:active:focus, .searchform .btn:active:focus {
  background: transparent;
  color: white;
  outline: 0 none;
}

.btn {
  border-radius: 0;
}

.btn-default {
  color: #5a5a5a;
}
.btn-default:hover {
  color: #5a5a5a;
}

.more-link {
  font-size: 11px;
  font-weight: bold;
  width: 175px;
  height: 50px;
  line-height: 46px;
  text-transform: uppercase;
  word-spacing: 0.2em;
  color: #3d3d3d;
  display: table;
  margin: 30px auto 0;
  background-color: #c8c8c8;
  vertical-align: middle;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: color 0.45s ease;
  transition: color 0.45s ease;
}
.more-link > span {
  background-color: #fff;
  text-align: center;
  display: block;
  margin: 2px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.more-link:hover, .more-link:focus, .more-link:active:focus {
  text-decoration: none !important;
}
.more-link:before, .more-link:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s,-webkit-transform 0.5s;
  transition: opacity 0.35s,transform 0.5s;
}
.more-link:before {
  border-bottom: 2px solid;
  border-top: 2px solid;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}
.more-link:after {
  border-right: 2px solid;
  border-left: 2px solid;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
}
.more-link:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.more-link:hover:before, .more-link:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.comment-reply-link {
  padding: 6px 22px;
  margin-top: 22px;
  font-size: 11px;
  line-height: normal;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid;
}
.comment-reply-link:hover {
  color: white;
}

.comment-navigation .nav-links a {
  background: white;
  display: inline-block;
  padding: 0.5em 1.8em;
  letter-spacing: 0.02em;
}
.comment-navigation .nav-links a:hover {
  color: white;
}

.go-button {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  width: 192px;
  height: 40px;
  line-height: 40px;
  border: 1px solid;
}
.go-button:hover {
  color: white;
}

.entry-content .btn {
  border-radius: 1px;
  letter-spacing: 0;
  line-height: 1.7em;
}

.mfp-wrap button:hover, .mfp-wrap input[type="button"]:hover, .mfp-wrap input[type="reset"]:hover, .mfp-wrap input[type="submit"]:hover {
  background: transparent !important;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 0.5em 1em;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent url("images/select2.png") no-repeat scroll 95% 50%;
}
select option[selected] {
  color: white;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: #5a5a5a !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: #5a5a5a !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  display: block;
  width: 100%;
  font-size: 0.8em;
  padding-left: 3px;
  display: block;
}

input,
select,
textarea {
  margin: 0;
  border: none;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: 400;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* Placeholder Color */
::-webkit-input-placeholder {
  color: darkgray;
}

:-moz-placeholder {
  color: darkgray;
  opacity: 1;
}

::-moz-placeholder {
  color: darkgray;
  opacity: 1;
}

:-ms-input-placeholder {
  color: darkgray;
}

/* Form Controls */
.form-controller {
  font-size: 0.8em;
  border: 1px solid #ebebeb;
  background: white;
  width: 100%;
  padding: 0.5em 1em;
  outline: none;
}
.form-controller:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Post password Form */
.post-password-form input[type="password"] {
  font-size: 11px;
  border: 1px solid #f0f0f0;
  outline: none;
}
.post-password-form input[type="submit"] {
  padding: 11px 15px;
  position: relative;
  top: -1px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: inherit;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.overlapblackbg {
  display: none;
}

.top-menu {
  font-family: "Playfair Display", serif;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.menu-wrapper {
  color: white;
  position: relative;
  padding: 0;
  margin: 0px auto;
  width: 100%;
  max-width: 1140px;
  background-color: white;
}

.menu-list {
  text-align: left;
  margin: 0 auto;
  padding: 0;
  display: table;
  width: 100%;
}
.menu-list > li {
  text-align: center;
  display: table-cell;
}
.menu-list li:first-child a {
  border-left: 0;
}
.menu-list li:last-child a {
  border-right: 0;
}
.menu-list > a .fa {
  display: inline-block;
  font-size: 14px;
  line-height: inherit;
  margin-right: 0;
}
.menu-list li ul li a .fa.fa-angle-double-right {
  font-size: 12px;
  margin: 0 3px 0 -4px;
}
.menu-list li a .arrow:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #b3b3b3;
  content: "";
  float: right;
  height: 0;
  margin: 0 0 0 9px;
  position: absolute;
  text-align: right;
  top: 22px;
  width: 0;
}

.top-menu .menu-list > li > a {
  display: block;
  background-color: white;
  padding: 5px 35px;
  line-height: 60px;
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: #282828;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.top-menu .menu-list > li > a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  height: 3px;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.top-menu .menu-list > li > a:after {
  content: "//";
  position: absolute;
  right: 0;
  color: #e5e5e5;
  font-weight: bold;
}
.top-menu .menu-list > li > a:hover:before, .top-menu .menu-list > li > a:active:before, .top-menu .menu-list > li > a:focus:before, .top-menu .menu-list > li > a.active:before {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.top-menu .menu-list > li.current-menu-item > a:before,
.top-menu .menu-list > li.current-menu-ancestor > a:before {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.top-menu .menu-list > li:last-child > a::after {
  content: "";
}

.menu-click {
  display: none;
}

.menuexpandermain {
  display: none;
}

.top-menu > .menu-wrapper > ul > li {
  position: relative;
}

.mrgtop {
  margin-top: 15px;
}

/* Default Color */
.menu-list li:hover > a,
.menu-list > li > a:hover,
.menu-list > li > a.active {
  background-color: transparent !important;
  text-decoration: none;
}

/* Sub Menu CSS */
.menu-submenu {
  position: absolute;
  top: 70px;
  z-index: 1000;
  margin: 0;
  padding: 2px;
  border: solid 1px #ebebeb;
  background-color: white;
  opacity: 0;
  font-family: "Lato", sans-serif;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.3s,opacity 0.3s;
  transition: transform 0.3s,opacity 0.3s;
}
.menu-submenu li {
  position: relative;
}
.menu-submenu li a {
  background: white;
  background-image: none !important;
  color: #282828 !important;
  border-right: 0 none !important;
  text-align: left;
  display: block;
  line-height: 1.5em;
  padding: 10px 20px;
  text-transform: none;
  font-size: 13px;
  letter-spacing: normal;
}

.menu-list .menu-submenu {
  min-width: 220px;
}
.menu-list li:hover .menu-submenu,
.menu-list .menu-submenu li:hover .menu-submenu-sub {
  display: block;
}
.menu-list .menu-submenu .menu-submenu,
.menu-list .menu-submenu .menu-submenu .menu-submenu {
  min-width: 220px;
  position: absolute;
  left: 100%;
  top: -1px;
  margin: 0;
  padding: 2px;
  opacity: 0;
  z-index: 300;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.4s,opacity 0.4s;
  transition: transform 0.4s,opacity 0.4s;
}
.menu-list .menu-submenu li:hover .menu-submenu,
.menu-list .menu-submenu .menu-submenu li:hover .menu-submenu {
  opacity: 1;
  list-style: none;
  background-color: white;
}

.menu-submenu li {
  position: relative;
  display: block;
}

/*Animation*/
.menu-list li > .menu-submenu {
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  visibility: hidden;
}
.menu-list li:hover > .menu-submenu {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}

.menu-submenu > li > a:hover,
.menu-submenu .menu-submenu > li > a:hover,
.menu-submenu .menu-submenu .menu-submenu > li > a:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
  border-radius: 0 !important;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  text-decoration: none;
}

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
.navigation {
  padding-top: 0.6em;
  z-index: 1;
  font-size: 0.8em;
}
.navigation:before, .navigation:after {
  content: " ";
  display: table;
}
.navigation:after {
  clear: both;
}
.navigation .nav-links {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.navigation .nav-links a {
  font-weight: bold;
}
.navigation .nav-links > li {
  display: inline-block;
  margin: 0 2px;
}
.navigation .nav-links > li:first-child, .navigation .nav-links > li:last-child {
  margin: 0;
}
.navigation .nav-links > li a, .navigation .nav-links > li span {
  padding: 8px 12px;
  background: white;
}
.navigation .nav-links > li .ico-right-angle, .navigation .nav-links > li .ico-left-angle {
  font-size: 0.6em;
}
.navigation .nav-links > li a > span {
  padding: 0;
  border: 0;
}
.navigation .nav-links > li span.page-numbers.dots {
  border: 0;
  background: transparent;
}
.navigation .nav-links > li a:hover {
  color: white;
}
.navigation .nav-links > li.active a, .navigation .nav-links > li.active span {
  color: white;
}
.navigation .nav-links li.page-numbers a:hover {
  background: white !important;
  color: inherit;
}
.navigation .nav-links li.nav-previous, .navigation .nav-links li.nav-next {
  background: white;
}
.navigation .nav-links li.nav-previous a, .navigation .nav-links li.nav-previous span, .navigation .nav-links li.nav-next a, .navigation .nav-links li.nav-next span {
  padding: 0;
  border: 0;
  display: inline-block;
}
.navigation .nav-links li.nav-previous a:hover, .navigation .nav-links li.nav-next a:hover {
  background: white;
}
.navigation .nav-links li.nav-previous {
  border: 0;
  margin-top: -6px;
}
.navigation .nav-links li.nav-previous span {
  padding: 12px;
}
.navigation .nav-links li.nav-previous a {
  display: inline-block;
}
.navigation .nav-links li.nav-previous span:first-child {
  height: 35px;
  line-height: 12px;
  width: 30px;
}
.navigation .nav-links li.nav-previous span:last-child {
  float: right;
  height: 35px;
  width: 100px;
  line-height: 10px;
  display: block;
  margin: 0;
  border-left: 0 !important;
}
.navigation .nav-links li.nav-previous:hover span {
  color: white;
}
.navigation .nav-links li.nav-previous:hover span:last-child {
  background: transparent !important;
}
.navigation .nav-links li.nav-previous.disabled > a {
  pointer-events: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.navigation .nav-links li.nav-next {
  border: 0;
  margin-top: -6px;
}
.navigation .nav-links li.nav-next span {
  padding: 12px;
}
.navigation .nav-links li.nav-next a {
  display: inline-block;
}
.navigation .nav-links li.nav-next span:first-child {
  float: left;
  height: 35px;
  width: 100px;
  line-height: 10px;
  display: block;
  margin: 0;
  border-right: 0 !important;
}
.navigation .nav-links li.nav-next span:last-child {
  height: 35px;
  line-height: 12px;
  width: 30px;
}
.navigation .nav-links li.nav-next:hover span {
  color: white;
}
.navigation .nav-links li.nav-next:hover span:first-child {
  background: transparent !important;
}
.navigation .nav-links li.nav-next.disabled > a {
  pointer-events: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
}

/* Pagination Color */
.navigation .nav-links > li a, .navigation .nav-links > li span {
  border: 1px solid #e6e6e6;
}
.navigation .nav-links li.nav-previous span {
  border: 1px solid #e6e6e6;
}
.navigation .nav-links li.nav-previous span:last-child {
  border: 1px solid #e6e6e6;
}
.navigation .nav-links li.nav-next span {
  border: 1px solid #e6e6e6;
}
.navigation .nav-links li.nav-next span:first-child {
  border: 1px solid #e6e6e6;
}

/* page link pagination */
.entry-content .page-links > a {
  border: 1px solid #ebebeb;
  font-size: 0.8em;
  padding: 0.4em 0.8em;
}

/*--------------------------------------------------------------
## Navigation Responsive
--------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
  .menu-list {
    padding-right: 26px;
  }
}
@media only screen and (min-width: 780px) and (max-width: 1023px) {
  .menu-list > li > a > .fa {
    display: none !important;
  }

  .menu-list li a {
    white-space: nowrap !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}
@media only screen and (min-width: 781px) and (max-width: 1200px) {
  .menu-list li a .arrow:after {
    display: none !important;
  }
}
/*--------------------------------------------------------------
# Mobile CSS
--------------------------------------------------------------*/
@media only screen and (max-width: 780px) {
  .menu-list > li:hover > a {
    background-color: rgba(0, 0, 0, 0.04) !important;
    text-decoration: none;
  }

  .top-menu .menu-list > li.current-menu-item > a,
  .top-menu .menu-list > li.current-menu-ancestor > a {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .overlapblackbg {
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
  }

  .overlapblackbg.menuopen {
    display: block;
  }

  /* Default Color */
  .menu-list li:hover .menu-submenu {
    display: none;
  }
  .menu-list li:hover .menu-submenu .menu-submenu {
    display: none;
  }

  .menu-list .menu-submenu .menu-submenu li:hover .menu-submenu {
    display: none;
    list-style: none;
    padding: 2px;
    border: solid 1px #ebebeb;
    background-color: white;
  }

  .menu-list li:first-child a {
    border-radius: 0;
  }

  .menu-list li:last-child a {
    border-right: 0;
    border-radius: 0;
  }

  .innerpnd {
    padding: 0 !important;
  }

  .menu-container {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    min-height: 800px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .menuexpandermain {
    display: block !important;
    position: relative;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  /* Mobile click to drop arrow */
  .menu-click {
    height: 43px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    z-index: 120;
  }
  .menu-click i {
    display: block;
    -webkit-background-size: 25px;
    background-size: 25px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.25);
    float: right;
    padding: 15px;
    -webkit-transition: -webkit-transform 0.1s ease;
    transition: transform 0.1s ease;
    border-left: 1px solid #e6e6e6;
  }

  .menu-extend.fa-plus::before {
    content: "\f068";
    font-family: FontAwesome;
  }

  /*2nd UL Style*/
  .menu-list .menu-submenu a {
    display: block;
    padding: 12px 25px;
    border-bottom: solid 1px #ebebeb;
    font-weight: normal;
  }

  .top-menu .menu-wrapper ul > li ul {
    border-top: 0 none;
    border-bottom: 0 none;
  }

  .menu-list .menu-submenu .menu-submenu {
    width: 100% !important;
    position: static !important;
    left: 100% !important;
    top: 0 !important;
    display: none;
    margin: 0 !important;
    padding: 0 !important;
    border: solid 0 !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .menu-list .menu-submenu .menu-submenu li {
    margin: 0 !important;
    padding: 0;
    position: relative;
  }

  .menu-submenu-sub li:hover > a {
    color: white;
  }

  .menu-list > li > a .fa {
    margin-right: 6px;
  }

  .menu-submenu .menu-submenu .menu-submenu {
    width: 100% !important;
    position: static !important;
    left: 100% !important;
    top: 0 !important;
    display: none;
    margin: 0 !important;
    padding: 0 !important;
    border: solid 0 !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    opacity: 1 !important;
    visibility: visible !important;
  }

  .menu-submenu .menu-submenu .menu-submenu li {
    margin: 0 !important;
  }

  .menu-submenu .menu-submenu .menu-submenu a {
    display: block;
    color: black;
    padding: 11px 25px;
    border-bottom: solid 1px #ebebeb;
    font-weight: normal;
  }

  .menu-submenu .menu-submenu .menu-submenu li:hover > a {
    color: #fff;
  }

  .top-menu {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
  }
  .top-menu .menu-wrapper .container {
    padding: 0;
  }
  .top-menu .menu-wrapper .row {
    margin: 0;
  }

  .top-menu .menu-list {
    height: 100%;
    display: block !important;
  }

  .top-menu .menu-list > li {
    width: 240px;
    display: block;
    float: none;
    border-right: none;
    background-color: transparent;
    position: relative;
    text-align: left;
    white-space: inherit;
  }

  .top-menu .menu-list > li > a::before {
    opacity: 0;
  }

  .top-menu .menu-list > li > a::after {
    position: relative;
    content: "";
  }

  .top-menu .menu-list > li > a {
    padding: 9px 32px 9px 17px;
    font-size: 0.875em;
    border-right: solid 0px;
    background-color: transparent;
    line-height: 25px;
    border-bottom: 1px solid #e6e6e6;
    position: static;
  }

  .top-menu > .menu-list > li > a > .fa {
    font-size: 16px;
    color: #bfbfbf;
  }

  .top-menu .menu-list li a .arrow:after {
    display: none !important;
  }

  .top-menu .menu-list li ul li a .fa.fa-caret-right {
    font-size: 12px !important;
    color: #8E8E8E;
  }

  .mobile-sub .menu-submenu {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    opacity: 1 !important;
    display: none;
    position: relative !important;
    top: 0px;
    background-color: white;
    border: solid 1px #e6e6e6;
    padding: 0px;
    visibility: visible !important;
  }

  .mobile-sub .menu-submenu .menu-submenu li a {
    line-height: 20px;
    font-size: 14px !important;
  }

  .mobile-sub .menu-submenu li .menu-submenu li a {
    padding-left: 28px;
  }

  .mobile-sub .menu-submenu .menu-submenu li a,
  .mobile-sub .menu-submenu .menu-submenu .menu-submenu li a {
    padding-left: 38px !important;
  }

  .mobile-sub .menu-submenu li .menu-submenu .menu-submenu {
    padding-left: 38px;
  }

  .menu-submenu .fa {
    margin-right: 0;
  }

  .mrginleft {
    margin-left: 240px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .top-menu {
    width: 0;
    height: 100%;
    position: fixed;
    left: 0;
    padding: 0;
    top: 0;
    margin: 0;
    z-index: 100;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: none !important;
    background-color: white !important;
  }

  /*Nav Expanding Open Effect*/
  .top-menu.menuopen {
    width: 240px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .top-menu.menuclose {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .menucontent {
    z-index: 100;
  }

  /* Navigation arrow Animation */
  .animated-arrow {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .menuexpandermain .menuopen {
    left: 240px !important;
    margin-top: 4px !important;
  }

  #menu-marker {
    width: 100%;
    display: block;
    padding-top: 25px;
    margin-left: 20px;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 75px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #282828;
  }

  .animated-arrow {
    cursor: pointer;
    padding: 13px 35px 16px 0px;
    margin: 22px 15px 0;
  }

  .animated-arrow.menuopen {
    position: fixed;
  }

  .animated-arrow span,
  .animated-arrow span:before,
  .animated-arrow span:after {
    cursor: pointer;
    height: 3px;
    width: 23px;
    background: #282828;
    position: absolute;
    display: block;
    content: '';
  }

  .animated-arrow span:before {
    top: -7px;
  }

  .animated-arrow span:after {
    bottom: -7px;
  }

  .animated-arrow span,
  .animated-arrow span:before,
  .animated-arrow span:after {
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }

  .animated-arrow.menuopen span {
    background-color: transparent;
  }

  .animated-arrow.menuopen span:before,
  .animated-arrow.menuopen span:after {
    background: #e5e5e5;
  }

  .animated-arrow.menuopen span:before,
  .animated-arrow.active span:after {
    top: 7px;
  }

  .animated-arrow.menuopen span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 0;
  }

  .animated-arrow.menuopen span:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /*Animation None */
  .menu-list li > .menu-submenu,
  .menu-list li:hover > .menu-submenu,
  .menu-submenu li > .menu-submenu-sub {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    visibility: visible !important;
  }

  .menu-submenu li:hover > .menu-submenu-sub,
  .menu-submenu-sub li > .menu-submenu-sub-sub,
  .menu-submenu-sub li:hover > .menu-submenu-sub-sub,
  .menu-list li > .megamenu,
  .menu-list li:hover > .megamenu {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
/*--------------------------------------------------------------
# Pagination Responsive
--------------------------------------------------------------*/
@media (max-width: 590px) {
  .paging-navigation .nav-links li {
    display: none;
  }
  .paging-navigation .nav-links li:first-child.nav-previous,
  .paging-navigation .nav-links li:last-child.nav-next {
    display: block;
  }
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 30px;
  border: 1px solid #ebebeb;
  background: white;
  padding: 30px;
  font-family: "Playfair Display", serif;
  overflow: hidden;
}
.widget select {
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 0.4em 0.8em;
  outline: none;
}
.widget ul, .widget ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget ul li {
  border-bottom: 1px solid #ebebeb;
}
.widget .widget-title-area {
  position: relative;
}
.widget .widget-title-area .hr-line {
  margin-top: 15px;
  margin-bottom: 30px;
}
.widget .widget-title {
  text-align: center;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: -15px;
  line-height: normal;
}
.widget .widget-title > span {
  position: relative;
}
.widget pre {
  padding: 0.5em;
}
.widget label {
  margin-bottom: 0;
  display: inline;
}
.widget option {
  padding: 0.2em 1em;
}
.widget input[type="text"],
.widget input[type="email"],
.widget input[type="url"],
.widget input[type="password"],
.widget input[type="search"],
.widget textarea {
  padding: 0.5em 1em;
}
.widget input[type="text"]:focus,
.widget input[type="email"]:focus,
.widget input[type="url"]:focus,
.widget input[type="password"]:focus,
.widget input[type="search"]:focus,
.widget textarea:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Pre-Loader
--------------------------------------------------------------*/
.preloader {
  background: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  text-align: center;
  z-index: 999999;
}
.preloader .loader {
  top: 40%;
  position: relative;
}
.preloader .loader i {
  font-size: 3em;
}

.preloader-logo {
  position: relative;
  top: 20%;
}
.preloader-logo img {
  margin: auto;
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
  background: white;
}

.header-content {
  text-align: center;
  clear: both;
  display: block;
  position: relative;
  padding: 75px 0;
}
.header-content .site-logo {
  display: inline-block;
  position: relative;
  z-index: 5;
}
.header-content .site-logo img {
  max-width: 100%;
}
.header-content .site-logo {
  max-width: 50%;
}
.header-content .search-social {
  display: inline-block;
  height: 60px;
  position: absolute;
}

.search-social .search {
  display: inline-block;
  float: right;
  position: relative;
  top: 50%;
  margin-top: -12px;
}

.search.default {
  max-width: 700px;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 20px;
  right: 20px;
}
.search.default .input-group {
  width: 100%;
}

#search-button {
  position: absolute;
  right: 0;
  top: 8px;
  border: none;
  font-size: 20px;
  color: #a7a7a7;
  background: transparent;
}
#search-button:hover, #search-button:focus, #search-button:active:focus {
  background: transparent;
  outline: none;
  -webkit-box-shadow: 0 0 0 transparent inset;
  box-shadow: 0 0 0 transparent inset;
}

#search-close {
  font-size: 60px;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.center .search-social {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  padding: 0 15px;
}

.search .form-control {
  background-color: transparent;
  border: medium none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
  font-size: 14px;
  font-weight: 300;
  outline: medium none;
  height: 45px;
  margin-top: -12px;
}

.search.default button, .search.default input[type="button"], .search.default input[type="reset"], .search.default input[type="submit"],
.search.dropdown .btn {
  background-color: transparent;
  border: medium none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  position: absolute;
  right: 0;
  top: 0;
}

.search.default i,
.search.dropdown .btn i {
  color: #a7a7a7;
  font-size: 20px;
}

#dsearch {
  border-bottom: 1px solid #a0a0a0;
  font-size: 25px;
  font-style: italic;
  height: 60px;
}

#search-submit {
  margin-top: 10px;
  margin-right: 6px;
}

#dsearch-result {
  max-width: 700px;
  max-height: 280px;
  margin: 20px auto auto;
  overflow-y: visible;
  overflow-x: hidden;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
}
#dsearch-result li {
  list-style: none;
}
#dsearch-result p {
  margin-bottom: 15px;
}
#dsearch-result h2 {
  font-size: 20px;
  margin: 10px 0;
}

.share-button {
  float: left;
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 19px 0 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.share-button i {
  color: #a7a7a7;
  font-size: 20px;
}

.share-button:hover {
  background: transparent;
}

#top-social {
  float: left;
  height: 25px;
  left: 13px;
  overflow: hidden;
  position: relative;
  top: 19px;
  display: none;
}
#top-social a {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  padding: 0 8px;
}

.header-mobile {
  display: none;
}

#mbtop-social {
  text-align: center;
  padding: 15px 0;
}
#mbtop-social a {
  padding: 0 5px;
}

.mbsearch-social {
  position: relative;
}

#mobile-social {
  display: none;
}

.search.default .btn.td .fa-search::before {
  content: "\f00d";
  font-family: FontAwesome;
  font-size: 20px;
}

.mobile-search-button {
  display: none;
  position: absolute;
  right: 60px;
  top: 18px;
}

#page-search {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*--------------------------------------------------------------
# Featured Content
--------------------------------------------------------------*/
.feature-area {
  display: block;
  background-color: white;
  overflow: hidden;
}
.feature-area #featured-item {
  position: relative;
  margin: 45px 0;
}
.feature-area #featured-item .item img {
  height: auto;
  display: block;
  width: 100%;
}
.feature-area #featured-item .full-wrapper {
  position: relative;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  display: table;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 100px 50px;
  position: relative;
}
.feature-area #featured-item .image-extra {
  bottom: 0;
  display: table-cell;
  height: auto;
  left: 0;
  margin: auto;
  position: relative;
  right: 0;
  top: 0;
  vertical-align: middle;
  width: 100%;
}
.feature-area #featured-item .image-extra .extra-content {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 520px;
  padding: 40px;
  position: relative;
  text-align: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
}
.feature-area #featured-item .image-extra .extra-content:before {
  border: 1px solid white;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.feature-area #featured-item .image-extra .inner-extra {
  background: white;
  padding: 45px 45px 27px;
  border: 1px solid #ebebeb;
}
.feature-area #featured-item .image-extra .inner-extra:before {
  border: 1px solid #e5e5e5;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.feature-area #featured-item .image-extra .inner-extra i {
  color: #c8c8c8;
}
.feature-area #featured-item .image-extra .inner-extra h2 {
  margin: 10px 0;
  visibility: hidden;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 26px;
}
.feature-area #featured-item .image-extra .inner-extra h2, .feature-area #featured-item .image-extra .inner-extra .entry-date, .feature-area #featured-item .image-extra .inner-extra .entry-meta {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transform: translate3d(0, 20px, 0);
  -ms-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  visibility: hidden;
  opacity: 0;
}
.feature-area #featured-item .image-extra .inner-extra .cat-links a:after {
  content: ",";
  margin: 0 4px;
}
.feature-area #featured-item .image-extra .inner-extra .cat-links a:last-child:after {
  content: "";
  margin-right: 0;
}
.feature-area #featured-item .image-extra .inner-extra .fet-read-more {
  background: white;
  border: 1px solid #ebebeb;
  bottom: 0;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  top: 47px;
  font-size: 11px;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  word-spacing: 0.2em;
  color: #3d3d3d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.feature-area #featured-item .image-extra .inner-extra .fet-more-wrapper {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.feature-area #featured-item .image-extra .extra-content,
.feature-area #featured-item .image-extra .extra-content::before {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  opacity: 0;
}
.feature-area #featured-item .owl-item.active .extra-content {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}
.feature-area #featured-item .owl-item.active .extra-content::before {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 1;
}
.feature-area #featured-item .owl-item.active .image-extra .inner-extra .entry-date {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.feature-area #featured-item .owl-item.active .image-extra .inner-extra .entry-date,
.feature-area #featured-item .owl-item.active .image-extra .inner-extra h2,
.feature-area #featured-item .owl-item.active .image-extra .inner-extra .entry-meta {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.feature-area #featured-item .owl-item.active .image-extra .inner-extra h2 {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.feature-area #featured-item .owl-item.active .image-extra .inner-extra .entry-meta {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.feature-area #featured-item .owl-item.active .image-extra .inner-extra .fet-more-wrapper {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.feature-area .owl-controls .owl-buttons div {
  background: white;
  font-size: 90px;
  margin: auto;
  padding: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  border-radius: 0;
  color: #c8c8c8;
  opacity: 0.8;
}
.feature-area .owl-controls .owl-buttons .owl-prev {
  left: -58px;
}
.feature-area .owl-controls .owl-buttons .owl-next {
  right: -59px;
}
.feature-area .owl-theme .owl-controls {
  margin-top: 0;
}

#featured-item .owl-item.active .image-extra .inner-extra .fet-read-more:hover {
  color: white;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/
.site-content {
  padding: 58px 0 0;
}

.content-area .page-header {
  background: white;
  border: 1px solid #f0f0f0;
  margin: 0 0 1.9em;
  padding: 2.28em;
  text-align: center;
}
.content-area .page-header .page-title {
  font-size: 1.563em;
  margin-bottom: 0;
  margin-top: 0;
}
.content-area .page-header .search {
  margin-top: 1.5em;
}
.content-area .page-header .search .form-controller {
  height: 43px;
}
.content-area .page-header .search .btn-search {
  padding: 0.75em 1em;
}
.content-area .entry-header {
  clear: both;
  position: relative;
  text-align: center;
  padding: 30px 30px 0;
}
.content-area .entry-header i {
  color: #eaeaea;
  font-size: 28px;
}
.content-area .entry-header .entry-title {
  margin: 18px 0 30px;
  font-weight: bold;
}
.content-area .entry-header .sticky-icon i {
  color: white;
  font-size: 16px;
}
.content-area .post-thumb, .content-area .post-media, .content-area .post-link {
  margin: 30px 30px 0;
}
.content-area .post-thumb img {
  margin: auto;
}
.content-area .post-thumb, .content-area .post-media {
  position: relative;
}
.content-area .entry-content {
  margin: 22px 0 0;
  padding: 0 30px;
}
.content-area .entry-content p a:hover {
  text-decoration: underline;
}
.content-area .entry-content ul, .content-area .entry-content ol {
  margin-bottom: 30px;
  margin-left: 20px;
}
.content-area .entry-content ol li,
.content-area .entry-content ul li {
  margin-top: 12px;
}
.content-area .entry-content iframe {
  padding-top: 10px;
  padding-bottom: 22px;
}
.content-area .entry-footer {
  padding: 8px 30px 30px;
}
.content-area .entry-footer .footer-meta {
  font-size: 13px;
  color: darkgray;
}
.content-area .entry-footer .footer-meta a {
  color: inherit;
}
.content-area .entry-footer .post-comment {
  float: left;
}
.content-area .entry-footer .comments-link:before {
  content: "\e604";
  font-family: 'josephine';
  padding-right: 5px;
  font-weight: normal;
  font-size: 13px;
  vertical-align: top;
}
.content-area .entry-footer .share-area {
  display: inline-block;
  float: right;
  color: darkgray;
}
.content-area .entry-footer .share-area:before {
  content: "\e60a";
  font-family: 'josephine';
  padding-right: 5px;
  font-weight: normal;
  font-size: 13px;
  vertical-align: top;
}
.content-area .entry-footer .share-area a {
  margin: 0 5px;
  font-size: 13px;
}
.content-area .entry-footer .share-area a:first-child {
  margin-left: 8px;
}
.content-area .entry-footer .tags-links span:before {
  content: "\f02b";
  font-family: FontAwesome;
  position: relative;
  left: -0.8em;
}

/*--------------------------------------------------------------
# Single Post Footer
--------------------------------------------------------------*/
.single-post.format-video .entry-header {
  position: relative;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.single-post .entry-content .tag {
  font-size: 13px;
  color: darkgray;
}
.single-post .entry-content .tag span {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}
.single-post .entry-content .tag a {
  font-family: "Playfair Display", serif;
  border: 1px solid #f0f0f0;
  display: block;
  color: black;
  float: left;
  font-weight: normal;
  line-height: 1.4em !important;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 6px 17px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  white-space: nowrap;
}
.single-post .entry-content .tag a:hover {
  color: white;
  -webkit-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}
.single-post .inline {
  display: inline-block;
  float: left;
  padding-right: 8px;
}
.single-post .inline.post-format {
  font-size: 16px;
}
.single-post .inline.post-view:after {
  content: ",";
}
.single-post .entry-footer {
  border-top: 1px solid #f0f0f0;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
}
.single-post .entry-footer .footer-meta {
  margin-top: 0;
}

/*--------------------------------------------------------------
# Single Post Navigation
--------------------------------------------------------------*/
.post-navigation {
  background-color: white;
  border: 1px solid #f0f0f0;
  display: table;
  margin-bottom: 30px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}
.post-navigation .post-previous,
.post-navigation .post-next {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 50%;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}
.post-navigation .post-previous i.fa {
  left: 25px;
}
.post-navigation .post-next i.fa {
  right: 25px;
}
.post-navigation i.fa {
  font-size: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.post-navigation .post-previous {
  padding: 40px 10px 40px 25px;
  text-align: left;
  border-left: 0 none;
  border-right: 0 none;
}
.post-navigation .post-next {
  padding: 40px 25px 40px 10px;
  text-align: right;
  border-right: 0 none;
}
.post-navigation h3 {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.post-navigation h3 span {
  display: block;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: darkgray;
}
.post-navigation .post-previous h3 {
  margin-left: 40px;
}
.post-navigation .post-next h3 {
  margin-right: 40px;
}
.post-navigation.no-next-link .post-previous {
  float: left;
  border-right: 1px solid #f0f0f0;
}
.post-navigation.post-navigation.no-next-link .post-next {
  float: right;
  border-left: 1px solid #f0f0f0;
}

/*--------------------------------------------------------------
# Category Section Heading
--------------------------------------------------------------*/
.archive-page-title {
  margin-bottom: 30px;
}
.archive-page-title .title-content {
  background: white;
  border: 1px solid #f0f0f0;
  padding: 45px;
  text-align: center;
}
.archive-page-title .title-content h1 {
  margin: 0;
  line-height: 1em;
  font-weight: bold;
}
.archive-page-title .title-content h1 span {
  display: block;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: normal;
}
.archive-page-title .title-content h1 span:after {
  background-color: #e5e5e5;
  content: "";
  display: block;
  height: 2px;
  margin: 8px auto;
  width: 150px;
}

/*--------------------------------------------------------------
# Post Author Info 
--------------------------------------------------------------*/
.author-info {
  background: white;
  margin-bottom: 1.9em;
}
.author-info .bg-overlay {
  background: rgba(255, 255, 255, 0.9);
}
.author-info .at-img {
  width: 110px;
  height: 110px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.author-info .at-img > img {
  max-height: 110px;
  max-width: 110px;
}
.author-info #author-img, .author-info #author-details {
  display: table-cell;
  vertical-align: top;
}
.author-info #author-img {
  vertical-align: middle;
  border: 1px solid #f0f0f0;
  padding: 1.9em;
}
.author-info .author-name {
  font-size: 1.25em;
  font-weight: bold;
  margin: 1em 0 0;
}
.author-info .authors-title {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #a0a0a0;
  margin: 5px 0 16px;
}
.author-info #author-details {
  border: 1px solid #f0f0f0;
  border-left: 0;
  padding: 0 2em;
  width: 1070px;
  overflow: hidden;
}
.author-info .authors-bio p {
  font-size: 0.9375em;
  line-height: 1.45em;
  margin-bottom: 1.5em;
}
.author-info #author-footer {
  border: 1px solid #f0f0f0;
  border-top: 0;
  display: table;
  width: 100%;
  padding: 15px 30px;
  font-size: 13px;
  color: darkgray;
}
.author-info #author-footer b {
  font-weight: bold;
}
.author-info #author-footer .post-count {
  float: left;
}
.author-info #author-footer .authors-social {
  float: right;
  display: inline-block;
}
.author-info #author-footer .authors-social b {
  font-weight: bold;
  margin-right: 14px;
  vertical-align: middle;
}
.author-info #author-footer .authors-social a {
  padding: 0 5px;
}
.author-info #author-footer .authors-social a:first-child {
  padding-left: 15px;
}
.author-info #author-footer .authors-social a i {
  vertical-align: middle;
}

.archive.author .author-info {
  margin-top: 0;
  margin-bottom: 2.2em;
}

/*--------------------------------------------------------------
# Related Post 
--------------------------------------------------------------*/
#related-post-wrap {
  margin: 0;
  padding: 0;
}
#related-post-wrap li {
  list-style: none;
  text-align: center;
  margin-top: 10px;
}
#related-post-wrap li:first-child {
  padding-left: 0;
}
#related-post-wrap li:last-child {
  padding-right: 0;
}
#related-post-wrap li img {
  margin-bottom: 15px;
}
#related-post-wrap li time {
  font-size: 13px;
  margin-top: 10px;
  color: #a0a0a0;
}
#related-post-wrap li h5 {
  margin-top: 5px;
}

.related-post-title {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 30px;
  text-align: center;
  text-transform: uppercase;
}
.related-post-title:after {
  background-color: #e5e5e5;
  content: "";
  display: block;
  height: 2px;
  margin: 10px auto;
  width: 42px;
}

.related-post,
.comments-area {
  background: white;
  border: 1px solid #f0f0f0;
  margin-bottom: 30px;
  padding: 30px;
}

/*--------------------------------------------------------------
# Widget Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About widget
--------------------------------------------------------------*/
.about-widget .author-image-home {
  overflow: hidden;
}
.about-widget .author-image-home img {
  width: 100%;
  height: auto;
}
.about-widget .author-name {
  font-size: 24px;
  font-weight: 700;
  word-spacing: 2px;
  text-align: center;
  margin: 0.8em 0 0.4em;
}
.about-widget .about-description {
  text-align: center;
  font-family: "Lato", sans-serif;
}
.about-widget .about-description p {
  font-size: 14px;
  line-height: 1.6em;
  margin-bottom: 2em;
  text-align: center;
}
.about-widget .more-link {
  height: 40px;
  line-height: 37px;
  width: 130px;
  margin-top: 0;
}

/*--------------------------------------------------------------
# Latest widget
--------------------------------------------------------------*/
.latest-widget {
  padding-top: 5px;
}
.latest-widget .latest-wrap {
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}
.latest-widget .latest-wrap:last-child {
  border-bottom: none;
}
.latest-widget .latest-wrap .latest-image {
  width: 72px;
  float: left;
  margin-right: 16px;
}
.latest-widget .latest-wrap .latest-image .fit-img {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.latest-widget .latest-wrap .latest-item-text {
  position: absolute;
  display: inline-block;
}
.latest-widget .latest-wrap .latest-item-text h5 {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 0.9375em;
  line-height: 1.4em;
  display: block;
  max-height: 2.8em;
  overflow: hidden;
}
.latest-widget .latest-wrap .latest-item-meta {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-style: italic;
  color: darkgray;
  word-spacing: 0.1em;
}
.latest-widget .latest-wrap .latest-item-meta a:hover {
  text-decoration: underline;
}
.latest-widget .latest-wrap .latest-item-thumb {
  position: absolute !important;
  width: 100%;
  height: 100%;
  max-width: none !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.latest-widget .latest-wrap:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: 0 none;
}

.latest-image .post-thumb i.fa-image {
  font-size: 68px;
  margin-top: -4px;
  color: #a7a7a7;
}

/*--------------------------------------------------------------
# TagCloud Widget
--------------------------------------------------------------*/
.widget_tag_cloud .tagcloud {
  margin-bottom: -2px;
}
.widget_tag_cloud .tagcloud a {
  border: 1px solid #f0f0f0;
  display: block;
  color: black;
  float: left;
  font-size: 12px !important;
  font-weight: normal;
  line-height: 1.4em !important;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 6px 17px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  letter-spacing: 0.05em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.widget_tag_cloud .tagcloud a:hover {
  color: white;
}

/*--------------------------------------------------------------
# Follow Us Widget
--------------------------------------------------------------*/
.follow-us-area {
  margin: 0 auto -7px;
  text-align: center;
}
.follow-us-area .follow-link .fa {
  border: 1px solid #f0f0f0;
  color: darkgray;
  height: 35px;
  line-height: 2.8em;
  margin: 0 3px 9px;
  font-size: 0.8em;
  display: inline-block;
  text-align: center;
  width: 35px;
}
.follow-us-area .follow-link .fa:hover {
  color: white;
}

/*--------------------------------------------------------------
# About And Contact Widget
--------------------------------------------------------------*/
.widget_josephine_aboutus_contact .about-contact-area p {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
}
.widget_josephine_aboutus_contact .about-contact-area .about-mail {
  font-family: "Lato", sans-serif;
  border-top: 1px solid #646464;
  padding: 1.198em 0 0;
  margin-top: 1.7em;
}
.widget_josephine_aboutus_contact .about-contact-area .about-mail li {
  border: 0;
  padding-top: 0.25em;
}
.widget_josephine_aboutus_contact .about-contact-area .about-mail li a, .widget_josephine_aboutus_contact .about-contact-area .about-mail li span {
  font-size: 14px;
  font-weight: bold;
}
.widget_josephine_aboutus_contact .about-contact-area .about-mail li:first-child {
  vertical-align: middle;
}
.widget_josephine_aboutus_contact .about-contact-area .about-mail i {
  margin-right: 10px;
  vertical-align: middle;
}
.widget_josephine_aboutus_contact .about-contact-area .about-mail i.fa-mobile {
  font-size: 1.563em;
  position: relative;
  top: -1px;
}

/*--------------------------------------------------------------
# Advertisement Widget
--------------------------------------------------------------*/
.widget_josephine_advertisement .advertisement-img img {
  margin: auto;
}

/*------------------------------------------------------------------------
# Links, Meta, NavMenu, Pages, Recent Comment, Recent Entries  Widget
-------------------------------------------------------------------------*/
.widget_nav_menu .menu a {
  border: 0;
}

.widget_nav_menu {
  font-size: 15px;
}
.widget_nav_menu a {
  border: 0;
  text-decoration: none;
}
.widget_nav_menu ul {
  list-style: none;
  margin: 0;
}
.widget_nav_menu ul li {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dotted #ebebeb;
  border-bottom: 0 none;
}
.widget_nav_menu ul li span:before,
.widget_nav_menu ul li a:before {
  content: "\f054";
  font-family: FontAwesome;
  margin-right: 1em;
  font-size: 0.55em;
  vertical-align: middle;
  position: relative;
  top: -1.5px;
  left: 0;
  -webkit-transition: left 0.35s ease-in;
  transition: left 0.35s ease-in;
}
.widget_nav_menu ul li span > a:before {
  content: "";
  margin-right: 0;
}
.widget_nav_menu ul li span:hover:before,
.widget_nav_menu ul li a:hover:before {
  left: 5px;
}
.widget_nav_menu > ul > li:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0 none;
}

.widget_nav_menu .sub-menu,
.widget_pages .children {
  border: 0;
  margin: 0 0 0 1em;
}

/*--------------------------------------------------------------
# Email Subscribe Widget
--------------------------------------------------------------*/
.newsletter-area {
  font-family: "Lato", sans-serif;
}
.newsletter-area .form-newsletter .pad-right {
  padding-right: 5px;
}
.newsletter-area .form-newsletter .pad-left {
  padding-left: 5px;
}
.newsletter-area .form-newsletter p {
  margin-bottom: 15px;
}

/*--------------------------------------------------------------
# Flickr Widget Plugin Fix
--------------------------------------------------------------*/
ul.flickr li,
.widget ul.flickr li {
  margin: 2px !important;
  border-bottom: none;
}

.josephine_flickr {
  padding: 3px;
}

.josephine_flickr li {
  float: left;
  height: 82px;
  list-style: outside none none;
  margin: 0;
  overflow: hidden;
  width: 94px;
}

.josephine_flickr img {
  height: 100%;
  width: 100%;
}

button.mail-submite, input.mail-submite[type="button"], input.mail-submite[type="reset"], input.mail-submite[type="submit"] {
  overflow: hidden;
  padding: 12px 5px;
  width: 100%;
  background-color: transparent;
  color: #7e7e7e;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  border-color: #646464;
}

button.mail-submite:hover, input.mail-submite[type="button"]:hover, input.mail-submite[type="reset"]:hover, input.mail-submite[type="submit"]:hover {
  background-color: transparent;
}

button.mail-submite:active, input.mail-submite[type="button"]:active, input.mail-submite[type="reset"]:active, input.mail-submite[type="submit"]:active {
  margin-top: 15px;
  background-color: #2c3e50;
  -webkit-box-shadow: 0px 0px #49b294;
  box-shadow: 0px 0px #49b294;
}

button.mail-submite::-moz-focus-inner, input.mail-submite[type="button"]::-moz-focus-inner, input.mail-submite[type="reset"]::-moz-focus-inner, input.mail-submite[type="submit"]::-moz-focus-inner {
  border: 0;
}

.mc-loading button, .mc-loading input[type="button"], .mc-loading input[type="reset"], .mc-loading input[type="submit"] {
  background: #2c3e50 url("../images/loading.gif") center center no-repeat;
  text-indent: -9999px;
}

.mc-response {
  margin-top: 10px;
}

.google-plus-widget,
.facebook-widget {
  margin: auto;
  text-align: center;
}

/*--------------------------------------------------------------
# Footer Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer Top
--------------------------------------------------------------*/
#footer-top {
  text-align: center;
  background: white;
  margin-top: 90px;
}
#footer-top .widget {
  background: transparent;
  border: 0;
  margin: 0 !important;
  padding: 0;
  font-size: 18px;
}
#footer-top .widget .widget-title-area {
  margin-bottom: 0.2em;
}
#footer-top .widget .widget-title {
  background: transparent;
  font-weight: bold;
  margin: 20px 0;
  padding: 0;
}
#footer-top .widget .widget-title > span:before {
  background: transparent;
  border: none;
}
#footer-top .widget .widget-title > span {
  border: none;
  -webkit-box-shadow: 0 3px 2px transparent;
  box-shadow: 0 3px 2px transparent;
}
#footer-top .widget:hover .widget-title {
  color: inherit;
}

#footer-top #instafeed .list {
  display: inline-block;
  width: 16.66%;
}

/*--------------------------------------------------------------
# Footer Middle
--------------------------------------------------------------*/
#footer-middle {
  padding: 60px 0;
  background: #222222;
  color: #7e7e7e;
}
#footer-middle .widget {
  background: transparent;
  border: none;
  padding-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#footer-middle .widget .widget-title {
  background: transparent;
  color: white;
  text-align: left;
  padding: 0;
  margin-bottom: 15px;
  font-size: 18px;
}
#footer-middle .widget .widget-title > span {
  background: transparent;
  padding: 0;
}
#footer-middle .widget .widget-title > span:before {
  background: transparent;
  border: none;
}
#footer-middle .widget .widget-title > span {
  border: none;
  -webkit-box-shadow: 0 3px 2px transparent;
  box-shadow: 0 3px 2px transparent;
}
#footer-middle .widget h1, #footer-middle .widget h2, #footer-middle .widget h3, #footer-middle .widget h4, #footer-middle .widget h5, #footer-middle .widget h6 {
  color: #7e7e7e;
}
#footer-middle .widget .recent-item-meta {
  color: #515151;
}
#footer-middle ul li {
  border-color: #646464;
}
#footer-middle .widget_tag_cloud .tagcloud a {
  border-color: #646464;
  color: #7e7e7e;
}
#footer-middle .widget_tag_cloud .tagcloud a:hover {
  color: white;
}
#footer-middle .follow-us-area .follow-link .fa {
  border-color: #646464;
}
#footer-middle .form-controller {
  border-color: #646464;
  background: transparent;
  height: 45px;
}
footer.site-footer > #footer-middle .col-md-4 .hr-line {
    visibility: hidden;
    margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Footer Bottom
--------------------------------------------------------------*/
#footer-bottom {
  background: #222222;
  color: #7e7e7e;
  font-size: 0.9375em;
}
#footer-bottom .container {
  border-top: 1px solid #303030;
  text-align: center;
  padding: 40px 15px;
}
#footer-bottom .copyright p {
  margin-bottom: 0;
  word-spacing: 0.05em;
}
#footer-bottom .copyright a {
  color: inherit;
}
#footer-bottom .copyright a:hover {
  text-decoration: underline;
}
#footer-bottom .footer-social {
  margin-top: 12px;
}
#footer-bottom .footer-social > a {
  padding: 0 8px;
}

/*--------------------------------------------------------------
# Scroll Top
--------------------------------------------------------------*/
.topbutton {
  background: white;
  border: 1px solid #c8c8c8;
  color: #c8c8c8;
  bottom: 50px;
  display: block;
  height: 40px;
  line-height: 42px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 40px;
}

/*--------------------------------------------------------------
# Layout Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 780px) {
  .header-mobile {
    display: block;
  }

  .header-content {
    display: none;
  }

  .site-logo-mobile {
    display: block;
    padding: 40px 0;
    text-align: center;
  }

  #mbsearch-button {
    cursor: pointer;
    position: relative;
    z-index: 10;
    border: none;
  }
  #mbsearch-button:hover, #mbsearch-button:focus, #mbsearch-button:active:focus {
    background: transparent;
    outline: none;
    -webkit-box-shadow: 0 0 0 transparent inset;
    box-shadow: 0 0 0 transparent inset;
  }
  #mbsearch-button i {
    font-size: 18px;
    margin-top: 2px;
  }

  .mobile-search-button {
    display: block;
  }

  .mbsearch-social .search .input-group {
    width: 100%;
  }

  #mobile-social {
    display: block;
    text-align: center;
    padding-top: 15px;
    color: darkgray;
    height: 75px;
    overflow: hidden;
  }
  #mobile-social span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #mobile-social > a {
    display: inline-block;
    padding: 0 5px;
  }
}
/*--------------------------------------------------------------
# Featured Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 814px) {
  .feature-area .owl-controls .owl-buttons div {
    font-size: 70px;
  }

  .feature-area .owl-controls .owl-buttons .owl-prev {
    left: -45px;
  }

  .feature-area .owl-controls .owl-buttons .owl-next {
    right: -46px;
  }
}
@media only screen and (max-width: 798px) {
  .feature-area .owl-controls .owl-buttons div {
    opacity: 1;
  }

  .feature-area .owl-controls .owl-buttons .owl-prev {
    left: -20px;
  }

  .feature-area .owl-controls .owl-buttons .owl-next {
    right: -21px;
  }
}
@media only screen and (max-width: 461px) {
  .feature-area #featured-item .image-extra .extra-content {
    padding: 15px;
  }

  .feature-area #featured-item .image-extra .inner-extra {
    padding: 15px 8px 0;
  }

  .feature-area #featured-item .image-extra .inner-extra h2 {
    font-size: 1.5em;
  }

  .feature-area #featured-item .image-extra .inner-extra .hr-line {
    margin: 12px 0;
  }

  .feature-area #featured-item .image-extra .inner-extra .fet-read-more {
    top: 16px;
  }

  .feature-area .owl-controls .owl-buttons div {
    font-size: 1.5em;
    padding: 12px;
  }
}
@media only screen and (max-width: 420px) {
  .feature-area #featured-item .extra-content .entry-meta .devider {
    display: none;
  }

  .feature-area #featured-item .extra-content .entry-meta span {
    display: block;
  }

  .feature-area #featured-item .image-extra .inner-extra .read-more {
    padding: 10px 18px;
  }
}
@media only screen and (max-width: 767px) {
  .mb-none {
    display: none;
  }
}
/*--------------------------------------------------------------
# Content Area Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
  .content-area {
    padding-bottom: 1.75em;
  }

  .related-post .post-media img {
    max-height: none !important;
  }

  .related-post .post-body .entry-title {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 520px) {
  .content-area .entry-header {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media only screen and (max-width: 521px) and (min-width: 480px) {

  .sticky-icon {
    right: -60px !important;
  }
 
}
@media only screen and (max-width: 479px) {

  .sticky-icon {
    right: -45px !important;
  }
 
}
@media only screen and (max-width: 470px) {
  .content-area .entry-header .entry-meta {
    padding: 0 2.5em;
  }
  .content-area .post-comment {
    float: none !important;
    border-bottom: 1px solid #f0f0f0;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .content-area .entry-footer .share-area {
    float: none !important;
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .content-area .entry-header {
    margin-left: 15px;
    margin-right: 15px;
  }

  .content-area .post-thumb,
  .content-area .post-media,
  .content-area .post-link {
    margin: 15px 15px 0;
  }

  .content-area .entry-content {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 340px) {
  .content-area .entry-header .entry-meta .devider {
    display: none;
  }
  .content-area .entry-header .entry-meta span {
    display: block;
  }
}
/*--------------------------------------------------------------
# Post author-info Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 470px) {
  .author-info #author-img {
    display: block;
    width: 100%;
  }

  .author-info .at-img {
    margin: 0 auto;
  }

  .author-info #author-details {
    display: block;
    text-align: center;
    width: 100%;
    border-width: 0 1px 1px;
    border-left: 1px solid #ebebeb;
  }
}
@media only screen and (max-width: 370px) {
  .author-info #author-footer .post-count,
  .author-info #author-footer .authors-social {
    float: none;
  }

  .author-info #author-footer {
    text-align: center;
  }
}
/*--------------------------------------------------------------
# Footer Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
  #footer-middle .widget {
    margin-bottom: 30px;
  }

  .newsletter-area .form-newsletter .pad-right {
    padding-right: 15px;
  }

  .newsletter-area .form-newsletter .pad-left {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 768px) {
  #footer-top #instafeed-area .list {
    width: 50%;
  }

  .topbutton {
    bottom: 8px;
    height: 35px;
    line-height: 36px;
    right: 8px;
    width: 35px;
    z-index: 10;
  }
}
@media only screen and (max-width: 780px) {
  .admin-bar .top-menu {
    margin-top: 46px;
  }
  .admin-bar .animated-arrow.menuopen {
    top: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .admin-bar .top-menu.scroll {
    margin-top: 0;
  }
  .admin-bar .animated-arrow.menuopen.scroll {
    top: 20px;
  }
}
/*--------------------------------------------------------------
# Site Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.9em;
}

.page-content, .entry-content, .entry-summary {
  margin: 1.4em 0;
}

.page-links {
  clear: both;
  margin: 0 0 2.1em;
}

/*--------------------------------------------------------------
# Page Heading
--------------------------------------------------------------*/
.header-title {
  text-align: center;
  margin-bottom: 2.9em;
}
.header-title .section-title {
  margin: 0.3em 0 0.4em;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
# Post Meta
--------------------------------------------------------------*/
.entry-meta {
  color: darkgray;
  font-size: 13px;
}
.entry-meta a {
  color: inherit;
}
.entry-meta span:before {
  margin-right: 5px;
}

.entry-date {
  font-size: 13px;
  color: darkgray;
}
.post .entry-header .cat-links a:after {
    content: ", ";
}

.post .entry-header .cat-links a[href="/tag/sidebar-left/"]:after, .post .entry-header .cat-links a[href="/tag/sidebar-right/"]:after, .post .entry-header .cat-links a[href="/tag/full-width/"]:after {
    content: " ";
}

.post .entry-header .cat-links a:last-child:after {
    content: " ";
}
/*--------------------------------------------------------------
# Post Format
--------------------------------------------------------------*/
.content-area .post {
  background: white;
  border: 1px solid #f0f0f0;
  position: relative;
  overflow: hidden;
}
.content-area .post .post-thumb {
  overflow: hidden;
}
.content-area .page {
  background: white;
  border: 1px solid #f0f0f0;
  position: relative;
  overflow: hidden;
}
.content-area .page .post-thumb {
  overflow: hidden;
}
.content-area .page .post-status-wrapper {
  text-align: center;
}
.content-area .page .post-status-wrapper iframe {
  margin: 10px auto !important;
}
.content-area .page .page-share {
  text-align: center;
  padding: 0 30px 30px;
}
.content-area .page .page-share span {
  font-size: 1.25em;
  font-style: italic;
}
.content-area .page .page-share span:after {
  content: "-";
  position: relative;
  vertical-align: middle;
}
.content-area .page .page-share a {
  padding: 0 5px;
}
.content-area .tag-gallery .entry-content {
  margin-top: 30px;
}
.content-area .post-link {
  overflow: hidden;
  position: relative;
  z-index: 9;
}
.content-area .post-link-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px;
  padding: 30px 15px;
  position: relative;
  text-align: center;
  z-index: 9;
}
.content-area .post-link-wrapper:after {
  border: 1px solid white;
  bottom: -5px;
  content: "";
  display: block;
  left: -5px;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: -1;
}
.content-area .post-link-wrapper .tb {
  height: 100%;
}
.content-area .post-link-wrapper .tb {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.content-area .post-link-wrapper .tb-cell {
  display: table-cell;
  vertical-align: middle;
}
.content-area .post-link-wrapper .tb-cell > a {
  display: block;
  font-size: 0.8125em;
  font-style: italic;
  letter-spacing: 0.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.content-area .post-link-wrapper h2 {
  font-size: 1.5em;
  margin-top: 10px;
  text-transform: uppercase;
}
.content-area .post-link-wrapper .fa {
  font-size: 18px;
}
.content-area .post-link-wrapper ~ .images {
  height: 100%;
  left: 0;
  padding-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
.content-area .images img {
  left: 50%;
  max-width: none !important;
  position: absolute !important;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.content-area .tag-quote .entry-header {
  padding-bottom: 2px;
  padding-top: 30px;
}
.content-area .tag-quote .entry-header > span {
  clear: both;
  color: #eaeaea;
  font-size: 30px;
}
.content-area .tag-quote .entry-title,
.content-area .tag-quote .entry-meta {
  display: none;
}
.content-area .tag-quote .hr-line {
  margin-top: 15px;
}
.content-area .tag-quote .entry-content {
  margin: 0;
}
.content-area .tag-quote blockquote {
  margin-left: 0 !important;
  margin-bottom: 35px;
  margin-top: 0;
  border: 0;
  padding: 0;
  font-style: italic;
  font-size: 25px;
  position: relative;
  z-index: 100;
  text-align: center;
}
.content-area .tag-quote blockquote:before {
  content: "";
  display: block;
  height: auto;
  left: 0;
  right: 0;
  margin-top: 0;
  padding-top: 0;
  top: 0;
}
.content-area .tag-quote blockquote p {
  color: #939393;
  padding: 0 1em;
  margin-bottom: 15px;
  position: relative;
  line-height: 1.5em;
}
.content-area .tag-quote blockquote p:first-child {
  margin-top: 0;
}
.content-area .tag-quote blockquote p:last-child {
  margin-bottom: 0;
}
.content-area .tag-quote blockquote p cite {
  margin-left: 0;
  padding-left: 0;
}
.content-area .tag-quote blockquote cite, .content-area .tag-quote blockquote a, .content-area .tag-quote blockquote span {
  padding-left: 10px;
  font-size: 0.8em;
  font-weight: 500;
  font-style: normal;
  position: relative;
}
.content-area .tag-quote blockquote cite::before {
  content: "";
  padding-right: 0;
}
.content-area .tag-quote .author {
  font-style: italic;
  font-weight: bold;
  color: #a5a5a5;
  font-size: 14px;
}
.content-area .tag-quote .author span {
  margin-right: 7px;
  position: relative;
  top: -1px;
}
.content-area .tag-status .post-status-wrapper {
  -webkit-background-size: cover !important;
  background-size: cover !important;
  padding: 60px 0;
  text-align: center;
  overflow: hidden;
}
.content-area .tag-status .post-status-wrapper .embed, .content-area .tag-status .post-status-wrapper iframe, .content-area .tag-status .post-status-wrapper object {
  margin: 0 auto !important;
}
.content-area .sticky-icon {
  color: white;
  height: 40px;
  line-height: 54px;
  position: absolute;
  right: -32px;
  text-align: center;
  top: -12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 80px;
  z-index: 30;
}

/*--------------------------------------------------------------
## About Page
--------------------------------------------------------------*/
.about-me .author-details {
  background: white;
  border: 1px solid #f0f0f0;
  padding: 30px;
}
.about-me .author-details .small-border {
  margin-left: 0;
  width: 105px;
}
.about-me .author-name, .about-me #author-skill h3 {
  font-weight: bold;
  font-size: 1.25em;
}
.about-me .author-name {
  margin-top: 0;
}
.about-me .entry-footer {
  margin-top: 36px;
}
.about-me .entry-footer .author-sign {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 0.5em;
}
.about-me .entry-footer .author-sign h3 {
  font-size: 1em;
  line-height: 1.6em;
  margin-top: 5px;
}
.about-me .entry-footer .follow-link {
  margin-top: 1.2em;
}
.about-me .entry-footer .follow-link span {
  margin-right: 10px;
}
.about-me .entry-footer .follow-link a {
  margin: 0 5px;
}
.about-me .author-image {
  background: white;
  padding: 30px;
  border: 1px solid #f0f0f0;
}
.about-me .author-image img {
  width: 100%;
  height: 100%;
}
.about-me #author-skill {
  background: white;
  border: 1px solid #f0f0f0;
  padding: 30px;
  margin: 30px 0 0;
}
.about-me #author-skill h3 {
  margin-top: 0;
  text-align: center;
}
.about-me #author-skill .ex-small-border {
  margin: 0.5em auto 2em;
}
.about-me #author-skill .pd-bottom {
  padding-bottom: 2.3em;
}
.about-me #author-skill .skillbar {
  position: relative;
  display: block;
  margin-top: 16px;
  background: transparent;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition: width,background-color;
  transition: width,background-color;
}
.about-me #author-skill .skillbar-title {
  top: 0;
  left: 0;
  line-height: 1.7em;
  font-size: 0.8125em;
  font-weight: bold;
  margin-bottom: 0.4em;
}
.about-me #author-skill .skillbar-bg {
  background: #f7f7f7;
}
.about-me #author-skill .skillbar-bar {
  height: 15px;
  width: 0;
}
.about-me #author-skill .skill-bar-percent {
  position: absolute;
  top: -18px;
  margin-left: -5px;
  font-size: 12px;
  height: 40px;
  line-height: 36px;
  font-weight: bold;
  content: "";
}
.about-me #author-skill .skill-bar-percent:after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  bottom: 1px;
  left: 0;
}

/*--------------------------------------------------------------
## Contact Page
--------------------------------------------------------------*/
.contact-page .header-title {
  margin-bottom: 3.5em;
}
.contact-page .sub-heading {
  font-weight: 400;
  width: 50%;
  margin: 1.4em auto 0;
  line-height: 1.6em;
}
.contact-page .title {
  font-style: italic;
  font-weight: bold;
  font-size: 1.25em;
}
.contact-page .gmaps-area {
  background: white;
  border: 1px solid #f0f0f0;
  padding: 30px;
}
.contact-page #gmaps {
  height: 412px;
  background: #f7f7f7;
}
.contact-page .contact-details {
  background: white;
  border: 1px solid #f0f0f0;
  padding: 30px;
}
.contact-page .post img,
.contact-page .page img {
  max-width: none;
}
.contact-page .entry-content {
  margin-top: -6px;
}
.contact-page .address h4 {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 0.8em;
  margin-bottom: 1.3em;
  margin-top: 0;
  font-weight: bold;
  font-size: 1em;
}
.contact-page .address .dl-horizontal dd {
  margin-bottom: 15px;
  margin-left: 70px;
  margin-right: 0;
}
.contact-page .address .dl-horizontal dt {
  text-align: left;
  width: 60px;
}
.contact-page .address dl {
  margin-bottom: -7px;
}
.contact-page .padding-left {
  padding-left: 0.5em;
}
.contact-page .padding-right {
  padding-right: 0.5em;
}
.contact-page .padding-left-right {
  padding: 0 0.5em;
}
.contact-page .contact-respond {
  margin-top: 30px;
  background: white;
  border: 1px solid #f0f0f0;
  padding: 30px;
}
.contact-page .contact-respond p {
  margin-bottom: 1em;
}
.contact-page .contact-respond .form-submit {
  margin-bottom: 0;
}
.contact-page span.wpcf7-not-valid-tip {
  color: #df2626;
  display: block;
  font-size: 0.8em;
  margin-bottom: -10px;
  margin-left: 4px;
  margin-top: 3px;
}
.contact-page div.wpcf7-validation-errors {
  border: 1px solid #efdf35;
  color: #df2626;
}
.contact-page div.wpcf7-mail-sent-ng {
  border: 1px solid #df2626;
}
.contact-page div.wpcf7-response-output {
  padding: 0.4em 1em;
  margin: 0;
}
.contact-page .wpcf7-mail-sent-ok {
  border-width: 1px;
}

/*--------------------------------------------------------------
## 404 Page
--------------------------------------------------------------*/
.error-page #main {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 60px 30px 90px;
}
.error-page .error-description {
  text-align: center;
}
.error-page .error-description {
  margin: 0 0 4em;
}
.error-page .error-description h2 {
  color: #3db5e7;
  font-weight: bold;
}
.error-page .error-image img {
  margin: auto;
  position: relative;
}

/*--------------------------------------------------------------
## Site Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Post Format Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .content-area .format-quote .quote-thumb .quote-content {
    padding: 2.8em 1em 1.2em !important;
  }

  .content-area .format-quote .quote-thumb .quote-content::before {
    top: 16px;
  }
}
@media only screen and (max-width: 482px) {
  .content-area .format-quote blockquote p:first-child {
    margin-top: 2.5em !important;
  }
  .content-area .post-link-wrapper .tb-cell > a {
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 440px) {
  .content-area .post-link-wrapper {
    padding: 0 10px;
  }
  .content-area .post-link h2 {
    font-size: 1em;
    margin-bottom: 5px;
  }
}
/*--------------------------------------------------------------
# Comment and Contact Form Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
  #contact_form .form-submit {
    margin-bottom: 0;
  }

  .comment-respond .pd-right {
    padding-right: 15px;
  }

  .comment-respond .pd-left {
    padding-left: 15px;
  }

  .contact-respond .padding-right {
    padding-right: 15px;
  }
  .contact-respond .padding-left-right {
    padding-right: 15px;
    padding-left: 15px;
  }
  .contact-respond .padding-left {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .children {
    margin-left: 40px !important;
  }
}
/*--------------------------------------------------------------
# Contact Page Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 990px) {
  .about-me #main,
  .contact-page #main {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .contact-page .address .dl-horizontal dd {
    margin-left: 0 !important;
    margin-top: 4px;
  }
}
/*--------------------------------------------------------------
# 404 page Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 984px) {
  .error-page .border-left {
    display: none;
  }
}
@media only screen and (max-width: 577px) {
  .error-page .go-to {
    margin: 0 !important;
  }

  .error-page .search {
    padding: 0 1em;
  }

  .error-page .go-button {
    width: 100%;
    margin-bottom: 0.9em;
  }

  .error-page .go-to:first-child {
    left: 0 !important;
  }

  .error-page .go-to:last-child {
    right: 0 !important;
  }
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
  border: none;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Post-gallery One
--------------------------------------------------------------*/
.gallery-images .owl-controls {
  margin: 0;
  padding: 0;
}
.gallery-images .owl-controls .owl-buttons div {
  padding: 16px;
  position: absolute;
  background: white;
  top: 50%;
  margin: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.gallery-images .owl-controls .owl-buttons div i {
  font-size: 12px;
  vertical-align: middle;
  color: #3d3d3d;
}
.gallery-images .owl-controls .owl-buttons .owl-prev {
  float: left;
  left: -1px;
  border-radius: 0;
}
.gallery-images .owl-controls .owl-buttons .owl-next {
  float: right;
  right: -1px;
  border-radius: 0;
}

.gallery-images {
  margin-bottom: 22px;
}
.gallery-images .item {
  text-align: center;
}
.gallery-images .item img {
  margin: auto;
  height: auto;
  width: 100%;
  display: block;
  vertical-align: middle;
}







