/*--------------------------------------------------------------
# Post Format Responsive
--------------------------------------------------------------*/
@media only screen and (max-width:768px) {
	.content-area .format-quote .quote-thumb .quote-content {
		padding: 2.8em 1em 1.2em !important;
	}
	.content-area .format-quote .quote-thumb .quote-content::before {
		top: 16px;
	}
}
@media only screen and (max-width: 482px) {
	.content-area {
		.post, .page {
			padding: 1em;
		}
		.format-quote blockquote p:first-child {
			margin-top: 2.5em !important;
		}
		.post-link-wrapper .tb-cell > a {
			margin-bottom: 8px;
		}
	}
}
@media only screen and (max-width: 440px) {
	.content-area {
		.post-link-wrapper {
			padding: 0 10px;
		}
		.post-link h2 {
			font-size: 1em;
			margin-bottom: 5px;
		}
	}
}
/*--------------------------------------------------------------
# Comment and Contact Form Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	#contact_form {
		.form-submit {
			margin-bottom: 0;
		}
	}
	.comment-respond .pd-right {
		padding-right: 15px;
	}
	.comment-respond .pd-left {
		padding-left: 15px;
	}
	.contact-respond {
		.padding-right {
			padding-right: 15px;
		}
		.padding-left-right {
			padding-right: 15px;
			padding-left: 15px;
		}
		.padding-left {
			padding-left: 15px;
		}
	}
}
@media only screen and (max-width: 768px) {
	.children {
		margin-left: 40px !important;
	}
}

/*--------------------------------------------------------------
# Contact Page Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 990px) {
	.about-me #main,
	.contact-page #main {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.contact-page .address .dl-horizontal dd {
		margin-left: 0 !important;
		margin-top: 4px;
	}
}

/*--------------------------------------------------------------
# 404 page Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 984px) {
	.error-page .border-left {
		display: none;
	}
}
@media only screen and (max-width: 577px) {
	.error-page .go-to {
		margin: 0 !important;
	}
	.error-page .search {
		padding: 0 1em;
	}
	.error-page .go-button {
		width: 100%;
		margin-bottom: 0.9em;
	}
	.error-page .go-to:first-child {
		left: 0 !important;
	}
	.error-page .go-to:last-child {
		right: 0 !important;
	}
}