a {
	color: $color__link;
	@include transition-ease(all, .25s, ease, 0s);
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
	&:focus {
		outline: 0;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}