.navbar {
    border-radius: 0;
    border: none;
    margin: 0;  
}
.navbar-brand { 
	position: relative;
 	z-index: 2; 
}
.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand {
	margin-left: 0;
}
.menu-left {
	float: right;
	margin-right: 0;
}
.navbar-nav {
	/* sub menus arrows */
	.sub-arrow, 
	.collapsible .sub-arrow {
		position:static;
		margin-top:5px;
		margin-right:0;
		margin-left:6px;
		display:inline-block;
		width:0;
		height:0;
		overflow:hidden;
		vertical-align:middle;
	}
	ul {
		.sub-arrow {
			position:absolute;
			right:0;
			margin-top:6px;
			margin-right:15px;
		}
		a.has-submenu {
			padding-right:30px;
		}
	}


	/* scrolling arrows for tall menus */ 
	span {
		&.scroll-up, 
		&.scroll-down {
			position:absolute;
			display:none;
			visibility:hidden;
			height:20px;
			//overflow:hidden;
			text-align:center;
		}
		&.scroll-up-arrow, 
		&.scroll-down-arrow {
			position:absolute;
			top:-2px;
			left:50%;
			margin-left:-8px;
			width:0;
			height:0;
			overflow:hidden;
			border-top:7px dashed transparent;
			border-right:7px dashed transparent;
			border-bottom:7px solid;
			border-left:7px dashed transparent;
		}
		&.scroll-down-arrow {
			top:6px;
			border-top:7px solid;
			border-right:7px dashed transparent;
			border-bottom:7px dashed transparent;
			border-left:7px dashed transparent;
		}
	}
	/* add more indentation for 2+ level sub in collapsible mode - Bootstrap normally supports just 1 level sub menus */
	.navbar-nav .collapsible ul {
		.dropdown-menu > li > a,
		.dropdown-menu .dropdown-header {
			padding-left:35px;
		}
		ul .dropdown-menu > li > a,
		ul .dropdown-menu .dropdown-header {
			padding-left:45px;
		}
		ul ul .dropdown-menu > li > a,
		ul ul .dropdown-menu .dropdown-header {
			padding-left:55px;
		}
		ul ul ul .dropdown-menu > li > a,
		ul ul ul .dropdown-menu .dropdown-header {
			padding-left:65px;
		}
	}
	/* fix sub menus auto width (subMenusMinWidth and subMenusMaxWidth options) */
	.dropdown-menu > li > a {
		white-space:normal;
	}
	ul.sm-nowrap > li > a {
		white-space:nowrap;
		//padding: 8px 12px;
	}
	/* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */
	.collapsible {
		ul {
			display:none;
			position:static !important;
			top:auto !important;
			left:auto !important;
			margin-left:0 !important;
			margin-top:0 !important;
			width:auto !important;
			min-width:0 !important;
			max-width:none !important;
			&.sm-nowrap > li > a {
				white-space:normal;
			}
		}
		iframe{
			display:none;
		}	
	} 
} 
.navbar-default {
	word-spacing: 0.025em;
	.navbar-nav > {
		li > a {
			color: $color__white;
			text-align: left;
			vertical-align: middle;
			text-transform: uppercase;
			line-height: 1.73;
			font-weight: 500;
			font-size: 1em;
			&:hover,
			&:active {
				background: $color__white;
			}
		}
		.open > {
			a, a:focus, a:hover {
				background: $color__white;
			}
		}
	}
}
#header .current-menu-item > a,
#header .current-page-item > a,
#header .current-menu-parent > a {
	background: $color__white !important;
}


.dropdown-menu {
	padding-bottom: 0;
	padding-top: 0;
	font-size: 1em;
	.dropdown-menu {
		margin-top: -34.5px !important;
		padding-top: 0;
	}
	li {
		padding: 0.17em 0;
	}
}
.dropdown-menu > {
	li > a {
		color: $color__text-main;
		line-height: 1.45;
		&:hover, &:focus {
		  	text-decoration: none;
		  	background-color: $color__white;			
		}
	}
}
.nav .open {
	> a, > a:hover,	> a:focus {
	  background-color: $color__white;
	}
}

.navbar-toggle {
	border-color: $color__white;
	border-radius: 0;
}

/* fix .navbar-right subs alignment */
.navbar-right ul.dropdown-menu {
	left:0;
	right:auto;
}

.navbar .nav-collapse {
	bottom: 0;
	left: 0;
	margin: 0;
	padding-left: 80px;
	padding-right: 150px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}
.btn {
	border-radius: 0;
}
.remove {
	float:right;
}

.nav-search {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
	display: inline-block;	
}
.header-search {
    cursor: pointer;
    color: $color__white;
  	font-size: 1em;
    line-height: 1.73;
    padding: 1.8em 1em;
    @include transition-menu-pd();
    &:hover {
    	background: $color__white;
    }	
}

@media(min-width:801px) {
	.navbar-default {
		.navbar-brand {
			padding: 1.46em 0;
			height: auto;
			line-height: 1.73;
			font-size: 1.25em;

			@include transition-menu-pd();	
		}
		.navbar-nav > {
			li > a {
				padding: 1.8em 1em;
				@include transition-menu-pd();
			}
		}
	}
	.top-nav-collapse {
		.navbar-brand {
			padding: 1em 0;	
		}
		.navbar-nav > {
			li > a {
				padding: 1.25em 1em;
			}
		}
		.header-search {
			padding: 1.25em 1em;	
		} 
	}
	.navbar-form {
		width: 60%;
		button {
			display: none;
		}
		.form-group, .form-control {
			width: 100%;
			margin-top: 7px;
			@include transition-menu-mr();
		}
	}
	.dropdown-menu {
		border: 0;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.176);
		border-radius: 0;
		li {
			a {
				padding: 6px 20px;
			}
			border-bottom: 1px solid $color__background-hr;
			&:last-child {
				border: 0;
			}
		}
	} 
	.mheader-search, .mobile-nav-search {
		display: none;
	}
}

@media(max-width:800px) {
	.menu-left {
		float: none;
	}
	.nav-search {
		display: none;
	}
	.mobile-nav-search {
		display: inline-block;
		float: right;
		margin-bottom: 0;
		padding: 0;
		list-style: none;
		.header-search {
			padding: 1em;
			margin-right: 0;
			&:hover {
				background: transparent;
				color: $color__white;
			}
		}
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: $color__white;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
	  background-color: $color__white;
	}
	.navbar-nav > li > a {
		padding: 0.5em;
	}
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        background: transparent !important;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}