/*--------------------------------------------------------------
# Header Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 1203px) and (max-width: 1001px) {
	#header-middle #nav-left {
		width: 34%;
	}	
	#header-middle #site-logo {
		width: 28%;
	}
	#header-middle #nav-right {
		width: 34%;
	}
	#header-middle #site-logo img {
		max-width: 270px;
	}
}
@media only screen and (max-width: 1203px) {
	#header-middle #site-logo img {
		margin: auto;
	}	
}
@media only screen and (max-width: 1000px) {
	#header-middle #site-logo {
		width: 100%;
	}
	#header-middle {
		padding: 30px 0;
	}
	#mobile-menu-wrap .header-social {
		display: none;
	}
}
@media only screen and (max-width: 780px) {
	#header-middle .row {
		margin: 0;
	}
	#header-middle #site-logo {
		width: 100%;
		text-align: center;
		float: none;
		margin: 0;
	}
}
@media only screen and (max-width: 767px) {
	#header-top {
		.row {
			margin: 0;
		}
	}
}
@media only screen and (max-width: 400px) {
	#header-middle #site-logo img {
		max-width: none;
		width: 100%;
	}
	#header-top .header-search {
		float: none;
	}
	.search.default {
		max-width: none;
	}
	#header-top .header-search .form-control {
		border-bottom: 1px solid $color__border-one;
	}
	#header-top .header-social {
		display: none;
	}
	#header-top .header-social > a {
		padding: 0 8px;
	}
	#mobile-menu-wrap .header-social {
		display: block;
		color: $color__meta;
		padding-top: 15px;
		width: 240px;
		text-align: center;
		overflow: hidden;
		> span {
			display: block;
			margin-bottom: 10px;
		} 
		> a {
			padding: 0 5px;

		}
	}
}
/*--------------------------------------------------------------
# Featured Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 1292px) {
	#featured-slider {
		.owl-controls .owl-nav .owl-prev {
			left: -34px;
		}		
		.owl-controls .owl-nav .owl-next {
			right: -34px;
		}
	}
}
@media only screen and (max-width: 820px) {
	#featured-slider {
		.owl-controls .owl-nav .owl-prev {
			left: -15px;
			box-shadow: 0 1px 2px rgba($color__black, 0.3);
		}		
		.owl-controls .owl-nav .owl-next {
			right: -15px;
			box-shadow: 0 1px 2px rgba($color__black, 0.3);
		}
	}
}
@media only screen and (max-width: 767px) {
	#featured {
		padding-bottom: 60px;
	}
	#featured-content {
		.row {
			margin: 0;
		}
	}
	#featured-slider {
		.owl-controls .owl-nav {
			display: none;
		}		
		.owl-controls .owl-dots {
			text-align: center;
			margin-top: 15px;
		}		
		.owl-controls .owl-dot {
			display: inline-block;
		}		
		.owl-controls .owl-dot span {
			background: $color__white;
			border-radius: 30px;
			display: block;
			height: 10px;
			margin: 5px 7px;
			width: 10px;
			opacity: 0.8;
		}
		.owl-controls .owl-dot span:hover,
		.owl-controls .owl-dot.active span {
			opacity: 1;
		}
	}
}
/*--------------------------------------------------------------
# Content Area Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	.content-area {
		padding-bottom: 1.75em;
		.grid {
			overflow: hidden;
		}
	}
	.related-post .post-media img {
		max-height: none !important;
	}
	.related-post .post-body .entry-title {
		margin-bottom: 20px;
	}
	.single .widget-area {
		margin-top: 30px;
	}

}
@media only screen and (max-width: 767px) {
	#blog-content {
		padding: 15px;
	}
	.content-area {
		padding-bottom: 1.75em;
		.grid {
			overflow: hidden;
			right: 0;
			width: 100% !important;
		}
	}
}
@media only screen and (max-width: 482px) {
	#blog-content {
		padding: 0;
	}
	.content-area .grid .hentry {
		margin-bottom: 30px !important;
	}
	#blog-content .widget-area {
		margin-left: 15px;
		margin-right: 15px;
	}
	.archive .site-content .col-md-8 {
		padding: 0;
	}
}
@media only screen and (max-width: 420px) {
	.content-area .entry-footer .post-comment {
		top: 60px;
	}
	.content-area .entry-footer .share-area::before {
		bottom: -23px;
	}
	.content-area .entry-footer .post-view {
		top: 60px;
	}	
	.content-area .grid .entry-footer .share-area::before {
		bottom: 0;
	}
	.content-area .author-info {
		padding-top: 30px;
	}
}

/*--------------------------------------------------------------
# Post author-info Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	.author-info #author-meta {
		position: static;
	}
	.author-info .post-count,
	.author-info .authors-social {
	    float: none;
	}
}
@media only screen and (max-width: 470px) {
	.author-info #author-img {
		display: block;
		width: 100%;
	}
	.author-info .at-img {
		 margin: 0 auto;
	}
	.author-info #author-details {
		display: block;
		text-align: center;
		width: 100%;
		border-width: 0 1px 1px;
		border-left: 1px solid $color__border-one;
	}
	.authors-bio {
		padding-bottom: 30px;
	}	
}
@media only screen and (max-width: 370px) {
	.author-info #author-footer .post-count,
	.author-info #author-footer .authors-social {
		float: none;
	}
	.author-info #author-footer {
		text-align: center;
	}
}
/*--------------------------------------------------------------
# Footer Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	#footer-middle .widget {
		margin-bottom: 30px;
	}
	.newsletter-area .form-newsletter .pad-right {
		padding-right: 15px;
	}
	.newsletter-area .form-newsletter .pad-left {
		padding-left: 15px;
	}
}
@media only screen and (max-width: 768px) {
	#footer-top {
		#instafeed-area {	
			.list {
				width: 50%;
			}
		}
	}
	.topbutton {
		bottom: 8px;
		height: 35px;
		line-height: 36px;
		right: 8px;
		width: 35px;
		z-index: 10;
	}
}
@media only screen and (max-width: 410px) {
	#footer-top .widget .widget-title::before, 
	#footer-top .widget .widget-title::after {
		background: transparent;
	}
	#footer-top .widget .widget-title span::before, 
	#footer-top .widget .widget-title span::after {
		font-size: 13px;
	}
	#footer-top .widget .widget-title span::before {
		left: -22%;
	}	
	#footer-top .widget .widget-title span::after {
		right: -22%;
	}
}

@media only screen and (max-width: 780px) {
	.admin-bar {
		.top-menu {
			margin-top: 46px;
		}
		.animated-arrow.menuopen {
			top: 50px;
		}
	}
}
@media only screen and (max-width: 600px) {
	.admin-bar {
		.top-menu.scroll {
			margin-top: 0;
		}
		.animated-arrow.menuopen.scroll {
			top: 20px;
		}		
	}
}