.site-content {
	padding: floor($base__line-grid * 2.45) 0 0;
}
#blog-content {
	margin-top: -170px;
	background: $color__white;
	padding: 30px;
	position: relative;
	overflow: hidden;
}
.search .site-content,
.archive .site-content {
	padding-bottom: 30px;
}
.content-area {
	.page-header {
		background: $color__white;
		border: 1px solid $color__border-four;
		margin: 0 0 1.9em;
		padding: 2.28em;
		text-align: center;
		.page-title {
			font-size: 1.563em;
			margin-bottom: 0;
			margin-top: 0;
		}
		.search {
			margin-top: 1.5em;
			.form-controller {
				height: 43px;
			}
			.btn-search {
				padding: 0.75em 1em;
			}
		}
	}
	// Post Header
	//---------------------
	.entry-header {
		text-align: center;
		.entry-title {
			margin: 32px 0 12px;
		    position: relative;
		    z-index: 100;
		}
	}
	// Post Thumb
	//---------------------
	.post-thumb, .post-media, .post-link {
		//margin-top: 28px;
	}
	.post-thumb img{
		margin: auto;

	}
	.post-media {
		.wp-video {
		    height: auto !important;
		    width: 100% !important;
			.mejs-container {
			    height: auto !important;
			    padding-top: 57%;
			    width: 100% !important;
			}
			.mejs-mediaelement {
				right: 0;
				bottom: 0;
			}
			.mejs-mediaelement video {
			    bottom: 0;
			    height: 100% !important;
			    left: 0;
			    position: absolute;
			    right: 0;
			    top: 0;
			    width: 100% !important;
			}
			.mejs-overlay, .wp-video .mejs-poster {
			    height: 100% !important;
			    width: 100% !important;
			}
		}
		.mejs-overlay-button {
			top: 40% !important;
		}	
	}
	// Post Content
	//---------------------
	.entry-content {
		margin: 35px 0 8px;
		.mejs-container {
			margin-bottom: 1.6em;
		}
		.wp-playlist {
			border: 0 none;
			padding: 0;	
			margin: 0 0 1.9em;	
			.mejs-container {
				margin: 0 auto;
			}
		}
		p a:hover {
			text-decoration: underline;
		} 
		ul, ol {
			margin-bottom: 30px;
			margin-left: 20px; 
		}
		ol li, 
		ul li {
			margin-top: 12px;
		}
		.edit-link {
		  	display: block;
		  	margin: 15px 0;
		    &:before {
		    	content: "\f044";
		    	font-family: FontAwesome;
		    	margin-right: 5px;
		    }
		}
	}
	// Post Footer
	//---------------------
	.entry-footer {
		.footer-meta {
			font-size: 11px;
			position: relative;
			color: $color__meta;
			a {
				color: inherit;
			}
		}
		.post-comment {
			background: $color__white;
			position: absolute;
			top: 1px;
			padding-right: 10px;
			left: 0;
			z-index: 1;
			letter-spacing: 0.04em;
		}
		.post-view {
			background: $color__white;
			position: absolute;
			top: 1px;
			padding-left: 10px;
			right: 0;
			z-index: 1;
			letter-spacing: 0.04em;
		}
		.share-area {
			color: $color__white;
			text-align: center;
			clear: both;
			position: relative;
			&:before {
				border-top: 1px solid $color__border-two;
				bottom: 50%;
				content: "";
				left: 0;
				position: absolute;
				width: 100%;
			}
			a {
				margin: 0 5px;
				font-size: 11px;
			}
			div {
				display: inline-block;
				background: $color__white;
				padding: 0 10px;
				position: relative;
			}
			a span {
				border-radius: 50%;
				width: 25px;
				height: 25px;
				line-height: 24px;
				border: 1px solid $color__border-three;
				color: $color__border-three;
				@include prefixed(transition, all 0.3s ease);
			}
			a span:hover {
				color: $color__white;
			}
		}
		.tags-links {
			span:before {
				content: "\f02b";
				font-family: FontAwesome;
				position: relative;
				left: -0.8em; 
			}
		}
	}
	.type-attachment {
		.entry-content {
			margin-bottom: 0;
			margin-top: 1.9em;
			text-align: center;
		}	
	}
}
/*--------------------------------------------------------------
# Home Version one
--------------------------------------------------------------*/
.content-area {
	.grid {
		.entry-header {
			text-align: left;
		}
		.entry-title {
			font-size: 24px;
			margin-top: 30px;
		}
		.post-format {
			text-align: center;
		 	margin-left: 13px;
		    margin-top: -25px;
		    line-height: 45px;
		    height: 50px;
		    width: 50px;
		}
		.entry-content p .more-link {
			display: none;
		}
		.post-link-wrapper .icon-area {
			padding: 54px 25px;
		}
		.post-link-wrapper .link-content {
			padding-left: 14px;
		}
		.post-link-wrapper h2 {
			font-size: 18px;
		}
		.post-link-wrapper .tb-cell > a {
			white-space: inherit;
		}
		.entry-content {
			margin-top: 20px;
		}
		.entry-footer {
			position: relative;
		}
		.entry-footer .share-area a span {
			background: transparent !important;
		}
		.entry-footer .more-wraper {
			float: left;
			z-index: 1;
		}
		.entry-footer .more-wraper::after {
			background: #ebebeb none repeat scroll 0 0;
			content: "";
			height: 1px;
			left: 0;
			position: absolute;
			top: 17px;
			width: 100%;
			z-index: 0;
		} 
		.entry-footer .more-wraper .more-link {
			margin-top: 0;
			font-size: 11px;
			padding: 10px 20px;
			z-index: 10;

		}
		.footer-meta {
			float: right;
			margin-top: 6px;
		}
		.entry-footer .share-area div {
			padding: 0;
		}
		.entry-footer .share-area a {
			font-size: 13px;
		}
		.entry-footer .share-area a span {
			border: 0 none;
			border-radius: 0;
			height: 15px;
			width: 15px;
			line-height: normal;
		}
		.entry-footer .post-comment,
		.entry-footer .post-view {
			display: none;
		}
	}
	.full-width {
		.entry-title {
			font-size: 32px;
		}		
	}
    .hentry {
    	//margin-bottom: 45px;
    }
}
/*--------------------------------------------------------------
# Single Post Footer
--------------------------------------------------------------*/
.single-post {
	.entry-content {
		.tag {
			font-size: 13px;
			color: $color__meta;
		}
		.tag span {
			display: block;
			font-weight: bold;
			margin-bottom: 8px;
		}
		.tag a {
			font-family: $font__heading;
			border: 1px solid $color__border-four;
			display: block;
			color: $color__black;
			float: left;
			font-weight: normal;
			line-height: 1.4em !important;
			margin-bottom: 5px;
			margin-right: 5px;
			padding: 6px 17px;
			position: relative;
			text-decoration: none;
			transition: all 0.2s linear 0s;
			white-space: nowrap;
			&:hover {
				color: $color__white;
				transition: all 0.1s linear 0s;
			}
		}
	}
	.inline {
		display: inline-block;
		float: left;
		padding-right: 8px;
		&.post-format {
			font-size: 16px;
		}
		&.post-view:after {
			content: ",";
		}
	}
	.entry-footer {
		margin-top: 30px;
		.footer-meta {
			margin-top: 0;
		}
	}
}
/*--------------------------------------------------------------
# Single Post Full width layout two
--------------------------------------------------------------*/
#singlepage-layout-two {
	.post-description {
		margin-top: -100px;
		background:  $color__white;
		padding: 30px;
	}
	.post-format {
		margin-top: -52px;
	}
	.entry-content {
		margin-top: 45px;
	}
}
#post-others {
	padding: 0 45px;
}
/*--------------------------------------------------------------
# Single Post Navigation
--------------------------------------------------------------*/
.post-navigation {
    background-color: $color__white;
    border: 1px solid $color__border-four;
    display: table;
    margin-bottom: 60px;
    position: relative;
    table-layout: fixed;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
	.post-previous, 
	.post-next {
	    display: table-cell;
	    position: relative;
	    vertical-align: middle;
	    width: 50%;
	    border-left: 1px solid $color__border-four;
	    border-right: 1px solid $color__border-four;
	}
	.post-previous i.fa {
	    left: 25px
	}
	.post-next i.fa {
	    right: 25px
	}
	i.fa {
	    font-size: 30px;
	    position: absolute;
	    top: 50%;
	    @include prefixed(transform, translateY(-50%));
	}
	.post-previous {
	    padding: 40px 10px 40px 25px;
	    text-align: left;
		border-left: 0 none;
		border-right: 0 none;
	}
	.post-next {
	   	padding: 40px 25px 40px 10px;
	    text-align: right;
	    border-right: 0 none;
	}
	h3 {
	    font-size: $heading__four;
	    font-weight: normal;
	    margin: 0;
	    transition: all 0.2s linear 0s;
	    span {
	    	display: block;
	    	font-size: 15px;
	    	font-family: $font__body;
	    	color: $color__meta;
	    }
	}
	.post-previous h3 {
	    margin-left: 40px;
	}
	.post-next h3 {
	    margin-right: 40px;
	}
	&.no-next-link .post-previous {
	    float: left;
	    border-right: 1px solid $color__border-four;
	}
	&.post-navigation.no-next-link .post-next {
	    float: right;
	    border-left: 1px solid $color__border-four;
	}
}
/*--------------------------------------------------------------
# No results
--------------------------------------------------------------*/
.no-results {
	.page-header {
		background: $color__white;
		border: 1px solid $color__border-four;
		border-bottom: 0;
		padding: 1.9em;
		margin: 0;
		h3 {
			margin: 0;
			text-align: center;
		}
	}
	.page-content {
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 1.9em;
		margin: 0 0 1.9em;
		text-align: center;
		.page-not-found-icon {
			font-size: 5.441em;
			margin-bottom: 0;
			line-height: normal;
			color: $color__meta;
			margin-top: -14px;
			i {
				line-height: normal;
			}
		}
		.input-group .form-controller {
			width: 100%;
			height: 43px;
			padding: 0.56em 1em;
			font-style: italic;
			display: table-cell;
			border: 1px solid $color__border-four;
		}
		button {
			@include prefixed(border-radius, 0);
			padding: 0.75em 1em;
		}
		.btn-search {
			i {
				position: relative;
				top: 0;
				vertical-align: middle;
			}
		}
	}
}

/*--------------------------------------------------------------
# Category Section Heading
--------------------------------------------------------------*/
.archive-page-title {
	margin-bottom: 45px;
	.title-content {
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 45px;
		text-align: center;
		h1 {
			margin: 0;
			line-height: 1em;
			font-weight: bold;
			span {
				display: block;
				font-size: 18px;
				font-family: $font__body;
				font-style: italic;
				font-weight: normal;
				&:after {
				   background-color: $color__border-three;
				   content: "";
				   display: block;
				   height: 2px;
				   margin: 8px auto 15px;
				   width: 135px;
				}
			}
		}
	}
}
.page-header {
	background: $color__white;
	border: 1px solid $color__border-four;
	padding: 45px;
	text-align: center;	
	margin: 0 0 45px;
	.page-title {
		margin-bottom: 0;
		span {
			display: block;
			font-size: 18px;
			font-family: $font__body;
			font-style: italic;
			font-weight: normal;
			&:after {
			   background-color: $color__border-three;
			   content: "";
			   display: block;
			   height: 2px;
			   margin: 8px auto;
			   width: 135px;
			}
		}
	}
}

/*--------------------------------------------------------------
# Post Author Info 
--------------------------------------------------------------*/
.author-info {
	background: $color__white;
	margin-bottom: 60px;
	.at-img {
		width: 110px;
		height: 110px;
		margin: auto;
		position: relative;
		overflow: hidden;
		@include prefixed(border-radius, 50%);
	}
	.at-img > img {
	    max-height: 110px;
	    max-width: 110px;
	}
	#author-img, #author-details {
		@include table_display;
	}
	#author-details {
		position: relative;
	}
	#author-img {
		vertical-align: middle;
		border: 1px solid $color__border-four;
		padding: 30px;
	}
	.author-name {
		font-size: $heading__four;
		font-weight: bold;
		margin: 15px 0 0;
		text-align: center;
		white-space: nowrap;
	}
	.authors-title {
		font-family: $font__body;
	  	font-size: 13px;
	  	color: #a0a0a0;
	    margin: 0.2em 0 1em;
	}
	#author-details {
		border: 1px solid $color__border-four;
		border-left: 0;
		padding: 20px;
		width: 1070px;
		overflow: hidden;
	}
	.authors-bio p {
		font-size: 15px;
		line-height: 26px;
		margin-bottom: 1.5em;
	}
	b {
		font-weight: normal;
	}
	#author-meta {
		bottom: 30px;
		display: block;
		left: 20px;
		position: absolute;
		right: 20px;
		color: $color__meta;
		font-size: 13px;
	}
	.post-count {
		float: left;
	}
	.authors-social {
		float: right;
		display: inline-block;
		b {
			font-weight: normal;
		  	margin-right: 14px;
		    vertical-align: middle;
		}
		a {
			padding: 0 5px;
			&:first-child {
				padding-left: 15px;
			}
			i {
				vertical-align: middle;
			}
		}
	}		

}
.archive.author {
	.author-info {
		margin-top: 0;
		margin-bottom:2.2em;
	}
}

/*--------------------------------------------------------------
# Related Post 
--------------------------------------------------------------*/
.related-post {
	border-bottom: 1px solid $color__border-four;
	margin-bottom: 45px;
	padding-bottom: 45px;
	.related-post-title {
		font-size: $heading__four;
	    font-weight: bold;
	    margin: 0 0 38px;
	    text-align: center;
	    position: relative;
	    z-index: 1;
	    word-spacing: 0.2em;
	    &:before {
	    	background: $color__border-four;
	    	height: 1px;
	    	content: "";
	    	width: 100%;
	    	left: 0;
	    	top: 14px;
	    	position: absolute;
	    	z-index: -1;
	    }
	    span {
	    	background: $color__white;
	    	position: relative;
			&:before {
				margin-right: 10px;
				content: "\e603";
				font-family: 'glimmer';
				font-size: 15px;
			}
			&:after {
				margin-left: 10px;
				content: "\e600";
				font-family: 'glimmer';
				font-size: 15px;
			}
	    }
	}
	.post-media {
		margin-top: 0;
		position: relative;
		overflow: hidden;
		img {
			margin: auto;
			width: 100%;
		}
	}
	.post-body {
		text-align: center;
		.entry-title {
			font-size: 18px;
			font-weight: bold;
			line-height: 28px;
			margin-bottom: 0;
			margin-top: 5px;
		}
		.entry-date {
			font-size: 11px;
			margin-top: 10px;
			color: #a0a0a0;
		}
	}
}

/*--------------------------------------------------------------
# ShortCode
--------------------------------------------------------------*/
.progress {
	@include prefixed(border-radius, 0);
}

.panel {
	@include prefixed(border-radius, 0);
	@include prefixed(box-shadow, none);
}
.panel-group .panel {
	@extend .panel;
}
.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\2212";
    float: right;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\2b";
}
.nav-tabs {
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	li {
		margin-top: 0 !important;
	}
	> li > a {
		@include prefixed(border-radius, 0);
		margin-left: 0;
		margin-right: 0;

	}
	> li.active > a {
		margin-right: 0;
	}
}
.tab-content div {
	padding: 10px 15px;
}
#glimmer-tab-content {
	.edit-link {
		margin-bottom: 1em;
	}
}

.alert {
	padding: 12px;
	@include prefixed(border-radius, 0);
	.close {
		line-height: 1.3em;
		right: 0;
    	top: 0;
		&:hover {
			background: transparent;
		}
	}
}
.entry-content {
	.post-status-wrapper {
		padding: 30px;
	}
}