/****************************************
	Colors
****************************************/
a:hover {
  color: #ee4c62;
}
a:focus {
  color: #ee4c62;
}
.heading .title {
  color: #2d343e;
}
.heading .small-border {
  background: #2d343e;
}
.button-big {
  color: #ee4c62;
  border: 1px solid #ee4c62;
}
.button-big:hover {
  color: #2d343e;
  border: 1px solid #2d343e;
}
.pageloader {
  background-color: #2d343e;
}
.home {
  background-color: rgba(45, 52, 62, 0.3);
}
[class*="brick-one"] {
  background: #ee4c62;
}
.odd {
  background: #ee4c62;
}
.blank {
  background: #2d343e;
}
.navbar-default {
  background-color: #2d343e;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ee4c62 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #ee4c62 !important;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #ee4c62 !important;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ee4c62 !important;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  color: #ee4c62;
}
/*** dropdown menu ***/
.dropdown .dropdown > a:after {
  border-left-color: #ee4c62;
}
.dropdown .dropdown:hover > a:after {
  border-left-color: #ee4c62;
}
.dropdown-menu {
  background-color: #2d343e;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
  color: #ee4c62 !important;
}
/*** sticky-wrapper ***/
.stuck .navbar-nav > li.active > a,
.stuck .navbar-nav > li.active a:focus,
.stuck .navbar-nav > li.active a:hover {
  color: #ee4c62;
}
.team-heading {
  background: #2d343e;
}
.patern-overlay {
  background-color: rgba(45, 52, 62, 0.8);
}
.about-service .about-icon {
  color: #2d343e;
}
.team-member .team-bg {
  background: #2d343e;
}
.team-details .member-details .social-link i {
  color: #2d343e;
}
.team-details .member-details .social-link i:hover {
  background: #ee4c62;
}
.our-skill .skillbar-bar {
  background: #ee4c62;
}
.our-skill .skill-bar-percent {
  color: #ee4c62;
}
.our-skill .skill-bar-percent:after {
  content: "";
  border-top: 12px solid #ee4c62;
}
.our-service .service-content .service-icon {
  background: #ee4c62;
}
.our-service .service-content .service-icon:after {
  -webkit-box-shadow: 0 0 0 4px #ee4c62;
  box-shadow: 0 0 0 4px #ee4c62;
}
.portfolio .portfolio-filter ul li a {
  border: 1px solid #2d343e;
  color: #2d343e;
}
.portfolio .portfolio-filter ul li a:hover {
  color: #ee4c62;
  border: 1px solid #ee4c62;
}
.portfolio .portfolio-filter ul li .current {
  border: 1px solid #ee4c62;
  color: #ee4c62;
}
.portfolio .portfolio-filter ul li:hover {
  color: #ee4c62;
}
/**Portfolio Single**/
#single-portfolio .close-folio-item {
  color: #2d343e;
}
#single-portfolio #project-image .owl-prev,
#single-portfolio #project-image .owl-next {
  background: #ee4c62;
}
.fun-fact i {
  background: #ee4c62;
}
.price-table .price-table-content .price-title {
  background: #2d343e;
}
.price-table .price-table-content .price-title:after {
  border-color: rgba(47, 47, 47, 0);
  border-top-color: #2d343e;
}
.price-table .price-table-content .price-sub-title {
  background: #2d343e;
}
.price-table .price-table-content .price-table-container .price {
  color: #ee4c62;
}
.price-table .price-table-content .price-table-container ul li {
  color: #2d343e;
}
.price-table .price-table-content .price-table-container .sign-up-button {
  background: #2d343e;
}
.price-table .price-table-content .pricing-content:hover .price-title,
.price-table .price-table-content .featured .price-title {
  background: #ee4c62;
}
.price-table .price-table-content .pricing-content:hover .price-title:after,
.price-table .price-table-content .featured .price-title:after {
  border-top-color: #ee4c62;
}
.price-table .price-table-content .pricing-content:hover .price-sub-title,
.price-table .price-table-content .featured .price-sub-title {
  background: #ee4c62;
}
.price-table .price-table-content .pricing-content:hover ul > li,
.price-table .price-table-content .featured ul > li {
  color: #ee4c62;
}
.price-table .price-table-content .pricing-content:hover .sign-up-button,
.price-table .price-table-content .featured .sign-up-button {
  background: #ee4c62;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #ee4c62 !important;
  border-color: #ee4c62;
}
.pagination li:first-child a:hover,
.pagination li:last-child a:hover,
.pagination li:first-child span:hover,
.pagination li:last-child span:hover,
.pagination li:first-child a:focus,
.pagination li:last-child a:focus,
.pagination li:first-child span:focus,
.pagination li:last-child span:focus {
  color: #ee4c62;
  border-color: #ee4c62;
}
.pagination > .active a,
.pagination > .active a:focus,
.pagination > .active a:hover,
.pagination > .active span,
.pagination > .active span:focus,
.pagination > .active span:hover {
  border-color: #ee4c62;
  color: #ee4c62 !important;
}
.submit:hover,
button:hover {
  background: #ee4c62;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="subject"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #ee4c62;
}
.searchform button:hover {
  background: #ee4c62;
}
.comment-respond input[type="text"]:focus,
.comment-respond input[type="password"]:focus,
.comment-respond input[type="datetime"]:focus,
.comment-respond input[type="datetime-local"]:focus,
.comment-respond input[type="date"]:focus,
.comment-respond input[type="month"]:focus,
.comment-respond input[type="time"]:focus,
.comment-respond input[type="week"]:focus,
.comment-respond input[type="number"]:focus,
.comment-respond input[type="email"]:focus,
.comment-respond input[type="url"]:focus,
.comment-respond input[type="search"]:focus,
.comment-respond input[type="tel"]:focus,
.comment-respond input[type="color"]:focus,
.comment-respond input[type="subject"]:focus,
.comment-respond textarea:focus,
.comment-respond select:focus {
  border: 1px solid #ee4c62 !important;
}
.comment-respond .submit:hover {
  background: #ee4c62 !important;
}
.blog-featured .blog-description p > a {
  color: #ee4c62;
}
.blog-meta li:first-child a {
  color: #ee4c62;
}
.blog-content .blog-details .blog-title a:hover {
  color: #ee4c62;
}
.blog-content .blog-details .blog-description a {
  color: #ee4c62;
}
.blog-content .blog-details .tag-catagory a:hover {
  color: #ee4c62;
}
.comment-area .media .media-reply {
  color: #ee4c62;
}
.error-body .error span {
  color: #ee4c62;
}
.footer-copyright {
  background: #2d343e;
}
.footer-copyright .social a {
  color: #2d343e;
}
.footer-copyright .social a:hover {
  background: #ee4c62;
}
/***Back to top***/
.backtopbutton {
  color: #ee4c62;
  border: 1px solid #ee4c62;
}
.backtopbutton span {
  font-size: 18px;
}
.backtopbutton:hover,
.backtopbutton:focus {
  color: #ee4c62;
}
@media (max-width: 988px) {
  .team-mobile {
    background: #2d343e;
  }
}
@media (max-width: 767px) {
  .navbar-nav > li > a:hover {
    color: #2d343e;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    color: #2d343e !important;
  }
}
