/****************************************
	5. custom-icon
****************************************/
.design {
  background: url("../../images/service/designing.png") no-repeat center center;
  content: " ";
  height: 50px;
  display: block;
  width: 60px;
  max-width: 100%;
  background-size: contain;
}
.photography {
  background: url("../../images/service/photography.png") no-repeat center center;
  content: " ";
  height: 50px;
  display: block;
  width: 60px;
  max-width: 100%;
  background-size: contain;
}
.branding {
  background: url("../../images/service/branding.png") no-repeat center center;
  content: " ";
  height: 50px;
  display: block;
  width: 60px;
  max-width: 100%;
  background-size: contain;
}
.videography {
  background: url("../../images/service/videography.png") no-repeat center center;
  content: " ";
  height: 50px;
  display: block;
  width: 60px;
  max-width: 100%;
  background-size: contain;
}
.developing {
  background: url("../../images/service/developing.png") no-repeat center center;
  content: " ";
  height: 50px;
  display: block;
  width: 60px;
  max-width: 100%;
  background-size: contain;
}
.printing {
  background: url("../../images/service/printing.png") no-repeat center center;
  content: " ";
  height: 50px;
  display: block;
  width: 60px;
  max-width: 100%;
  background-size: contain;
}
.softwere {
  background: url("../../images/service/softwere.png") no-repeat center center;
  content: " ";
  height: 50px;
  display: block;
  width: 60px;
  max-width: 100%;
  background-size: contain;
}
.html {
  background: url("../../images/service/html.png") no-repeat center center;
  content: " ";
  height: 50px;
  display: block;
  width: 60px;
  max-width: 100%;
  background-size: contain;
}
