/****************************************
Template Name: Glimar
Author: Softhopper
Author URI: http://softhopper.net/

This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files contents are outlined below.
 3.  Typography
 4.  Base
 5.  Form
 6.	 loader
 7.  Header
 8.  Menu
 9.  About
 10.  Parallax
 11. Team
 12. Service
 13. Skill
 14. Testimony
 15. Portfolio
 16. Fun-fact
 17. Price-Table
 18. Our-clients
 19. Contact
 20. Blog list
 21. Blog single
 22. Side var
 23. 404 page
 24. Footer
 26. Responsive
****************************************/
/****************************************
	3. Typography
****************************************/
body {
  color: #777777;
  background: #ffffff;
  font-family: 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57143;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiesed;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.4;
  clear: both;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
p {
  margin: 0 0 24px 0;
}
blockquote {
  font-size: 18px;
  font-weight: 400;
  color: #808080;
  margin: 0 0 1.5em;
  border-left: 5px solid #ee4c62;
}
blockquote footer {
  margin-top: 10px;
  font-weight: bold;
}
dd,
dt {
  line-height: 1.6;
}
b,
strong {
  font-weight: 600;
}
a {
  color: #777777;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
.heading {
  margin: 96px 0 0;
}
.heading .title {
  font-size: 38px;
  text-transform: uppercase;
  color: #38404d;
  margin-top: 0;
}
.heading .small-border {
  display: block;
  height: 2px;
  margin: 10px auto 20px;
  width: 140px;
}
.heading .small-border-two {
  background: #ffffff;
  display: block;
  height: 2px;
  margin: 10px auto 20px;
  width: 140px;
}
.heading .subtitle {
  width: 70%;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-transform: none;
  color: #666666;
}
.parallax-heading .heading > .title {
  color: #ffffff;
}
.parallax-heading .heading > .subtitle {
  color: #e6e6e6;
}
.blog-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  margin-top: -6px;
  color: #777777;
}
.widget-title {
  color: #777777;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
/****************************************
	4. Base
****************************************/
* {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
section,
summary {
  overflow: hidden;
}
img {
  max-width: 100% !important;
  height: auto;
}
hr {
  margin-top: 10px;
  margin-bottom: 7px;
}
.pd-big {
  padding: 0 2em;
}
.margin-top {
  margin-top: 2em;
}
.pd-bigger {
  padding: 0 3em;
}
.pd-bottom {
  padding-bottom: 1em;
}
.base-padding-sm {
  padding: 67px 0 78px;
}
.base-padding {
  padding: 72px 0 110px;
}
.base-padding-two {
  padding: 96px 0 0;
}
.base-padding-three {
  padding: 48px 0 96px;
}
.base-padding-four {
  padding: 0 0 110px;
}
.base-padding-top {
  padding-top: 48px;
}
.base-padding-top-bot {
  padding: 48px 0 45px;
}
.base-margin-bottom {
  margin-bottom: 48px;
}
.base-padding-blog {
  padding: 110px 0;
}
.portfolio-pad {
  padding: 10px 5px 0;
}
.footer-padding {
  padding: 30px 0 24px;
}
.button-big {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
  padding: 1em 3.5em;
}
.button-big:hover {
  -webkit-transition: 0.2s ease-in-out all;
  -moz-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em !important;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em !important;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
.pagination > li > a,
.pagination > li > span {
  background: transparent;
  font-weight: 500;
  margin-left: 5px;
  margin-bottom: 5px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background: transparent;
}
.pagination {
  float: right;
  margin: 0;
}
.pagination li {
  display: inline-block;
  vertical-align: middle;
}
.pagination li:first-child a,
.pagination li:last-child a,
.pagination li:first-child span,
.pagination li:last-child span {
  border-radius: 0;
}
.pagination li i {
  font-size: 18px;
  font-weight: 600;
  vertical-align: middle;
}
.pagination > .active a,
.pagination > .active a:focus,
.pagination > .active a:hover,
.pagination > .active span,
.pagination > .active span:focus,
.pagination > .active span:hover {
  background-color: transparent;
  cursor: default;
  z-index: 2;
}
.nav-previous {
  border: 1px solid #777;
  display: inline-block;
  padding: 10px;
}
/****************************************
	Form
****************************************/
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
input,
button,
select,
textarea {
  font-family: 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 24px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #424d5c;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #424d5c;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #424d5c;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #424d5c;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  border: none;
  vertical-align: baseline;
  font-size: 100%;
}
label {
  display: inline-block;
  cursor: pointer;
}
input,
textarea,
select,
button {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
button {
  display: inline-block;
  padding: 10px 13px;
  outline: none;
  color: #4d4d4d;
  background-color: #ffffff;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  -webkit-margin-before: -5px;
  margin-top: 0.8em;
}
button:hover {
  color: #ffffff;
}
.input-block {
  padding: 1.6em 0 0.8em;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="subject"],
textarea,
select {
  display: inline-block;
  padding: 10px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ffffff;
  max-width: 100%;
  color: #808080;
}
textarea {
  min-height: 190px !important;
}
.searchform input,
.searchform button {
  border-radius: 0;
  background: #ffffff;
  margin-top: 0;
  height: 50px;
}
.searchform input {
  padding-left: 20px;
}
.searchform input:focus {
  border: none !important;
}
.searchform .submit {
  color: #777777;
  background: #ffffff;
}
.searchform button:hover {
  color: #ffffff;
}
.searchform #submit-search {
  border-left: 1px solid rgba(45, 52, 62, 0.2);
  font-size: 18px;
}
.searchform #submit-search i {
  vertical-align: middle;
}
.comment-form .col-md-6,
.comment-form .col-md-12 {
  margin-bottom: 15px;
}
.comment-form .col-md-6 {
  padding-right: 0;
}
.comment-form .col-md-6:nth-child(2) {
  padding-right: 15px;
}
.comment-form textarea {
  width: 100% !important;
}
.comment-form textarea#comment {
  width: 100% !important;
}
.comment-form .submit {
  margin-left: 15px;
  margin-top: 0;
  padding: 8px 40px;
}
.comment-form .form-submit {
  margin-bottom: 0;
}
.comment-respond input[type="text"],
.comment-respond input[type="password"],
.comment-respond input[type="datetime"],
.comment-respond input[type="datetime-local"],
.comment-respond input[type="date"],
.comment-respond input[type="month"],
.comment-respond input[type="time"],
.comment-respond input[type="week"],
.comment-respond input[type="number"],
.comment-respond input[type="email"],
.comment-respond input[type="url"],
.comment-respond input[type="search"],
.comment-respond input[type="tel"],
.comment-respond input[type="color"],
.comment-respond input[type="subject"],
.comment-respond textarea,
.comment-respond select {
  border: 1px solid #bfbfbf !important;
}
.comment-respond {
  width: 100%;
}
.comment-respond .submit {
  background-color: #e6e6e6;
}
.comment-respond .submit:hover {
  color: #ffffff;
}
.comments-area {
  padding: 1.5em 3em 3em;
  background: #ffffff;
}
.comments-area ul,
.comments-area ol {
  padding: 0;
  list-style: none;
}
.comments-area .odd {
  background: #fff;
}
.comments-area .comments-title {
  font-weight: 500;
}
.comment-reply-title {
  font-weight: 500;
  margin-left: 15px;
}
.logged-in-as {
  margin-bottom: 18px;
  margin-left: 15px;
}
.comment-list .comment {
  margin-top: 2em;
}
.comment-list,
.children {
  padding: 0;
  list-style: none;
}
.comment-body {
  overflow: hidden;
  background: #fff;
}
.author-img {
  height: 80px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  width: 80px;
  float: left;
  display: inline-block;
}
.date {
  display: inherit;
  font-size: 13px;
  line-height: 19px;
}
.reply {
  margin-top: 10px;
}
.reply a {
  color: #fff;
  padding: 3px 10px;
  display: inline-block;
}
.reply a:hover {
  color: #fff;
}
.comment-details {
  display: table-cell;
  vertical-align: top;
  width: 1200px;
  overflow: hidden;
}
.comment-content {
  border: 1px solid #e6e6e6;
  display: block;
  padding: 15px;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
}
.comment-content p {
  margin: 0;
}
.comment-metadata {
  margin-bottom: 8px;
}
.children {
  margin-left: 100px;
}
/****************************************
    6. loader
****************************************/
.pageloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  top: 0;
}
.drawing {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 50%;
}
/* -- Loading thingy --*/
.loading-dot {
  border-radius: 100%;
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  -webkit-animation: load 3s infinite linear;
  -moz-animation: load 3s infinite linear;
  -o-animation: load 3s infinite linear;
  animation: load 3s infinite linear;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: translate(0px, 0px), rotate(0deg);
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  }
  25% {
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff;
  }
  50% {
    box-shadow: 0px -40px 0px 0px #ffffff, 0px 40px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff;
  }
  70% {
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
  }
  75% {
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    height: 10px;
    width: 10px;
  }
  80% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
  }
  85% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
  }
  90% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    background-color: #ffffff;
    height: 10px;
    width: 10px;
  }
  95% {
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  }
}
@-moz-keyframes load {
  0% {
    -moz-transform: translate(0px, 0px), rotate(0deg);
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  }
  25% {
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff;
  }
  50% {
    box-shadow: 0px -40px 0px 0px #ffffff, 0px 40px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff;
  }
  70% {
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
  }
  75% {
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    height: 10px;
    width: 10px;
  }
  80% {
    -moz-transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
  }
  85% {
    -moz-transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
  }
  90% {
    -moz-transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    background-color: #ffffff;
    height: 10px;
    width: 10px;
  }
  95% {
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  }
  100% {
    -moz-transform: rotate(360deg);
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  }
}
@keyframes load {
  0% {
    transform: translate(0px, 0px), rotate(0deg);
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  }
  25% {
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff;
  }
  50% {
    box-shadow: 0px -40px 0px 0px #ffffff, 0px 40px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff;
  }
  70% {
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
  }
  75% {
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    height: 10px;
    width: 10px;
  }
  80% {
    transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
  }
  85% {
    transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    background-color: #ffffff;
    height: 10px;
    width: 10px;
  }
  95% {
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  }
}
@-o-keyframes load {
  0% {
    -o-transforms: translate(0px, 0px), rotate(0deg);
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  }
  25% {
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff;
  }
  50% {
    box-shadow: 0px -40px 0px 0px #ffffff, 0px 40px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff;
  }
  70% {
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
  }
  75% {
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    height: 10px;
    width: 10px;
  }
  80% {
    -o-transforms: translate(0px, 0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
  }
  85% {
    -o-transforms: translate(0px, 0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
  }
  90% {
    -o-transforms: translate(0px, 0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #ffffff;
    background-color: #ffffff;
    height: 10px;
    width: 10px;
  }
  95% {
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  }
  100% {
    -o-transforms: rotate(360deg);
    box-shadow: 0px 40px 0px 0px #ffffff, 0px -40px 0px 0px #ffffff, 40px 0px 0px 0px #ffffff, -40px 0px 0px 0px #ffffff, 40px 40px 0px 0px #ffffff, -40px -40px 0px 0px #ffffff, 40px -40px 0px 0px #ffffff, -40px 40px 0px 0px #ffffff;
  }
}
/****************************************
	6. Header
****************************************/
.home {
  background: url(../../images/pattern.png);
  height: auto;
  width: 100%;
  position: relative;
}
.brow {
  margin-left: 0;
}
.brow a {
  color: #ffffff;
  text-decoration: none;
}
.brow::before,
.brow::after {
  display: table;
  content: "";
  line-height: 0;
}
.brow::after {
  clear: both;
}
[class*="brick-one"] {
  float: left;
  min-height: 1px;
  margin-left: 0;
}
.brick-one {
  width: 200px;
  height: 200px;
}
.head-left {
  margin-left: 200px;
}
#header .header-holder {
  width: 100%;
  margin: 0 auto;
}
#header .heder-menu {
  margin-left: 6.3%;
}
#header [class*="brick-one"] {
  color: #ffffff;
}
#header .odd {
  position: relative;
  z-index: 999;
}
#header .blank {
  position: relative;
  z-index: 999;
}
#header .transparent {
  background: transparent;
  height: 150px;
}
#header .transparent img {
  opacity: 0;
}
#header .nav-item {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 19.2px;
  z-index: 9999;
}
#header .nav-item:hover,
#header .nav-item:active,
#header .nav-item:focus {
  color: #ffffff;
  text-decoration: none;
}
#header .nav-item .nav-hover {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 8px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.2s ease-in-out all;
  -moz-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
#header .nav-item:hover .nav-hover {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#header .nav-item i {
  display: block;
  font-size: 6em;
  padding-top: 20%;
}
#header .headerIn {
  position: relative;
  z-index: 99999 !important;
}
#header .thumb img {
  display: block;
  width: 100%;
  height: 100%;
}
#header .thumb .nav-hover {
  display: none;
}
/****************************************
	7. Menu
****************************************/
.navbar {
  border-radius: 0;
  border: none;
  margin: 0;
  height: auto;
}
.navbar-default {
  color: #ffffff;
  z-index: 9999;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176);
}
.navbar-default .navbar-collapse {
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
}
.navbar-default .navbar-brand {
  min-width: 140px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 0.5em;
  display: block !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-transform: capitalize;
  padding: 2em 0.5em;
  -moz-transition: background 0.5s ease-in-out, color 100ms linear, padding 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out, color 100ms linear, padding 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out, color 100ms linear, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, color 100ms linear, padding 0.5s ease-in-out;
}
.navbar-default .navbar-toggle {
  border-radius: 0;
  border: 1px solid #ffffff;
  padding: 8px;
}
.navbar-default.stuck .navbar-nav > li.current-menu-ancestor > a {
  background: #ffffff !important;
}
.dropdown-menu > .current-menu-ancestor > a,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background: #ffffff !important;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #ffffff;
}
.navbar-toggle .icon-bar {
  border-radius: 0;
  background-color: #ffffff !important;
}
.caret {
  display: none;
}
/*** dropdown menu ***/
.dropdown-menu {
  border: 0 none;
  border-radius: 0;
  border-top: 1px solid #ffffff;
}
.dropdown-menu li > a {
  color: #ffffff !important;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 5px 25px;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
  background: #ffffff !important;
}
.dropdown-menu .dropdown-menu {
  margin-left: 100% !important;
}
/*** sticky-wrapper ***/
.sticky-wrapper .stuck {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
}
.sticky-nav {
  position: fixed;
  width: 100%;
  z-index: 1001;
}
/****************************************
	8. About
****************************************/
.about-us {
  background: #ffffff;
}
.about-us .about-content {
  padding: 96px 0;
  display: block;
}
.about-us .about-content .about-service {
  background: #f2f2f2;
  margin: 80px 0 0;
}
.about-us .about-content .about-service .about-icon {
  background: #f2f2f2;
  display: inline;
  font-size: 4em;
  padding: 1em;
  position: relative;
  top: -0.5em;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
}
.about-us .about-content .about-service .about-description {
  padding: 0 3em 1em;
  position: relative;
  z-index: 2;
  margin-top: -1em;
}
.about-us .about-content .about-service .about-description > h4 {
  color: #424d5c;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}
/****************************************
	9. Parallax
****************************************/
.parallax-heading {
  padding: 192px 0;
  position: relative;
}
.parallax-heading .heading {
  margin: 30px 0;
}
.parallax-heading .heading-two {
  padding: 2em 0;
  opacity: 0.7;
}
.parallax-heading h1 {
  color: #ffffff;
}
.parallax-heading .small-border {
  background: #ffffff;
}
.parallax-heading .subtitle {
  color: #ffffff;
}
.patern-overlay {
  background: url(../../images/pattern.png) repeat;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.team {
  clear: both;
  position: relative;
  width: 100%;
  background-size: cover !important;
  overflow: hidden;
  transition: 0s linear;
  transition-property: background-position;
}
.fun-fact {
  background-size: cover !important;
  padding: 96px 0;
  overflow: hidden;
  transition: 0s linear;
  transition-property: background-position;
  position: relative;
}
.testimonial {
  background-size: cover !important;
  overflow: hidden;
  transition: 0s linear;
  transition-property: background-position;
  position: relative;
}
.our-clients {
  background-size: cover !important;
  padding: 0;
  overflow: hidden;
  transition: 0s linear;
  transition-property: background-position;
  position: relative;
}
.blog-header {
  background-size: cover !important;
  padding: 48px 0;
  overflow: hidden;
  transition: 0s linear;
  transition-property: background-position;
}
/****************************************
	10. Team
****************************************/
.team .subtitle {
  margin-bottom: 5px;
}
.team-member {
  background: #f2f2f2;
  padding-bottom: 110px;
}
.team-member .col-md-4 {
  padding: 0 3em;
}
.team-member .team-bg {
  min-height: 100%;
  height: 252px;
}
.team-details {
  position: relative;
  top: -8em;
}
.team-details .member-image > img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  border: 10px solid #ffffff;
}
.team-details .member-details > h4 {
  color: #ffffff;
  font-weight: 600;
  margin: 1.5em 0 0;
}
.team-details .member-details > p {
  color: #ffffff;
}
.team-details .member-details .social-link i {
  background: #dfdfdf;
  font-size: 16px;
  line-height: 1.2;
  padding: 5px 10px;
  margin: 2px;
  display: inline-block;
}
.team-details .member-details .social-link i:hover {
  background: #ee4c62;
  color: #ffffff;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}
/****************************************
	11. Service 
****************************************/
.our-service {
  background: #f2f2f2;
}
.our-service .service-content {
  padding: 2em 1em;
}
.our-service .service-content .service-icon {
  color: #ffffff;
  display: inline-block;
  font-size: 4em;
  height: 112px;
  line-height: 1.2;
  padding: 0.5em;
  position: relative;
  margin-bottom: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
}
.our-service .service-content .service-icon i {
  position: relative;
  color: #ffffff;
}
.our-service .service-content .service-icon:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 50%;
}
.our-service .service-content .service-icon:after {
  border-radius: 50%;
  box-sizing: content-box;
  content: "";
  height: 100%;
  left: -5px;
  padding: 5px;
  position: absolute;
  top: -5px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  width: 100%;
  transition: -webkit-transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
}
.our-service .service-content:hover .service-icon::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.our-service .service-content > h4 {
  font-weight: 600;
  line-height: normal;
}
.our-service .service-content > p {
  margin-bottom: 0;
}
/****************************************
	skill 
****************************************/
.our-skill {
  background: #ffffff;
}
.our-skill .skill-area {
  padding: 1em 0;
}
.our-skill .skillbar {
  position: relative;
  display: block;
  margin-top: 16px;
  background: transparent;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}
.our-skill .skillbar-title {
  top: 0;
  left: 0;
  line-height: 1.8;
  color: #777777;
  font-size: 16px;
}
.our-skill .skillbar-bg {
  background: #e6e6e6;
}
.our-skill .skillbar-bar {
  height: 15px;
  width: 0;
}
.our-skill .skill-bar-percent {
  position: absolute;
  top: -18px;
  margin-left: -5px;
  font-size: 12px;
  height: 40px;
  line-height: 36px;
  font-weight: bold;
  content: "";
}
.our-skill .skill-bar-percent:after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
}
/****************************************
	13. testimony
****************************************/
.testimonial .parallax-heading {
  padding: 0;
  background: none;
}
.testimonial .parallax-heading .heading {
  margin: 96px 0 0;
}
.testimonial .pik-carousel {
  height: 360px;
  margin: 2em 0;
}
.testimonial .pik-carousel .pc-content-wrapper {
  top: 0;
}
.testimonial .pik-carousel .pc-content-wrapper .pc-content-container .pc-content {
  background-color: #31363a;
}
.testimonial .pik-carousel .pc-content-wrapper .pc-content-container:before {
  position: absolute;
  display: block;
  content: "";
  border: solid 12px transparent;
  border-top: solid 12px #939393;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -14px;
  top: 100%;
}
.testimonial .pik-carousel .pc-content-wrapper .pc-content-container:after {
  position: absolute;
  display: block;
  content: "";
  border: solid 10px transparent;
  border-top: solid 10px #31363a;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -12px;
}
.testimonial .pik-carousel .pc-content-wrapper h2 {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}
.testimonial .pik-carousel .pc-content-container {
  border: 1.5px solid #939393;
}
.testimonial .pik-carousel .pik-carousel-container li img {
  border: 0;
}
.testimonial .pik-carousel .pik-carousel-container li.pc-selected img {
  border: 10px solid #ffffff;
}
.testimonial .pik-carousel .pik-carousel-container .pc-author {
  overflow: hidden;
}
.testimonial .pik-carousel .pik-carousel-container .pc-author h2 {
  font-weight: 600;
}
.testimonial .pik-carousel .pc-nav-button {
  top: 36%;
}
/****************************************
	14. Portfolio
****************************************/
.portfolio {
  background: #ffffff;
  /*Hover Effect*/
}
.portfolio .portfolio-filter {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 48px 0;
}
.portfolio .portfolio-filter ul li {
  padding: 1em 0.1em;
  display: inline-block;
}
.portfolio .portfolio-filter ul li a {
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out all;
  -moz-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}
.portfolio .portfolio-filter ul li .current {
  text-decoration: none;
}
.portfolio .view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.portfolio .view .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.portfolio .view img {
  min-width: 100%;
  display: block;
  position: relative;
}
.portfolio .view p {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-weight: 500;
  color: #ffffff;
}
.portfolio .view a.read-more {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 2em;
  text-transform: uppercase;
  margin: 25% 0 3%;
}
.portfolio .view-thumb img {
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  -ms-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.portfolio .view-thumb .mask {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.4s ease-in-out all;
  -moz-transition: 0.4s ease-in-out all;
  -o-transition: 0.4s ease-in-out all;
  -ms-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
}
.portfolio .view-thumb p {
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out all;
  -moz-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}
.portfolio .view-thumb:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.portfolio .view-thumb:hover .mask {
  opacity: 1;
}
.portfolio .view-thumb:hover p {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/**Portfolio Single**/
#single-portfolio {
  padding: 96px 0;
  background: #f2f2f2;
  color: #4d4d4d;
}
#single-portfolio h2 {
  margin-bottom: 0.6em;
  font-size: 24px;
  letter-spacing: 0;
}
#single-portfolio .close-folio-item {
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}
#single-portfolio #project-image .owl-prev,
#single-portfolio #project-image .owl-next {
  padding: 10px 5px;
  text-align: center;
}
#single-portfolio #project-image .owl-prev i,
#single-portfolio #project-image .owl-next i {
  font-size: 1em;
  color: #ffffff;
  vertical-align: middle;
}
#single-portfolio #project-image .owl-controls .owl-buttons div {
  position: absolute;
}
#single-portfolio #project-image .owl-controls .owl-buttons .owl-prev {
  left: 0;
  top: 45%;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
}
#single-portfolio #project-image .owl-controls .owl-buttons .owl-next {
  right: 0;
  top: 45%;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
}
#single-portfolio #project-video {
  position: relative;
  padding-bottom: 60%;
  /* 16:9 */
  padding-top: 25px;
  height: auto;
  display: block;
  overflow: hidden;
}
#single-portfolio #project-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#single-portfolio .dl-horizontal dt {
  width: auto;
  text-align: left;
}
#single-portfolio .dl-horizontal dd {
  margin-left: 115px;
}
#single-portfolio .portfolio-clients h5 {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 0.5em;
}
#single-portfolio .portfolio-clients dl {
  margin-bottom: 0;
}
#single-portfolio .portfolio-clients a {
  color: #4d4d4d;
}
/****************************************
	Fun- fact
****************************************/
.fun-fact h2 {
  margin: 0;
  font-weight: 600;
}
.fun-fact i,
.fun-fact h2,
.fun-fact h4 {
  color: #ffffff;
  text-transform: none;
  margin-bottom: 0;
}
.fun-fact i {
  display: inline-block;
  font-size: 3em;
  padding: 15px 25px;
}
.fun-fact .count-number {
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  padding: 0.5em 2em;
  display: inline-block;
}
/****************************************
	16. Price-Table
****************************************/
.price-table {
  background: #f2f2f2;
}
.price-table .price-table-content * {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.price-table .price-table-content .price-padding {
  padding: 0 4px;
}
.price-table .price-table-content .price-title {
  color: #ffffff;
  position: relative;
  padding: 0.5em 0;
}
.price-table .price-table-content .price-title:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-width: 14px;
  margin-left: -16px;
  opacity: 0;
}
.price-table .price-table-content .price-title > h3 {
  font-weight: 600;
  color: #ffffff;
}
.price-table .price-table-content .price-sub-title {
  margin-top: 1.5em;
  padding: 1.5em 0;
}
.price-table .price-table-content .price-sub-title > h4 {
  color: #ffffff;
  font-weight: 500;
}
.price-table .price-table-content .price-table-container {
  background: #ffffff;
  padding: 0 0 3em;
}
.price-table .price-table-content .price-table-container .price {
  font-size: 2.7em;
  padding: 0.7em 0 0.1em;
}
.price-table .price-table-content .price-table-container .price span {
  font-size: 0.5em;
}
.price-table .price-table-content .price-table-container ul {
  margin-bottom: 2.5em;
  list-style: none;
}
.price-table .price-table-content .price-table-container ul li {
  border-bottom: 1px solid #e6e6e6;
  font-size: 16px;
  padding: 8px 0;
}
.price-table .price-table-content .price-table-container ul li:first-child {
  border-top: 1px solid #e6e6e6;
}
.price-table .price-table-content .price-table-container .sign-up-button {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  padding: 0.8em 2em;
}
.price-table .price-table-content .pricing-content:hover .price-title:after,
.price-table .price-table-content .featured .price-title:after {
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out all;
  -moz-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}
/****************************************
	18. Our Clients
****************************************/
.our-clients .parallax-heading {
  padding: 76.8px 0;
}
.our-clients .heading-two .title {
  border-bottom: 1px solid #ffffff;
}
.our-clients .our-client {
  width: 90%;
  margin: 24px auto 23px;
}
.our-clients .our-client .item {
  padding: 1em;
}
.our-clients .our-client .owl-prev,
.our-clients .our-client .owl-next {
  background: #ffffff;
  padding: 5px 10px;
  text-align: center;
}
.our-clients .our-client .owl-prev i,
.our-clients .our-client .owl-next i {
  color: #ee4c62;
  vertical-align: middle;
}
.our-clients .our-client .owl-controls .owl-buttons div {
  position: absolute;
}
.our-clients .our-client .owl-controls .owl-buttons .owl-prev {
  left: -3em;
  top: 25%;
}
.our-clients .our-client .owl-controls .owl-buttons .owl-next {
  right: -3em;
  top: 25%;
}
/****************************************
	19. Contact
****************************************/
.find-on-maps .maps-container #gmap {
  height: 380px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.176);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.176);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.176);
}
.find-on-maps .maps-container .gm-style {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}
.form_status {
  color: #808080;
  left: 2.5em;
  position: absolute;
  top: -0.8em;
}
.contact-blog-bg {
  background: #E5E5E5 !important;
}
.contact-us {
  background: #f2f2f2;
}
.contact-us .where-we {
  background: #ffffff;
  font-style: normal;
  text-align: center;
  margin-top: 1.5em;
  padding: 44px 0;
}
.contact-us .where-we .adress-title {
  padding-bottom: 2.6em;
}
.contact-us .where-we .main-address {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding: 1em 2em;
  display: inline-block;
}
.contact-us .where-we .email-me {
  padding-top: 3em;
}
.contact-us .where-we .email-me a {
  color: #808080;
  text-decoration: none;
}
/****************************************
	20. Blog-list page
****************************************/
/*One page blog Section*/
.blog-section-content {
  background: #f2f2f2;
  padding: 20px 25px;
  padding-bottom: 1px;
}
.blog-section-content hr {
  border-top: 1px solid #ddd;
}
.blog-featured {
  background: #ffffff;
}
.blog-featured .blog-latest-img,
.blog-featured .blog-meta,
.blog-featured .blog-description {
  clear: both;
}
.blog-featured .blog-latest-img h2,
.blog-featured .blog-meta h2,
.blog-featured .blog-description h2 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-top: 0;
}
.blog-featured .blog-latest-img {
  overflow: hidden;
  position: relative;
}
.blog-featured .blog-latest-img > img {
  margin: auto;
  width: 100%;
  height: 215px;
}
.blog-featured .blog-title {
  margin-top: 1em;
}
.blog-featured hr {
  margin-top: 10px;
  margin-bottom: 16px;
}
.blog-featured .blog-description h2 {
  margin-top: 0;
}
.blog-featured .blog-description p {
  letter-spacing: 0.8px;
}
.blog-featured .blog-description a:hover {
  text-decoration: underline;
}
.blog-meta {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.832;
}
.blog-meta ul,
.blog-meta li,
.blog-meta ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.blog-meta li {
  float: left;
}
.blog-meta li:after {
  content: "|";
  margin: 0 4px;
}
.blog-meta li:first-child {
  padding-left: 0;
}
.blog-meta li:first-child a:hover {
  text-decoration: underline;
}
.blog-meta li:last-child {
  border-right: none;
}
.blog-meta li:last-child:after {
  content: "";
}
.author-info .author a:hover {
  text-decoration: underline;
}
.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
  background: #ffffff;
  margin-bottom: 30px;
  padding: 0 3em 0.7em;
}
.blog-header {
  position: relative;
  margin-top: -48px !important;
}
.blog-header .parallax-heading {
  padding: 0;
}
.blog-header .parallax-heading .heading {
  margin: 74px 0 33px;
}
.blog-header .parallax-heading .subtitle {
  width: 40%;
  font-weight: 500;
}
.blog-header.stuck {
  margin-top: 60px;
}
.blog-list {
  background: #f2f2f2;
}
.blog-list img {
  margin: auto;
}
.blog-content {
  background: #ffffff;
  margin-bottom: 2em;
  position: relative;
}
.blog-content .sticky-post {
  background-color: #777;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.04em;
  padding: 0.25em 0.5em;
  position: absolute;
  top: 0;
  text-transform: uppercase;
}
.blog-content .post-embed iframe {
  margin: auto;
  display: block;
}
.blog-content .blog-details {
  display: block;
  padding: 3em;
}
.blog-content .blog-details .blog-description {
  padding: 0.6em 0;
}
.blog-content .blog-details .tag-catagory {
  margin-top: -6px;
}
.blog-content .blog-details a:hover {
  text-decoration: underline;
}
/*Post Pagination*/
.page-links {
  clear: both;
  margin-bottom: 1.3333em;
}
.page-links > span {
  border: 1px solid #eaeaea;
  margin: 0 0.3333em 0.3333em 0;
  text-align: center;
  padding: 6px 15px 7px 15px;
}
.page-links a {
  border: 1px solid #eaeaea;
  margin: 0 0.3333em 0.3333em 0;
  text-align: center;
  padding: 6px 15px 7px 15px;
  color: #fff !important;
}
.page-links a:hover,
.page-links a:focus {
  color: #fff;
}
.page-links > .page-links-title {
  border: 0;
  height: auto;
  margin: 0;
  margin-left: -1em;
  width: auto;
  font-weight: bold;
}
/*Link Post Style*/
.format-link .blog-content a {
  width: 100%;
  text-align: center;
  background: #777777;
  display: block;
  padding: 1em;
  font-size: 25px;
  font-weight: 500;
  line-height: 33px;
  color: white;
}
.format-link .blog-content a:hover {
  background: #ee4c62;
}
/*Aside Post Style*/
.format-aside .blog-content .blog-details {
  background: #777777 !important;
  color: white;
}
.format-aside .blog-content .blog-details .aside-meta {
  font-weight: bold;
}
.format-aside .blog-content .blog-details p {
  margin: 0;
}
/*Quote Post Style*/
.format-quote .blog-content .blog-details {
  padding: 3em 3em 0;
}
.format-quote .blog-content .blog-details p {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
.format-quote .blog-content .blog-details blockquote {
  font-size: 32px;
  line-height: 1.2;
  border: none;
  position: relative;
  padding: 0 60px 0 50px;
}
.format-quote .blog-content .blog-details blockquote:before,
.format-quote .blog-content .blog-details blockquote:after {
  position: absolute;
  width: 48px;
  height: 48px;
  content: ".";
  font-size: 0;
}
.format-quote .blog-content .blog-details blockquote:before {
  content: "\f10d";
  font-family: FontAwesome;
  color: #777777;
  font-size: 30px;
  top: 0;
  left: 0;
}
.format-quote .blog-content .blog-details blockquote:after {
  content: "\f10e";
  font-family: FontAwesome;
  color: #777777;
  font-size: 30px;
  bottom: -13px;
  right: 0;
}
.format-quote .blog-content .blog-details .author {
  display: block;
  text-align: right;
  font-size: 18px;
  padding: 4px;
  color: #969696;
  font-style: italic;
}
/*unit test fix*/
dd {
  margin-left: 10px;
}
img {
  max-width: 100%;
}
.post li,
.page li,
#comments li {
  line-height: 1.5;
}
.post table,
.page table,
#comments table {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-collapse: separate;
  margin: 20px 0;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-left: none;
}
.post table thead:first-child tr:first-child th,
.page table thead:first-child tr:first-child th,
#comments table thead:first-child tr:first-child th,
.post table tbody:first-child tr:first-child th,
.page table tbody:first-child tr:first-child th,
#comments table tbody:first-child tr:first-child th,
.post table tbody:first-child tr:first-child td,
.page table tbody:first-child tr:first-child td,
#comments table tbody:first-child tr:first-child td {
  border-top: 0 none;
}
.post table tbody tr.odd,
.page table tbody tr.odd,
#comments table tbody tr.odd {
  background: #fff;
}
.post table th,
.page table th,
#comments table th,
.post table td,
.page table td,
#comments table td {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  line-height: 18px;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}
.post-password-form input[type="password"] {
  border: 1px solid #777;
}
.post-password-form input[type="submit"] {
  padding: 11px;
}
.post-password-form input[type="submit"]:hover {
  color: #fff;
}
/****************************************
	21. Blog-Single
****************************************/
.blog-details {
  background: #ffffff;
}
.blog-details .blog-description .alignright > img,
.blog-details .blog-description .alignleft > img {
  width: 320px;
}
.social-share a,
.author-social a {
  padding: 0 6px;
}
.author-info {
  background: #ffffff;
  padding: 3em 3em 0;
  margin-bottom: 2em;
}
.author-info .media-heading {
  font-weight: 500;
}
.author-info .media-body {
  padding-left: 1em;
}
.author-info p {
  margin-bottom: 10px;
}
.author-info hr {
  margin: 2em 0 0;
}
.author-info .pager {
  padding-bottom: 1em;
}
.author-info .pager li > a > span {
  padding: 0 5px;
}
.author-info .pager li.previous {
  display: block;
  margin-left: -1.3em;
}
.author-info .pager li.next {
  display: block;
  margin-right: -1.3em;
}
.author-info .pager li > a,
.author-info .pager li > span {
  display: inline-block;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-weight: 500;
}
.author-info .pager li > a:hover,
.author-info .pager li > span:hover {
  background: #ffffff;
}
/****************************************
	22. Side var 
****************************************/
.widget {
  padding: 1.2em 3em 2.6em;
  background: #ffffff;
  margin-bottom: 2em;
}
.widget ul,
.widget li,
.widget ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget .widget-title {
  margin-bottom: 5px;
}
.widget ul {
  margin-left: 1em;
}
.widget ul li {
  padding: 0 0 !important;
}
.widget ul li:before {
  content: "";
  border-color: transparent #777;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative;
}
.widget ul li ul li {
  padding: 0 0 0 !important;
}
.widget_glimmer_popular_posts > .widget-title {
  margin-bottom: 20px;
}
.widget_glimmer_popular_posts ul {
  margin-left: 0;
}
.widget_glimmer_popular_posts ul li:before {
  display: none;
}
.widget_glimmer_popular_posts .popular-wrap {
  display: table;
  width: 100%;
}
.widget_glimmer_popular_posts .popular-wrap:last-child {
  margin-bottom: 0;
}
.widget_glimmer_popular_posts .popular-post-thumb {
  display: table-cell;
  vertical-align: top;
  width: 88px;
  padding-right: 1em;
}
.widget_glimmer_popular_posts .popular-post-thumb figure {
  position: relative;
  width: 88px;
  height: 88px;
  overflow: hidden;
}
.widget_glimmer_popular_posts .popular-post-thumb figure img {
  height: 70px !important;
}
.widget_glimmer_popular_posts .popular-post-detail {
  display: table-cell;
  vertical-align: top;
}
.widget_glimmer_popular_posts .popular-post-detail .blog-meta {
  font-size: 12px;
  font-weight: 600;
  color: #bfbfbf;
}
.widget_glimmer_popular_posts .popular-post-detail .blog-meta li {
  border-right: 0;
}
.widget_glimmer_popular_posts .popular-post-detail .blog-meta li:first-child {
  padding-right: 10px !important;
}
.widget_glimmer_popular_posts .popular-post-detail h4 {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 8px;
}
.widget .tagcloud a {
  border: 1px solid #bfbfbf;
  display: inline-block;
  padding: 3px 7px;
  margin: 4px 4px 4px 0;
  font-size: 14px !important;
}
.widget .tagcloud a:hover {
  color: #ee4c62;
  border-color: #ee4c62;
}
.widget .tagcloud a:focus {
  text-decoration: none;
}
.widget_search {
  padding: 0 !important;
}
/****************************************
	23. 404 page
****************************************/
.head-container {
  background: #f2f2f2;
  margin-top: -2.4em;
}
.head-container .error-head {
  padding: 155px 0 64px;
}
.head-container .error-head h2 {
  font-weight: 400;
}
.head-container .error-head div p {
  margin-left: 5px;
  color: #4d4d4d;
}
.head-container .error-head div p a {
  float: left;
  color: #ee4c62;
  text-decoration: none;
  margin-left: -2px;
}
.head-container .error-head div p:before {
  content: " — ";
  color: #bfbfbf;
  padding-left: 10px;
}
.head-container .error-head .searchform {
  margin-top: 3.2em;
}
.error-body {
  background: #ffffff;
  text-align: center;
}
.error-body .error-content {
  padding: 86.4px 0;
}
.error-body .error-content h2 {
  font-weight: 600;
}
.error-body .error {
  font-size: 20em;
  font-weight: 600;
  line-height: 1.2;
  position: relative;
  margin-top: -0.25em;
  display: inline-block;
}
.error-body p {
  position: relative;
  top: -3em;
}
/****************************************
	24. Footer
****************************************/
.footer-copyright {
  color: #ffffff;
}
.footer-copyright .title {
  color: #ffffff;
}
.footer-copyright .social a {
  background: #ffffff;
  padding: 5px 10px;
  margin: 4px;
  font-size: 18px;
  line-height: 2.3;
}
.footer-copyright .social a:hover {
  color: #ffffff;
  -webkit-transition: 0.4s ease-in all;
  -moz-transition: 0.4s ease-in all;
  -o-transition: 0.4s ease-in all;
  -ms-transition: 0.4s ease-in all;
  transition: 0.4s ease-in all;
}
.footer-copyright .copyright {
  padding-top: 5px;
}
.footer-copyright .copyright a {
  color: #ffffff;
}
/***Back to top***/
.backtopbutton {
  text-decoration: none;
  display: block;
  position: fixed;
  bottom: 40px;
  right: 20px;
  padding: 6px 10px;
  font-size: 16px;
  background: #ffffff;
  line-height: 1.5;
  text-align: center;
  opacity: 0.6;
  z-index: 15;
}
.backtopbutton span {
  font-size: 18px;
}
.backtopbutton:hover,
.backtopbutton:focus {
  opacity: 1;
  text-decoration: none;
}
/****************************************
    26. Responsive
****************************************/
@media (min-width: 1400px) {
  #header .transparent {
    height: 200px !important;
  }
}
@media (min-width: 993px) and (max-width: 1207px) {
  #header .head-left {
    margin-left: 19.4%;
  }
  #header .nav-item i {
    padding-top: 16px !important;
  }
}
@media (min-width: 992px) and (max-width: 1198px) {
  .most-populer img {
    min-height: 131px;
  }
}
@media (min-width: 604px) and (max-width: 990px) {
  .most-populer .populer-comment {
    min-height: 138px;
    overflow: hidden;
  }
}
@media (min-width: 1100px) and (max-width: 1368px) {
  #header .heder-menu {
    margin-left: 10.3%;
  }
  .brick-one {
    height: 180px;
    width: 180px;
  }
  .head-left {
    margin-left: 180px;
  }
  #header .transparent {
    height: 80px !important;
  }
}
@media (max-width: 1200px) {
  #header .nav-item i {
    font-size: 3.5em;
  }
}
@media (max-width: 1199px) {
  .brick-one {
    height: 176px;
    width: 176px;
  }
  #header .nav-item {
    font-size: 2em !important;
  }
  #header .heder-menu {
    margin-left: 3.3%;
  }
  #header .head-left {
    margin-left: 19.5%;
  }
}
@media (min-width: 991px) {
  .transparent {
    height: 60px;
  }
}
@media (max-width: 991px) {
  .funfact-mobile {
    margin-top: 30px;
  }
  .portfolio-details {
    margin-top: 1.5em;
  }
}
@media (max-width: 990px) {
  .comment-form input[type="text"],
  .comment-form input[type="password"],
  .comment-form input[type="datetime"],
  .comment-form input[type="datetime-local"],
  .comment-form input[type="date"],
  .comment-form input[type="month"],
  .comment-form input[type="time"],
  .comment-form input[type="week"],
  .comment-form input[type="number"],
  .comment-form input[type="email"],
  .comment-form input[type="url"],
  .comment-form input[type="search"],
  .comment-form input[type="tel"],
  .comment-form input[type="color"],
  .comment-form input[type="subject"] {
    margin-bottom: 10px;
  }
  .comment-form .col-md-6 {
    padding-right: 15px;
  }
  .widget_search {
    margin-top: 30px;
  }
  .pd-bigger {
    padding: 0 1em;
  }
}
@media (max-width: 789px) {
  .hidden-phone {
    display: none;
  }
  .visible-phone {
    display: block !important;
  }
  .blank {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  #header .nav-item i {
    padding-top: 28px;
  }
  #header .nav-item {
    font-size: 40px !important;
  }
  #header .nav-item:hover .nav-hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 981px) {
  .about-us .pd-big {
    padding: 0 2em 2em 2em;
  }
  .about-us .pd-big:last-child {
    padding-bottom: 0;
  }
  .pricing-content {
    margin-bottom: 1em !important;
  }
  .blog-section-content {
    margin-bottom: 2em !important;
  }
}
@media (min-width: 790px) {
  .visible-phone {
    display: none !important;
  }
}
@media (min-width: 790px) and (max-width: 981px) {
  #header .brick-one {
    width: 132.333px;
    height: 132.333px;
  }
  #header .head-left {
    margin-left: 19.065%;
  }
  #header .nav-item i {
    font-size: 2em;
  }
  .visible-phone {
    display: none;
  }
}
@media (max-width: 988px) {
  .brick-one {
    width: 200.3332px;
    height: 200.6666px;
  }
  .team-mobile {
    margin-top: 8em;
  }
}
@media (max-width: 768px) {
  #header .container.visible-phone {
    margin: 0 15px 0 15px;
  }
  .brick-one {
    width: 200.3332px;
    height: 200.6666px;
  }
  .pik-carousel-wrapper {
    margin-top: 6em;
  }
  .testimonial .pik-carousel {
    margin-bottom: 5em;
  }
  .testimonial .pik-carousel .pc-nav-button {
    top: 60%;
  }
  .children {
    margin-left: 40px;
  }
}
@media (min-width: 768px) {
  .navbar-default.stuck {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 9999;
  }
  .navbar-default.stuck .navbar-brand {
    margin-top: 0 !important;
    -webkit-transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    -ms-transition: 0.4s ease all;
    transition: 0.4s ease all;
  }
  .navbar-default.stuck .navbar-brand,
  .navbar-default.stuck .navbar-nav > li > a {
    -webkit-transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    -ms-transition: 0.4s ease all;
    transition: 0.4s ease all;
    padding: 1.2em 0.5em !important;
  }
  .navbar-default.stuck .navbar-nav > li.active > a,
  .navbar-default.stuck .navbar-nav > li.active a:focus,
  .navbar-default.stuck .navbar-nav > li.active a:hover {
    background: #ffffff !important;
  }
}
@media (max-width: 767px) {
  .navbar-nav .sub-arrow,
  .navbar-nav .collapsible .sub-arrow {
    margin-left: 5px;
  }
  .navbar-brand {
    padding: 15px !important;
  }
  .navbar-default .navbar-brand,
  .navbar-default .navbar-nav > li > a {
    padding: 0.4em 1.2em;
  }
  .navbar-nav > li > a:hover {
    padding-left: 1.7em;
    background-color: #ffffff;
    border-bottom: 0 !important;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    background-color: #ffffff !important;
    border-bottom: 0 !important;
    display: block;
  }
  .navbar-nav:hover .dropdown-menu {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    float: none;
    margin-top: 0;
    position: static;
    width: auto;
  }
  .navbar-default .navbar-brand {
    margin-top: 0;
  }
  .dropdown-menu {
    padding-bottom: 0;
  }
  .blog-header {
    margin-top: 50px;
  }
  .blog-header.stuck {
    margin-top: 40px !important;
  }
  #single-portfolio .dl-horizontal dd {
    margin-left: 0;
  }
  .blog-header .parallax-heading .subtitle {
    width: 80%;
  }
  .input-block {
    padding: 1.6em 0 0.8em;
  }
}
@media (max-width: 672px) {
  #header .container.visible-phone {
    margin: 0 auto;
  }
  .blog-description img {
    width: 100% !important;
    padding: 0 0 20px !important;
  }
}
@media (min-width: 560px) and (max-width: 582px) {
  .head-left {
    margin-left: 24% !important;
  }
}
@media (max-width: 583px) {
  .brow {
    margin-left: 0;
  }
  .brick-one {
    width: 116px;
    height: 116px;
  }
  #header .transparent {
    height: 100px;
  }
  #header .nav-item i {
    display: block;
    font-size: 2em;
    padding-top: 22px;
  }
  .testimonial-slider .owl-controls .owl-buttons .owl-prev {
    top: -25em !important;
  }
  #single-portfolio .share-project {
    bottom: 5px !important;
  }
  .error {
    font-size: 10em !important;
  }
}
@media (min-width: 400px) and (max-width: 560px) {
  #header .head-left {
    margin-left: 23.9% !important;
  }
}
@media (max-width: 400px) {
  .head-left {
    margin-left: 15% !important;
  }
  #header .nav-item i {
    padding-top: 25px !important;
  }
  .details-link dd {
    margin-left: 0 !important;
  }
  .pagination {
    float: none;
    margin: 0 0.8em 1em;
  }
  .blog-content .blog-details {
    padding: 1.8em;
  }
}
@media (min-width: 321px) and (max-width: 359px) {
  .head-left {
    margin-left: 12% !important;
  }
  .most-populer img {
    min-height: 174px;
  }
}
@media (max-width: 320px) {
  .head-left {
    margin-left: 10.8% !important;
  }
  .most-populer img {
    min-height: 172px;
  }
}
