/**
 *
 * pik jQuery Touch Carousel
 * URL: http://www.pikplugins.com
 * Version: 1.0.2
 * Author: pik Plugins
 * Author URL: http://www.pikplugins.com
 *
 */

/**
*	Table of Contents
*	
*	1. Media Queries
*	2. Container Styles
*	3. Carousel Item Styles
*	4. Current Content Styles
*	5. Gradient Overlay Styles
*	6. Navigation Styles
*	7. Preloader Styles
*	8. Other Styles
*/

/**********************************************
*
* 1. Media Queries
*
**********************************************/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.pik-carousel .pc-overlay {
		width: 88px !important;
	}
}

@media only screen and (max-width: 479px) {
	.pik-carousel .pc-overlay {
		width: 15px !important;
	}
	
	.pik-carousel .sc-nav-button.sc-next {
		right: 5px !important;
	}
	
	.pik-carousel .sc-nav-button.sc-prev {
		left: 5px !important;
	}
}
@media only screen and (max-width: 959px) {
	.pik-carousel .pc-content-wrapper .pc-content-container .pc-content {
		  min-width: 690px !important;
	}
}
@media only screen and (max-width: 768px) {
	.pik-carousel .pc-content-wrapper .pc-content-container .pc-content {
		  min-width: 300px !important;
	}
}
@media only screen and (max-width: 480px) {
	.pik-carousel .pc-content-wrapper .pc-content-container .pc-content {
		  min-width: 260px !important;
	}
}

/**********************************************
*
* 2. Container Styles
*
**********************************************/
.js .pik-carousel {
	visibility: hidden;
}

.pik-carousel {
	width: 100%;
	height: 310px;
	position: relative;
	background: transparent;
	overflow: hidden;
	margin: 0 auto;
}

.pik-carousel .pik-carousel-container {
	position: relative;
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
}

/**********************************************
*
* 3. Carousel Item Styles
*
**********************************************/
.pik-carousel .pik-carousel-container li {
	position: absolute;
}

.pik-carousel .pik-carousel-container li img {
	display: block;
	max-width: none !important;
	width: 260px;
	height: 260px;
	border: 5px solid #fff;
}

.pik-carousel .pik-carousel-container li a img {
	border: none;
}

.pik-carousel .pik-carousel-container .pc-content {
	display: none;
}
.pik-carousel .pik-carousel-container .pc-author {
	display: none;
	margin-top: 10px;
}
.pik-carousel .pik-carousel-container .pc-author h2{
	color: #fff;
}

.pik-carousel .pik-carousel-container .pc-selected .pc-author {
	display: block;
}

/**********************************************
*
* 4. Current Content Styles
*
**********************************************/
.pik-carousel .pc-content-wrapper {
	position: absolute;
	text-align: center;
	top: 6%;
	left: 50%;
	z-index: 4999;

}

.pik-carousel .pc-content-container {
	position: relative;
	left: -50%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 0;
	border: 2px solid #353535;
}

.pik-carousel .pc-content-wrapper .pc-content-container .pc-content {
	background-color: rgba(0,0,0,0.3);
	padding: 20px;
	min-width: 840px;
}

.pik-carousel .pc-content-wrapper .pc-content-container:after {
	position: absolute;
	display: block;
	content: "";
	border: solid 10px transparent;
	border-top: solid 10px rgba(0,0,0,0.4);
	width: 0;
	height: 0;
	left: 50%;
	margin-left: -12px;
}

.pik-carousel .pc-content-wrapper h2 {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

.pik-carousel .pc-content-wrapper p {
	color: #d6d6d6;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-shadow: 0px 1px 1px #333;
}

.pik-carousel .pc-content-wrapper a {
	text-decoration: none;
	color: #d6d6d6;
	border-bottom: 1px dotted #d6d6d6;
}

.pc-author {
    text-align: center;
    color: #ffffff;
}
/**********************************************
*
* 5. Gradient Overlay Styles
*
**********************************************/
.pik-carousel .pc-overlay {
	position: absolute;
	height: 100%;
	z-index: 4998;
	pointer-events: none;
	top: 0;
}

.pik-carousel .pc-overlay-left {
	left: -0.1px;
}

.pik-carousel .pc-overlay-right {
	right: -0.1px;
}

/**********************************************
*
* 6. Navigation Styles
*
**********************************************/
.pik-carousel .pc-nav-button {
	position: absolute;
	top: 50%;
	z-index: 5000;
	width: 40px;
	height: 40px;
	margin-top: 25px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.pik-carousel .pc-nav-button.pc-next {
	background: url("../../images/pc-graphics/next_arrow.png") no-repeat 15px 12px;
	right: 15px;
	border: 1px solid #fff;
}

.no-touch .pik-carousel .pc-nav-button.pc-next:hover {
	
}

.pik-carousel .pc-nav-button.pc-prev {
	background: url("../../images/pc-graphics/prev_arrow.png") no-repeat 15px 12px;
	left: 15px;
	border: 1px solid #fff;
}

.no-touch .pik-carousel .pc-nav-button.pc-prev:hover {

}
/**********************************************
*
* 7. Preloader Styles
*
**********************************************/
.pik-carousel .pc-preloader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 24px;
	height: 24px;
	margin-top: -22px;
	margin-left: -22px;
	background: #ebebeb url("../images/pc-graphics/preloader.gif") no-repeat 50% 50%;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/**********************************************
*
* 8. Other Styles
*
**********************************************/
.pc-no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}