// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

//display div as a table
@mixin table_display {
    display: table-cell;
    vertical-align: top;
}

// prefix declarations
@mixin prefixed($property, $value) {
    @if $webkit == true {
        -webkit-#{$property}: #{$value};
    }

    @if $moz == true {
        -moz-#{$property}: #{$value};
    }

    @if $ms == true {
        -ms-#{$property}: #{$value};
    }

    @if $o == true {
        -o-#{$property}: #{$value};
    }

    #{$property}: #{$value};
}

// prefix declarations double value
@mixin prefixed_double($property, $value, $value-two) {
    @if $webkit == true {
        -webkit-#{$property}: #{$value},#{$value-two};
    }

    @if $moz == true {
        -moz-#{$property}: #{$value},#{$value-two};
    }

    @if $ms == true {
        -ms-#{$property}: #{$value},#{$value-two};
    }

    @if $o == true {
        -o-#{$property}: #{$value},#{$value-two};
    }

    #{$property}: #{$value},#{$value-two};
}

// For menu 
@mixin menu() {
    width: auto;
    line-height: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    position: relative;
}

// For Image Hover
@mixin imghover {
    position: relative;
    overflow: hidden;
    .image-extra {
        position: absolute;
        top: 0;
        left: 0;
        padding: 3em;
        width: 100%;
        height: 100%;
        z-index: 3;
        overflow: hidden;
        text-align: center;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.8);
        color: $color__white;
        @include prefixed(transition, all 0.15s ease-in);
        &:before, &:after {
            position: absolute;
            content: '';
            opacity: 0;
        }
        &:before {
            bottom: 30px;
            left: 18px;
            right: 18px;
            top: 30px;
            border-top: 1px solid $color__white;
            border-bottom: 1px solid $color__white;
            @include prefixed(transform, scale(0, 1));
            @include prefixed(transform-origin, 0 0);
        }
        &:after {
            bottom: 18px;
            left: 30px;
            right: 30px;
            top: 18px;
            border-right: 1px solid $color__white;
            border-left: 1px solid $color__white;
            @include prefixed(transform, scale(1, 0));
            @include prefixed(transform-origin, 100% 0);
        }
        .extra-content {
            position: relative;
            top: 50%;
            margin-top: -40px;
            .entry-meta {
                font-size: 0.8em;
                letter-spacing: 0.02em;
                color: $color__white;
                opacity: 0;
                @include prefixed(transform, scale(0));
            }
            .entry-title {
                font-size: 1.25em;
                line-height: 1.4em;
                letter-spacing: 0.04em;
                font-style: italic;
                opacity: 0;
                @include prefixed(transform, scale(0));
                display: block;
                display: -webkit-box;
                height: calc(1.25em * 1.4em * 2);
                height: 2.8em;
                margin: 5px auto 0;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
            }
            span:after {
                margin: 0 2px;
            }
            span:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }
    .image-extra{
        &:before, 
        &:after  {
          @include prefixed_double(transition, opacity 0.35s, transform 0.35s);
        }
    }
    &:hover {
        .image-extra {
            opacity: 1;
            &:before, &:after {
                opacity: 1;
                @include prefixed(transform, scale(1));
            }
            .entry-title, .entry-meta {
                opacity: 1;
                @include prefixed(transform, scale(1));
            }
            &:before, &:after {
                @include prefixed(transition-delay, 0.15s);
            }
        }
    } 
}

//For Widget Popular and latest
@mixin widget_class($class_name) {

    //Define thumb height and width
    
    $image__thumb_height: 80px;
    $image__thumb_width: 90px;

    .#{$class_name}-widget {
        .#{$class_name}-wrap {
            padding: 1.8em 0;
            .#{$class_name}-image {
                @include table_display;
                padding-right: 0.9em;
                .fit-img {
                    position: relative;
                    width: $image__thumb_width;
                    height: $image__thumb_height;
                    overflow: hidden;
                }
            }
            .#{$class_name}-item-text {
                @include table_display;
                h4 {
                    margin-top: 0;
                    margin-bottom: 0.35em;
                    font-size: 0.938em;
                    font-style: italic;
                    line-height: 1.4em;
                    letter-spacing: 0.03em;
                    position: relative;
                    overflow: hidden;
                    text-overflow: -o-ellipsis-lastline;
                    text-overflow: ellipsis;
                }
            }
            .#{$class_name}-item-meta {
                font-size: 0.75em;
                font-weight: 400;
                letter-spacing: 0.04em;
                color: $color__text-meta;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .#{$class_name}-item-thumb {
                width: $image__thumb_width;
                height: $image__thumb_height;
            }
            &:first-child {
                padding-bottom: 1.8em;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
    } 
}