.about-me {
	.author-details {
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 30px;
		.small-border {
			margin-left: 0;
			width: 105px;
		}
	}
	.author-name, #author-skill h3 {
		font-weight: bold;
		font-size: $heading__four;
	}
	.author-name {
		margin-top: 0;
	}
	.entry-footer {
		margin-top: 36px;
		.author-sign {
			border-bottom: 1px solid $color__border-one;
			padding-bottom: 0.5em;
			h3 {
				font-size: 1em;
				line-height: 1.6em;
				margin-top: 5px;
			}
		}
		.follow-link {
			margin-top: 1.2em;
			span {
				margin-right: 10px;
			}
			a {
				margin: 0 5px;
			}
		}
	}

	.author-image {
		background: $color__white;
		padding: 30px;
		border: 1px solid $color__border-four;
		img {
			width: 100%;
			height: 100%;
		}
	}

	#author-skill {
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 30px;
		margin: 30px 0 0; 
		h3 {
			margin-top: 30px;
		}
		.small-border {
			margin: 0.5em 0 1em;
		} 
		.pd-bottom {
			padding-bottom: 2.3em;
		}
		.skillbar {
			position: relative;
			display: block;
			margin-top: 16px;
			background: transparent;
			@include prefixed(transition, 0.4s linear);
			@include prefixed_double(transition, width, background-color);
		}
		.skillbar-title {
			top: 0;
			left: 0;
			line-height: 1.7em;
			font-size: em(13px);
			font-weight: bold;
			margin-bottom: 0.4em;
		}
		.skillbar-bg {
			background: $color__background-main;
		}
		.skillbar-bar {
			height: 15px;
			width: 0;	
		}
		.skill-bar-percent {
			position: absolute;
			top: -18px;
			margin-left: -5px;
			font-size: 12px;
			height: 40px;
			line-height: 36px;
			font-weight: bold;
			content: "";
			&:after {
				content: "";
	    		border-left: 6px solid transparent; 
	    		border-right: 6px solid transparent;
	    		position: absolute;
	    		bottom: 1px;
	    		left: 0;
			}
		}
	}	
}