{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


{{! This bellow code is for loading header aria}}
{{> "header"}}

<!-- Content
================================================== -->
<div id="content" class="site-content">
    <div class="container">
        <div class="row">
        <div class="col-md-8" id="main-layout">
                <!-- Content Area -->
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">
                        <div class="row">
                            <div class="col-md-12">
                                {{! This code is for include author info }}
                                {{> "author-profile"}} 
                            </div>
                        </div>
                        <div class="row">

                        
                            <div class="col-md-12 ">
                               <script>
                                     $(document).ready(function () {
                                        if ( Post_Layout == "grid") { 
                                            $(".main-index").attr("id","masonry-layout");
                                        }
                                    });
                                </script>
                                <div class="main-index row">
                                    {{! This code is for include post loop }}    
                                    {{#foreach posts}}
                                        {{> "loop"}} 
                                    {{/foreach}} 

                                </div>       
                            </div> <!-- /.col-md-12 -->

                            <div class="col-md-12 col-sm-12 full-width"></div>
                        </div> <!-- /.row -->
                    </main> <!-- #main -->

                    <!-- pagination -->
                        {{pagination}}
                    <!-- /.navigation -->
                </div> <!-- #primary -->
            </div> <!-- /.col-md-8 -->
            {{> "sidebar"}}
        </div> <!-- /.row -->
    </div> <!-- /.container -->
    
</div><!-- #content -->

