{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

    <!-- Content -->
    <div id="content" class="site-content error-page">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                        <div class="goto-button">                
                            <a href="{{@blog.url}}" class="go-to">
                                <span class="go-button">Go to Homepage</span>
                            </a>
                            <a href="{{@blog.url}}/contact" class="go-to">
                                <span class="go-button">Contact</span>
                            </a>
                        </div> <!-- /.goto-button -->
                    </div> <!-- /.error-search -->

                    <div class="error-image clearfix">
                        <img src="{{@blog.url}}/assets/images/404.png" alt="Error Image" class="img-responsive">
                    </div> <!-- /.error-image -->
                </div>  
            </div> <!-- /.row -->

        </div> <!-- /.container -->
        
    </div><!-- #content -->