{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

{{! This code to show Post in single page }}
{{#post}}

    <!-- Main Content -->
	<div id="content" class="site-content about-me">
		<div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="header-title">
                        <h2 class="section-title"><span>{{title}}</span></h2>
                    </div> <!-- /.header-title --> 
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->

			<div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- Author Image -->
                    <figure class="author-image"></figure> <!-- /.author-image -->

                    <div class="clear"></div>

                    <!-- Author Details -->
                    <div class="about-details">
                        <div class="author-details">
                            <span class="append-author-name"></span> <!-- /.author-name -->
                            <div class="entry-content">
                                {{content}}
                            </div> <!-- /.entry-content -->

                            <div class="clear"></div>

                            <footer class="entry-footer">
                               <div id="about-follow-social" class="follow-link">
                                    <span>Follow me : </span>    
                               </div> <!-- /.follow-link -->
                               <div class="author-sign"></div>
                            </footer> <!-- /.entry-footer --> 
                        </div> <!-- /.author-details -->
                    </div> <!-- /.contact-details -->
                </div> <!-- /.col-md-8 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div><!-- #content -->
{{/post}}