{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{! This bellow code is for loading header aria}}
{{> "header"}}

{{! This code to show Post in single page }}
{{#post}}

     <!-- Content
    ================================================== -->
    <div id="content" class="site-content">

        <div class="container">
            <div class="row">
                {{#has tag="sidebar-left, sidebar-right, full-width"}}
                    {{#has tag="sidebar-left"}}
                        <div class="col-md-8 col-md-push-4">
                    {{/has}}
                    {{#has tag="sidebar-right"}}
                        <div class="col-md-8">
                    {{/has}}
                    {{#has tag="full-width"}}
                        <div class="col-md-10 col-md-offset-1">
                    {{/has}}
                {{else}}
                    <div class="col-md-8" id="post-main-layout">
                {{/has}}
                    <!-- Content Area -->
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            {{> "loop"}}

                            <!-- author-info -->
                            {{> "author-profile"}}

                            <!-- no-text-link is only use if single pagination is active/ coming -->
                            <nav class="post-navigation clearfix" id="post_prev_next">
                                {{#next_post}}
                                    <div class="post-previous">
                                        <a rel="prev" href="{{url}}">
                                            <i class="fa fa-angle-double-left"></i>
                                            <h3><span>Previous Post</span>{{title}}</h3>
                                        </a>
                                    </div>
                                {{/next_post}}

                                {{#prev_post}}
                                    <div class="post-next">
                                        <a rel="prev" href="{{url}}">
                                            <i class="fa fa-angle-double-right"></i>
                                            <h3><span>Next Post</span>{{title}}</h3>
                                        </a>
                                    </div>
                                {{/prev_post}}
                            </nav> <!-- /.post-navigation -->

                            <!-- author-info -->
                            <div class="related-post clearfix">
                                <h3 class="related-post-title"><span>Related Post</span></h3>
                                <div id="related-post-wrap" class="row"></div> 
                            </div> <!-- /.related-post -->
                            <!-- comment-area -->
                            {{> "comments-disqus"}}

                        </main> <!-- #main -->
                    </div> <!-- #primary -->
                </div> <!-- /.col-md-8 -->

                {{^has tag="full-width"}}
                    {{> "sidebar"}}
                {{/has}}
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div><!-- #content -->

{{/post}}