a {
	color: $color__text-heading;
	@include prefixed(transition, color .2s ease);
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
		text-decoration: none;
	}
}