.main-nav {
    position: relative;
}
.top-menu {
	@include menu();
	max-width: 85%;
	z-index: 999;
	font-family: $font__sub;
	font-size: 0.9em;
	font-weight: 500;
	-webkit-overflow-scrolling: touch;
	ul,
	ul li,
	ul li a,
	#menu-button {
		@include menu();
	}
	&:after,
	#menu-button {
	  display: none;
	}
	#menu-line {
		position: absolute;
		top: 0;
		left: 0;
		@include prefixed(transition, all 0.25s ease-out);
	}
	> ul > li {
		float: left;
	}
	&.align-center {
		> ul {
		  font-size: 0;
		  text-align: center;
			> li {
			  display: inline-block;
			  float: none;
			}
		}
		ul ul {
			text-align: left;
		}	
	}
	&.align-right {
		> ul > li {
			float: right;
		}
		ul ul {
			text-align: right;
		}
		li:hover > ul {
			right: 0;
		}
		ul ul ul {
			margin-left: 0;
			margin-right: 100%;
		}
		ul ul li.has-sub > a::after {
			right: auto;
			left: 10px;
			border-bottom: 0;
			border-right: 0;
			border-top: 1px solid $color__border-dark-two;
			border-left: 1px solid $color__border-dark-two;
		}
	}
	.has-sub {
		ul li {
			font-weight: 400;
		  	border: none !important;
		}		
	}
	ul li {
	  	border-left: 1px solid rgba($color__white, 0.2);
	  	&:last-child {
	  		border-right: 1px solid rgba($color__white, 0.2);
	  	}
	}
	> ul > li > a {
		padding: 23px 28px;
		font-size: 0.9em;
		text-decoration: none;
		text-transform: uppercase;
		color: $color__white;
		@include prefixed(transition, color 0.45s ease);
	}
	> ul > li:hover > a,
	> ul > li.active > a {
		color: $color__black;
	}
	> ul > li.has-sub:hover > a::after {
		border-color:  $color__black;
	}
	ul ul {
		position: absolute;
		left: -9999px;
		z-index: 99999;
		white-space: nowrap;
	}
	li:hover > ul {
		left: auto;
	}
	ul ul ul {
		margin-left: 100%;
		top: 0;
	}
	ul ul li {
		height: 0;
		@include prefixed(transition, height 0.2s ease);
	}
	ul li:hover > ul > li {
		height: 32px;
	}
	ul ul li a {
		padding: 15px 18px;
		width: auto;
		min-width: 145px;
		font-size: 0.9em;
		line-height: 1.3em;
		background: #333333;
		text-decoration: none;
		color: $color__border-dark-two;
		@include prefixed(transition, color 0.2s ease);
	}
	ul ul li:hover > a,
	ul ul li a:hover {
		color: $color__white;
	}
	ul ul li.has-sub > a::after {
		position: absolute;
		top: 22px;
		right: 10px;
		width: 4px;
		height: 4px;
		border-bottom: 1px solid $color__border-dark-two;
		border-right: 1px solid $color__border-dark-two;
		content: "";
		@include prefixed(transform, rotate(-45deg));
		@include prefixed(transition, border-color 0.2s ease);
	}
	ul ul li.has-sub:hover > a::after {
		border-color: $color__white;
	}
	.current-menu-ancestor > a {
		color: $color__black;
	}
	.current-menu-ancestor {
		.current-menu-ancestor > a {
			color: $color__white;
		}
	}
	.current-menu-item > a {
		color: $color__white;
	} 
}
/* For Mobile menu Button */
.menu-opened#menu-button::before {
	transform: rotate(45deg);
	border-bottom: 0 !important;
	top: 20px !important;
	left: 7px;
	width: 22px !important;
}
.menu-opened#menu-button::after {
	transform: rotate(-45deg);
	top: 21px !important;
	width: 22px !important;
	left: 9px;
}