@media (max-width: 992px) {
	.main-nav {
		.container {
			margin-left: auto;
			margin-right: auto;
			padding-left: 0;
			padding-right: 0;
			width: auto;
			overflow: hidden;
		}
		.top-menu {
			padding-bottom: 0;
			min-width: 60px;
			.menu-button-area {
				height: 42px;
			}
			ul {
				background: $color__background-screen;
			}
			> ul > li > a {
				color: $color__text-main !important;
			}
			ul ul li a {
				color: $color__text-main;
			}
		}
	}
	.top-menu #menu-button {
		display: inline-block !important;
		top: -8px;
		left: 1em !important;
	}
	.top-menu ul li:last-child {
		border-right: 0 !important;
	}
	#top-search {
		z-index: 99999;
		top: 0;
		right: 1.5em !important;	
	}
	#top-social {
		z-index: 99999;
		top: 0;	
		right: 4.4em !important;
	}
	.search-row {
        width: 95% !important;
    }
}
@media all and (max-width: 992px), 
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), 
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), 
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), 
only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), 
only screen and (min-resolution: 192dpi) and (max-width: 1024px), 
only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  	.top-menu {
  		width: 100%;
  		max-width: 100%;
  		padding: 1.2em 0;
		ul {
		    width: 100%;
		    display: none;
		}
		ul li {
		    border-left: 0 !important;
		}
		&.align-center > ul,
		&.align-right ul ul {
		    text-align: left;
		}
		ul ul {
			white-space: normal;
		}
		ul li,
		ul ul li,
		ul li:hover > ul > li {
		    width: 100%;
		    height: auto;
		}
		ul li a,
		ul ul li a {
		    width: 100%;
		    border-top: 1px solid rgba($color__text-meta, 0.15);
		}
		> ul > li,
		&.align-center > ul > li,
		&.align-right > ul > li {
		    float: none;
		    display: block;
		}
		ul ul li a {
		    padding: 20px 20px 20px 38px;
		    color: $color__black;
		    background: none;
		}
		ul ul li:hover > a,
		ul ul li a:hover {
		    color: $color__black;
		}
		ul ul ul li a {
		    padding-left: 40px;
		}
		ul ul,
		ul ul ul {
		    position: relative;
		    left: 0;
		    right: auto;
		    width: 100%;
		    margin: 0;
		}
		> ul > li.has-sub > a::after,
		ul ul li.has-sub > a::after {
		    display: none;
		}
		ul li ul li a {
		    padding: 22px 20px 20px 38px;
		}
		#menu-button {
		    display: block;
		    padding: 20px;
		    color: $color__black;
		    cursor: pointer;
		    font-size: 12px;
		    text-transform: uppercase;
		}
		#menu-button::after {
		    content: '';
		    position: absolute;
		    top: 15px;
		    right: 10px;
		    display: block;
		    width: 22px;
		    height: 2px;
		    background: $color__black;
		    @include prefixed(transition, transform 0.25s ease);
		}
		#menu-button::before {
		    content: '';
		    position: absolute;
		    top: 20px;
		    right: 10px;
		    display: block;
		    width: 22px;
		    height: 7px;
		    border-top: 2px solid $color__black;
		    border-bottom: 2px solid $color__black;
		    @include prefixed(transition, transform 0.25s ease);
		}
		.submenu-button {
		    position: absolute;
		    z-index: 10;
		    right: 22px;
		    top: 0;
		    display: block;
		    border-left: 1px solid rgba($color__text-meta, 0.15);
		    height: 60px;
		    width: 50px;
		    cursor: pointer;
		}
		.submenu-button::after {
		    content: '';
		    position: absolute;
		    top: 25px;
		    left: 26px;
		    display: block;
		    width: 1px;
		    height: 11px;
		    background: $color__black;
		    z-index: 99;
		}
		.submenu-button::before {
		    content: '';
		    position: absolute;
		    left: 21px;
		    top: 30px;
		    display: block;
		    width: 11px;
		    height: 1px;
		    background: $color__black;
		    z-index: 99;
		}
		.submenu-button.submenu-opened:after {
		    display: none;
		}
  	}
	#menu-line {
	   display: none;
	}
	#menu-background {
		bottom: 0;
		height: 60px;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		display: block;
		z-index: 9999;
	}
}

@media (max-width: 991px) {
    .top-menu ul li  {
    	border: 0;
    }
}
@media(max-width:590px) {
	.paging-navigation {
		.nav-links {
			li {
				display: none;
			}	
			li:first-child.nav-previous, 	
			li:last-child.nav-next {
				display: block;
			}	
		}		
	}
}