/* Pagination */
.navigation {
	padding-top: 0.6em;
	z-index: 1;
	font-family: $font__sub;
	font-size: 0.8em;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	.nav-links {
		list-style: none;
		padding: 0;
		text-align: center;
		font-size: 1em;
		margin: 0;
		@include prefixed(transition, all 0.2s ease-in);
		a {
			font-weight: 500;
		}
		> li {
			display: inline-block;
			margin: 0 2px;
			&:first-child, &:last-child  {
				margin: 0;
			}			
			a, span {
				padding: 8px 12px;
				background: $color__white;
			}
			.ico-right-angle, .ico-left-angle {
				font-size: 0.6em;
			}
			a > {
				span {
					padding: 0;
					border: 0;
				}
			}
			span.page-numbers.dots {
				border: 0;
				background: transparent;
			}
			a:hover {
				color: $color__white;
			}
			&.active {
				a, span {
					color: $color__white;
				}
			}
		}
		li.nav-previous, li.nav-next {
			background: $color__white;
			a, span {
				padding: 0;
				border: 0;
				display: inline-block;
			}
			a:hover {
				background: $color__white;
			}
		}
		li.nav-previous {
			border: 0;
			margin-top: -6px;

			span {
				padding: 12px;
			}
			a {
				display: inline-block;
			}
			span:first-child {
				height: 35px;
				line-height: 1.1em;
				width: 30px;
			}
			span:last-child {
				float: right;
				height: 35px;
				width: 100px;
				line-height: 0.7em;
				display: block;
				margin: 0;
				border-left: 0 !important;
			}
			&:hover {
				span {
					color: $color__white;
				}
				span:last-child {
					background: transparent !important;
				}	
			}
			&.disabled > a {
				pointer-events: none;
				filter: alpha(opacity=60);
				opacity: 0.6;
			}
		}
		li.nav-next {
			border: 0;
			margin-top: -6px;
			span {
				padding: 12px;
			}
			a {
				display: inline-block;
			}
			span:first-child {
				float: left;
				height: 35px;
				width: 100px;
				line-height: 0.7em;
				display: block;
				margin: 0;
				border-right: 0 !important;
			}
			span:last-child {
				height: 35px;
				line-height: 1.1em;
				width: 30px;
			}
			&:hover {
				span {
					color: $color__white;
				}
				span:first-child {
					background: transparent !important; 
				}	
			}	
			&.disabled > a {
				pointer-events: none;
				filter: alpha(opacity=60);
				opacity: 0.6;
			}	
		}
	}	
}

/* Single Post Pagination */
.single-post {
	.entry-footer {
		.single-navigation {
			th {
				width: 50%;
				padding: 0;
				a {
					display: block;
					position: relative;
				}
			}
			.nav-previous {
				span:first-child {
					border-right: 1px solid $color__border-main;
					display: inline-block;
					padding: 1.66em 1.4em;
					left: 0;
					top: 0;
					position: absolute;
					font-size: 0.8em;
				}
				span:last-child {
					padding: 1em;
					display: block;

				}
				&:hover {
					span:first-child {
						color: $color__white;
					}
				}
			}
			.nav-next {
				span:last-child {
					border-left: 1px solid $color__border-main;
					display: inline-block;
					padding: 1.66em 1.4em;
					right: 0;
					top: 0;
					position: absolute;
					font-size: 0.8em;
				}
				span:first-child {
					padding: 1em;
					display: block;
				}
				&:hover {
					span:last-child {
						color: $color__white;
					}
				}	
			}
		}
	}
}
/* page link pagination */
.entry-content {
	.page-links {
		> a {
			border: 1px solid $color__border-post;
			font-size: 0.8em;
    		padding: 0.4em 0.8em;
		}
	}
}