input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 0.5em 1em;
	&:focus {
		outline: none;
	}
}
input[type="search"] {
	-webkit-appearance: textfield; 
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent url("images/select2.png") no-repeat scroll 95% 50%;
	option[selected] {
		color: $color__white;
	}
}
input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px rgba($color__black, 0) inset;
	-webkit-text-fill-color: $color__text-main !important;
}
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px rgba($color__black, 0) inset;
	-webkit-text-fill-color: $color__text-main !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	@include prefixed(transition, background-color 5000s ease-in-out 0s);
}
textarea {
	display: block;
	width: 100%;
	font-size: 0.8em;
	padding-left: 3px;
	display: block;
}
input,
select,
textarea {
	margin: 0;
	border: none;
	vertical-align: baseline;
	font-size: 100%;
	font-weight: 400;
	@include prefixed(transition, all 0.25s ease);
}

/* Placeholder Color */
::-webkit-input-placeholder { 
    color: $color__meta;
}
:-moz-placeholder { 
   color: $color__meta;
   opacity: 1;
}
::-moz-placeholder {
   color: $color__meta;
   opacity: 1;
}
:-ms-input-placeholder {
   color: $color__meta;
}

/* Form Controls */
.form-controller {
	font-size: 0.8em;
	border: 1px solid $color__border-one;
	background: $color__white;
	width: 100%;
	padding: 0.5em 1em;
	outline: none;
	&:focus {
		border-color: none;
		@include prefixed(box-shadow, none);
	}
}

/* Post password Form */
.post-password-form {
	input[type="password"] {
	  	font-size: 11px;
	  	border: 1px solid $color__border-four;
	  	outline: none;
	}
	input[type="submit"] {
	   	padding: 11px 15px;
	    position: relative;
	    top: -1px;
	}
}