/* all color is on here */ 
::-moz-selection {
  background-color: #80b92e;
}

::selection {
  background-color: #80b92e;
}

blockquote {
  color: #80b92e;
}

.small-border {
  background: #80b92e;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #80b92e;
}
.button {
  border: 1px solid #80b92e;
}

.more-link:after {
  background: #80b92e;
}

.comment-reply-link {
  background: #80b92e;
}

.go-to {
  background: #80b92e;
}

.navigation .nav-links > li a:hover, .navigation .nav-links > li span:hover {
  border-color: #80b92e;
}

.navigation .nav-links > li.active a, .navigation .nav-links > li.active span {
  background: #80b92e;
  border-color: #80b92e;
}

.navigation .nav-links li:first-child.nav-previous:hover span {
  background: #80b92e;
  border-color: #80b92e;
}

.navigation .nav-links li:first-child.nav-previous:hover span:last-child {
  color: #80b92e;
  border-color: #80b92e;
}

.navigation .nav-links li:last-child.nav-next:hover span {
  background: #80b92e;
  border-color: #80b92e;
}

.navigation .nav-links li:last-child.nav-next:hover span:first-child {
  color: #80b92e;
  border-color: #80b92e;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #80b92e;
}

#top-search-box .top-search-inner .search-title h3 {

  color: #80b92e;
}

#top-search-box #searchform button[type="submit"] {
  color: #80b92e;
}

#top-search-box .top-search-inner .close-search:hover {
  background: #80b92e;
  border-color: #80b92e;
}

.search-form .searchform #submit-search {
  color: #80b92e;
}

a:hover, a:focus, a:active {
  color: #80b92e;
}

.navbar-default {
  background: #80b92e;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
  color: #80b92e;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: #80b92e;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #80b92e !important;
}

.nav-collapse {
  background-color: #80b92e;
}

.header-search:hover {
  color: #80b92e;
}


.entry-header .entry-meta a:hover {
  color: #80b92e;
}

.entry-header .entry-meta .byline .author a, .entry-header .entry-meta .cat-links a, .entry-header .entry-meta .comments-link a {
  color: #80b92e;
}

.category ul li h4 {
  background: #80b92e;
}

.featured-area .post-title span {
  color: #80b92e;
}

.featured-area .carousel-indicators li {
  border: 1px solid #80b92e;
}

.featured-area .carousel-indicators .active {
  background-color: #80b92e;
}

.section-title {
  color: #80b92e;
}

#related-post h3 {
  color: #80b92e;
}

#related-post-slide .owl-controls .owl-buttons div {
  background: #80b92e;
}

.author-info .author-name {
  color: #80b92e;
}

.author-info #author-footer .authors-social a {
  color: #80b92e;
}

.author-page #main .author-name {
  color: #80b92e;
}

.author-page #author-skill h3 {
  color: #80b92e;
}

.author-page #author-skill .skillbar-bar {
  background: #80b92e;
}

.author-page #author-skill .skill-bar-percent {
  color: #80b92e;
}

.author-page #author-skill .skill-bar-percent:after {
  border-top: 12px solid #80b92e;
}

.error-page .error-description h2 {
  color: #80b92e;
}

.footer-bottom {
  background: #80b92e;
}

.topbutton {
  background: #80b92e;
}

.about-widget .author-name {
  color: #80b92e;
}

.about-widget .more-link {
  color: #80b92e;
}

.latest-widget .latest-wrap .latest-item .latest-item-meta a {
  color: #80b92e;
}

.widget_categories li:hover > a, .widget_archive li:hover > a {
  color: #80b92e;
}

.widget_categories li:hover > .count, .widget_archive li:hover > .count {
  background: #80b92e;
}

.widget_categories li.current-cat > a, .widget_categories li.current-cat-parent > a, .widget_archive li.current-cat > a, .widget_archive li.current-cat-parent > a {
  color: #80b92e;
}
.widget_categories li.current-cat > .count, .widget_categories li.current-cat-parent > .count, .widget_archive li.current-cat > .count, .widget_archive li.current-cat-parent > .count {
  background: #80b92e;
}

.widget_tag_cloud .tagcloud a:hover {
  background: #80b92e;
  border-color: #80b92e;
}

.popular-widget .popular-wrap .popular-item .popular-item-meta a {
  color: #80b92e;
}

.widget_calendar tbody a {
  background-color: #80b92e;
}

.widget_links a:hover,
.widget_meta a:hover,
.widget_nav_menu a:hover,
.widget_pages a:hover,
.widget_recent_comments a:hover,
.widget_recent_entries a:hover {
  color: #80b92e;
}

.follow-us-area .follow-link .fa:hover {
  background-color: #80b92e;
  border-color: #80b92e;
}

#twitter b a {
  color: #80b92e;
}

#twitter .twieet-date {
  color: #80b92e;
}

.single-image.link-icon .fa:hover {
  color: #80b92e;
}

.single-image.plus-icon .fa:hover {
  color: #80b92e;
}

.sticky:before {
  border-left: 20px solid #80b92e;
  border-right: 20px solid #80b92e;
}

.page-content a,
.entry-content a,
.entry-summary a {
  color: #80b92e;
}

.entry-footer .cat-links > a:hover {
  color: #80b92e;
}

.format-link {
  background: #80b92e;
}

.format-quote .entry-content {
  color: #80b92e;
}

.format-quote .entry-content p {
  color: #80b92e;
}

.format-quote .entry-content span:before {
  color: #80b92e;
}

.format-aside .entry-content {
  color: #80b92e;
}

.format-aside .entry-content p {
  color: #80b92e;
}

.comment-reply-title {
  color: #80b92e;
}

.comments-area .comments-title {
  color: #80b92e;
}

#post-gallary-one .carousel-control .icon-prev,
#post-gallary-one .carousel-control .icon-next,
#post-gallary-one .carousel-control .glyphicon-menu-left,
#post-gallary-one .carousel-control .glyphicon-menu-right {
  background: #80b92e;
}

.full-view .owl-controls .owl-buttons div {
  background: #80b92e;
}

.list-view .owl-controls .owl-buttons div {
  background: #80b92e;
}
@media (max-width: 800px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #80b92e !important;
  }
  .has-submenu.highlighted {
    color: #80b92e !important;
  }
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    color: #80b92e !important;
    background-color: #fff !important;
  }
}


/* sub theme-color */
mark, ins {
  background: #9CCA5A;
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #9CCA5A;
}

.comment-reply-link:hover, .comment-reply-link:focus, .comment-reply-link:active {
  background: #9CCA5A;
}

.go-to:hover, .go-to:focus, .go-to:active {
  background: #9CCA5A;
}

.widget_calendar tbody a:hover, .widget_calendar tbody a:focus {
  background-color: #9CCA5A;
}