/* Custom Widget */
.about-me-photo {
	margin-top: 5px !important;
}
.margin-bottom {
	margin-bottom: 5px;
}
/* CMB2 custom css */
.cmb-repeat-group-wrap .cmb-repeatable-group:not(:last-of-type), .cmb-repeat-group-wrap .cmb-row:not(:last-of-type), .postbox-container .cmb-repeatable-group:not(:last-of-type), .postbox-container .cmb-row:not(:last-of-type) {
  border-bottom: none !important;
}
.cmb-repeat-group-wrap .cmb2-wrap>.cmb-field-list>.cmb-row, .postbox-container .cmb2-wrap>.cmb-field-list>.cmb-row {
  padding: 0 0 !important;
  margin: 13px 0 13px !important;
}
.cmb-row .cmb-th {
	font-weight: normal;
}
.cmb-th label {
  padding: 0 0 5px !important;
}
.cmb2-metabox-title {
	border-bottom: 1px solid #e9e9e9;
	padding: 5px 0 5px !important;
	margin: 0 0 20px !important;
}
#_candid_post_format_details, .cmb2-id--candid-layout {
	display: none;
}
.radio-img input[type=radio] {
    opacity: 0;
    display: none;
}

.radio-img label img{
	border: 3px solid #e9e9e9;
	margin-top: -3px;
}

.radio-img input[type="radio"]:checked+label img{
	border: 3px solid #1e8cbe;
}
.radio-img ul li {
	padding-right: 5px !important;
}

/* Redux framework */
.redux_candid_slides_add_remove, .redux_candid_slides_skill_add_remove {
	display: none;
}
.candid-candid_hidden_slides {
	display: none;
}