/*
Theme Name: Candid

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

http://codex.wordpress.org/Right_to_Left_Language_Support

*/
body {
	direction: rtl;
  	unicode-bidi: embed;
}

blockquote::before {
	bottom: 24px;
	top: auto;
}
blockquote::after {
	bottom: auto;
	top: 1em;
	right: 1.6em;
}

.navbar-nav {
	padding-right: 0;
}

#top-search-box #searchform button[type="submit"] {
    -moz-transform: translateY(8%) translateX(-50%);
    -ms-transform: translateY(8%) translateX(-50%);
    -o-transform: translateY(8%) translateX(-50%);
    -webkit-transform: translateY(8%) translateX(-50%);
    transform: translateY(8%) translateX(-50%);
}
.entry-footer .cat-links {
	float: left;
	text-align: right;
}

.owl-item {
	float: right !important;
}
.format-link .entry-header::before {
	left: auto;
	right: 1em;
}
.format-link .entry-header {
    padding: 1.3em 7em 1.3em 0 !important;
}
.list-view .item {
	margin: 0 10px !important;
}

.list-view .active:first-child .item, .list-view :not(.active) + .active .item {
  margin-right: 0 !important;
}
.list-view .active:last-child .item, .list-view :not(.active) .item {
 margin-left: 0 !important;
}

.format-quote .entry-content::before {
	bottom: 0;
	top: auto;
}
.format-quote .entry-content::after {
	top: 0;
	bottom: auto;
}
.format-quote .entry-content {
	padding-left: 0;
	padding-right: 3.5em;
}

.paging-navigation-post .nav-previous {
	float: left;
	margin-left: 32%;
}
.paging-navigation-post .nav-next {
	float: right;
	margin-right: 34%;
}

#related-post-slide .active:first-child .item, #related-post-slide :not(.active) + .active .item {
  margin-right: 0 !important;
  margin-left: 15px !important;
}
#related-post-slide .active:last-child .item, #related-post-slide :not(.active) .item {
  margin-left: 0;
  margin-right: 15px;
}
#related-post-slide .item {
  margin: 0 15px;
}

#related-post-slide .owl-controls {
	left: 0;
	 right: auto;
}

#related-post-slide .owl-controls .owl-buttons div {
	float: left;
}
.comments-area .author-img {
	float: right;
	margin-left: 1em;
}

.comments-area .children {
	margin-right: 108px;
	 margin-left: 0;
}
.comment-reply-title {
	margin-right: 0.6em;
}

.logged-in-as {
    margin-right: 1em;
}

.comments-area #contact_form .form-submit {
	margin-right: 1em;
	margin-left: 0;
}
.widget_categories li .count, .widget_archive li .count {
	float: left;
}

.popular-widget .popular-wrap .popular-item .popular-image,
.latest-widget .latest-wrap .latest-item .latest-image {
 	padding-left: 1em;
}

.widget_links li::before, .widget_meta li::before, .widget_nav_menu li::before, .widget_pages li::before, .widget_recent_comments li::before, .widget_recent_entries li::before {
	content: "\f104";
	float: right;
	margin-left: 1em;
	margin-right: 0;
	font-size: 15px;
  	vertical-align: middle;
  	margin-top: -3px;
}

.widget_nav_menu .sub-menu,
.widget_pages .children {
	margin: 0 1em 0 0;
}