/*
Theme Name: Candid
Theme URI: http://softhopper.net
Author: Softhopper
Author URI: http://softhopper.net
Description: Bit for the better change
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: candid
Tags:  three-columns, right-sidebar, left-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images,  post-formats, sticky-post, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Candid is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
  font-size: 0.938em; }

body,
button,
input,
select,
textarea {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 0.938em;
  font-weight: 400;
  line-height: 1.45em;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #666;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-weight: inherit; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #666; }

h1 {
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.8em; }

small, .font_small {
  font-size: 0.8em; }

p {
  margin-bottom: 1.3em;
  padding: 0;
  line-height: 1.73;
  word-spacing: 0.025em;
  color: #777; }

dfn, cite, em, i {
  font-style: italic; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-size: 15px; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  color: #fff;
  padding: 0 2px;
  text-decoration: none; }

big {
  font-size: 125%; }

::-moz-selection {
  color: #fff;
  text-shadow: none; }

::selection {
  color: #fff;
  text-shadow: none; }

.dropcap::first-letter {
  display: block;
  float: left;
  margin: 10px 15px 0 0;
  font-weight: 700;
  font-size: 48px; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  background: #fff;
  word-wrap: break-word;
  padding-top: 40px; }

blockquote {
  background: #f2f2f2;
  padding: 3em 4em;
  position: relative;
  margin: 0 0 1em;
  border-left: none;
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
  display: block; }
  blockquote:before {
    content: "\e604";
    font-family: 'candid';
    position: absolute;
    font-size: 1.5em;
    left: 1em;
    top: 1em;
    font-style: normal; }
  blockquote:after {
    content: "\e605";
    font-family: 'candid';
    position: absolute;
    font-size: 1.5em;
    right: 1em;
    bottom: 1.5em;
    font-style: normal; }
  blockquote p {
    line-height: 1.45;
    margin-bottom: 5px;
    display: block; }
  blockquote cite {
    display: block;
    font-size: 0.8em;
    margin-top: 0.5em; }
    blockquote cite:before {
      content: "--";
      margin: 0 5px 0 0; }

hr {
  background-color: #ebebeb;
  border: 0;
  height: 1px;
  margin: 1.5em 0; }

.small-border {
  width: 90px;
  height: 2px;
  margin: 10px 0 10px 18px;
  display: block; }

.ex-small-border {
  width: 90px;
  height: 1px;
  background: #d6d6d6;
  margin: 10px auto 20px;
  display: block; }

ul, ol {
  padding-left: 1em; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

table, th, td {
  border: 1px solid #ebebeb; }

td {
  border-width: 0 1px 1px 0; }

/* post, page, comments table */
#content .post li, #content .page li, #comments li {
  line-height: 1.5; }
#content .post table, #content .page table, #comments table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
  border: 1px solid #ebebeb;
  border-left: none; }
  #content .post table thead:first-child tr:first-child th,
  #content .post table tbody:first-child tr:first-child th,
  #content .post table tbody:first-child tr:first-child td, #content .page table thead:first-child tr:first-child th,
  #content .page table tbody:first-child tr:first-child th,
  #content .page table tbody:first-child tr:first-child td, #comments table thead:first-child tr:first-child th,
  #comments table tbody:first-child tr:first-child th,
  #comments table tbody:first-child tr:first-child td {
    border-top: 0 none; }
  #content .post table tbody tr.odd, #content .page table tbody tr.odd, #comments table tbody tr.odd {
    background: #fff; }
  #content .post table th,
  #content .post table td, #content .page table th,
  #content .page table td, #comments table th,
  #comments table td {
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    line-height: 18px;
    padding: 8px;
    text-align: left;
    vertical-align: top; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0 none;
  color: white;
  font-weight: 600;
  padding: 10px 20px; }

/* read more button */
.button {
  padding: 6px 20px;
  display: inline-block;
  font-weight: 400;
  text-decoration: none; }

.more-link {
  position: relative; }
  .more-link:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
    content: "";
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .more-link:hover::after {
    width: 100%;
    opacity: 1; }
  .more-link:hover .more-button, .more-link:hover .read-button {
    z-index: 2;
    color: #fff;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }

.comment-reply-link {
  padding: 2px 16px;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .comment-reply-link:hover, .comment-reply-link:focus, .comment-reply-link:active {
    color: #fff; }

.go-to {
  padding: 6px 20px;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.62;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .go-to:hover, .go-to:focus, .go-to:active {
    color: #fff; }

/* pagination */
.navigation {
  padding-top: 0.8em;
  z-index: 1; }
  .navigation:before, .navigation:after {
    content: " ";
    display: table; }
  .navigation:after {
    clear: both; }
  .navigation .nav-links {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 1em; }
    .navigation .nav-links a {
      font-weight: 500; }
    .navigation .nav-links > li {
      display: inline-block; }
      .navigation .nav-links > li a, .navigation .nav-links > li span {
        padding: 10px 12px;
        border: 1px solid #d6d6d6; }
      .navigation .nav-links > li .glyphicon {
        font-size: 12px; }
      .navigation .nav-links > li a > span {
        padding: 0;
        border: 0; }
      .navigation .nav-links > li span.page-numbers.dots {
        border: 0; }
      .navigation .nav-links > li.active a, .navigation .nav-links > li.active span {
        color: #fff; }
    .navigation .nav-links li.nav-previous a, .navigation .nav-links li.nav-previous span, .navigation .nav-links li.nav-next a, .navigation .nav-links li.nav-next span {
      padding: 0;
      border: 0; }
    .navigation .nav-links li.nav-previous {
      border: 0;
      margin-top: -10px; }
      .navigation .nav-links li.nav-previous span {
        padding: 12px 6px;
        border: 1px solid #d6d6d6; }
      .navigation .nav-links li.nav-previous a {
        display: inline-block; }
      .navigation .nav-links li.nav-previous span:first-child {
        height: 38px;
        line-height: 3.1;
        padding: 0;
        width: 28px; }
      .navigation .nav-links li.nav-previous span:last-child {
        float: right;
        padding: 8px 14px;
        height: 38px;
        display: block;
        border: 1px solid #d6d6d6;
        margin: 1px 0 0;
        border-left: 0; }
      .navigation .nav-links li.nav-previous:hover span {
        color: #fff; }
      .navigation .nav-links li.nav-previous:hover span:last-child {
        background: transparent !important; }
    .navigation .nav-links li.nav-next {
      border: 0;
      margin-top: -10px; }
      .navigation .nav-links li.nav-next span {
        padding: 12px 6px;
        border: 1px solid #d6d6d6; }
      .navigation .nav-links li.nav-next a {
        display: inline-block; }
      .navigation .nav-links li.nav-next span:first-child {
        float: left;
        padding: 8px 14px;
        height: 38px;
        display: block;
        border: 1px solid #d6d6d6;
        margin: 1px 0 0;
        border-right: 0; }
      .navigation .nav-links li.nav-next span:last-child {
        height: 38px;
        line-height: 3.1;
        padding: 0;
        width: 28px; }
      .navigation .nav-links li.nav-next:hover span {
        color: #fff; }
      .navigation .nav-links li.nav-next:hover span:first-child {
        background: transparent !important; }

/* single post pagination */
.paging-navigation-post {
  margin-top: 0;
  margin-bottom: -10px; }
  .paging-navigation-post .nav-previous {
    margin-right: 20px;
    background: #fff;
    position: relative; }
  .paging-navigation-post .nav-next {
    margin-left: 20px;
    background: #fff; }

.paging-navigation-post {
  position: relative; }
  .paging-navigation-post .nav-links:before {
    background: #d6d6d6;
    content: "";
    height: 1px;
    left: 0;
    margin-top: 22px;
    position: absolute;
    width: 45%;
    top: 0;
    z-index: -1; }
  .paging-navigation-post .nav-links:after {
    background: #d6d6d6;
    content: "";
    height: 1px;
    right: 0;
    margin-top: 22px;
    position: absolute;
    width: 45%;
    top: 0;
    z-index: -1; }

@media (min-width: 992px) {
  .navigation .nav-links li.nav-previous span:first-child,
  .navigation .nav-links li.nav-next span:last-child {
    height: 39px; }

  .navigation .nav-links li.nav-previous span:last-child,
  .navigation .nav-links li.nav-next span:first-child {
    height: 39px; } }
@media (max-width: 590px) {
  .paging-navigation .nav-links li {
    display: none; }
  .paging-navigation .nav-links li:first-child.nav-previous,
  .paging-navigation .nav-links li:last-child.nav-next {
    display: block; }

  .paging-navigation-post:after {
    width: 38%; } }
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    outline: none; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input,
select,
textarea {
  margin: 0;
  border: none;
  vertical-align: baseline;
  font-size: 100%; }

label {
  display: inline-block;
  cursor: pointer; }

input,
textarea,
select,
button {
  -webkit-transition: all .25s ease;
  transition: all .25s ease; }

textarea {
  padding-left: 3px;
  width: 100%;
  display: block; }

::-webkit-input-placeholder {
  color: #c3c3c3; }

:-moz-placeholder {
  color: #c3c3c3;
  opacity: 1; }

::-moz-placeholder {
  color: #c3c3c3;
  opacity: 1; }

:-ms-input-placeholder {
  color: #c3c3c3; }

/* top search-box */
#top-search-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 99999;
  text-align: center; }
  #top-search-box .search-overlay {
    background: rgba(0, 0, 0, 0.87);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999; }
  #top-search-box .top-search-pos {
    left: 50%;
    position: absolute;
    top: 50%;
    -moz-transform: translatex(-50%) translatey(-50%);
    -ms-transform: translatex(-50%) translatey(-50%);
    -o-transform: translatex(-50%) translatey(-50%);
    -webkit-transform: translatex(-50%) translatey(-50%);
    transform: translatex(-50%) translatey(-50%);
    z-index: 10001; }
  #top-search-box .top-search-inner {
    background: #fff;
    padding: 45px 35px; }
    #top-search-box .top-search-inner .search-title h3 {
      margin-bottom: 1em;
      margin-top: 0; }
  #top-search-box .top-search-pos #searchform {
    width: 615px; }
  #top-search-box .top-search-pos #searchform {
    background: #f5f5f5; }
  #top-search-box #searchform {
    display: table;
    margin: 0 auto;
    max-width: 100%;
    position: relative; }
  #top-search-box #searchform input[type="search"],
  #top-search-box #searchform input[type="text"] {
    border-right: none;
    color: #a9a9a9;
    display: table-cell;
    font-size: 1em;
    line-height: 1.73;
    padding: 9px 17px 8px 17px;
    width: 100%;
    font-style: italic;
    letter-spacing: 0.1px;
    background: transparent;
    outline: none; }
  #top-search-box #searchform > span {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    width: 10%; }
  #top-search-box #searchform button[type="submit"] {
    float: right;
    font-size: 16px;
    height: 43px;
    margin-left: -8px;
    margin-top: 0;
    text-align: center;
    width: 100%;
    background: transparent;
    outline: none;
    overflow: hidden; }
    #top-search-box #searchform button[type="submit"] i {
      padding-left: 1.2em; }
  #top-search-box .top-search-inner .close-search {
    text-transform: uppercase;
    line-height: 20px;
    border: 1px solid #ebebeb;
    padding: 5px 20px;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  #top-search-box .top-search-inner .close-search:hover {
    color: #fff; }
  #top-search-box input:-webkit-autofill,
  #top-search-box textarea:-webkit-autofill,
  #top-search-box select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset;
    -webkit-color: #777; }
    #top-search-box input:-webkit-autofill:focus,
    #top-search-box textarea:-webkit-autofill:focus,
    #top-search-box select:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset; }

.comment-subscription-form {
  display: none; }

/* Other's form */
.form-controlar {
  font-size: 1em;
  border: 1px solid #ebebeb;
  background: #fff;
  width: 100%;
  padding: 10px 15px;
  outline: none; }
  .form-controlar:focus {
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-color: #777; }
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset; }

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset; }

.comment-respond p {
  margin-bottom: 1em; }
.comment-respond .pd-left {
  padding-left: 8px; }
.comment-respond .pd-right {
  padding-right: 8px; }

.no-results .page-content {
  text-align: center;
  background: #fff;
  padding: 2em 0 2.6em; }
  .no-results .page-content .search-form .searchform input[type="text"] {
    background: #f5f5f5; }
  .no-results .page-content .search-form {
    width: 60%; }
    .no-results .page-content .search-form .searchform #submit-search {
      background: #f5f5f5; }

.post-password-form input[type="password"] {
  font-size: 1em;
  border: 1px solid #d6d6d6;
  background: #fff;
  width: 100%;
  padding: 9px 15px;
  outline: none; }

.contact-respond {
  padding-top: 2em; }

/* Search-form */
.search-form {
  width: 30%;
  margin: auto; }
  .search-form .searchform input, .search-form .searchform button {
    background: #fff;
    padding: 12px 10px;
    height: 50px; }
  .search-form .searchform input:focus {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .search-form .searchform #submit-search {
    border-left: 1px solid #d6d6d6;
    font-size: 1em;
    background: #fff; }
    .search-form .searchform #submit-search i {
      vertical-align: middle; }
    .search-form .searchform #submit-search:hover {
      color: #80b92e; }

@media (max-width: 991px) {
  .pd-left {
    padding-left: 15px !important; }

  .pd-right {
    padding-right: 15px !important; } }
@media (max-width: 680px) {
  #top-search-box .top-search-pos #searchform {
    width: 300px; } }
@media (min-width: 768px) and (max-width: 1201px) {
  .search-form {
    width: 50%; } }
@media (min-width: 580px) and (max-width: 767px) {
  .search-form {
    width: 70%; } }
@media (max-width: 580px) {
  .search-form {
    width: 100%; } }
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #777;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s; }
  a:hover, a:focus, a:active {
    text-decoration: none; }
  a:focus {
    outline: 0; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.navbar {
  border-radius: 0;
  border: none;
  margin: 0; }

.navbar-brand {
  position: relative;
  z-index: 2; }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0; }

.menu-left {
  float: right;
  margin-right: 0; }

.navbar-nav {
  /* sub menus arrows */
  /* scrolling arrows for tall menus */
  /* add more indentation for 2+ level sub in collapsible mode - Bootstrap normally supports just 1 level sub menus */
  /* fix sub menus auto width (subMenusMinWidth and subMenusMaxWidth options) */
  /* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */ }
  .navbar-nav .sub-arrow,
  .navbar-nav .collapsible .sub-arrow {
    position: static;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 6px;
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    vertical-align: middle; }
  .navbar-nav ul .sub-arrow {
    position: absolute;
    right: 0;
    margin-top: 6px;
    margin-right: 15px; }
  .navbar-nav ul a.has-submenu {
    padding-right: 30px; }
  .navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    height: 20px;
    text-align: center; }
  .navbar-nav span.scroll-up-arrow, .navbar-nav span.scroll-down-arrow {
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 7px dashed transparent;
    border-right: 7px dashed transparent;
    border-bottom: 7px solid;
    border-left: 7px dashed transparent; }
  .navbar-nav span.scroll-down-arrow {
    top: 6px;
    border-top: 7px solid;
    border-right: 7px dashed transparent;
    border-bottom: 7px dashed transparent;
    border-left: 7px dashed transparent; }
  .navbar-nav .navbar-nav .collapsible ul .dropdown-menu > li > a,
  .navbar-nav .navbar-nav .collapsible ul .dropdown-menu .dropdown-header {
    padding-left: 35px; }
  .navbar-nav .navbar-nav .collapsible ul ul .dropdown-menu > li > a,
  .navbar-nav .navbar-nav .collapsible ul ul .dropdown-menu .dropdown-header {
    padding-left: 45px; }
  .navbar-nav .navbar-nav .collapsible ul ul ul .dropdown-menu > li > a,
  .navbar-nav .navbar-nav .collapsible ul ul ul .dropdown-menu .dropdown-header {
    padding-left: 55px; }
  .navbar-nav .navbar-nav .collapsible ul ul ul ul .dropdown-menu > li > a,
  .navbar-nav .navbar-nav .collapsible ul ul ul ul .dropdown-menu .dropdown-header {
    padding-left: 65px; }
  .navbar-nav .dropdown-menu > li > a {
    white-space: normal; }
  .navbar-nav ul.sm-nowrap > li > a {
    white-space: nowrap; }
  .navbar-nav .collapsible ul {
    display: none;
    position: static !important;
    top: auto !important;
    left: auto !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    width: auto !important;
    min-width: 0 !important;
    max-width: none !important; }
    .navbar-nav .collapsible ul.sm-nowrap > li > a {
      white-space: normal; }
  .navbar-nav .collapsible iframe {
    display: none; }

.navbar-default {
  word-spacing: 0.025em; }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 1.73;
    font-weight: 500;
    font-size: 1em; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
      background: #fff; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: #fff; }

#header .current-menu-item > a,
#header .current-page-item > a,
#header .current-menu-parent > a {
  background: #fff !important; }

.dropdown-menu {
  padding-bottom: 0;
  padding-top: 0;
  font-size: 1em; }
  .dropdown-menu .dropdown-menu {
    margin-top: -34.5px !important;
    padding-top: 0; }
  .dropdown-menu li {
    padding: 0.17em 0; }

.dropdown-menu > li > a {
  color: #777;
  line-height: 1.45; }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    background-color: #fff; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #fff; }

.navbar-toggle {
  border-color: #fff;
  border-radius: 0; }

/* fix .navbar-right subs alignment */
.navbar-right ul.dropdown-menu {
  left: 0;
  right: auto; }

.navbar .nav-collapse {
  bottom: 0;
  left: 0;
  margin: 0;
  padding-left: 80px;
  padding-right: 150px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1; }

.btn {
  border-radius: 0; }

.remove {
  float: right; }

.nav-search {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  display: inline-block; }

.header-search {
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  line-height: 1.73;
  padding: 1.8em 1em;
  -webkit-transition: padding .5s ease, color 100ms linear, background-color .25s ease-out;
  transition: padding .5s ease, color 100ms linear, background-color .25s ease-out; }
  .header-search:hover {
    background: #fff; }

@media (min-width: 801px) {
  .navbar-default .navbar-brand {
    padding: 1.46em 0;
    height: auto;
    line-height: 1.73;
    font-size: 1.25em;
    -webkit-transition: padding .5s ease, color 100ms linear, background-color .25s ease-out;
    transition: padding .5s ease, color 100ms linear, background-color .25s ease-out; }
  .navbar-default .navbar-nav > li > a {
    padding: 1.8em 1em;
    -webkit-transition: padding .5s ease, color 100ms linear, background-color .25s ease-out;
    transition: padding .5s ease, color 100ms linear, background-color .25s ease-out; }

  .top-nav-collapse .navbar-brand {
    padding: 1em 0; }
  .top-nav-collapse .navbar-nav > li > a {
    padding: 1.25em 1em; }
  .top-nav-collapse .header-search {
    padding: 1.25em 1em; }

  .navbar-form {
    width: 60%; }
    .navbar-form button {
      display: none; }
    .navbar-form .form-group, .navbar-form .form-control {
      width: 100%;
      margin-top: 7px;
      -webkit-transition: margin .5s ease, color 100ms linear, background-color .25s ease-out;
      transition: margin .5s ease, color 100ms linear, background-color .25s ease-out; }

  .dropdown-menu {
    border: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.176);
    border-radius: 0; }
    .dropdown-menu li {
      border-bottom: 1px solid #ebebeb; }
      .dropdown-menu li a {
        padding: 6px 20px; }
      .dropdown-menu li:last-child {
        border: 0; }

  .mheader-search, .mobile-nav-search {
    display: none; } }
@media (max-width: 800px) {
  .menu-left {
    float: none; }

  .nav-search {
    display: none; }

  .mobile-nav-search {
    display: inline-block;
    float: right;
    margin-bottom: 0;
    padding: 0;
    list-style: none; }
    .mobile-nav-search .header-search {
      padding: 1em;
      margin-right: 0; }
      .mobile-nav-search .header-search:hover {
        background: transparent;
        color: #fff; }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #fff; }

  .navbar-nav > li > a {
    padding: 0.5em; }

  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block;
    background: transparent !important; }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important; }

  .navbar-nav > li {
    float: none; }

  .collapse.in {
    display: block !important; }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; } }
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #b4b4b4;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

.format-gallery .more-link-area {
  margin-top: 1em;
  margin-bottom: -1em; }

.fancybox-overlay {
  background-color: rgba(125, 189, 33, 0.3); }

/* meta data */
.entry-header .entry-meta {
  font-size: 0.9em;
  letter-spacing: 0.025em;
  font-weight: 400;
  color: #a5a5a5; }
  .entry-header .entry-meta i {
    margin-right: 4px; }
  .entry-header .entry-meta span:after {
    content: "";
    margin: 0 4px; }
  .entry-header .entry-meta span.author:after {
    margin: 0; }
  .entry-header .entry-meta a {
    color: #a5a5a5; }
  .entry-header .entry-meta .byline .author a:hover, .entry-header .entry-meta .cat-links a:hover, .entry-header .entry-meta .comments-link a:hover {
    text-decoration: underline; }

.breadcrumb {
  margin-bottom: 1em; }
  .breadcrumb:before, .breadcrumb:after {
    content: " ";
    display: table; }
  .breadcrumb:after {
    clear: both; }
  .breadcrumb ul {
    padding: 0;
    list-style: none; }
    .breadcrumb ul li {
      float: left; }
      .breadcrumb ul li h4 {
        color: #fff;
        font-size: 16px;
        margin: 0;
        padding: 2px 8px; }
      .breadcrumb ul li:last-child {
        margin-top: 2px; }
        .breadcrumb ul li:last-child:before {
          content: "\f101";
          font-family: FontAwesome;
          font-size: 16px;
          margin: 0 5px 0 10px;
          line-height: 0; }

/* catagory icon */
.format-gallery .post-formet:before {
  content: "\f00a";
  font-family: FontAwesome;
  margin: 0 2px; }

.format-aside .post-formet:before {
  content: "\f15c";
  font-family: FontAwesome;
  margin: 0 2px; }

.format-video .post-formet:before {
  content: "\f03d";
  font-family: FontAwesome;
  margin: 0 2px; }

.format-image .post-formet:before {
  content: "\f03e";
  font-family: FontAwesome;
  margin: 0 2px; }

.format-audio .post-formet:before {
  content: "\f028";
  font-family: FontAwesome;
  margin: 0 2px; }

.format-chat .post-formet:before {
  content: "\f1d7";
  font-family: FontAwesome;
  margin: 0 2px; }

.format-status .post-formet:before {
  content: "\f118";
  font-family: FontAwesome;
  margin: 0 2px; }

.entry-meta .byline .author.vcard:before {
  content: "\f007";
  font-family: FontAwesome;
  margin: 0 2px; }
.entry-meta .cat-links:before {
  content: "\f07c";
  font-family: FontAwesome;
  margin: 0 2px; }
.entry-meta .entry-date:before {
  content: "\f073";
  font-family: FontAwesome;
  margin: 0 2px; }
.entry-meta .comments-link:before {
  content: "\f075";
  font-family: FontAwesome;
  margin: 0 2px; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline !important;
  float: left;
  margin-right: 1.5em !important; }

.alignright {
  display: inline !important;
  float: right;
  margin-left: 1.5em !important; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------

# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 999999; }

#header .site-header {
  background-position: 50% 50% !important;
  position: relative; }
#header .overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  position: absolute;
  width: 100%; }
#header #site-wraper {
  margin: 0 auto;
  text-align: center;
  padding: 122px 0 87px; }
#header .site-branding {
  padding: 1em 3em;
  word-break: break-all; }
#header #box {
  border: 1px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  position: relative; }
  #header #box:before {
    content: "\e602";
    font-family: 'candid';
    position: absolute;
    right: -41px;
    top: -3px;
    font-size: 2em;
    color: #fff; }
  #header #box:after {
    content: "\e601";
    font-family: 'candid';
    position: absolute;
    left: -41px;
    bottom: -2px;
    font-size: 2em;
    color: #fff; }
#header .site-title {
  margin-top: 0;
  font-size: 4.5em;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1.6;
  margin-bottom: 0; }
  #header .site-title a {
    color: #fff;
    display: inline-block; }
#header .site-description {
  font-weight: 500;
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 1.2em;
  margin-top: 0;
  line-height: 1.5;
  color: #fff; }
  #header .site-description:before, #header .site-description:after {
    content: "\f068";
    font-family: FontAwesome;
    margin: 0 5px;
    color: #fff;
    vertical-align: middle; }

@media (max-width: 410px) {
  #header .site-branding {
    padding: 1em 2em; }
  #header #box:before {
    right: -14px;
    top: -7px;
    font-size: 1em; }
  #header #box:after {
    left: -14px;
    bottom: -6px;
    font-size: 1em; } }
/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/
.featured-area {
  background: #f5f5f5;
  padding: 78px 0 98px; }
  .featured-area .features-slide {
    overflow: hidden; }
  .featured-area .post-title {
    font-style: italic;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 0.8em;
    font-weight: 300;
    font-size: 2.441em;
    margin-top: 0;
    line-height: 1.45;
    margin-left: 2px; }
  .featured-area ul, .featured-area ol {
    margin: 0;
    padding: 0; }
  .featured-area li {
    list-style: none; }
  .featured-area .featured-description {
    padding-top: 1.2em; }
    .featured-area .featured-description .button {
      margin-top: 0.8em; }
  .featured-area .featured-image {
    height: auto;
    position: relative;
    overflow: hidden; }
    .featured-area .featured-image img {
      margin: auto; }
  .featured-area .carousel-indicators {
    position: absolute;
    bottom: -4em;
    left: 0;
    width: 100%;
    padding: 0;
    margin-left: 0;
    text-align: center; }
  .featured-area .carousel-indicators li {
    padding: 0;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    text-indent: -999px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .featured-area .carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 0; }

@media (max-width: 992px) {
  .featured-image {
    margin-top: 1em; } }
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
#main {
  overflow: hidden; }

.post-thumbnail > img {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }

.entry-title {
  margin-top: 0;
  margin-bottom: 0.4em;
  font-size: 1.953em;
  font-weight: 400;
  letter-spacing: 0.025em;
  word-spacing: 0.025em; }

.section-title {
  text-align: center;
  margin-top: 0;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 300; }

.header-title {
  margin-bottom: 52px; }

.post-thumbnail #carousel .slides > li {
  margin: 0 5px; }
  .post-thumbnail #carousel .slides > li:first-child {
    margin-left: 0; }

.fancybox-overlay {
  z-index: 99999; }

.fancybox-skin {
  padding: 0 !important; }

.fancybox-opened {
  z-index: 999999; }

#related-post {
  margin-top: 72.8px; }
  #related-post h3 {
    font-weight: 500; }

#related-post-slide {
  margin-top: 1.5em; }
  #related-post-slide a:hover {
    text-decoration: none; }
  #related-post-slide .active:first-child .item, #related-post-slide :not(.active) + .active .item {
    margin-left: 0 !important;
    margin-right: 15px !important; }
  #related-post-slide .active:last-child .item, #related-post-slide :not(.active) .item {
    margin-right: 0;
    margin-left: 15px; }
  #related-post-slide .item {
    margin: 0 15px; }
    #related-post-slide .item .post {
      background: #f5f5f5;
      padding-bottom: 0.5em; }
      #related-post-slide .item .post .entry-header, #related-post-slide .item .post .entry-content {
        padding: 0 1.5em; }
  #related-post-slide .owl-controls {
    position: absolute;
    right: -5px;
    top: -75px; }
  #related-post-slide .owl-controls .owl-buttons div {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    opacity: 1;
    padding: 8px 12px; }
  #related-post-slide .entry-title {
    font-size: 1.563em;
    margin-top: 0; }
  #related-post-slide .entry-content {
    margin: 1em 0; }
    #related-post-slide .entry-content p {
      margin-bottom: 1em; }

/* Author Section */
.author-info {
  margin-top: 59px; }
  .author-info .at-img {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    margin: 1em 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .author-info .at-img > img {
    max-height: 100px;
    max-width: 100px; }
  .author-info #author-img, .author-info #author-details {
    display: table-cell;
    vertical-align: top; }
  .author-info #author-img {
    vertical-align: middle;
    background: #f5f5f5;
    padding: 0 1.5em; }
  .author-info .author-name {
    font-size: 1.563em;
    margin-bottom: 0;
    font-weight: 500; }
  .author-info .authors-title {
    font-size: 0.8em;
    color: #c3c3c3;
    margin-top: 0;
    font-weight: 500; }
  .author-info #author-details {
    border: 1px solid #ebebeb;
    border-left: 0;
    padding: 0 1.5em;
    width: 1070px;
    overflow: hidden; }
  .author-info .authors-bio p {
    line-height: 1.45; }
  .author-info #author-footer {
    border: 1px solid #ebebeb;
    border-top: 0;
    display: table;
    width: 100%;
    padding: 0.8em 1em; }
    .author-info #author-footer .post-count {
      float: left; }
      .author-info #author-footer .post-count b {
        font-weight: 500; }
    .author-info #author-footer .authors-social {
      float: right;
      display: inline-block; }
      .author-info #author-footer .authors-social b {
        font-weight: 500;
        margin-right: 14px;
        vertical-align: middle; }
      .author-info #author-footer .authors-social a {
        padding: 0 5px; }
        .author-info #author-footer .authors-social a:first-child {
          padding-left: 15px; }
        .author-info #author-footer .authors-social a i {
          vertical-align: middle;
          font-size: 16px; }

.archive.author .author-info {
  margin-top: 0;
  margin-bottom: 2.2em; }

.author-page #main {
  width: 75%;
  margin: auto; }
  .author-page #main .author-name {
    text-align: center;
    margin-top: 0; }
  .author-page #main .post-thumbnail img {
    margin: auto;
    width: 100%; }
  .author-page #main .author-sign {
    float: left;
    clear: both; }
    .author-page #main .author-sign img {
      margin-left: 0;
      margin-bottom: 5px; }
    .author-page #main .author-sign h3 {
      margin: 0; }
  .author-page #main .follow-link {
    float: right;
    bottom: -3.4em;
    position: relative; }
.author-page #author-skill {
  width: 75%;
  margin: 0 auto; }
  .author-page #author-skill h3 {
    font-weight: 400;
    border-bottom: 1px solid #d6d6d6;
    display: inline-block;
    padding: 0 40px 5px 10px; }
  .author-page #author-skill .pd-bottom {
    padding-bottom: 2em; }
  .author-page #author-skill .skillbar {
    position: relative;
    display: block;
    margin-top: 16px;
    background: transparent;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color; }
  .author-page #author-skill .skillbar-title {
    top: 0;
    left: 0;
    line-height: 1.7; }
  .author-page #author-skill .skillbar-bg {
    background: #f5f5f5; }
  .author-page #author-skill .skillbar-bar {
    height: 15px;
    width: 0; }
  .author-page #author-skill .skill-bar-percent {
    position: absolute;
    top: -18px;
    margin-left: -5px;
    font-size: 12px;
    height: 40px;
    line-height: 36px;
    font-weight: bold;
    content: ""; }
    .author-page #author-skill .skill-bar-percent:after {
      content: "";
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      position: absolute;
      bottom: 0;
      left: 0; }

.contact-page #gmaps {
  height: 380px;
  margin-bottom: 2em; }
.contact-page .post img,
.contact-page .page img {
  max-width: none; }
.contact-page .entry-content {
  margin-top: 0; }
.contact-page .address h4 {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
  margin-top: 0; }
.contact-page .address .dl-horizontal dd {
  margin-bottom: 8px;
  margin-left: 110px;
  font-weight: 400; }
.contact-page .address .dl-horizontal dt {
  text-align: left;
  width: 100px; }
.contact-page .padding-left {
  padding-left: 0.5em; }
.contact-page .padding-right {
  padding-right: 0.5em; }
.contact-page .padding-left-right {
  padding: 0 0.5em; }
.contact-page .contact-respond p {
  margin-bottom: 1em; }

.error-page {
  background: #f2f2f2; }
  .error-page .error-content {
    margin: auto; }
  .error-page .error-image img {
    margin: 4em auto 0; }
  .error-page .error-description {
    text-align: center; }
    .error-page .error-description h2 {
      font-size: 42px;
      margin-bottom: 0;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .error-page .error-description h4 {
      margin-top: 0; }
  .error-page .go-to {
    margin-top: 3em; }

@media (max-width: 994px) {
  .contact-page .padding-left {
    padding-left: 15px; }
  .contact-page .padding-right {
    padding-right: 15px; }
  .contact-page .padding-left-right {
    padding: 0 15px; } }
@media (max-width: 768px) {
  .active:first-child .item, :not(.active) + .active .item {
    margin: 0 !important; }

  .address .dl-horizontal dd {
    margin-left: 0 !important; } }
@media (max-width: 620px) {
  .follow-link {
    float: none !important;
    bottom: 0 !important;
    clear: both; } }
@media (max-width: 445px) {
  .authors-social {
    float: none !important; } }
.footer-top {
  background: #f2f2f2;
  padding: 52px 0; }
  .footer-top .widget {
    margin-bottom: 0;
    border-color: #d6d6d6; }
    .footer-top .widget .widget-title {
      border-color: #d6d6d6; }
    .footer-top .widget li, .footer-top .widget li > ul {
      border-color: #d6d6d6; }

.footer-bottom {
  color: #fff;
  padding: 1.2em 0 1em;
  font-weight: 400; }
  .footer-bottom a {
    color: #fff; }
    .footer-bottom a:hover {
      color: #fff;
      text-decoration: underline; }
  .footer-bottom .navbar-right {
    display: inline-block;
    margin-right: 0; }

.site-footer {
  clear: both;
  width: 100%; }

.copyright {
  float: left; }
  .copyright p {
    margin-bottom: 0;
    color: #fff; }
  .copyright a:hover {
    text-decoration: underline; }

.navbar-right .footer-nav, .navbar-right .footer-social {
  float: left; }
.navbar-right .footer-nav {
  list-style: none;
  padding: 0;
  margin: 0; }
  .navbar-right .footer-nav li {
    float: left; }
    .navbar-right .footer-nav li:after {
      content: "|";
      margin: 0 0.5em; }
    .navbar-right .footer-nav li:last-child:after {
      content: ""; }
  .navbar-right .footer-nav a:hover {
    text-decoration: underline; }
.navbar-right .footer-social {
  margin-left: 2.5em; }
  .navbar-right .footer-social a {
    padding: 0 0.2em; }

.topbutton {
  position: fixed;
  bottom: 55px;
  right: 20px;
  width: 40px;
  height: 40px;
  color: #fff;
  line-height: 3;
  text-align: center;
  opacity: 0.6;
  z-index: 10;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .topbutton:hover, .topbutton:focus {
    opacity: 1;
    color: #fff; }

@media (max-width: 988px) {
  .footer-top .widget {
    margin-bottom: 2.5em; }
  .footer-top .col-md-4:last-child .widget {
    margin-bottom: 0; } }
@media (max-width: 767px) {
  .topbutton {
    display: none !important; } }
@media (max-width: 410px) {
  .navbar-right .footer-social {
    margin-left: 0; } }
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 2.2em;
  border: 1px solid #ebebeb;
  padding: 1.5em; }
  .widget:after, .widget:before {
    content: "";
    display: table;
    clear: both; }
  .widget select {
    max-width: 100%; }
  .widget ul, .widget ol {
    margin-bottom: 0; }
  .widget ul, .widget ol, .widget li {
    list-style: none;
    padding: 0; }
  .widget li, .widget li > ul {
    padding: 1em 0 0;
    border-top: 1px solid #ebebeb; }
  .widget li:first-child {
    padding: 0;
    border: 0; }
  .widget .widget-title-area {
    text-align: center;
    margin-bottom: -35px; }
  .widget .widget-title {
    border: 1px solid #ebebeb;
    background: #fcfdfa;
    display: inline-block;
    padding: 6px 30px;
    position: relative;
    top: -52px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.6;
    vertical-align: middle;
    margin: 12px 0;
    letter-spacing: 0.025em;
    word-spacing: 0.025em; }
  .widget pre {
    padding: 0.5em; }
  .widget label {
    margin-bottom: 0;
    display: inline; }
  .widget button,
  .widget input[type="button"],
  .widget input[type="reset"],
  .widget input[type="submit"] {
    padding: 0.5417em 1.0833em;
    border: 0; }
  .widget input[type="submit"] {
    display: none; }
  .widget input[type="text"],
  .widget input[type="email"],
  .widget input[type="url"],
  .widget input[type="password"],
  .widget input[type="search"],
  .widget textarea {
    padding: 0.4583em;
    border: 1px solid #ebebeb;
    width: 95%; }
    .widget input[type="text"]:focus,
    .widget input[type="email"]:focus,
    .widget input[type="url"]:focus,
    .widget input[type="password"]:focus,
    .widget input[type="search"]:focus,
    .widget textarea:focus {
      box-shadow: none !important; }

/* About widget. */
.about-widget .author-image-home {
  overflow: hidden; }
  .about-widget .author-image-home img {
    width: 100%;
    height: auto; }
.about-widget .author-name {
  text-align: center;
  font-weight: 500;
  margin-top: 0.75em;
  font-size: 1.563em; }
.about-widget .about-description {
  text-align: center; }
.about-widget .button {
  margin-bottom: 5px; }

/* Latest widget */
.latest-widget .latest-wrap {
  padding: 1.5em 0; }
  .latest-widget .latest-wrap .latest-item .latest-image {
    display: table-cell;
    vertical-align: top;
    padding-right: 1em; }
    .latest-widget .latest-wrap .latest-item .latest-image .fit-img {
      position: relative;
      width: 90px;
      height: 80px;
      overflow: hidden; }
  .latest-widget .latest-wrap .latest-item .latest-item-text {
    display: table-cell;
    vertical-align: top; }
    .latest-widget .latest-wrap .latest-item .latest-item-text h4 {
      margin: 5px 0;
      font-size: 1em;
      font-weight: 400;
      line-height: 1.6;
      word-spacing: 0.025em; }
  .latest-widget .latest-wrap .latest-item .latest-item-meta {
    font-size: 12px;
    font-weight: 400;
    color: #a5a5a5; }
    .latest-widget .latest-wrap .latest-item .latest-item-meta a:hover {
      text-decoration: underline; }
  .latest-widget .latest-wrap .latest-item .latest-item-thumb {
    width: 90px;
    height: 80px; }
  .latest-widget .latest-wrap:first-child {
    padding-bottom: 1.5em; }
  .latest-widget .latest-wrap:last-child {
    padding-bottom: 0; }

/* Categories widget */
.widget_categories ul, .widget_archive ul {
  padding: 0 1em; }
.widget_categories li, .widget_archive li {
  padding: 1.3em 0 0.7em;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.25s ease-in 0s;
  -moz-transition: all 0.25s ease-in 0s;
  -o-transition: all 0.25s ease-in 0s;
  -ms-transition: all 0.25s ease-in 0s;
  transition: all 0.25s ease-in 0s; }
  .widget_categories li:first-child, .widget_archive li:first-child {
    padding-bottom: 0.7em; }
  .widget_categories li .count, .widget_archive li .count {
    float: right;
    background: #f2f2f2;
    padding: 2px 12px;
    margin-top: -2px; }
  .widget_categories li:hover > .count, .widget_archive li:hover > .count {
    color: #fff; }
  .widget_categories li.current-cat > .count, .widget_categories li.current-cat-parent > .count, .widget_archive li.current-cat > .count, .widget_archive li.current-cat-parent > .count {
    color: #fff; }
.widget_categories .children, .widget_archive .children {
  margin-top: 0.7em; }
  .widget_categories .children li:first-child, .widget_archive .children li:first-child {
    padding-top: 0.2em;
    padding-bottom: 0.7em; }
  .widget_categories .children li:last-child, .widget_archive .children li:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }

/* Tagcloud widget */
.widget_tag_cloud .widget-title-area {
  margin-bottom: -42px; }
.widget_tag_cloud .tagcloud {
  margin-bottom: -3px; }
  .widget_tag_cloud .tagcloud a {
    border: 1px solid #d6d6d6;
    display: inline-block;
    margin: 6px 6px 5px 0;
    padding: 4px 12px;
    font-size: 14px !important;
    font-weight: 400; }
    .widget_tag_cloud .tagcloud a:hover {
      color: #fff; }

/* Popular widget */
.popular-widget .popular-wrap {
  padding: 1.5em 0; }
  .popular-widget .popular-wrap .popular-item .popular-image {
    display: table-cell;
    vertical-align: top;
    padding-right: 1em; }
    .popular-widget .popular-wrap .popular-item .popular-image .fit-img {
      position: relative;
      width: 90px;
      height: 80px;
      overflow: hidden; }
  .popular-widget .popular-wrap .popular-item .popular-item-text {
    display: table-cell;
    vertical-align: top; }
    .popular-widget .popular-wrap .popular-item .popular-item-text h4 {
      margin: 5px 0;
      font-size: 1em;
      font-weight: 400;
      line-height: 1.6;
      word-spacing: 0.025em; }
  .popular-widget .popular-wrap .popular-item .popular-item-meta {
    font-size: 12px;
    font-weight: 400;
    color: #a5a5a5; }
    .popular-widget .popular-wrap .popular-item .popular-item-meta a:hover {
      text-decoration: underline; }
  .popular-widget .popular-wrap:first-child {
    padding-bottom: 1.5em; }
  .popular-widget .popular-wrap:last-child {
    padding-bottom: 0; }
  .popular-widget .popular-wrap .popular-item-thumb {
    width: 90px;
    height: 80px; }

/* Search widget. */
.widget_search .search-form {
  width: 100% !important; }

/* Calender widget */
.widget_calendar table {
  margin: 0; }
.widget_calendar td,
.widget_calendar th {
  line-height: 2.3333;
  text-align: center;
  padding: 0; }
.widget_calendar caption {
  font-weight: 700;
  margin: 0 0 1em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-bottom: 0; }
.widget_calendar tbody a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  display: block;
  font-weight: 700; }
  .widget_calendar tbody a:hover, .widget_calendar tbody a:focus {
    color: #fff; }

.widget_links a,
.widget_meta a,
.widget_nav_menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a {
  border: 0;
  color: #777; }

.widget_links a,
.widget_meta a,
.widget_nav_menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a {
  border: 0; }
.widget_links ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
  list-style: none;
  margin: 0;
  padding: 0.2em; }
.widget_links li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_recent_comments li,
.widget_recent_entries li {
  border: 0;
  padding: 0.5em 0 0; }
  .widget_links li:before,
  .widget_meta li:before,
  .widget_nav_menu li:before,
  .widget_pages li:before,
  .widget_recent_comments li:before,
  .widget_recent_entries li:before {
    content: "\f054";
    font-family: FontAwesome;
    margin-right: 1em;
    font-size: 10px;
    vertical-align: middle;
    position: relative;
    top: -1.5px; }

.widget_nav_menu .sub-menu,
.widget_pages .children {
  border: 0;
  margin: 0 0 0 1em;
  padding-top: 0.5em; }

.widget_recent_entries .post-date {
  display: block; }

.widget_rss ul {
  list-style: none;
  margin: 0; }
  .widget_rss ul:last-child {
    margin-bottom: 0; }
.widget_rss li {
  margin-bottom: 1.6em; }
  .widget_rss li:last-child {
    margin-bottom: 0; }
.widget_rss .rsswidget {
  border: 0;
  font-weight: 700; }
.widget_rss .rsswidget img {
  margin-top: -4px; }
.widget_rss .rss-date,
.widget_rss cite {
  font-size: 0.8em;
  font-style: normal;
  display: block;
  line-height: 2;
  opacity: 0.8; }

.follow-us-area {
  margin: 0 auto;
  text-align: center; }
  .follow-us-area .follow-link .fa {
    border: 1px solid #ebebeb;
    background: #fff;
    height: 40px;
    line-height: 2.9;
    margin: 5px;
    display: inline-block;
    text-align: center;
    width: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .follow-us-area .follow-link .fa:hover {
      color: #fff; }

.textwidget > :last-child {
  margin-bottom: 0; }

.textwidget a {
  border-bottom: 1px solid #333; }

.textwidget a:hover,
.textwidget a:focus {
  border-bottom: 0; }

/* footer widget */
.tp_recent_tweets li {
  padding-bottom: 10px !important;
  background-image: none !important;
  float: none; }

.tp_recent_tweets li span {
  font-weight: 400;
  font-style: italic; }

.tp_recent_tweets li span a:hover {
  text-decoration: underline; }

.tp_recent_tweets li .twitter_time:before {
  content: "\f099";
  font-family: FontAwesome;
  font-size: 1.25em;
  padding-right: 0.5em;
  font-style: normal; }

.tp_recent_tweets li .twitter_time {
  font-weight: 500;
  display: block;
  margin-top: 0.5em; }

#facebook {
  width: 100%;
  overflow: auto; }
  #facebook blockquote:before,
  #facebook blockquote:after {
    content: ""; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
#content {
  padding: 78px 0; }

.page-header {
  margin-top: 0;
  margin-bottom: 2.2em;
  background: #f2f2f2;
  text-align: center;
  padding: 2em; }
  .page-header h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.953em; }
  .page-header .taxonomy-description {
    font-size: 0.9em; }
    .page-header .taxonomy-description p {
      margin-bottom: 0; }

body.page {
  margin-bottom: 0; }

.post, .page {
  margin-bottom: 2.2em; }
  .post:after, .post:before, .page:after, .page:before {
    content: "";
    display: table;
    clear: both; }
  .post .post-thumbnail, .page .post-thumbnail {
    margin-bottom: 26px;
    position: relative;
    overflow: hidden; }
    .post .post-thumbnail img, .page .post-thumbnail img {
      -webkit-transition: -webkit-transform .25s ease-in-out;
      transition: transform .25s ease-in-out; }
  .post img, .page img {
    height: auto;
    margin: auto;
    max-width: 100%;
    display: block; }
  .post.single-post, .page.single-post {
    margin-bottom: 0; }

.image-extra {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  background-color: rgba(128, 185, 46, 0.5);
  -webkit-transition: opacity .24s ease, background-color .45s ease;
  transition: opacity .24s ease, background-color .45s ease; }

.extra-content {
  display: table;
  overflow: hidden;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center; }

.inner-extra {
  display: table-cell;
  margin: 0;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

.link-icon .fa,
.plus-icon .fa {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 3.3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.single-image.link-icon .fa {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%); }
  .single-image.link-icon .fa:hover {
    background-color: #fff; }

.single-image.plus-icon .fa {
  -webkit-transform: translateX(300%);
  transform: translateX(300%); }
  .single-image.plus-icon .fa:hover {
    background-color: #fff; }

.post-thumbnail:hover .image-extra {
  opacity: 1; }

.post-thumbnail:hover .link-icon .fa,
.post-thumbnail:hover .plus-icon .fa {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.sticky {
  display: block; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.7em 0 1.5em; }
  .page-content a:hover,
  .entry-content a:hover,
  .entry-summary a:hover {
    text-decoration: underline; }
  .page-content .more-link:hover,
  .entry-content .more-link:hover,
  .entry-summary .more-link:hover {
    text-decoration: none; }

.entry-footer {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  font-weight: 400;
  display: block; }
  .entry-footer a {
    padding: 0 5px; }
  .entry-footer .cat-links > a {
    color: #777; }
    .entry-footer .cat-links > a:hover {
      text-decoration: none; }
  .entry-footer .share-link i {
    font-size: 18px; }

.page-links {
  clear: both;
  font-weight: 500;
  margin: 0 0 1.3em; }
  .page-links a {
    padding: 8px 12px;
    border: 1px solid #80b92e; }
    .page-links a:hover {
      background: #80b92e;
      border-color: #80b92e;
      color: #fff;
      text-decoration: none; }

.format-link {
  color: #fff;
  position: relative;
  padding: 2em 1em; }
  .format-link .entry-header {
    padding: 1.3em 0 1.3em 7em !important; }
    .format-link .entry-header:before {
      content: "\e603";
      font-family: 'candid';
      position: absolute;
      font-size: 3em;
      top: 1.4em;
      left: 1em; }
    .format-link .entry-header a {
      color: #fff; }
      .format-link .entry-header a:hover {
        text-decoration: underline; }
    .format-link .entry-header .entry-title {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      font-weight: 500; }
    .format-link .entry-header .entry-link {
      font-weight: 400; }

.format-quote {
  background: #f5f5f5;
  padding: 2.5em 3em 3em; }
  .format-quote .entry-title, .format-quote .entry-meta {
    display: none; }
  .format-quote .entry-content {
    position: relative;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 0.3em; }
    .format-quote .entry-content:before {
      content: "\e604";
      font-family: 'candid';
      position: absolute;
      font-size: 2em;
      color: #777;
      left: 0;
      top: 0; }
    .format-quote .entry-content:after {
      content: "\e605";
      font-family: 'candid';
      position: absolute;
      font-size: 2em;
      color: #777;
      right: 0;
      bottom: 0; }
    .format-quote .entry-content p, .format-quote .entry-content span {
      padding-left: 2em;
      color: #777; }
    .format-quote .entry-content p {
      font-size: 1.25em;
      font-weight: 500;
      font-style: italic;
      padding-top: 20px;
      margin-bottom: 15px;
      line-height: 1.45; }
    .format-quote .entry-content span {
      font-style: italic;
      font-weight: 500; }
      .format-quote .entry-content span:before {
        content: "--";
        margin: 0 5px 0; }

.share-link {
  float: right; }

.boxed {
  background: #fff; }

.box .post, .box .page {
  border: 1px solid #ebebeb;
  background: #fff; }
.box .page-header {
  background: #fff;
  border: 1px solid #ebebeb; }
.box .post-thumbnail {
  margin-bottom: 0; }
.box .entry-header, .box .entry-content {
  padding: 0 2em; }
.box .entry-header {
  padding-top: 1.5em; }
.box .entry-content {
  padding-bottom: 0.3em; }
.box .entry-footer {
  border: medium none; }
.box .format-quote, .box .format-aside {
  background: #fff; }
.box .widget {
  background: #fff; }
.box .format-link .entry-header {
  padding-left: 6em; }
.box .format-quote .entry-content:before, .box .format-quote .entry-content:after, .box .format-quote .entry-content p, .box .format-quote .entry-content span {
  color: #777; }
.box .format-link .entry-header:before {
  top: 1.5em; }
.box .format-aside {
  padding: 1.2em 0; }
  .box .format-aside .entry-header {
    padding-top: 0 !important; }
  .box .format-aside .entry-meta {
    padding-top: 1em; }
.box .format-quote .entry-content p,
.box .format-quote .entry-content span {
  padding-left: 1em; }
.box .paging-navigation-post {
  padding: 0 0 1em;
  margin-top: 2.5em; }
  .box .paging-navigation-post .nav-previous, .box .paging-navigation-post .nav-next {
    background: #f2f2f2; }
  .box .paging-navigation-post:before, .box .paging-navigation-post:after {
    margin-top: 13px;
    width: 40%; }
.box .paging-navigation-post {
  position: relative; }
  .box .paging-navigation-post .nav-links:before {
    margin-top: 11px; }
  .box .paging-navigation-post .nav-links:after {
    margin-top: 11px; }
.box .author-info {
  background: #fff;
  margin-top: 0.8em; }
  .box .author-info #author-img {
    background: #fff;
    border: 1px solid #ebebeb; }
.box #related-post {
  background: #fff;
  padding: 0.5em 2em 0;
  margin-top: 2em; }
  .box #related-post .post {
    border: none; }
  .box #related-post .post-thumbnail {
    margin-bottom: 26px; }
.box .comments-area {
  background: #fff;
  border: 1px solid #ebebeb;
  padding: 0.5em 2em 1em;
  margin-top: 2em; }
.box .no-results .page-content {
  border: 1px solid #ebebeb; }

@media (max-width: 769px) {
  .box .nav-links:before {
    height: 0; }
  .box .nav-links:after {
    height: 0; }
  .box .paging-navigation-post .nav-previous {
    float: left; }
  .box .paging-navigation-post .nav-next {
    float: right; } }
@media (max-width: 767px) {
  .box .entry-header {
    padding: 1em 1em 0.3em !important; }

  .box .entry-content {
    padding: 0 1em 0.3em !important; }

  .box .paging-navigation-post {
    padding: 0 0 2em; }

  .box .paging-navigation-post .nav-previous {
    margin-right: 0; }

  .box .paging-navigation-post .nav-next {
    margin-left: 0; }

  .box .paging-navigation-post::before,
  .box .paging-navigation-post::after {
    background: transparent; }

  .box #related-post {
    padding: 0.5em 1em 0; }

  .box .comments-area {
    padding: 0.5em 1em 1em; } }
@media (max-width: 455px) {
  .share-link {
    float: none; } }
@media (max-width: 380px) {
  .box blockquote {
    padding: 3em; } }
/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.format-aside {
  background: #f5f5f5;
  padding: 2em; }
  .format-aside .entry-title {
    display: none; }
  .format-aside .entry-meta {
    border-color: #d6d6d6; }
  .format-aside .entry-content {
    margin-bottom: 0;
    margin-top: 0.5em; }
    .format-aside .entry-content p {
      font-weight: 400;
      font-size: 1.25em;
      margin-bottom: 0;
      line-height: 1.45;
      margin-top: 0; }
  .format-aside .cat-links, .format-aside .comments-link,
  .format-aside .view-link, .format-aside .entry-title,
  .format-aside .archive .format-aside .entry-title {
    display: none; }

@media (max-width: 992px) {
  #sidebar {
    margin-top: 3em; } }
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

.comment-reply-title {
  font-weight: 400;
  margin-bottom: 1.2em;
  margin-left: 0.6em; }

.logged-in-as {
  margin-bottom: 1em;
  margin-left: 1em; }

.comments-area .comment-list, .comments-area .children {
  list-style: none;
  padding: 0; }
.comments-area .comments-title {
  font-size: 1.25em; }
.comments-area .comment-list {
  margin-top: 2em; }
.comments-area .comment-body {
  overflow: hidden; }
.comments-area .author-img {
  height: 90px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  width: 90px;
  float: left;
  display: inline-block; }
.comments-area .date {
  display: inherit;
  font-size: 13px;
  color: #c3c3c3; }
.comments-area .reply {
  margin: 0.6em 0 1.5em; }
.comments-area .comment-details {
  display: table-cell;
  vertical-align: top; }
.comments-area .comment-details {
  width: 1070px;
  overflow: hidden; }
.comments-area .comment-content {
  border: 1px solid #ebebeb;
  padding: 10px; }
  .comments-area .comment-content p {
    margin-bottom: 0; }
.comments-area .comment-metadata {
  margin-bottom: 8px; }
.comments-area .children {
  margin-left: 108px; }
.comments-area #contact_form p textarea {
  margin-bottom: -0.5em; }
.comments-area #contact_form .form-submit {
  margin-left: 1em; }
  .comments-area #contact_form .form-submit #submit {
    margin-top: 0.5em; }

@media (max-width: 768px) {
  .children {
    margin-left: 40px !important; }

  .box .children {
    margin-left: 26px !important; } }
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/* post-gallary-one */
#post-gallary-one .carousel-control {
  text-shadow: none; }
  #post-gallary-one .carousel-control .icon-prev,
  #post-gallary-one .carousel-control .icon-next,
  #post-gallary-one .carousel-control .glyphicon-menu-left,
  #post-gallary-one .carousel-control .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    padding: 15px;
    font-size: 15px;
    color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px; }
  #post-gallary-one .carousel-control .icon-prev,
  #post-gallary-one .carousel-control .glyphicon-menu-left {
    left: 40%;
    margin-left: -10px; }
  #post-gallary-one .carousel-control .icon-next,
  #post-gallary-one .carousel-control .glyphicon-menu-right {
    right: 40%;
    margin-right: -10px; }
  #post-gallary-one .carousel-control.right, #post-gallary-one .carousel-control.left {
    background-image: none;
    margin-top: -30px; }

/* post-gallary-two */
.full-view .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  opacity: 0;
  padding: 10px 13px;
  margin-top: -20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px; }
  .full-view .owl-controls .owl-buttons div i {
    font-size: 12px;
    color: #fff; }
.full-view .owl-controls .owl-buttons .owl-prev {
  left: -45px; }
.full-view .owl-controls .owl-buttons .owl-next {
  right: -45px; }
.full-view:hover .owl-controls .owl-buttons .owl-prev {
  left: 15px;
  opacity: 1; }
.full-view:hover .owl-controls .owl-buttons .owl-next {
  right: 15px;
  opacity: 1; }

.list-view {
  margin-bottom: -8px; }
  .list-view .active:first-child .item, .list-view :not(.active) + .active .item {
    margin-left: 0; }
  .list-view .active:last-child .item, .list-view :not(.active) .item {
    margin-right: 0; }
  .list-view .item {
    padding: 0;
    margin: 0 10px;
    cursor: pointer; }
    .list-view .item > img {
      height: 100px;
      width: 170px; }
  .list-view .owl-controls .owl-buttons div {
    position: absolute;
    top: 50%;
    opacity: 0.6;
    padding: 0 6px;
    top: -4.5px;
    display: inline-block;
    overflow: hidden;
    opacity: 0.6;
    height: 100px;
    line-height: 8.5em;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .list-view .owl-controls .owl-buttons div i {
      font-size: 14px;
      color: #fff; }
    .list-view .owl-controls .owl-buttons div:hover {
      opacity: 1; }
  .list-view .owl-controls .owl-buttons .owl-prev {
    left: -6px; }
  .list-view .owl-controls .owl-buttons .owl-next {
    right: -6px; }

/* zet-pack-gallary */
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*Responsive Section*/
@media (max-width: 800px) {
  .navbar-collapse.collapse {
    overflow-x: hidden !important;
    overflow-y: visible !important; } }
@media (max-width: 800px) {
  .navbar-default .navbar-toggle {
    border: none; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      text-decoration: none;
      background-color: #fff; }

  .navbar-nav .open .dropdown-menu {
    padding-top: 0; }

  .dropdown-menu li {
    padding: 0; }
    .dropdown-menu li a {
      padding: 8px 15px;
      font-size: 1em; }

  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    background-color: #fff !important; }

  .navbar-nav .sub-arrow,
  .navbar-nav .collapsible .sub-arrow {
    border-top: 4px solid;
    border-right: 4px dashed transparent;
    border-bottom: 4px dashed transparent;
    border-left: 4px dashed transparent;
    margin-left: 1em;
    margin-top: 9px;
    vertical-align: top; }

  .navbar-nav ul .sub-arrow {
    margin-top: 6px;
    margin-right: 15px;
    margin-left: 1em;
    border-top: 4px solid;
    border-right: 4px dashed transparent;
    border-bottom: 4px dashed transparent;
    border-left: 4px dashed transparent;
    margin-top: 9px;
    vertical-align: top; }

  .navbar .nav-collapse {
    margin: 49px auto;
    padding: 0; }

  .navbar .nav-collapse .navbar-form {
    margin: 0; }

  .nav-collapse > li {
    float: none; }

  .navbar.navbar-default .nav-collapse,
  .navbar.navbar-inverse .nav-collapse {
    transform: translate(-100%, 0px); }

  .navbar.navbar-default .nav-collapse.in,
  .navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px, 0px); }

  .navbar.navbar-default .nav-collapse.slide-down,
  .navbar.navbar-inverse .nav-collapse.slide-down {
    transform: translate(0px, -100%); }

  .navbar.navbar-default .nav-collapse.in.slide-down,
  .navbar.navbar-inverse .nav-collapse.in.slide-down {
    transform: translate(0px, 0px); } }
/* When WP admin bar is coming on bootstrap navbar fixed */
@media (min-width: 783px) {
  .admin-bar .navbar-fixed-top {
    top: 32px; } }
@media (min-width: 602px) and (max-width: 782px) {
  .admin-bar .navbar-fixed-top {
    top: 46px; } }
@media (max-width: 601px) {
  body {
    padding-top: 0; }

  #header #site-wraper {
    padding: 140px 0 109px; }

  .admin-bar .navbar-fixed-top {
    top: 46px;
    -webkit-transition: top .1s ease;
    transition: top .1s ease; }

  .admin-bar .navbar-fixed-top.scroll {
    top: 0; } }
