#glimmer-section_footer_social_link #add_0 {
	display: none !important;
}
.redux-glimmer-section-header_nav_top_icon {
	border-bottom: none !important;
}
#redux-glimmer-section-header_nav_top_icon_url .redux_field_th {
	  padding-top: 5px;
}