

Description

<strong>Candid</strong> is clean content focus Blogging Theme perfect for bloggers. It has Powerful admin panel, intricate development and a pack of essential features really makes Candid to stand out. It supports all type of post format. It is simple and elegant. <strong>Candid</strong> is suitable for any kind of personal or travel, hobby, life style and tutorial blog etc.Installing and customizing this theme is very easy. All required informations are provided in documentation.

<h3>Features</h3>
<ul>
	<li>HTML5 / CSS3 valid code</li>
	<li>Translation Ready</li>
	<li>RTL Support</li>
	<li>SASS (CSS) file included</li>
	<li>Cross-Browser Compatibility Chrome, FireFox, Safari, IE9, IE10, IE11</li>
	<li>Font Awesome Icons and Custom Icon (retina ready)</li>
	<li>Well commented and well structured coding</li>
	<li>Unlimited Color </li>
	<li>Easy to customize</li>
	<li>Custom 404 error page.</li>
	<li>Ready for latest version of WordPress.</li>
	<li>Widgetized sidebar and footer.</li>
	<li>4 Custom Widget</li>
	<li>All WordPress post format support</li>
	<li>100% responsive</li>
	<li>Full support of Multilevel WordPress Menu.</li>
	<li>Custom Image logo</li>
	<li>Built with bootstap 3</li>
	<li>Custom favicon</li>
	<li>Author info box below each article</li>
	<li>Social share links</li>
	<li>Box and Wide Layout</li>
	<li>Sidebar left, sidebar right and full width</li>
	<li>Show or hide Footer widget</li>
	<li>And more…</li>
</ul>
<h3>Sources and Credits</h3>
<p>I've used the following images, icons or other files as listed.</p>
<h5>WORDPRESS PLUGINS &amp; LIBRARIES</h5>
<ul>
	<li>Redux Framework - <a href="https://github.com/ReduxFramework">https://github.com/ReduxFramework</a></li>
	<li>TGM-Plugin-Activation - <a href="https://github.com/thomasgriffin/TGM-Plugin-Activation">https://github.com/thomasgriffin/TGM-Plugin-Activation</a></li>
	<li>CMB2 - <a href="https://github.com/WebDevStudios/CMB2"></a>https://github.com/WebDevStudios/CMB2</li>
</ul>

<h5>JAVASCRIPT / JQUERY PLUGINS </h5>
<ul>
	<li>bootstrap.js / bootstrap.min.js / Core Bootstrap 3 - <a href="http://www.getbootstrap.com">http://www.getbootstrap.com</a></li>
	<li>owl.carousel.js - Item Slider Script - <a href="http://owlgraphic.com/owlcarousel/">http://owlgraphic.com/owlcarousel/</a></li>
	<li>jQuery.appear.js - For jQuery appear - <a href="https://github.com/morr/jquery.appear">https://github.com/morr/jquery.appear</a></li>
	<li>Fitvids- For video - <a href="http://fitvidsjs.com/">http://fitvidsjs.com/</a></li>
	<li>modernizr- for html5 and css3 - <a href="http://modernizr.com/">http://modernizr.com/</a></li>
	<li>SmoothScroll - <a href="https://github.com/galambalazs/smoothscroll">https://github.com/galambalazs/smoothscroll</a></li>
	<li>Fancybox - <a href="http://fancybox.net/">http://fancybox.net/</a></li>
	<li>Jquery - <a href="http://jquery.com/">http://jquery.com/</a></li>
</ul>
<h5>CSS PLUGINS</h5>
<ul>
	<li>bootstrap.min.css - <a href="http://www.getbootstrap.com">http://www.getbootstrap.com</a></li>
	<li>Jquery - <a href="http://jquery.com/">http://jquery.com/</a></li>
	<li>FontAwesome Icons<a href="http://fortawesome.github.io/Font-Awesome/">http://fortawesome.github.io/Font-Awesome/</a></li>
</ul>




Tags
blog, bootstrap, flat design, modern, responsive