/*--------------------------------------------------------------
# Post-gallery One
--------------------------------------------------------------*/
%gallery-essential {
	.owl-controls {
		margin: 0;
		padding: 0;
	}
	.owl-controls .owl-buttons div {
	   	padding: 16px;
	   	position: absolute;
	   	background: $color__white;
	   	top: 50%;
	   	margin: auto;
		@include prefixed(transform, translate(0, -50%));
		i {
			font-size: 12px;
			vertical-align: middle;
			color: #3d3d3d;
		}
	}
	.owl-controls .owl-buttons .owl-prev {
		float: left;
		left: -1px;
		@include prefixed(border-radius, 0);
	}
	.owl-controls .owl-buttons .owl-next {
		float: right;
		right: -1px;
		@include prefixed(border-radius, 0);	
	}
}
.gallery-images {
	margin-bottom: 22px;
	.item {
		text-align: center;
		img {
			margin: auto;
			height: auto;
			width: 100%;
			display: block;
			vertical-align: middle;
		}
	}
	@extend %gallery-essential;
}