/* WORDPRESS Default Gallery */
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin-bottom: 30px;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}

/* Post-gallery-One */
.gallery-one {
	.item {
		text-align: center;
		img {
			margin: auto;
			width: 100%;
			vertical-align: middle;
		}
	}
	.owl-controls {
		margin-top: 0 !important;
	}
	.owl-controls .owl-buttons div {
	   	position: absolute;
	   	top: 50%;
	   	padding: 10px 13px;
	   	margin-top: -20px;
	   	background: $color__white;
		i {
			font-size: 12px;
		}
	}
	.owl-controls .owl-buttons .owl-prev{
		left: -24px;
		i {
			padding: 0 4px 0 13px;
		}	
	}
	.owl-controls .owl-buttons .owl-next{
		right: -24px;
		i {
			padding: 0 13px 0 4px;
		}	
	}
}

/* Post-gallery-two */
.gallery-two {
	.full-view {
		.item {
			text-align: center;
			img {
				margin: auto;
				width: 100%;
				vertical-align: middle;
			}
		}
		.owl-controls .owl-buttons div {
		   	position: absolute;
		   	top: 50%;
		   	padding: 10px 13px;
		   	margin-top: -20px;
		   	background: $color__white;
			i {
				font-size: 12px;
			}
		}
		.owl-controls .owl-buttons .owl-prev{
			left: -24px;
			i {
				padding: 0 4px 0 13px;
			}	
		}
		.owl-controls .owl-buttons .owl-next{
			right: -24px;
			i {
				padding: 0 13px 0 4px;
			}	
		}
	}
	.list-view {
		margin-bottom: -8px;
		.active:first-child,:not(.active) +.active {
			.item {
				margin-left: 0;
			}
		}
		.active:last-child,:not(.active) {
			.item {
				margin-right: 0;
			}
		}
		.item {
		    padding: 0;
		    margin: 0 10px;
		    cursor: pointer;
		    > img {
				min-height: 90px;
				vertical-align: middle;
		    }
		}
		.owl-controls .owl-buttons div {
		   	position: absolute;
		   	top: 50%;
		   	opacity: 0.6;
		   	padding: 0 6px;
		   	top: -5px;
			display: inline-block;
			overflow: hidden;
			opacity: 1;
			min-height: 90px;
			line-height: 7.3em;
			@include prefixed(border-radius, 0);
			i {
				font-size: 14px;
				color: $color__white;
			}
		}
		.owl-controls .owl-buttons .owl-prev{
			left: -6px;
		}
		.owl-controls .owl-buttons .owl-next{
			right: -6px;
		}
		.owl-wrapper-outer, 
		.owl-wrapper {
			height: 90px;
			overflow: hidden;
		}
	}	
}