/* post-gallary-one */
#post-gallary-one {
	.carousel-control {
	    text-shadow: none;
		.icon-prev,
		.icon-next,
		.glyphicon-menu-left,
		.glyphicon-menu-right {
		  position: absolute;
		  top: 50%;
		  z-index: 5;
		  display: inline-block;
		  padding: 15px;
		  font-size: 15px;
		  color: $color__white;
		  @include border-radius(50px);
		}
		.icon-prev,
		.glyphicon-menu-left {
		  left: 40%;
		  margin-left: -10px;
		}
		.icon-next,
		.glyphicon-menu-right {
		  right: 40%;
		  margin-right: -10px;
		}
		&.right, &.left {
			background-image: none;
			margin-top: -30px;
		}  
	}	
}

/* post-gallary-two */
.full-view {
	.owl-controls .owl-buttons div {
	   	position: absolute;
	   	top: 50%;
	   	opacity: 0;
	   	padding: 10px 13px;
	   	margin-top: -20px;
	   	@include transition-ease(all, 0.3s, ease, 0s);
	   	@include border-radius(50px);
		i {
			font-size: 12px;
			color: $color__white;
		}
	}
	.owl-controls .owl-buttons .owl-prev{
		left: -45px;
		
	}
	.owl-controls .owl-buttons .owl-next{
		right: -45px;
		
	}
	&:hover {
		.owl-controls .owl-buttons .owl-prev {
			left: 15px;
			opacity: 1;
		}	
		.owl-controls .owl-buttons .owl-next {
			right: 15px;
			opacity: 1;
		}
	}
}
.list-view {
	margin-bottom: -8px;
	.active:first-child,:not(.active) +.active {
		.item {
			margin-left: 0;
		}
	}
	.active:last-child,:not(.active) {
		.item {
			margin-right: 0;
		}
	}
	.item {
	    padding: 0;
	    margin: 0 10px;
	    cursor: pointer;
	    > img {
			height: 100px;
			width: 170px;
	    }
	}
	.owl-controls .owl-buttons div {
	   	position: absolute;
	   	top: 50%;
	   	opacity: 0.6;
	   	padding: 0 6px;
	   	top: -4.5px;
		display: inline-block;
		overflow: hidden;
		opacity: 0.6;
		height: 100px;
		line-height: 8.5em;
	   	@include transition-ease(all, 0.3s, ease, 0s);
	   	@include border-radius(0);
		i {
			font-size: 14px;
			color: $color__white;
		}
		&:hover {
			opacity: 1;
		}
	}
	.owl-controls .owl-buttons .owl-prev{
		left: -6px;
	}
	.owl-controls .owl-buttons .owl-next{
		right: -6px;
	}
}


/* zet-pack-gallary */
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	.gallery-columns-2 & {
		max-width: 50%;
	}
	.gallery-columns-3 & {
		max-width: 33.33%;
	}
	.gallery-columns-4 & {
		max-width: 25%;
	}
	.gallery-columns-5 & {
		max-width: 20%;
	}
	.gallery-columns-6 & {
		max-width: 16.66%;
	}
	.gallery-columns-7 & {
		max-width: 14.28%;
	}
	.gallery-columns-8 & {
		max-width: 12.5%;
	}
	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}
.gallery-caption {
	display: block;
}