/*Responsive Section*/

@media (max-width: 800px) {
	.navbar-collapse.collapse {
		overflow-x: hidden !important;
	  	overflow-y: visible !important;
	}
}

@media (max-width: 800px) {
	.navbar-default .navbar-toggle {
		border: none;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: $color__white;
		&:hover, &:focus {
		  text-decoration: none;
		  background-color: $color__white;

		}
	}
	.navbar-nav .open .dropdown-menu {
		padding-top: 0;
	}
	.dropdown-menu li {
		padding: 0; 
		a {
			padding: 8px 15px;
			font-size: 1em;
		}
	}

	.navbar-default .navbar-nav > li > a:focus, 
	.navbar-default .navbar-nav > li > a:hover	{
		background-color: $color__white !important;
	}
	.navbar-nav .sub-arrow, 
	.navbar-nav .collapsible .sub-arrow {
		border-top:4px solid;
		border-right:4px dashed transparent;
		border-bottom:4px dashed transparent;
		border-left:4px dashed transparent;
		margin-left: 1em;
	   	margin-top: 9px;
	    vertical-align: top;
	}
	.navbar-nav ul .sub-arrow {
		margin-top:6px;
		margin-right:15px;
		margin-left: 1em;
		border-top:4px solid;
		border-right:4px dashed transparent;
		border-bottom:4px dashed transparent;
		border-left:4px dashed transparent;
	   	margin-top: 9px;
	    vertical-align: top;
	}
    .navbar .nav-collapse { margin: 49px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}

/* When WP admin bar is coming on bootstrap navbar fixed */
@media (min-width: 783px) {
	.admin-bar .navbar-fixed-top {
	    top: 32px;
	}
}
@media (min-width: 602px) and (max-width: 782px) {
	.admin-bar .navbar-fixed-top {
	    top: 46px;
	}
}
@media (max-width: 601px) {
	body {
		padding-top: 0;
	}
	#header #site-wraper {
		padding: 140px 0 109px;
	}
	.admin-bar .navbar-fixed-top {
	    top: 46px;
	    -webkit-transition: top .1s ease;
	    transition: top .1s ease;
	}
	.admin-bar .navbar-fixed-top.scroll {
	    top: 0;
	}	
}
