<!-- Footer
================================================== --> 
<footer id="colophon" class="site-footer">
    <div id="footer-top" class="instafeed_widget hidden">
        <div class="widget clearfix">
            <div class="widget-title-area">
                <h5 class="widget-title"><span class="instafeed_widget_title">Follow us on Instagram</span></h5> <!-- /.widget-title -->
            </div> <!-- /.widget-title-area -->
            <div id="instafeed"></div> <!-- /.instafeed-content -->
        </div> <!-- /.josephine_about_widget -->               
    </div><!-- #footer-top" -->

    <div id="footer-middle">
        <div class="container">
            <div class="row">
                {{! About or Contact Information widgets}}
                {{> 'widgets/about-info'}}

                {{! Mailchimp newsletter widgets}}
                {{> 'widgets/newsletter'}}

                {{! Flickr Photo Album widgets}}
                {{> 'widgets/flickralbum'}}
            </div> <!-- /.row -->
        </div> <!-- /.container -->                     
    </div> <!-- #footer-middle -->

    <div id="footer-bottom">
        <div class="container">
            <div id="footer_copyright" class="copyright"></div> <!-- /.copyright -->
            <div id="footer_social" class="footer-social"></div> <!-- /.footer-social --> 
        </div> <!-- /.container -->
    </div> <!-- /#footer-bottom -->
    
</footer> <!-- #footer -->