<article class="{{post_class}} hentry">
    <header class="entry-header">
        <!-- Load Featured Post Icon -->
        {{#if featured}}
            {{^is "post"}}
                <div class="sticky-icon"><i class="fa fa-star"></i></div>
            {{/is}}
        {{/if}}
            <!-- Load Post-Type Icon -->
        {{#has tag="link, audio, video, gallery, image, quote, status"}} 
            {{#has tag="image"}}<i class="fa fa-picture-o"></i> {{/has}} 
            {{#has tag="audio"}}<i class="fa fa-file-audio-o"></i> {{/has}} 
            {{#has tag="video"}}<i class="fa fa-film"></i> {{/has}} 
            {{#has tag="gallery"}}<i class="fa fa-file-image-o"></i> {{/has}} 
            {{#has tag="quote"}}<a href="{{url}}"><i class="ico-top-quote"></i></a> {{/has}} 
            {{#has tag="status"}}<i class="fa fa-wechat"></i> {{/has}} 
            {{#has tag="link"}}<i class="fa fa-link"></i> {{/has}} 
        {{else}}
            <i class="fa fa-newspaper-o"></i> 
        {{/has}}
        <!-- End of Load Post-Type Icon -->

        <!-- Load Post-Type Quote Structure -->
        {{#has tag="quote"}}
            <div class="hr-line"></div>
        {{else}}
            {{#is "post"}}
                <h2 class="entry-title">{{title}}</h2>
            {{else}}
                <h2 class="entry-title"><a href="{{url}}" rel="bookmark">{{title}}</a></h2>
            {{/is}}
            <div class="hr-line"></div>
            <div class="entry-meta">
                {{#if tags}} <!-- If this post has tag -->
                    <span class="cat-links">
                        {{tags prefix="In "}}
                    </span>
                    <span class="devider">/</span> 
                {{/if}}

                <span class="byline">
                    <span class="author">By {{author}}</span>
                </span>
                <span class="devider">/</span>
                <span class="entry-date">
                    {{date format="DD MMMM YYYY"}}
                </span>
            </div> <!-- .entry-meta -->
        {{/has}}
        <!-- Load Post-Type Quote Structure conditions -->
    </header> <!-- /.entry-header -->

    <!-- To load different post format Structure without quote format -->
    {{^has tag="quote"}} 
        {{^has tag="audio, video, quote, gallery, status, link"}} 
            {{#if image}}
                <figure class="post-thumb">
                    <img src="{{image}}" class="img-responsive" alt="{{title}}">
                </figure> <!-- /.post-thumb -->
            {{/if}} 
        {{/has}} 
        {{#has tag="status"}} <!--  Structure for Status Tag -->
            <div class="post-media">
                <div style="display:none;">{{content}}</div>
                <div class="post-status-wrapper" {{#if image}} style="background-image:url({{image}})" {{/if}}>
                <script type="text/javascript">                    
                    // this script to load status post
                    function includeJs(jsFilePath) {
                        var js = document.createElement("script");
                        js.type = "text/javascript";
                        js.src = jsFilePath;
                        document.body.appendChild(js);
                    }

                    if (Status_Type == "facebook") {
                        document.write('<div class="fb-post" data-href="' + Status_Url + '"></div>');
                    } else if (Status_Type == "twitter") {
                        document.write('<blockquote class="twitter-tweet"><a href="' + Status_Url + '"></a></blockquote>');
                        includeJs("//platform.twitter.com/widgets.js");
                    } else if (Status_Type == "google_plus") {
                        document.write('<div class="g-post" data-href="' + Status_Url + '"></div>');
                        includeJs("//apis.google.com/js/plusone.js");
                    }
                </script>
            </div> <!-- /.post-status-wrapper -->
        </div><!-- /.post-media -->
        {{/has}} <!-- End of Structure for Status Tag -->

        {{#has tag="link"}} <!-- Structure for Link Tag -->
            <div class="post-link">
                <div class="post-link-wrapper">
                    <div class="tb">
                        <div style="display: none;">{{content}}</div>
                        <div class="tb-cell">
                            <script type="text/javascript">
                                document.write('<h2>' + Link_Title + '</h2>' + Link_Url);
                            </script>
                        </div>
                    </div>
                </div>
                {{#if image}}
                    <div class="images"><img alt="{{title}}" src="{{image}}"></div>
                {{/if}}
            </div>
        {{/has}} <!-- End of Structure for Link Tag -->

        <div class="entry-content">
            {{#is "post"}} 
                {{content}} 
            {{else}}
                {{content words="55"}}                
                <p><a href="{{url}}" class="more-link"><span>Continue reading</span></a></p>
            {{/is}}
        </div> <!-- .entry-content -->
        
    {{/has}}
    <!-- End of load different post format Structure without quote format -->

    {{#has tag="quote"}} <!-- Structure for Quote Tag -->
        <h2 style="display:none;">{{title}}</h2>
        <div class="quote-content">
            <blockquote>
                {{content}}
            </blockquote> <!-- /.quote-content -->
        </div> <!-- /.quote-content -->
    {{/has}} <!-- end of Structure for Quote Tag -->

    {{^has tag="quote"}} <!-- Conditions for Post format Quote -->
        <footer class="entry-footer clearfix">
            <div class="footer-meta clearfix">

                <div class="post-comment">
                    <a class="comments-link" href="{{url}}#disqus_thread">0 Comments</a>
                </div>

                <div class="share-area"> <!-- Post Social Share Aria -->
                    <script type="text/javascript">
                        function josephinePopupWindow(url, title, w, h) {
                            var left = (screen.width / 2) - (w / 2);
                            var top = (screen.height / 2) - (h / 2);
                            return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
                        }
                        
                    </script>
                    <span>Share &nbsp;:&nbsp;&nbsp;</span>

                    <!-- facebook share -->
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" onclick="josephinePopupWindow(this.href, 'facebook-share', 580, 400); return false;"><span class="fa fa-facebook"></span></a>

                    <!-- twitter share -->
                    <a href="https://twitter.com/home?status={{url absolute='true'}}" onclick="josephinePopupWindow(this.href, 'facebook-share', 580, 400); return false;"><span class="fa fa-twitter"></span></a>

                    <!-- google plus share -->
                    <a href="https://plus.google.com/share?url={{url absolute='true'}}" onclick="josephinePopupWindow(this.href, 'google-plus-share', 550,530); return false;"><span class="fa fa-google-plus"></span></a>

                    <!-- pinterest share -->
                    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><span class="fa fa-pinterest-p"></span></a>

                    <!-- linkedin share -->
                    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute='true'}}" onclick="josephinePopupWindow(this.href, 'linkedin-share', 550,530); return false;"><span class="fa fa-linkedin"></span></a>
                </div> <!-- /.share-area -->
            </div> <!-- /.footer-meta -->
        </footer> <!-- .entry-footer -->
    {{/has}}
    <!-- End of Conditions for Post format Quote -->
</article> <!-- /.post-->