<ul class="mobile-sub menu-list">\
	<li> <a href="{{@blog.url}}/">Home</a> </li>\
	<li> <a href="{{@blog.url}}/#">Features</a>\
		<ul class="menu-submenu">\
			<li><a href="{{@blog.url}}/?layout=sidebar-left">Layout – Sidebar Left</a></li>\
			<li><a href="{{@blog.url}}/?layout=sidebar-right">Layout – Sidebar Right</a></li>\
			<li><a href="{{@blog.url}}/?layout=full-width">Layout – Full Width</a></li>\
			<li><a href="{{@blog.url}}/?preloader=on">Layout – With Site Preloader</a></li>\
			<li> <a href="{{@blog.url}}/#">Custom Pages</a>\
				<ul class="menu-submenu">\
					<li><a href="{{@blog.url}}/about">About Me</a></li>\
					<li><a href="{{@blog.url}}/contact">Contact Us</a></li>\
					<li><a href="{{@blog.url}}/404">404</a></li>\
				</ul>\
			</li>\
			<li><a href="{{@blog.url}}/code-highlighting">Code Highlighting</a></li>\
			<li><a href="{{@blog.url}}/what-is-instagram/#related-post">Related Post</a></li>\
		</ul>\
	</li>\
	<li> <a href="{{@blog.url}}/#">Post Format</a>\
		<ul class="menu-submenu">\
			<li><a href="{{@blog.url}}/tag/image">Image</a></li>\
			<li><a href="{{@blog.url}}/tag/audio">Audio</a></li>\
			<li><a href="{{@blog.url}}/tag/video">Video</a></li>\
			<li><a href="{{@blog.url}}/tag/gallery">Gallery</a></li>\
			<li><a href="{{@blog.url}}/tag/status">Status</a></li>\
			<li><a href="{{@blog.url}}/tag/quote">Quote</a></li>\
			<li><a href="{{@blog.url}}/tag/link">Link</a></li>\
		</ul>\
	</li>\
	<li><a href="{{@blog.url}}/tag/audio">Music</a></li>\
	<li><a href="{{@blog.url}}/tag/video">Video</a></li>\
	<li><a href="{{@blog.url}}/about">About Me</a></li>\
	<li><a href="{{@blog.url}}/contact">Contact Us</a></li>\
</ul>