<div class="col-md-4" id="sidebar-layout"> <!-- Sidebar -->
    <div id="secondary" class="widget-area">
        <script>
        
        	// Showing Widgets by order
            for ( var key in Sidebar_Widget_Order ) {      
            
	            if ( Sidebar_Widget_Order[key] == "About_Me_Widget" ) {
	              document.write('{{^is "author"}}{{> "widgets/about-author-widget"}}{{/is}}');
	            } else if ( Sidebar_Widget_Order[key] == "Latest_Posts_Widget" ) {
	              document.write('{{> "widgets/latest-posts-widget"}}');
	            } else if ( Sidebar_Widget_Order[key] == "Tags_Widget" ) {
	              document.write('{{> "widgets/tags-widget"}}');
	            } else if ( Sidebar_Widget_Order[key] == "Ads_Widget" ) {
	              document.write('{{> "widgets/ads-widget"}}');
	            } else if ( Sidebar_Widget_Order[key] == "Social_Widget" ) {
	              document.write('{{> "widgets/social-widget"}}');
	            } else if ( Sidebar_Widget_Order[key] == "Navigation_Widget" ) {
	              document.write('{{> "widgets/navigation-widget"}}');
	            } else if ( Sidebar_Widget_Order[key] == "Facebook_Page_Widget" ) {
	              document.write('{{> "widgets/facebook-widget"}}');
	            }else if ( Sidebar_Widget_Order[key] == "Twitter_Widget" ) {
	              document.write('{{> "widgets/twitter-widget"}}');
	            } else if ( Sidebar_Widget_Order[key] == "Googleplus_Page_Widget" ) {
	              document.write('{{> "widgets/google-plus-widget"}}');
	            } 
            }   
        </script> 
    </div> <!-- #secondary -->	
</div> <!-- .col-md-4 -->