
Glimmer - A Responsive Ghost Blog Theme
Description

<strong>Glimmer</strong> is clean content focus Blogging Theme. It has Powerful admin panel, Intricate development and a pack of essential features really makes Glimmer to stand out. It supports 6 type of post format. It is simple and elegant. <strong>Glimmer</strong> is suitable for any kind of personal, travel, hobby, life style and tutorial blog etc. Installing and customizing this theme is very easy. All required informations are provided in documentation.

<h3>Features</h3>
<ul>
	<li>HTML5 / CSS3 valid code</li>
	<li>SEO Friendly</li>
	<li>Cross-Browser Compatibility Chrome, FireFox, Safari, Opera, IE9+</li>
	<li>100% responsive</li>
	<li>Font Awesome Icons and Custom Icon (retina ready)</li>
	<li>Well commented and well structured coding</li>
	<li>SASS (CSS) file included</li>
	<li>Built with Bootstrap-3</li>
	<li>Easy to customize</li>
	<li>Social share links</li>
	<li>Custom layout support (Sidebar left, sidebar right and full width)</li>
	<li>Google Map included</li>
	<li>Custom Favicon</li>
	<li>12 Custom Widget</li>
	<li>Supported Youtube, Vimeo, Soundcloud And Mixcloud audio and video</li>
	<li>6 Post Format Support</li>
	<li>Full support of Multilevel Custom Menu.</li>
	<li>Author info box below each article</li>
	<li>Custom 404 error page.</li>
	<li>Ready for latest version of Ghost.</li>
	<li>And more…</li>
</ul>
<h3>Sources and Credits</h3>
<p>I've used the following images, icons or other files as listed.</p>

<p>
   JAVASCRIPT / JQUERY PLUGINS&nbsp;
</p>
<ul>
   <li>
      &nbsp;bootstrap.js / bootstrap.min.js - Bootstrap 3 -&nbsp;<a href="http://www.getbootstrap.com">http://www.getbootstrap.com</a>
   </li>
   <li>
      glimmer.js - Core glimmer Theme Javascripts
   </li>
   <li>
      owl.carousel.js - Item Slider Script -&nbsp;<a href="http://owlgraphic.com/owlcarousel/">http://owlgraphic.com/owlcarousel/</a>
   </li>
   <li>
      jQuery.appear.js - For jQuery appear -&nbsp;<a href="https://github.com/morr/jquery.appear">https://github.com/morr/jquery.appear</a>
   </li>
   <li>
      Fitvids- For video -&nbsp;<a href="http://fitvidsjs.com/">http://fitvidsjs.com/</a>
   </li>
   <li>
      modernizr- for html5 and css3 -&nbsp;<a href="http://modernizr.com/">http://modernizr.com/</a>
   </li>
   <li>
      SmoothScroll -&nbsp;<a href="https://github.com/galambalazs/smoothscroll">https://github.com/galambalazs/smoothscroll</a>
   </li>
   <li>
      Flickr Image gallery -&nbsp;<a href="http://www.newmediacampaigns.com/page/jquery-flickr-plugin">http://www.newmediacampaigns.com/page/jquery-flickr-plugin</a>
   </li>
   <li>
      Instafeed -&nbsp;<a href="http://instafeedjs.com/">http://instafeedjs.com/</a>
   </li>
   <li>
      ImageLoaded JQuery -&nbsp;<a href="https://plugins.jquery.com/imagesloaded/">https://plugins.jquery.com/imagesloaded/</a>
   </li>
   <li>
      ghostHunter -&nbsp;<a href="https://github.com/jamalneufeld/ghostHunter">https://github.com/jamalneufeld/ghostHunter</a>
   </li>
   <li>
      jQuery FormChimp -&nbsp;<a href="http://www.fabioquarantini.com/formchimp/">http://www.fabioquarantini.com/formchimp/</a>
   </li>
   <li>
      Heighlight -&nbsp;<a href="https://highlightjs.org/">https://highlightjs.org/</a>
   </li>
   <li>
      Jquery -&nbsp;<a href="http://jquery.com/">http://jquery.com/</a>
   </li>
</ul>
<h3>
   CSS PLUGINS
</h3>
<ul>
   <li>
      &nbsp;<a href="http://getbootstrap.com/">bootstrap.min.css</a> - Bootstrap 3
      (Recommendation - Do not edit this file but rather copy the classes you wish to change and paste&nbsp;them into style.css)
   </li>
   <li>
      <a href="http://owlgraphic.com/owlcarousel/">owl.carusol.css</a> and <a href="http://owlgraphic.com/owlcarousel/">owl.transition.css</a> - For owl carusol
   </li>
   <li>
      <a href="http://fortawesome.github.io/Font-Awesome/">font-awesome.css</a> - FontAwesome Icons
   </li>
   <li>
      glimmer-icon.css - For glimmer icon
   </li>
</ul>


Tags
blog, bootstrap, classic, creative, elegant, ghost-blog, instagram, simple, lifestyle, personal, flat-design, responsive-blog, responsive-layout

