button, 
html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	border: 0 none;
	color: white;
	font-weight: 600;
	padding: 10px 20px;
}

/* read more button */

.button {
	padding: 6px 20px;
	display: inline-block;
	font-weight: 400;
	text-decoration: none;
}
.more-link {
	position: relative;
	&:after {
	    height: 100%;
	    left: 0;
	    top: 0;
	    width: 0;
	    content: "";
	    position: absolute;
	    z-index: 1;
	    opacity: 0;
		@include transition-ease(all, 0.3s, ease-in-out, 0s);
	}
	&:hover::after {
	    width: 100%;
	    opacity: 1;
	}
	&:hover {
		.more-button, .read-button {
			z-index: 2;
			color: $color__white;
			position: relative;
			@include transition-ease(all, 0.3s, ease-in-out, 0s);
		}
	}
}

.comment-reply-link {
	padding: 2px 16px;
	color: $color__white;
	display: inline-block;
	font-weight: 400;
	@include transition-ease(all, 0.3s, ease-in-out, 0s);
	&:hover, &:focus, &:active {
		color: $color__white;		
	}
}

.go-to {
	padding: 6px 20px;
	display: inline-block;
	font-weight: 400;
	text-decoration: none;
	font-size: 15px;
	line-height: 1.62;
	color: $color__white;
	@include transition-ease(all, 0.3s, ease-in-out, 0s);
	&:hover, &:focus, &:active {
		color: $color__white;
	}	
}

/* pagination */
.navigation {
	padding-top: 0.8em;
	z-index: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	.nav-links {
		list-style: none;
		padding: 0;
		text-align: center;
		font-size: 1em;
		a {
			font-weight: 500;
		}
		> li {
			display: inline-block;			
			a, span {
				padding: 10px 12px;
				border: 1px solid $color__background-hr-two;
			}
			.glyphicon {
				font-size: 12px;
			}
			a > {
				span {
					padding: 0;
					border: 0;
				}
			}
			span.page-numbers.dots {
				border: 0;
			}
			&.active {
				a, span {
					color: $color__white;
				}
			}
		}
		li.nav-previous, li.nav-next {
			a, span {
				padding: 0;
				border: 0;
			}
		}
		li.nav-previous {
			border: 0;
			margin-top: -10px;

			span {
				padding: 12px 6px;
				border: 1px solid $color__background-hr-two;
			}
			a {
				display: inline-block;
			}
			span:first-child {
				height: 38px;
				line-height: 3.1;
				padding: 0;
				width: 28px;
			}
			span:last-child {
				float: right;
				padding: 8px 14px;
				height: 38px;
				display: block;
				border: 1px solid $color__background-hr-two;	
				margin: 1px 0 0;
				border-left: 0;
			}
			&:hover {
				span {
					color: $color__white;
				}
				span:last-child {
					background: transparent !important;
				}	
			}
		}
		li.nav-next {
			border: 0;
			margin-top: -10px;
			span {
				padding: 12px 6px;
				border: 1px solid $color__background-hr-two;
			}
			a {
				display: inline-block;
			}
			span:first-child {
				float: left;
				padding: 8px 14px;
				height: 38px;
				display: block;
				border: 1px solid $color__background-hr-two;	
				margin: 1px 0 0;
				border-right: 0;
			}
			span:last-child {
				height: 38px;
				line-height: 3.1;
				padding: 0;
				width: 28px;
			}
			&:hover {
				span {
					color: $color__white;
				}
				span:first-child {
					background: transparent !important; 
				}	
			}		
		}
	}	
}

/* single post pagination */
.paging-navigation-post {
	margin-top: 0;
	margin-bottom: -10px;
	.nav-previous {
		margin-right: 20px;
		background: $color__white;
		position: relative;
	}
	.nav-next {
		margin-left: 20px;
		background: $color__white;
	}	
}
.paging-navigation-post {
	position: relative;
	.nav-links:before {
	    background: $color__background-hr-two;
	    content: "";
	    height: 1px;
	    left: 0;
	    margin-top: 22px;
	    position: absolute;
	    width: 45%;
	    top: 0;
	    z-index: -1;	
	}
	.nav-links:after {
	    background: $color__background-hr-two;
	    content: "";
	    height: 1px;
	    right: 0;
	    margin-top: 22px;
	    position: absolute;
	    width: 45%;
	    top: 0;
	    z-index: -1;	
	}
}

@media (min-width: 992px) {
	.navigation .nav-links li.nav-previous span:first-child,
	.navigation .nav-links li.nav-next span:last-child {
		height: 39px;
	}
	.navigation .nav-links li.nav-previous span:last-child,
	.navigation .nav-links li.nav-next span:first-child {
		height: 39px;
	}
}

@media(max-width:590px) {
	.paging-navigation {
		.nav-links {
			li {
				display: none;
			}	
			li:first-child.nav-previous, 	
			li:last-child.nav-next {
				display: block;
			}	
		}		
	}
	.paging-navigation-post {
		&:after {
		    width: 38%;	
		}
	}
}
