input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	&:focus {
		outline: none;
	}
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}
input[type="search"] {
	-webkit-appearance: textfield; 
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button,
input,
select,
textarea {
	margin: 0;
	border: none;
	vertical-align: baseline;
	font-size: 100%;
}
label { 
	display: inline-block; 
	cursor: pointer;
}
input,
textarea,
select,
button {
	-webkit-transition: all .25s ease;
			transition: all .25s ease;	
}

textarea {
	padding-left: 3px;
	width: 100%;
	display: block;
}

::-webkit-input-placeholder { 
    color: $color__sub;
}
:-moz-placeholder { 
   color: $color__sub;
   opacity: 1;
}
::-moz-placeholder {
   color: $color__sub;
   opacity: 1;
}
:-ms-input-placeholder {
   color: $color__sub;
}

/* top search-box */
#top-search-box {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 99999;
	text-align: center;
	.search-overlay {
		background: rgba(0,0,0,0.87);
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 9999;
	}
	.top-search-pos {
		left: 50%;
		position: absolute;
		top: 50%;
	    -moz-transform: translatex(-50%) translatey(-50%);
	    -ms-transform: translatex(-50%) translatey(-50%);
	    -o-transform: translatex(-50%) translatey(-50%);
	    -webkit-transform: translatex(-50%) translatey(-50%);
	    transform: translatex(-50%) translatey(-50%);
	    z-index: 10001;
	}
	.top-search-inner {
		background: $color__white;
		padding: 45px 35px;
		.search-title h3 {
			margin-bottom: 1em;
			margin-top: 0;
		}
	}
	.top-search-pos #searchform{
		width: 615px;
	}
	.top-search-pos #searchform{
		background: $color__background-screen;
	}
	#searchform{
		display: table;
		margin: 0 auto;
		max-width: 100%;
		position: relative;
	}
	#searchform input[type="search"],
	#searchform input[type="text"]{
		border-right: none;
		color: #a9a9a9;
		display: table-cell;
		font-size: 1em;
		line-height: 1.73;
		padding: 9px 17px 8px 17px;
		width: 100%;
		font-style: italic;
		letter-spacing: 0.1px;
		background: transparent;
		outline: none;
	}
	#searchform > span{
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap;
		width: 10%;
	}
	#searchform button[type="submit"] {
	  float: right;
	  font-size: 16px;
	  height: 43px;
	  margin-left: -8px;
	  margin-top: 0;
	  text-align: center;
	  width: 100%;
	  background: transparent;
	  outline: none;
	  overflow: hidden;
	  i {
	  	padding-left: 1.2em;
	  }
	}
	.top-search-inner .close-search {
		text-transform: uppercase;
		line-height: 20px;
		border: 1px solid $color__background-hr;
		padding: 5px 20px;
		text-align: center;
		margin-top: 30px;
		display: inline-block;
		font-weight: 400;
		letter-spacing: 3px;
		cursor: pointer;
		@include transition-ease(all, 0.3s, ease-in-out, 0s);
	}
	.top-search-inner .close-search:hover {
		color: $color__white;
	}
	input:-webkit-autofill, 
	textarea:-webkit-autofill, 
	select:-webkit-autofill {
	  -webkit-box-shadow: 0 0 0px 1000px $color__background-screen inset;
	  -webkit-color: $color__text-main;
	  &:focus {
	  	-webkit-box-shadow: 0 0 0px 1000px $color__background-screen inset;
	  }
	}
}
.comment-subscription-form {
	display: none;
}
/* Other's form */
.form-controlar {
	font-size: 1em;
	border: 1px solid $color__background-hr;
	background: $color__white;
	width: 100%;
	padding: 10px 15px;
	outline: none;
	&:focus {
		border-color: transparent;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $color__white inset;
  -webkit-color: $color__text-main;
  &:focus {
  	-webkit-box-shadow: 0 0 0px 1000px $color__white inset;
  }
}
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.comment-respond {
	p {
		margin-bottom: 1em;
	}
	.pd-left {
		padding-left: 8px;
	}
	.pd-right {
		padding-right: 8px;
	}
}


.no-results .page-content {
	text-align: center;
	background: #fff;
	padding: 2em 0 2.6em;
	.search-form .searchform input[type="text"] {
	  	background: $color__background-screen;
	}
	.search-form {
	  	width: 60%;
		.searchform #submit-search {
		  	background: $color__background-screen;
		}
	} 
}

 

.post-password-form input[type="password"] {
  font-size: 1em;
  border: 1px solid $color__background-hr-two;
  background: $color__white;
  width: 100%;
  padding: 9px 15px;
  outline: none;
}

.contact-respond {
	padding-top: 2em;
}

/* Search-form */
.search-form {
	width: 30%;
	margin: auto;
	.searchform {
		input,button {
			background: $color__white;
			padding: 12px 10px;
			height: 50px;
		}
		input:focus {
		 	border: none !important;
		 	-webkit-box-shadow: none !important;
		 	        box-shadow: none !important;
		}
		#submit-search {
			border-left: 1px solid $color__background-hr-two;
			font-size: 1em;
			background: $color__white;
			i {
				vertical-align: middle;
			}
			&:hover {
				color: $color__theme-main;
			}
		}
	}	
}


@media (max-width: 991px) {
	.pd-left {
		padding-left: 15px !important;
	}
	.pd-right {
		padding-right: 15px !important;
	}	
}

@media (max-width: 680px) {
	#top-search-box .top-search-pos #searchform{
		width: 300px;
	}	
}
@media (min-width: 768px) and (max-width: 1201px) {
	.search-form {
		width: 50%;
	}
}
@media (min-width: 580px) and (max-width: 767px) {
	.search-form {
		width: 70%;
	}
}
@media (max-width: 580px) {
	.search-form {
		width: 100%;
	}
}