.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment-reply-title {
	font-weight: bold;
	font-size: $heading__four;
	margin: 0 0 1em;
}
.cancel-comment-reply-link {
	bottom: -2px;
	display: inline-block;
	left: 0.6em;
	position: relative;
}
.logged-in-as {
	margin-bottom: 0.7em !important;
}
.comments-area {
	margin-top: 2.5em;
	.comment-list, .children {
		list-style: none;
		padding: 0;
	}
	.comments-title {
		font-size: $heading__four;
		font-weight: bold;
		margin-top: 0;
	}
	.comment-list {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.comment-body {
		overflow: hidden;
		margin-bottom: 10px;
		padding: 20px;
		background: $color__white;
		border: 1px solid $color__border-four;
	}
	.comment-author {
	    float: left;
	    margin-right: 20px;
	    width: 85px;
	}
	.author-img {
		padding-top: 100%;
		position: relative;
		@include prefixed(transform, translateZ(0));
		.avatar.photo {
		    left: 50%;
		    position: absolute;
		    top: 50%;
		    width: 100%;
		    height: 100%;
		    @include prefixed(transform, translate(-50%, -50%));
		}
	}
	.date {
		display: block;
		font-size: 13px;
		color: #a0a0a0;
	}
	.reply {
		margin: 0;
	}
	.comment-details {
		@include table_display;	
	}
	.comment-details {
		width: 1070px;
		overflow: hidden;
	} 
	.comment-content {
		p {
			margin-bottom: 0;
			font-size: 15px;
			line-height: 24px;
		}
	}
	.comment-metadata {
	    margin-bottom: 0.5em;
	    .author {
	    	font-size: em(18px);
	    }
	    .says, .comment-edit-link {
	    	color: #777;
	    }
	}
	.children {
		margin-left: 108px;
	}
	.comment-navigation {
		 margin-bottom: 3.5em;
		.nav-links {
			.nav-previous {
				float: left;
			}
			.nav-next {
				float: right;
			}
			span {
				font-size: 18px;
			}	
		}
	}
	.comment-respond {
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 30px;
	}
}
.comment-respond {
	p {
		margin-bottom: 1em;
	}
	.form-submit {
		margin-bottom: 0;
	}
	.pd-left {
		padding-left: 8px;
	}
	.pd-right {
		padding-right: 8px;
	}
	.comment-subscription-form {
		display: none;
	}
}