button {
	font-family: $font__sub;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.025em;
    padding: 0.7em 2.4em;
	color: $color__white;
	@include prefixed(transition, all .25s ease);
}
input[type="button"] {
	@extend button;
}
input[type="reset"] {
	@extend button;
}
input[type="submit"] {
	@extend button;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	&:focus {
		outline: none;
	}	
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button {
	a {
		color: $color__white;
	}
}

.btn {
	@include prefixed(border-radius, 0);
	&:hover {
		color: $color__white;
		text-decoration: none;		
	}
	&:focus {
		@extend .btn:hover;
		outline: 0 none;
	}
	&:active:focus {
		outline: 0 none;
	}
}
.continue-read {
	border: 1px solid $color__border-dark;
	padding: 0.4em 2.6em;
	font-size: 0.8em;
	@include prefixed(transition, all .25s ease);
	&:hover {
		color: $color__white;
	}
}
.comment-reply-link {
	padding: 0.3em 1.6em;
	margin-top: 1.1em;
	background: $color__white;
	font-family: $font__sub;
	font-size: 0.8em;
	font-weight: 500;
	display: inline-block;
	&:hover {
		color: $color__white;
	}
}
.comment-navigation {
	.nav-links {
		a {
			background: $color__white;
			display: inline-block;
			padding: 0.5em 1.8em;
			letter-spacing: 0.02em;
			&:hover {
				color: $color__white;
			}
		}	
	}
}
.go-button {
	color: $color__white;
	font-family: $font__sub;
	font-size: 0.8em;
	font-weight: 500;
	display: inline-block;
	width: 192px;
	height: 40px;
	line-height: 3.2em;
}

.entry-content {
	.btn {
		@include prefixed(border-radius, 1px);
		font-family: $font__sub;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 1.7em;
	}
}