<div class="col-md-4">
    <div class="widget widget_flicker clearfix hidden">
        <div class="widget-title-area">
            <h5 class="widget-title"><span>Flicker Images</span></h5><!-- /.widget-title -->
        </div> <!-- /.widget-title-area -->

        <div class="about-contact-area">
                <ul id="josephine_flickr" class="flickr"></ul>
        </div>
    </div> <!-- /.widget_about_and_contact -->
</div> <!-- /.col-md-4 -->