<aside class="widget josephine_latest_post_widget clearfix hidden"> <div class="widget-title-area"><h5 class="widget-title"><span class="ghost-latest-p-title">Latest Post</span></h5><div class="hr-line"></div> </div> <div class="latest-widget"></div> </aside>