// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

//display div as a table
@mixin table_display {
    display: table-cell;
    vertical-align: top;
}

// prefix declarations
@mixin prefixed($property, $value) {
    @if $webkit == true {
        -webkit-#{$property}: #{$value};
    }

    @if $moz == true {
        -moz-#{$property}: #{$value};
    }

    @if $ms == true {
        -ms-#{$property}: #{$value};
    }

    @if $o == true {
        -o-#{$property}: #{$value};
    }

    #{$property}: #{$value};
}

// prefix declarations with all browser true

@mixin prefixedallon($property, $value) {
    @if $webkit-on == true {
        -webkit-#{$property}: #{$value};
    }

    @if $moz-on == true {
        -moz-#{$property}: #{$value};
    }

    @if $ms-on == true {
        -ms-#{$property}: #{$value};
    }

    @if $o-on == true {
        -o-#{$property}: #{$value};
    }
    #{$property}: #{$value};
}

// prefix declarations double value
@mixin prefixed_double($property, $value, $value-two) {
    @if $webkit == true {
        -webkit-#{$property}: #{$value},#{$value-two};
    }

    @if $moz == true {
        -moz-#{$property}: #{$value},#{$value-two};
    }

    @if $ms == true {
        -ms-#{$property}: #{$value},#{$value-two};
    }

    @if $o == true {
        -o-#{$property}: #{$value},#{$value-two};
    }

    #{$property}: #{$value},#{$value-two};
}

//For Widget Popular and latest
@mixin widget_class($class_name) {
    //Define thumb height and width
    $image__thumb_width: 66px;
    $image__thumb_height: 70px;

    .#{$class_name}-widget {
        .#{$class_name}-wrap {
            padding-bottom: 20px;
            margin-bottom: 20px;
            position: relative;
            overflow: hidden;
            .#{$class_name}-image {
                width: 72px;
                float: left;
                margin-right: 16px;
                .fit-img {
                    position: relative;
                    overflow: hidden;
                    padding-top: 100%;
                    @include prefixed(transform,translateZ(0));
                }
            }
            .#{$class_name}-item-text {
                position: absolute;
                display: inline-block;
                h5 {
                    margin-top: 0;
                    margin-bottom: 2px;
                    font-size: em(15px);
                    line-height: 1.4em;
                    display: block;
                    max-height: 2.8em;
                    overflow: hidden;
                }
            }
            .#{$class_name}-item-meta {
                font-family: $font__body;
                font-size: 13px;
                font-style: italic;
                color: $color__meta-widget;
                word-spacing: 0.1em;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .#{$class_name}-item-thumb {
                position: absolute!important;
                width: 100%;
                height: 100%;
                max-width: none!important;
                top: 50%;
                left: 50%;
                @include prefixed(transform,translate(-50%, -50%));
            }
            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border: 0 none;
            }
        }
    }
}