p {
	margin-bottom: 1.3em;
	padding: 0;
	line-height: 1.73;
	word-spacing: 0.025em;
	color: $color__text-main;
}

dfn, cite, em, i {
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	color: $color__white;
	padding: 0 2px; 
	text-decoration: none;
}

big {
	font-size: 125%;
}

::-moz-selection {
	color: $color__white;
	text-shadow: none;
}

::selection {
	color: $color__white;
	text-shadow: none;
}

.dropcap::first-letter {
	display: block;
	float: left;
	margin: 10px 15px 0 0;
	font-weight: 700;
	font-size: 48px;
}
