h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $color__heading;
	font-family: $font__heading;
	line-height: 1.2;
	font-weight: inherit;
	a {
		color: $color__heading-a;	
	}
}
h1 {
	font-size: 2.441em;
}
h2 {
	font-size: 1.953em;
}
h3 {
	font-size: 1.563em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.8em;
}
small, .font_small {font-size: 0.8em;}