html {font-size: 0.938em;}
body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__heading;
	font-size: 0.938em;
	font-weight: 400;
	line-height: 1.45em;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-moz-osx-font-smoothing: grayscale;
}

@import "headings";

@import "copy";

