
body {
	background: $color__background-body;
	word-wrap: break-word;
	padding-top: 40px;
}

blockquote {
	background: $color__background-aside;
	padding: 3em 4em;
	position: relative;
	margin: 0 0 1em;
	border-left: none;
	font-style: italic;
	font-size: 18px;
	font-weight: 500;
	display: block;
	&:before {
		content: "\e604";
		font-family: 'candid';
		position: absolute;
		font-size: 1.5em;
		left: 1em;
		top: 1em;
		font-style: normal;
	}
	&:after {
		content: "\e605";
		font-family: 'candid';
		position: absolute;
		font-size: 1.5em;
		right: 1em;
		bottom: 1.5em;
		font-style: normal;
	}
	p {
		line-height: 1.45;
		margin-bottom: 5px;
		display: block;
	}
	cite {
		display: block;
		font-size: 0.8em;
		margin-top: 0.5em;
		&:before {
			content: "--";
			margin: 0 5px 0 0;
		}	
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin: 1.5em 0;
}
.small-border {
	width: 90px; 
	height: 2px;
	margin: 10px 0 10px 18px;
	display: block;
}

.ex-small-border {
	width: 90px; 
	height: 1px;
	background: $color__background-hr-two;
	margin: 10px auto 20px;
	display: block;
}
@import "lists";

img {
	height: auto;
	max-width: 100%;
	-ms-interpolation-mode: bicubic;
}

@import "tables";



