table {
	margin: 0 0 1.5em;
	width: 100%;
}

table, th, td {
  border: 1px solid $color__background-hr;
}

td {
  border-width: 0 1px 1px 0;
}

/* post, page, comments table */
#content .post, #content .page, #comments{
	li {
	    line-height: 1.5;
	}
	table {
	    border-collapse: collapse;
	    margin: 20px 0;
		width: 100%;
		border: 1px solid $color__background-hr;
		border-left: none;
	    thead:first-child tr:first-child th,
		tbody:first-child tr:first-child th, 
		tbody:first-child tr:first-child td {
		    border-top: 0 none;
		}
		tbody tr.odd {
			background: #fff;
		}
		th, 
		td {
		    border-left: 1px solid $color__background-hr;
		    border-top: 1px solid $color__background-hr;
		    line-height: 18px;
		    padding: 8px;
		    text-align: left;
		    vertical-align: top;
		}
	}
}