$color__background-body: #fff;
$color__white: #fff;
$color__background-screen: #f5f5f5;
$color__background-hr: #ebebeb;
$color__background-hr-two: #d6d6d6;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-aside: #f2f2f2;
$color__background-widget_about: #fdfdfd;
$color__background-widget_title: #fcfdfa;

$color__text-screen: #b4b4b4;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #777;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__text-main: #777; //#9e9e9e
$color__heading: #666;
$color__heading-a: #666;
$color__sub: #c3c3c3;
$color__meta: #a5a5a5;


$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$color__theme-main: #80b92e;
$color__theme-main-hover: #9CCA5A;

