.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment-reply-title {
	font-weight: bold;
	font-style: italic;
	font-size: 1.25em;
	margin: 0.6em 0 1.5em;
	margin-left: 1px;
}
.cancel-comment-reply-link {
	bottom: -2px;
	display: inline-block;
	left: 0.6em;
	position: relative;
}
.logged-in-as {
	margin-bottom: 0.7em !important;
	margin-left: 1px;
	font-size: 1em;
	font-style: italic;
}

.comments-area {
	margin-top: 2.5em;
	.comment-list, .children {
		list-style: none;
		padding: 0;
	}
	.comments-title {
		font-size: 1.25em;
		font-style: italic;
		font-weight: bold;
		margin-top: 0;
	}
	.comment-list {
		margin-top: 1.9em;
	}
	.comment-body {
		overflow: hidden;
		margin-bottom: 1.9em;
	}
	.author-img {
		height: 90px;
		margin-right: 1em;
		overflow: hidden;
		position: relative;
		width: 90px;
		float: left;
		display: inline-block;
	}
	.date {
		display: block;
		font-size: 0.8em;
		color: $color__text-meta;
	}
	.reply {
		margin: 0;
	}
	.comment-details {
		@include table_display;	
	}
	.comment-details {
		width: 1070px;
		overflow: hidden;
	} 
	.comment-content {
		border: 1px solid $color__border-post;
		background: $color__white;
		padding: 0.6em 1em 0.7em;
		p {
			margin-bottom: 0;
			font-size: 0.8em;
		}
	}
	.comment-metadata {
	    margin-bottom: 0.5em;
	    font-family: $font__sub;
	    .says, .comment-edit-link {
	    	font-size: 0.8em;
	    	color: $color__text-meta;
	    }
	}
	.children {
		margin-left: 108px;
	}
	#contact_form {
		.form-submit {
			#submit {
				margin-left: 1px;
			}
		}
	}
	.comment-form {
		.form-submit {
			margin-left: 1px;
		}
	}
	.comment-navigation {
		 margin-bottom: 3.5em;
		.nav-links {
			.nav-previous {
				float: left;
			}
			.nav-next {
				float: right;
			}
			span {
				font-size: 18px;
			}	
		}
	}
}
.comment-respond {
	p {
		margin-bottom: 1em;
	}
	.pd-left {
		padding-left: 8px;
	}
	.pd-right {
		padding-right: 8px;
	}
	.comment-subscription-form {
		display: none;
	}
}