.sticky {
	display: block;
}
.hentry {
	margin: 0 0 1.9em;
}
.page-content {
	margin: 1.4em 0 1.4em;
	p:last-child {
		margin-bottom: 0;
	}	
}
.entry-content {
	@extend .page-content;
}
.entry-summary {
	@extend .page-content;
}
.page-links {
	clear: both;
	margin: 0 0 2.1em;
}

.content-area {
	.post {
		background: $color__white;
		border: 1px solid $color__border-main;
		padding: 1.9em;
		position: relative;
		.post-thumb {
			overflow: hidden;
		}
	}
	.page {
		@extend .post;
		.post-status-wrapper {
			text-align: center;
			iframe {
				 margin: 10px auto !important;
			}
		}
		.page-share {
			text-align: center;
			span {
				font-size: 1.25em;
				font-style: italic;
				&:after {
					content: "-";
					position: relative;
					vertical-align: middle;
				}
			}
			a {
				padding: 0 5px;
			}
		}
	}
	.type-attachment {
		@extend .post;	
	}
	// Link Post Format
	// ------------------------
	.format-link {
		.post-link {
		    background-position: 50% 50%;
		    background-size: cover;
		    position: relative;
		    .overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba($color__black, 0.7);
		    }
		    .link-content {
		    	position: relative;
		    	padding: 2.9em 0.9em 2.9em 6em;
		    	&:before { 
		    		content: "\e600";
		    		font-family: 'glimmer';
		    		position: absolute;
		    		font-size: 2.4em;
		    		left: 1em;
		    		top: 1.6em;
		    	}
		    	.link-title, .link {
		    		font-family: $font__sub;
		    		display: block;
		    	}
				.link-title {
					font-weight: 500;
					font-size: 1.563em;
					margin: 10px 0 12px;
				}
				.link {
					font-size: 0.9em;
					margin-top: -5px;
				} 
				a:hover {
					text-decoration: underline;
				}
		    }
		}
	}
	// Quote Post Format
	// ------------------------
	.format-quote {
		.entry-title,
		.entry-meta {
			display: none;
		}
		.entry-content {
			margin: 0;
		}
		blockquote {
			margin-left: 0 !important;
			margin-bottom: 0;
			border: 0;
			padding: 0;
			font-style: italic;
			font-size: 1.25em;
			font-weight: 400;
			position: relative;
			z-index: 100;
			text-align: center;
			&:before {
				content: "\f10d";
				display: block;
				height: auto;
				left: 0;
				right: 0;
				margin-top: 0;
				padding-top: 0;
				top: -40px; 
				font-style: normal;
				font-family: FontAwesome;
				font-size: 1.563em;
			}
			p {
				padding: 0 1em;
				margin-bottom: 10px;
				position: relative;
				font-weight: bold;
				&:first-child {
					margin-top: 2em;
				}
				&:last-child {
					margin-bottom: 0;
				}
				cite {
					margin-left: 0;
					padding-left: 0;
				}
			}
			cite, a, span {
			    padding: 0 1.2em;
				font-size: 0.8em;
				font-family: $font__sub;
				font-weight: 500;
				font-style: normal;
				position: relative;
			}
			cite::before {
			    content: "";
			    padding-right: 0;
			}
		}
	}
	// Status Post Format
	// ------------------------
	.format-status {
		.post-status-wrapper {
			background-size: cover !important;
			padding: 2.85em 0;
			text-align: center;

			.embed, iframe, object {
				margin: 0 auto !important;
			}
		}
	}
	// Chat Post Format
	// ------------------------
	.format-chat {
		.entry-content {
			margin-bottom: 0;
		}
		.chat-transcript { 
			padding: 20px 30px 42px; 
		}
		.chat-row { 
		  	padding: 3px 0; 
		  	clear: both; 
		  	overflow: hidden;
		  	p {
		  		margin-bottom: 0 !important;
		  		line-height: 1.4em;
		  	}
		  	cite {
		  		font-style: normal; 
			  	font-weight: bold; 
		  	}
		  	&:nth-child(2n+2) {
				.chat-author {
				  	float: right; 
				  	padding:7px  0 0 15px; 
				}
				.chat-text {
				  	float: right; 
				  	&:before {
					    float: right;
					    margin: 5px -28px 0 0 ;
					    border-right-color: transparent !important;	
				  	}
				}
			}
		}
		.chat-author {
		 	float: left; 
		  	padding:7px 15px 0 0;
		}
		.chat-text {
		    padding: 8px 16px;
		    max-width: 55%;
		    float: left;
		    color: $color__white;
		    @include prefixed(border-radius, 5px);
		    &:before {
			    float: left;
			    content: " ";
			    display: block;
			    width: 0;
			    height: 0;
			    margin: 5px 0 0 -28px;
			    border: 6px solid transparent;
		    }
		    a {
		    	color: $color__white;
		    	text-decoration: underline;
		    }
		}
		.chat-speaker-2 {
			.chat-text {
			  	color: $color__white; 
			}
		}
		.chat-speaker-3 {
			.chat-text {
			  	color: $color__white; 
			}
		}
		.chat-speaker-4 {
			.chat-text {
			  	color: $color__white; 
			}
		}
		.chat-speaker-5 {
			.chat-text {
			  	color: $color__white; 
			}
		}
		.chat-speaker-6 {
			.chat-text {
			  	color: $color__white; 
			}
		}
	}
	// Ribbon
	// ------------------------
	.ribbon {
	    position: absolute;
	    right: -5px; top: -5px;
	    z-index: 1;
	    overflow: hidden;
	    width: 75px; height: 75px;
	    text-align: right;
	    span {
			font-size: 10px;
			font-weight: bold;
			color: #FFF;
			text-transform: uppercase;
			text-align: center;
			line-height: 20px;
			transform: rotate(45deg);
			width: 100px;
			display: block;
			box-shadow: 0 3px 10px -5px rgba($color__black, 0.7);
			position: absolute;
			top: 19px; 
			right: -21px;
			letter-spacing: 0.1em;
			&:before {
				content: "";
				position: absolute; left: 0px; top: 100%;
				z-index: -1;
				border-right: 3px solid transparent;
				border-bottom: 3px solid transparent;
			}
			&:after {
				content: "";
				position: absolute; right: 0px; top: 100%;
				z-index: -1;
				border-left: 3px solid transparent;
				border-bottom: 3px solid transparent;
			}
		}
	}
	// For twitter-embed post
	// ------------------------
	.format-standard {
		.entry-content {
			.twitter-tweet.twitter-tweet-rendered {
				margin: auto !important;
			}
		}
	}	
}

/* No results */
.no-results {
	.page-header {
		background: $color__white;
		border: 1px solid $color__border-main;
		border-bottom: 0;
		padding: 1.9em;
		margin: 0;
		h3 {
			margin: 0;
			font-style: italic;
			text-align: center;
		}
	}
	.page-content {
		background: $color__white;
		border: 1px solid $color__border-main;
		padding: 1.9em;
		margin: 0 0 1.9em;
		text-align: center;
		.page-not-found-icon {
			font-size: 5.441em;
			margin-bottom: 0;
			line-height: normal;
			color: $color__text-meta;
			margin-top: -14px;
			i {
				line-height: normal;
			}
		}
		.input-group .form-controller {
			width: 100%;
			height: 43px;
			padding: 0.56em 1em;
			font-style: italic;
			display: table-cell;
			border: 1px solid $color__border-main;
		}
		button {
			@include prefixed(border-radius, 0);
			padding: 0.75em 1em;
		}
		.btn-search {
			i {
				position: relative;
				top: 0;
				vertical-align: middle;
			}
		}
	}
}