body {
	background: $color__background-main; /* Fallback for when there is no custom background color defined. */
	word-wrap: break-word;
}

q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

blockquote {
	margin-left: 50px !important;
	border: 0;
	padding: 0;
	font-style: italic;
	font-size: 1.25em;
	font-weight: 400;
	position: relative;
	z-index: 100;
	border-left: 5px solid $color__border-post;
	&:before {
		content: "";
		display: block;
		height: auto;
		left: -50px;
		margin-top: -35px;
		padding-top: 0.7em;
		position: absolute;
		top: 50%; 
		content: "\f10d";
		font-style: normal;
		font-family: FontAwesome;
		font-size: 1.563em;
	}
	p {
		padding: 0 1em;
		margin-bottom: 10px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		cite {
			margin-left: 0;
			padding-left: 0;
		}
	}
	cite, a, span {
	    padding: 0 1.2em;
		font-size: 0.8em;
		font-family: $font__sub;
		font-weight: 500;
		font-style: normal;
		position: relative;
	}
	cite {
		display: block;
	}
	cite::before {
	    content: "--";
	    padding-right: 5px;
	}
}
.single-post {
	blockquote {
		margin: 1.5em 0;
	}
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

/* Overlay */


/* Some border */
.small-border {
    display: block;
    height: 2px;
    margin: 0.5em 0.8em;
    width: 90px;
}
.ex-small-border {
    display: block;
    height: 1px;
    margin: 0.5em auto 0.8em;
    width: 200px;
    background: $color__border-dark;
    position: relative;
    &:after {
		content: "";
		height: 3px;
		left: 50%;
		margin-left: -38px;
		position: absolute;
		top: -1px;
		width: 80px;
    }	
}