.feature-area {
	display: block;
	background-color: $color__white;
	overflow: hidden;
	#featured-content {
		margin: 40px 0 30px;
	}
	#featured-item {
		position: relative;
		.item img {
			height: auto;
			display: block;
			width: 100%;
		}
		.full-wrapper {
			position: relative;
			background-size: cover!important;
			background-position: center!important;
			background-repeat: no-repeat;
			display: table;
			height:100%;
			width:100%;
			vertical-align:middle;
			padding: 100px 50px;
			position: relative;
		}
		.image-extra {
			bottom: 0;
			display: table-cell;
			height: auto;
			left: 0;
			margin: auto;
			position: relative;
			right: 0;
			top: 0;
			vertical-align: middle;
			width: 100%;
			.extra-content {
				box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
				box-sizing: border-box;
				display: block;
				height: auto;
				margin: 0 auto;
				max-width: 520px;
				padding: 40px;
				position: relative;
				text-align: center;
				width: 100%;
				background: rgba($color__white, 0.2);
				z-index: 1;
				&:before {
					border: 1px solid $color__white;
					bottom: 0;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
					z-index: -1;
				}
			}
			.inner-extra {
				background: $color__white;
				padding: 45px 45px 27px;
				border: 1px solid $color__border-one;
				&:before {
					border: 1px solid $color__border-three;
					bottom: 0;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
					z-index: -1;
				}
				i {
					color: #c8c8c8;
				}
				h2 {
					margin: 10px 0;
					visibility: hidden;
					text-transform: capitalize;
					font-weight: bold;
					font-size: 26px;
				}
				h2, .entry-date, .entry-meta {
					@include prefixedallon(transition, all .3s);
					@include prefixedallon(transition-timing-function, ease);
					@include prefixedallon(transform, translate3d(0,20px,0));
					visibility:hidden;
					opacity:0
				}
				.fet-read-more {
					background: $color__white;
					border: 1px solid $color__border-one;
					bottom: 0;
					display: inline-block;
					padding: 15px 20px;
					position: relative;
					top: 47px;
					font-size: 11px;
					font-weight: bold;
					line-height: normal;
					text-transform: uppercase;
					word-spacing: 0.2em;
					color: $color__heading;
					@include prefixedallon(transition,all 0.3s);
					@include prefixedallon(transition-timing-function,ease);
				}
				.fet-more-wrapper {
					@include prefixedallon(transform,scale(0));
					@include prefixedallon(transition,all 0.3s);
					@include prefixedallon(transition-timing-function,ease);
				}
			}
			.extra-content, 
			.extra-content::before {
				@include prefixedallon(transition,all 1s);
				@include prefixedallon(transition-timing-function,ease);
				opacity:0
			}
		}
		.owl-item.active .extra-content {
			@include prefixedallon(transition-delay, 0.1s);
			opacity:1
		}
		.owl-item.active .extra-content::before {
			@include prefixedallon(transition-delay, 0.2s);
			opacity:1
		}
		.owl-item.active .image-extra .inner-extra .entry-date {
			@include prefixedallon(transition-delay, 0.3s);
		}
		.owl-item.active .image-extra .inner-extra .entry-date,
		.owl-item.active .image-extra .inner-extra h2,
		.owl-item.active .image-extra .inner-extra .entry-meta {
			visibility:visible;
			opacity:1;
			@include prefixedallon(transform, translate3d(0,0,0));
		}
		.owl-item.active .image-extra .inner-extra h2 {
			@include prefixedallon(transition-delay, 0.4s);
		}
		.owl-item.active .image-extra .inner-extra .entry-meta {
			@include prefixedallon(transition-delay, 0.5s);
		}
		.owl-item.active .image-extra .inner-extra .fet-more-wrapper {
			@include prefixedallon(transform, scale(1));
			@include prefixedallon(transition-delay, 0.6s);
		}
	}
	.owl-controls .owl-buttons div {
		background: $color__white;
		font-size: 90px;
		margin: auto;
		padding: 10px;
		position: absolute;
		top: 50%;
		@include prefixed(transform,translate(0px, -50%));
		border-radius: 0;
		color: #c8c8c8;
		opacity: 0.8;
	} 
	.owl-controls .owl-buttons .owl-prev {
		left: -58px;
	}
	.owl-controls .owl-buttons .owl-next {
		right: -59px;
	}
	.owl-theme .owl-controls {
		margin-top: 0;
	}
	.full-control {
	    cursor: pointer;
	    margin: 2px 1px 0;
	    position: relative;
	    z-index: 0;
	    background: $color__black;
	    &:before {
			border-color: $color__white transparent transparent;
			border-style: solid;
			border-width: 10px 10px 0;
			content: "";
			height: 0;
			left: 0;
			margin: 0 auto;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			@include prefixedallon(transition, all 0.2s ease 0s);
			visibility: hidden;
			width: 0;
			z-index: 1;
	    }
	}
	.full-control img {
		@include prefixedallon(transition, all 0.2s);
		opacity:1
	}
	#full-sync {
		.synced img,
		.full-control:hover img {
			opacity: 0.5;
		}
		.synced .full-control:before {
			opacity: 1;
			visibility: visible;
		}
	}
}
#featured-item .owl-item.active .image-extra .inner-extra .fet-read-more {
	&:hover {
		color: $color__white;
	}
}

/*--------------------------------------------------------------
# Treading Post
--------------------------------------------------------------*/
.trending-area {
	background: $color__white;
	.container {
		overflow: hidden;
		padding: 0 15px;;
	}
	.area-title {
		margin: 0 0 30px;
		text-align: center;
		position: relative;
		overflow: hidden;
		font-size: 24px;
		font-weight: 700;
		&:before {
			background: $color__border-two;
			content: "";
			height: 1px;
			left: 0;
			top: 50%;
			position: absolute;
			width: 100%;
		}
		span {
			background: $color__white;
		    padding: 0 30px;
		    position: relative;
		    z-index: 7;
		}
	}
}
#trending-post {
	margin-bottom: 45px;
}

#trending-post .item {
	margin: 0 1px;
	.col-sm-6 {
		padding: 0;
	}
	img {
		display: block;
		width: 100%;
		min-height: 100%;
		position: relative;
	}
	.td-overlay {
		background: rgba($color__black, 0.8);
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	.td-wrapper .cat-links,
	.td-wrapper .entry-title,
	.td-wrapper .entry-date {
		color: $color__white;
	}
	.td-wrapper .cat-links {
		letter-spacing: 0;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	.td-wrapper .cat-links a {
		border-bottom: 1px solid $color__white;
		padding-bottom: 3px;
	}
	.td-wrapper .cat-links,
	.td-wrapper .entry-date {
		font-size: 12px;
		color: #c5c5c5;
	}
	.td-wrapper .entry-title {
		font-family: $font__body;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 5px 0;
		a:hover {
			text-decoration: none;
		}
	}
}
.td-wrapper {
	left: 12%;
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
	@include prefixedallon(transition,all 0.3s);
	@include prefixedallon(transition-timing-function,ease);
	z-index: 99;
}

#trending-post.owl-theme .owl-controls {
	margin-top: 24px;
}
#trending-post .owl-controls .owl-nav div {
	background: $color__white;
	padding: 5px 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#trending-post.owl-theme .owl-controls {
	margin-top: 15px;
	margin-bottom: -25px;
}
#trending-post .owl-page > span {
	border-radius: 0;
	height: 7px;
	width: 25px;
	background: #c8c8c8;
}