.site-content {
	padding: floor($base__line-grid * 2.45) 0 0;
}
.content-area {
	.page-header {
		background: $color__white;
		border: 1px solid $color__border-four;
		margin: 0 0 1.9em;
		padding: 2.28em;
		text-align: center;
		.page-title {
			font-size: 1.563em;
			margin-bottom: 0;
			margin-top: 0;
		}
		.search {
			margin-top: 1.5em;
			.form-controller {
				height: 43px;
			}
			.btn-search {
				padding: 0.75em 1em;
			}
		}
	}
	// Post Header
	//---------------------
	.entry-header {
		clear: both;
		position: relative;
		text-align: center;
		padding: 30px 30px 0;
		i {
			color: #c8c8c8;
			font-size: 25px;
		}
		.entry-title {
			margin: 18px 0 30px;
			font-weight: bold;
		}
	}
	// Post Thumb
	//---------------------
	.post-thumb, .post-media, .post-link {
		margin: 30px 30px 0;
	}
	.post-thumb img {
		margin: auto;
	}
	.post-thumb, .post-media {
		position: relative;
	}
	.post-media {
		.wp-video {
		    height: auto !important;
		    width: 100% !important;
			.mejs-container {
			    height: auto !important;
			    padding-top: 57%;
			    width: 100% !important;
			}
			.mejs-mediaelement {
				right: 0;
				bottom: 0;
			}
			.mejs-mediaelement video {
			    bottom: 0;
			    height: 100% !important;
			    left: 0;
			    position: absolute;
			    right: 0;
			    top: 0;
			    width: 100% !important;
			}
			.mejs-overlay, .wp-video .mejs-poster {
			    height: 100% !important;
			    width: 100% !important;
			}
		}
		.mejs-overlay-button {
			top: 40% !important;
		}	
	}
	// Post Content
	//---------------------
	.entry-content {
		margin: 22px 0 0;
		padding: 0 30px;
		.mejs-container {
			margin-bottom: 1.6em;
		}
		.wp-playlist {
			border: 0 none;
			padding: 0;	
			margin: 0 0 1.9em;	
			.mejs-container {
				margin: 0 auto;
			}
		}
		p a:hover {
			text-decoration: underline;
		} 
		ul, ol {
			margin-bottom: 30px;
			margin-left: 20px; 
		}
		ol li, 
		ul li {
			margin-top: 12px;
		}
		.edit-link {
		  	display: block;
		  	margin: 15px 0;
		    &:before {
		    	content: "\f044";
		    	font-family: FontAwesome;
		    	margin-right: 5px;
		    }
		}
	}
	// Post Footer
	//---------------------
	.entry-footer {
		padding: 8px 30px 30px;
		.footer-meta {
			font-size: 13px;
			color: $color__meta;
			a {
				color: inherit;
			}
		}
		.post-comment {
			float: left;
		}
		.comments-link {
			&:before {
				content: "\e604";
				font-family: 'glimmer';
				padding-right: 5px;
				font-weight: normal;
				font-size: 13px;
				vertical-align: top;		
			}
		}
		.share-area {
			display: inline-block;
			float: right;
			color: $color__meta;
			&:before {
				content: "\e60a";
				font-family: 'glimmer';
				padding-right: 5px;
				font-weight: normal;
				font-size: 13px;
				vertical-align: top;	
			}
			a {
				margin: 0 5px;
				font-size: 13px;
				&:first-child {
					margin-left: 8px;
				}
			}
		}
		.tags-links {
			span:before {
				content: "\f02b";
				font-family: FontAwesome;
				position: relative;
				left: -0.8em; 
			}
		}
	}
	.type-attachment {
		.entry-content {
			margin-bottom: 0;
			margin-top: 30px;
			text-align: center;
		}	
	}
}
/*--------------------------------------------------------------
# Single Post Footer
--------------------------------------------------------------*/
.single-post {
	&.format-video {
		.entry-header {
			position: relative;
			@include prefixed(transform, translateY(0));
		}
	}
	.entry-content {
		.tag {
			font-size: 13px;
			color: $color__meta;
		}
		.tag span {
			display: block;
			font-weight: bold;
			margin-bottom: 8px;
		}
		.tag a {
			font-family: $font__heading;
			border: 1px solid $color__border-four;
			display: block;
			color: $color__black;
			float: left;
			font-weight: normal;
			line-height: 1.4em !important;
			margin-bottom: 5px;
			margin-right: 5px;
			padding: 6px 17px;
			position: relative;
			text-decoration: none;
			transition: all 0.2s linear 0s;
			white-space: nowrap;
			&:hover {
				color: $color__white;
				transition: all 0.1s linear 0s;
			}
		}
	}
	.inline {
		display: inline-block;
		float: left;
		padding-right: 8px;
		&.post-format {
			font-size: 16px;
		}
		&.post-view:after {
			content: ",";
		}
	}
	.entry-footer {
		border-top: 1px solid $color__border-four;
		margin-left: 30px;
		margin-right: 30px;
		margin-top: 30px;
		padding-left: 0;
		padding-right: 0;
		padding-top: 15px;
		.footer-meta {
			margin-top: 0;
		}
	}
}
/*--------------------------------------------------------------
# Single Post Navigation
--------------------------------------------------------------*/
.post-navigation {
    background-color: $color__white;
    border: 1px solid $color__border-four;
    display: table;
    margin-bottom: 30px;
    position: relative;
    table-layout: fixed;
    vertical-align: middle;
    width: 100%;
	.post-previous, 
	.post-next {
	    display: table-cell;
	    position: relative;
	    vertical-align: middle;
	    width: 50%;
	    border-left: 1px solid $color__border-four;
	    border-right: 1px solid $color__border-four;
	}
	.post-previous i.fa {
	    left: 25px
	}
	.post-next i.fa {
	    right: 25px
	}
	i.fa {
	    font-size: 30px;
	    position: absolute;
	    top: 50%;
	    @include prefixed(transform, translateY(-50%));
	}
	.post-previous {
	    padding: 40px 10px 40px 25px;
	    text-align: left;
		border-left: 0 none;
		border-right: 0 none;
	}
	.post-next {
	   	padding: 40px 25px 40px 10px;
	    text-align: right;
	    border-right: 0 none;
	}
	h3 {
	    font-size: $heading__four;
	    font-weight: normal;
	    margin: 0;
	    transition: all 0.2s linear 0s;
	    span {
	    	display: block;
	    	font-size: 15px;
	    	font-family: $font__body;
	    	color: $color__meta;
	    }
	}
	.post-previous h3 {
	    margin-left: 40px;
	}
	.post-next h3 {
	    margin-right: 40px;
	}
	&.no-next-link .post-previous {
	    float: left;
	    border-right: 1px solid $color__border-four;
	}
	&.post-navigation.no-next-link .post-next {
	    float: right;
	    border-left: 1px solid $color__border-four;
	}
}
/*--------------------------------------------------------------
# No results
--------------------------------------------------------------*/
.no-results {
	.page-header {
		background: $color__white;
		border: 1px solid $color__border-four;
		border-bottom: 0;
		padding: 30px;
		margin: 0;
		h3 {
			margin: 0;
			text-align: center;
		}
	}
	.page-content {
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 30px;
		margin: 0 0 30px;
		text-align: center;
		.page-not-found-icon {
			font-size: 5.441em;
			margin-bottom: 0;
			line-height: normal;
			color: $color__meta;
			margin-top: -14px;
			i {
				line-height: normal;
			}
		}
		.input-group .form-controller {
			width: 100%;
			height: 43px;
			padding: 0.56em 1em;
			font-style: italic;
			display: table-cell;
			border: 1px solid $color__border-four;
		}
		button {
			@include prefixed(border-radius, 0);
			padding: 0.75em 1em;
		}
		.btn-search {
			i {
				position: relative;
				top: 0;
				vertical-align: middle;
			}
		}
	}
}

/*--------------------------------------------------------------
# Category Section Heading
--------------------------------------------------------------*/
.archive-page-title {
	margin-bottom: 30px;
	.title-content {
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 45px;
		text-align: center;
		h1 {
			margin: 0;
			line-height: 1em;
			font-weight: bold;
			span {
				display: block;
				font-size: 18px;
				font-family: $font__body;
				font-style: italic;
				font-weight: normal;
				&:after {
				   background-color: $color__border-three;
				   content: "";
				   display: block;
				   height: 2px;
				   margin: 8px auto;
				   width: 150px;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
# Post Author Info 
--------------------------------------------------------------*/
.author-info {
	background: $color__white;
	margin-bottom: 1.9em;
	.at-img {
		width: 110px;
		height: 110px;
		position: relative;
		overflow: hidden;
		@include prefixed(border-radius, 50%);
	}
	.at-img > img {
	    max-height: 110px;
	    max-width: 110px;
	}
	#author-img, #author-details {
		@include table_display;
	}
	#author-img {
		vertical-align: middle;
		border: 1px solid $color__border-four;
		padding: 1.9em;
	}
	.author-name {
		font-size: $heading__four;
		font-weight: bold;
		margin: 1em 0 0;
	}
	.authors-title {
		font-family: $font__body;
	  	font-size: 13px;
	  	color: #a0a0a0;
	    margin: 5px 0 16px;
	}
	#author-details {
		border: 1px solid $color__border-four;
		border-left: 0;
		padding:0 2em;
		width: 1070px;
		overflow: hidden;
	}
	.authors-bio p {
		font-size: em(15px);
		line-height: 1.45em;
		margin-bottom: 1.5em;
	}
	#author-footer {
		border: 1px solid $color__border-four;
		border-top: 0;
		display: table;
		width: 100%;
		padding: 15px 30px;
		font-size: 13px;
		color: $color__meta;
		b {
			font-weight: bold;
		}
		.post-count {
			float: left;
		}
		.authors-social {
			float: right;
			display: inline-block;
			b {
				font-weight: bold;
			  	margin-right: 14px;
			    vertical-align: middle;
			}
			a {
				padding: 0 5px;
				&:first-child {
					padding-left: 15px;
				}
				i {
					vertical-align: middle;
				}
			}
		}		
	}
}
.archive.author {
	.author-info {
		margin-top: 0;
		margin-bottom:2.2em;
	}
}

/*--------------------------------------------------------------
# Related Post 
--------------------------------------------------------------*/
.related-post {
	background: $color__white;
	border: 1px solid $color__border-four;
	margin-bottom: 30px;
	padding: 30px;
	.related-post-title {
		font-size: $heading__five;
	    font-weight: bold;
	    margin: 0 0 30px;
	    text-align: center;
	    text-transform: uppercase;
    	&:after {
		    background-color: $color__border-three;
		    content: "";
		    display: block;
		    height: 2px;
		    margin: 10px auto;
		    width: 42px;
    	}
	}
	.post-media {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		position: relative;
		overflow: hidden;
		img {
			max-height: 142px;
			margin: auto;
			width: 100%;
		}
	}
	.post-body {
		text-align: center;
		.entry-title {
			font-size: $heading__five;
			font-weight: bold;
			margin-top: 8px;
			margin-bottom: 0;
			line-height: 1.6em;
		}
		.entry-date {
			font-size: 13px;
			margin-top: 10px;
			color: #a0a0a0;
		}
	}
}

/*--------------------------------------------------------------
# ShortCode
--------------------------------------------------------------*/
.progress {
	@include prefixed(border-radius, 0);
}

.panel {
	@include prefixed(border-radius, 0);
	@include prefixed(box-shadow, none);
}
.panel-group .panel {
	@extend .panel;
}
.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\2212";
    float: right;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\2b";
}
.nav-tabs {
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	li {
		margin-top: 0 !important;
	}
	> li > a {
		@include prefixed(border-radius, 0);
		margin-left: 0;
		margin-right: 0;

	}
	> li.active > a {
		margin-right: 0;
	}
}
.tab-content div {
	padding: 10px 15px;
}
#glimmer-tab-content {
	.edit-link {
		margin-bottom: 1em;
	}
}

.alert {
	padding: 12px;
	@include prefixed(border-radius, 0);
	.close {
		line-height: 1.3em;
		right: 0;
    	top: 0;
		&:hover {
			background: transparent;
		}
	}
}
.entry-content {
	.post-status-wrapper {
		padding: 30px;
	}
}