/*--------------------------------------------------------------
# About widget
--------------------------------------------------------------*/
.about-widget {
	.author-image-home {
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	.author-name {
		font-size: 24px;
		font-weight: 700;
		word-spacing: 2px;
		text-align: center;
		margin: 0.8em 0 0.4em;
	}
	.about-description {
		text-align: center;
		font-family: $font__body;
		p {
			font-size: 14px;
			line-height: 1.6em;
			margin-bottom: 2em;
			text-align: center;
		}
	}
	.more-link {
		height: 40px;
		line-height: 37px;
		width: 130px;
		margin-top: 0;
	}
}

/*--------------------------------------------------------------
# Latest widget
--------------------------------------------------------------*/
@include widget_class("latest");

/*--------------------------------------------------------------
# Popular widget
--------------------------------------------------------------*/
@include widget_class("popular");

/*--------------------------------------------------------------
# Recent Comments widget
--------------------------------------------------------------*/
@include widget_class("comments");
.glimmer-recent-comments .comments-image {
	.fit-img img {
        position: absolute!important;
        width: 100%;
        height: 100%;
        max-width: none!important;
        top: 50%;
        left: 50%;
        @include prefixed(transform,translate(-50%, -50%));
	}
}

/*--------------------------------------------------------------
# Categories And Archive Widget
--------------------------------------------------------------*/
.widget_categories,
.widget_archive {
	ul li {
		font-size: 15px;
		color: $color__black;
		display: block;
		line-height: 1em;
		padding-top: 18px;
		margin-top: 20px;
		border-top: 1px solid $color__border-one;
		border-bottom: 0 none !important;
		@include prefixed(transition, all .25s ease-in 0s);
		position: relative;
		ul {
			padding-left: 15px;
		}
		.count {
			background: $color__background-main;
			position: absolute;
			right: 0;
			top: 12px;
			padding: 4px 15px 10px;
			font-weight: bold;
		}

		&:hover > .count{
			color: $color__white;
		}
		&.current-cat, &.current-cat-parent {
			> .count{
				color: $color__white;
			}
		}	
	}
	> ul > li:first-child {
		border: 0 none;
		padding-top: 0;
		margin-top: 0;
		> .count {
			top: -6px;
		}
	} 
}

/*--------------------------------------------------------------
# TagCloud Widget
--------------------------------------------------------------*/
.widget_tag_cloud {
	.tagcloud {
		margin-bottom: -2px;
		a {
			border: 1px solid $color__border-four;
			display: block;
			color: $color__black;
			float: left;
			font-size: 12px !important;
			font-weight: normal;
			line-height: 1.4em !important;
			margin-bottom: 5px;
			margin-right: 5px;
			padding: 6px 17px;
			position: relative;
			text-decoration: none;
			white-space: nowrap;
			letter-spacing: 0.05em;
			@include prefixed(transform, translateZ(0));
			@include prefixed(backface-visibility, hidden);
			@include prefixed(transition, all 0.2s linear 0s);
			&:hover {
				color: $color__white;
			}
		}
	}
}

/*--------------------------------------------------------------
# Follow Us Widget
--------------------------------------------------------------*/
.follow-us-area {
	margin: 0 auto -7px;
	text-align: center;
	.follow-link .fa {
		border: 1px solid $color__border-four;
		color: $color__meta;
		height: 35px;
		line-height: 2.8em;
		margin: 0 3px 9px;
		font-size: 0.8em;
		display: inline-block;
		text-align: center;
		width: 35px;
		&:hover {
			color: $color__white;
		}
	}
}
/*--------------------------------------------------------------
# Login Widget
--------------------------------------------------------------*/
.glimmer-login-form {
	font-family: $font__body;
	.left-thumb {
		float: left;
		margin-right: 15px;
		width: 85px;
	}
	.right-details {
		display: inline-block;
		font-size: 15px;
	}
	.right-details p {
		margin-top: -5px;
		margin-bottom: 0;
	}
	.right-details > a {
	   	display: block;
	   	font-size: 13px;
	   	color: $color__meta-widget;
	}
	.login-username {
		margin-bottom: 5px;
	}
	.login-password,
	.login-remember,
	.login-submit {
		margin-bottom: 15px;
	}
	.login-remember {
		float: right;
		margin-top: 4px;
	}
	#user_login,
	#user_pass {
		border: 1px solid $color__border-one;
		line-height: normal;
		padding: 10px;
		width: 100%;
	}
	label {
		line-height: 32px;
		font-weight: normal;
		color: $color__meta-widget;
	}
	#rememberme {
		margin-right: 3px;
	}
	> a {
		color: $color__meta-widget;
	}
	.lost-pass {
		margin-bottom: 0;
		color: $color__meta-widget;
	}
	#wp-submit.button-primary {
		padding: 10px 30px;
	}
}
/*--------------------------------------------------------------
# About And Contact Widget
--------------------------------------------------------------*/
.widget_glimmer_aboutus_contact {
	.about-contact-area {
		p {
			font-family: $font__body;
			font-size: 15px;
			margin-bottom: 15px;
		}
		.about-mail {
			font-family: $font__body;
			border-top: 1px solid $color__border-five;
			padding: 1.198em 0 0;
			margin-top: 1.7em;
			li {
				border: 0;
				padding-top: 0.25em;
				a, span {
					font-size: 14px;
					font-weight: bold;
				}
			}
			li:first-child {
				vertical-align: middle;
				a:last-child {
					margin-left: 0.8em;
					&:before {
						content: "-";
						padding-right: 1em;
					}
				}
			}
			i {
				margin-right: 10px;
				vertical-align: middle;
				&.fa-mobile {
					font-size: 1.563em;
					position: relative;
					top: -1px;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
# Search Widget
--------------------------------------------------------------*/
.widget_search {
	.input-group .form-controller {
		display: table-cell;
		font-family: $font__body;
	}
	.form-controller {
		height: 43px;
	}
	button {
		@include prefixed(border-radius, 0);
		padding: 0.75em 1em;
	}
	.btn-search {
		i {
			position: relative;
			top: -1px;
			vertical-align: middle;
		}
	}
}
/*--------------------------------------------------------------
# Advertisement Widget
--------------------------------------------------------------*/
.widget_glimmer_advertisement {
	.advertisement-img img {
		margin: auto;
	}
}

/*--------------------------------------------------------------
# Calender Widget
--------------------------------------------------------------*/
.widget_calendar {
	table {
		margin: 0;
	}
	td,
	th {
		font-size: 0.8em;
		line-height: 2.555em;
		text-align: center;
		padding: 0;
	}	
	caption {
		font-weight: bold;
		text-align: center;
		color: $color__white;
		margin: 0;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		padding: 0.5em 1em;
	}
	tbody a {
		-webkit-tap-highlight-color: rgba($color__white, 0.3);
		color: $color__white;
		display: block;
		font-weight: bold;
		&:hover, &:focus {
			color: $color__white;
		}
	}
}

/*------------------------------------------------------------------------
# Links, Meta, NavMenu, Pages, Recent Comment, Recent Entries  Widget
-------------------------------------------------------------------------*/
.widget_links a,
.widget_meta a,
.widget_nav_menu .menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a {
	border: 0;
}
.widget_recent_comments {
	.recentcomments a {
		&:nth-child(2), 
		&:nth-child(3),
		&:nth-child(4) {
			&:before {
				content: "";
				margin-right: 0;
			}
		}
	}
}
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries {
	font-size: 15px;
	a {
		border: 0;
		text-decoration: none;
	}
	ul {
		list-style: none;
		margin: 0;
		li {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px dotted $color__border-one;
			border-bottom: 0 none;
			span:before,
			a:before {
				content: "\f054";
				font-family: FontAwesome;
				margin-right: 1em;
				font-size: 0.55em;
				vertical-align: middle;
				position: relative;
				top: -1.5px;
				left: 0;
				@include prefixed(transition, left 0.35s ease-in);
			}
			span > a:before {
				content: "";
				margin-right: 0;
			}
			span:hover,
			a:hover {
				&:before {
					left: 5px;
				}
			}
		}	
	}
	> ul > li:first-child {
		margin-top: 0;
		padding-top: 0;
		border-top: 0 none;
	}
}

.widget_nav_menu .sub-menu,
.widget_pages .children {
	border: 0;
	margin: 0 0 0 1em;
}
.widget_recent_entries .post-date {
	display: block;
}

/*--------------------------------------------------------------
# RSS Widget
--------------------------------------------------------------*/
.widget_rss {
	ul {
		list-style: none;
		margin: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	li {
		margin-bottom: 1.6em;
		&:last-child {
			margin-bottom: 0;		
		}
	}
	.rsswidget {
		border: 0;
		font-weight: 700;
	}
	.rsswidget img {
		margin-top: -4px;
	}
	.rss-date, cite {
		font-size: 0.8em;
		font-style: normal;
		display: block;
		line-height: 2;
		opacity: 0.8;
	}
}

/*--------------------------------------------------------------
# Text Widget
--------------------------------------------------------------*/
.widget_text {
	text-align: center;
	img {
		margin: auto;
	}
}
.textwidget > :last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Twitter Widget Plugin
--------------------------------------------------------------*/
.tp_recent_tweets {
	li {
	  	padding-bottom: 10px !important;
	  	background-image: none !important;
	  	float: none;
	  	letter-spacing: 0.03em;
		span {
		  	font-weight: 400;
		  	font-size: 14px;
		  	font-style: italic;
			a:hover {
			  	text-decoration: underline;
			}
		}
		.twitter_time {
			display: block;
  			margin-top: 0.47em;
			&:before {
			    content: "\f099";
			    font-family: FontAwesome;
			    font-size: 1.25em;
			    padding-right: 0.5em;
			    font-style: normal;
			}
		}
		&:last-child {
			padding-bottom: 0 !important;
		}
	}
}

/*--------------------------------------------------------------
# Email Subscribe Widget
--------------------------------------------------------------*/
.newsletter-area {
	font-family: $font__body;
	.form-newsletter {
		p {
			margin-bottom: 10px;
		}
		.form-controller {
			background: transparent;
			border-color: $color__border-five;
			height: 42px;
		}
		.btn {
			border: none;
		}
		.pad-left {
			padding-left: 5px;
		}
		.pad-right {
			padding-right: 5px;
		}
		#mc-embedded-subscribe {
			background: transparent;
			border: 1px solid $color__border-five;
			display: block;
			width: 100%;
			color: $color__footer;
			font-weight: normal;
		}
		.mce_inline_error {
			margin-bottom: 8px;
			color: #aa1515;
			font-size: 13px;
			&.form-controller {
				margin-bottom: 0;
			}
		}
	}
	#mce-success-response {
		margin-top: 10px;
		color: green;
		font-size: 13px;
	}
	#mce-responses {	
		.response {
			margin-top: 10px;
			font-size: 13px;
		}
	}
}
/*--------------------------------------------------------------
# Flickr Widget Plugin Fix
--------------------------------------------------------------*/
ul.flickr li, 
.widget ul.flickr li {
	margin: 2px!important;
	border-bottom: none;
}
