// Initial color
$color__white: #ffffff;			   // White
$color__black: #000000;			   // Black
$color__background-main: #f7f7f7;  // Post area background
$color__footer-bg: #222222;  	   // Footer area background

$color__background-ins: #fff9c0; 
$color__text-screen: #21759b;

//Text color
$color__text-main: #646464; 		// body text main color
$color__heading: #3d3d3d; 			// Heading color
$color__menu-text: #282828;			// Menu text color
$color__widget-text: #464646;		// Widget text color
$color__meta: #b3b3b3;				// Post meta color
$color__meta-footer: #515151;		// Post Footer meta color
$color__meta-widget: #8b8b8b;		// Post Footer meta color
$color__tagcloud: #464646;			// Post Footer meta color
$color__footer: #7e7e7e;			// Post Footer text-color

//border color
$color__border-one: #ebebeb; 		// Widget. Feature background Stock, Read more border 
$color__border-two: #e1e1e1; 		// featured and trending border
$color__border-three: #d2d2d2; 		// Menu after content color
$color__border-four: #f0f0f0;		// Post heading, widget border-bottom, and tag meta border
$color__border-five: #646464;		// Footer Widget border

$color__border-dark: #d6d6d6;
$color__border-dark-two: #dcdcdc;	// For Menu border bottom
$color__border-input: #ccc;
$color__border-abbr: #666;

//Theme and other color
$color__theme-main: #9bc6b2;  		// Theme and hover color
$header__footer-bg: #f7faf9;		// For Header And Footer And Menu Background

$morelink__hover_color: #b1d8c6;