// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}


// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


//Transition Ease
@mixin transition-ease($type, $duration-start, $animation, $duration-end) {
	  -webkit-transition: $type $duration-start $animation $duration-end;
	     -moz-transition: $type $duration-start $animation $duration-end;
	       -o-transition: $type $duration-start $animation $duration-end;
	      -ms-transition: $type $duration-start $animation $duration-end;
	          transition: $type $duration-start $animation $duration-end;
}

//Transition menu
@mixin transition-menu-pd() {
-webkit-transition: padding .5s ease, color 100ms linear, background-color .25s ease-out;
		transition: padding .5s ease, color 100ms linear, background-color .25s ease-out;		
}

@mixin transition-menu-mr() {
-webkit-transition: margin .5s ease, color 100ms linear, background-color .25s ease-out;
		transition: margin .5s ease, color 100ms linear, background-color .25s ease-out;	
}

