.featured-area {
	background: $color__background-screen;
	padding: ($site__base_line * 3) 0 floor($site__base_line * 3.8);
	.features-slide {
		overflow: hidden;
	}
	.post-title {
		font-style: italic;
		border-bottom: 1px solid $color__background-hr-two;
		padding-bottom: 0.8em;
		font-weight: 300;
		font-size: 2.441em;
		margin-top: 0;
		line-height: 1.45;
		margin-left: 2px;
	}
	ul, ol {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		
	}
	.featured-description {
		padding-top: 1.2em;
		.button {
			margin-top: 0.8em;
		}
	}
	.featured-image {
		height: auto;
		position: relative;
		overflow: hidden;
		img {
			margin: auto;
			
		}
	}
	.carousel-indicators {
	  position: absolute;
	  bottom: -4em;
	  left: 0;
	  width: 100%;
	  padding: 0;
	  margin-left: 0;
	  text-align: center;
	}
	.carousel-indicators li {
	  padding: 0;
	  width: 15px;
	  height: 15px;
	  margin: 0 2px;
	  text-indent: -999px;
	  @include border-radius(50%);
	}
	.carousel-indicators .active {
	  width: 15px;
	  height: 15px;
	  margin: 0;
	}
}

@media(max-width: 992px) {
	.featured-image {
		margin-top: 1em;
	}	
}
