.format-aside {
	background: $color__background-screen;
	padding: 2em;
	.entry-title {
		display: none;
	}
	.entry-meta {
		border-color: $color__background-hr-two;
	}
	.entry-content {
		margin-bottom: 0;
		margin-top: 0.5em;
		p {
			font-weight: 400;
			font-size: 1.25em;
			margin-bottom: 0;
			line-height: 1.45;
			margin-top: 0;
		}
	}
	.cat-links,.comments-link,
	.view-link,.entry-title,
	.archive .format-aside .entry-title {
		display: none;	
	}
}

@media(max-width: 992px) {
	#sidebar {
		margin-top: 3em;
	}
}