.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comment-reply-title {
	font-weight: 400;
	margin-bottom: 1.2em;
	margin-left: 0.6em;
}

.logged-in-as {
	margin-bottom: 1em;
	margin-left: 1em;
}

.comments-area {
	.comment-list, .children {
		list-style: none;
		padding: 0;
	}
	.comments-title {
		font-size: 1.25em;
	}
	.comment-list {
		margin-top: 2em;
	}
	.comment-body {
		overflow: hidden;
	}
	.author-img {
		height: 90px;
		margin-right: 20px;
		overflow: hidden;
		position: relative;
		width: 90px;
		float: left;
		display: inline-block;
	}
	.date {
		display: inherit;
		font-size: 13px;
		color: $color__sub;
	}
	.reply {
		margin: 0.6em 0 1.5em;
	}
	.comment-details {
		display: table-cell;
		vertical-align: top;	
	}
	.comment-details {
		width: 1070px;
		overflow: hidden;
	} 

	.comment-content {
		border: 1px solid $color__background-hr;
		padding: 10px;
		p {
			margin-bottom: 0;
		}
	}

	.comment-metadata {
	    margin-bottom: 8px;
	}

	.children {
		margin-left: 108px;
	}
	#contact_form {
		p textarea {
			margin-bottom: -0.5em;
		}
		.form-submit {
			margin-left: 1em;
			#submit {
				margin-top: 0.5em;
			}
		}
	}
}

@media(max-width:768px) {
	.children {
		margin-left: 40px !important;
	}
	.box .children {
		margin-left: 26px !important;
	}
}
