#content {
	padding: ($site__base_line * 3) 0;
}

.page-header {
	margin-top: 0;
	margin-bottom: 2.2em;
	background: $color__background-aside;
	text-align: center;
	padding: 2em;
	h1 {
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 1.953em;
	}
	.taxonomy-description {
		font-size: 0.9em;
		p {
			margin-bottom: 0;
		}
	}

}
body.page {
	margin-bottom: 0;
}
.post, .page {
	margin-bottom: 2.2em;
	&:after, &:before {
		content: "";
		display: table;
		clear: both;
	}
	.post-thumbnail {
		margin-bottom: $site__base_line;
		position: relative;
		overflow: hidden;
		img {
			-webkit-transition: -webkit-transform .25s ease-in-out;
			        transition: transform .25s ease-in-out;
		}
	}
	img {
		height: auto;
		margin: auto;
		max-width: 100%;
		display: block;

	}
	&.single-post {
		margin-bottom: 0;
	}
}

.image-extra {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	overflow: hidden;
	text-align: center;
	opacity: 0;
	background-color: rgba(128, 185, 46, 0.5);
	-webkit-transition: opacity .24s ease, background-color .45s ease;
	        transition: opacity .24s ease, background-color .45s ease;
}

.extra-content {
	display: table;
	overflow: hidden;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.inner-extra {
	display: table-cell;
	margin: 0;
	padding: 0 10px;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.link-icon .fa,
.plus-icon .fa {
	display: inline-block;
	border: 1px solid $color__white;
	color: $color__white;
	width: 50px;
	height: 50px;
	line-height: 3.3;
	@include border-radius(50%);
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.single-image.link-icon .fa {
	-webkit-transform: translateX(-300%);
	        transform: translateX(-300%);
	&:hover {
		background-color: $color__white;
	}
}
.single-image.plus-icon .fa {
	-webkit-transform: translateX(300%);
	        transform: translateX(300%);
	&:hover {
		background-color: $color__white;
	}
}

.post-thumbnail:hover {
	.image-extra {
		opacity:  1;
	}
}

.post-thumbnail:hover .link-icon .fa,
.post-thumbnail:hover .plus-icon .fa {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}
.sticky {
	display: block;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.7em 0 1.5em;
	a {
		&:hover {
			text-decoration: underline;
		}
	}
	.more-link:hover {
		text-decoration: none;
	}
}

.entry-footer {
	border-bottom: 1px solid $color__background-hr;
	padding-bottom: 10px;
	font-weight: 400;
	display: block;
	a {
		padding: 0 5px;
	}
	.cat-links > {
		a {
			color: $color__text-main;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.share-link {
		i {
			font-size: 18px;
		}
	}
}
.page-links {
	clear: both;
	font-weight: 500;
	margin: 0 0 1.3em;
	a {
	  padding: 8px 12px;
	  border: 1px solid $color__theme-main;	
	  &:hover {
		background: $color__theme-main;
		border-color: $color__theme-main;
		color: $color__white;
		text-decoration: none;	  	
	  }	
	}
}

.format-link {
	color: $color__white;
	position: relative;
	padding: 2em 1em;
	.entry-header {
		padding: 1.3em 0 1.3em 7em !important;

		&:before {
			content: "\e603";
			font-family: 'candid';
			position: absolute;
			font-size: 3em;
			top: 1.4em;
			left: 1em;
		}
		a {
			color: $color__white;
			&:hover {
				text-decoration: underline;
			} 
		}
		.entry-title {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 0;
			font-weight: 500;
		}
		.entry-link {
			font-weight: 400;
		}
	}
}

.format-quote {
	.entry-title,.entry-meta {
		display: none;
	}
	background: $color__background-screen;
	padding: 2.5em 3em 3em;
	.entry-content {
		position: relative;
		margin: 0;
		padding-left: 10px;
		padding-bottom: 0.3em;
		&:before {
			content: "\e604";
			font-family: 'candid';
			position: absolute;
			font-size: 2em;
			color: $color__text-main;
			left: 0;
			top: 0;
		}
		&:after {
			content: "\e605";
			font-family: 'candid';
			position: absolute;
			font-size: 2em;
			color: $color__text-main;
			right: 0;
			bottom: 0;
		}
		p, span {
			padding-left: 2em;
			color: $color__text-main;
		}
		p {
			font-size: 1.25em;
			font-weight: 500;
			font-style: italic;
			padding-top: 20px;
			margin-bottom: 15px;
			line-height: 1.45;
		}
		span {
			font-style: italic;
			font-weight: 500;
			&:before {
				content: "--";
				margin: 0 5px 0;
			}	
		}
	}
}

.share-link {
	float: right;
}

.boxed {
	background: $color__white;
}
.box {
	
	.post, .page {
		border: 1px solid $color__background-hr;		
		background: $color__white;
	}
	.page-header {
		background: $color__white;
		border: 1px solid $color__background-hr;
	}
	.post-thumbnail {
		margin-bottom: 0; 
	}
	.entry-header,.entry-content {
		padding: 0 2em;
	}
	.entry-header {
		padding-top: 1.5em;
	}
	.entry-content {
		padding-bottom: 0.3em;
	}
	.entry-footer {
		border: medium none;
	}
	.format-quote, .format-aside {
		background: $color__white;
	}
	.widget {
		background: $color__white;
	}
	.format-link {
		.entry-header {
			padding-left: 6em;
		}
	}
	.format-quote .entry-content {
		&:before, &:after, p, span {
			color: $color__text-main;	
		}
	}
	.format-link .entry-header:before {
	  top: 1.5em;
	}
	.format-aside {
		padding: 1.2em 0;
		.entry-header {
			padding-top: 0 !important;
		}
		.entry-meta {
			padding-top: 1em;
		}
	}
	.format-quote {
		.entry-content p, 
		.entry-content span {
			padding-left: 1em;
		}
	}
	.paging-navigation-post {
    	padding: 0 0 1em;
    	margin-top: 2.5em;
 		.nav-previous, .nav-next {
 			background: $color__background-aside
 		}
    	&:before, &:after {
    		margin-top: 13px;
    		width: 40%;
    	}
	}
	.paging-navigation-post {
		position: relative;
		.nav-links:before {
		    margin-top: 11px;	
		}
		.nav-links:after {
		    margin-top: 11px;	
		}
	}
	.author-info {
		background: $color__white;
		margin-top: 0.8em;
		#author-img {
			background: $color__white;	
			border: 1px solid $color__background-hr;
		}
	}
	#related-post {
		background: $color__white;
		padding: 0.5em 2em 0;
		margin-top: 2em;
		.post {
			border: none;
		}
		.post-thumbnail {
			margin-bottom: $site__base_line;
		}		
	}
	.comments-area {
		background: $color__white;
		border: 1px solid $color__background-hr;
		padding: 0.5em 2em 1em;
		margin-top: 2em;

	}  
	.no-results .page-content {
		border: 1px solid $color__background-hr;
	}
}
@media (max-width: 769px) {
	.box {
		.nav-links:before {
		   	height: 0;
		}
		.nav-links:after {
		    height: 0;	
		}
		.paging-navigation-post {
	 		.nav-previous {
	 			float: left;
	 		}
	 		.nav-next {
	 			float: right;
	 		}
		}
	}
}

@media (max-width: 767px) {
	.box .entry-header {
		padding: 1em 1em 0.3em !important;
	}
	.box .entry-content {
		padding: 0 1em 0.3em !important;
	}
	.box .paging-navigation-post {
		padding: 0 0 2em;
	}
	.box .paging-navigation-post .nav-previous {
		margin-right: 0;
	}
	.box .paging-navigation-post .nav-next {
		margin-left: 0;
	}
	.box .paging-navigation-post::before,
	.box .paging-navigation-post::after {
		background: transparent;
	}
	.box #related-post {
		padding: 0.5em 1em 0;		
	}
	.box .comments-area {
		padding: 0.5em 1em 1em;
	} 	
}
@media (max-width:455px) {
	.share-link {
		float: none;
	}
}

@media (max-width: 380px) {
	.box blockquote {
		padding: 3em;
	}
}



