@media (max-width: 991px) {
	#contact_form {
		.form-submit {
			margin-bottom: 0;
		}
	}
	.comment-respond .pd-right {
		padding-right: 15px;
	}
	.comment-respond .pd-left {
		padding-left: 15px;
	}
	.contact-respond {
		.padding-right {
			padding-right: 15px;
		}
		.padding-left-right {
			padding-right: 15px;
			padding-left: 15px;
		}
		.padding-left {
			padding-left: 15px;
		}
	}
}
@media(max-width:768px) {
	.children {
		margin-left: 40px !important;
	}
	.content-area .format-quote .quote-thumb .quote-content {
		padding: 2.8em 1em 1.2em !important;
	}
	.content-area .format-quote .quote-thumb .quote-content::before {
		top: 16px;
	}
}
@media (max-width: 482px) {
	.content-area {
		.post, .page {
			padding: 1em;
		}
		.format-quote blockquote p:first-child {
			margin-top: 2.5em !important;
		}
	}
}