/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
	border: none;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";


