<div class="widget widget_flicker clearfix hidden"> <div class="widget-title-area"> <h5 class="widget-title"><span>Flicker Images</span></h5></div> <div class="about-contact-area"> <ul class="flickr josephine_flickr"></ul> </div> </div>