<aside class="widget widget_nav_menu hidden"> <div class="widget-title-area"> <span class="widget-title-inner"></span> <h5 class="widget-title"><span class="widget_nav_menu_title">Navigation</span></h5><div class="hr-line"></div> </div> <ul class="menu"> {{navigation}} </ul> </aside>