button {
    font-size: 11px;
    padding: 12px 30px;
	color: $color__white;
	line-height: normal;
	@include prefixed(transition, all .25s ease);
}
input[type="button"] {
	@extend button;
}
input[type="reset"] {
	@extend button;
}
input[type="submit"] {
	@extend button;
	font-weight: bold;
	border: 1px solid;
	text-transform: uppercase;
	background: $color__white;
	color: $color__text-main;
	&:hover {
		color: $color__white;
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	&:focus {
		outline: none;
	}	
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button {
	a {
		color: $color__white;
	}
}
.search-form, .searchform {
	.btn {
		@include prefixed(border-radius, 0);
		&:hover {
			color: $color__white;
			text-decoration: none;		
		}
		&:focus {
			background: transparent;
			color: $color__white;
			outline: 0 none;
		}
		&:active:focus {
			background: transparent;
			color: $color__white;
			outline: 0 none;
		}
	}
}
.btn {
	@include prefixed(border-radius, 0);
}
.btn-default {
	color: $color__text-main;
	&:hover {
		color: $color__text-main;
	}
}

.more-link {
	font-size: 11px;
	font-weight: bold;
	width: 175px;
	height: 50px;
	line-height: 46px;
	text-transform: uppercase;
	word-spacing: 0.2em;
	color: $color__heading;
	display: table;
	margin: 30px auto 0;
	background-color: #eeeeee;
	vertical-align: middle;
	position: relative;
	@include prefixed(backface-visibility, hidden);
	@include prefixed(transition, color 0.45s ease);
	> span {
	    background-color: #fff;
	    text-align: center;
	    display: block;
	    margin: 2px;
	    position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	}
	&:hover, &:focus, &:active:focus {
		text-decoration: none !important;
	}
	&:before, &:after {
		position: absolute;
		content: "";
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
		opacity: 0;
		@include prefixed_double(transition, opacity 0.35s, transform 0.50s);
	}
	&:before {
		border-bottom: 2px solid;
		border-top: 2px solid;
		@include prefixed(transform, scale(0,1));
	}	
	&:after {
		border-right: 2px solid;
		border-left: 2px solid;
		@include prefixed(transform, scale(1,0));
	}
	&:hover {
		opacity: 1;
		@include prefixed(transition, opacity 0.2s);
	}
	&:hover:before, &:hover:after {
		opacity: 1;
		@include prefixed(transform, scale(1));
	}
}
.comment-reply-link {
	padding: 6px 22px;
	margin-top: 22px;
	font-size: 11px;
	line-height: normal;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid;
	&:hover {
		color: $color__white;
	}
}
.comment-navigation {
	.nav-links {
		a {
			background: $color__white;
			display: inline-block;
			padding: 0.5em 1.8em;
			letter-spacing: 0.02em;
			&:hover {
				color: $color__white;
			}
		}	
	}
}
.go-button {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	width: 192px;
	height: 40px;
	line-height: 40px;
	border: 1px solid;
	&:hover {
		color: $color__white;
	}
}

.entry-content {
	.btn {
		@include prefixed(border-radius, 1px);
		letter-spacing: 0;
		line-height: 1.7em;
	}
}

.mfp-wrap {
	button:hover {
		background: transparent !important;
	}
}