.widget {
	margin: 0 0 30px; 
	border: 1px solid $color__border-one;
	background: $color__white;
	padding: 30px; 
	font-family: $font__heading;
	select {
		width: 100%;
		border: 1px solid $color__border-one;
		padding: 0.4em 0.8em;
		outline: none;
	}
	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul li {
		border-bottom: 1px solid $color__border-one;
	}
	.widget-title-area {
		position: relative;
		.hr-line {
			margin-top: 15px;
			margin-bottom: 30px;
		}
	}
	.widget-title {
		text-align: center;
		position: relative;
		text-transform: capitalize;
		margin-bottom: 0;
		margin-top: -15px;
		line-height: normal;
		> span {
		    position: relative;
		    //z-index: 3;
		    //display: inline-block;
		    //padding: 8px 30px;
		    //background-color: $color__white;
		    //border: 1px solid $color__border-four;
		    //border-top: 0;
		    //@include prefixed(box-shadow, 0 1px 2px rgba(0, 0, 0, 0.1));
		}
	}
	pre {
		padding: 0.5em
	}
	label {
		margin-bottom: 0;
		display: inline;
	}
	option {
		padding: 0.2em 1em;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		padding: 0.5em 1em;
		&:focus {
		 	box-shadow: none !important;
		}
	}
}