#glimmer-section_footer_social_link #add_0 {
	display: none !important;
}
/*top*/
.redux-glimmer-section-header_nav_top_icon, .redux-glimmer-section-header_nav_right_icon, .redux-glimmer-section-header_nav_bottom_icon, .redux-glimmer-section-header_nav_left_icon, .glimmer-section_header_nav_top_icon_url, .glimmer-section_header_nav_right_icon_url, .glimmer-section_header_nav_bottom_icon_url, .glimmer-section_header_nav_left_icon_url {
	border-bottom: none !important;
}

.glimmer-section_header_nav_top_icon_tooltip .redux_field_th, .glimmer-section_header_nav_top_icon_url .redux_field_th, #glimmer-section_header_nav_top_icon_url, #glimmer-section_header_nav_top_icon_tooltip, .glimmer-section_header_nav_right_icon_tooltip .redux_field_th, .glimmer-section_header_nav_right_icon_url .redux_field_th, #glimmer-section_header_nav_right_icon_url, #glimmer-section_header_nav_right_icon_tooltip, .glimmer-section_header_nav_bottom_icon_tooltip .redux_field_th, .glimmer-section_header_nav_bottom_icon_url .redux_field_th, .glimmer-section_header_nav_left_icon_tooltip .redux_field_th, #glimmer-section_header_nav_bottom_icon_url, #glimmer-section_header_nav_bottom_icon_tooltip, .glimmer-section_header_nav_left_icon_url .redux_field_th, #glimmer-section_header_nav_left_icon_url, #glimmer-section_header_nav_left_icon_tooltip {
	padding-top: 0px !important;
	margin-top: -5px !important;
}







