<!-- Footer
================================================== --> 
<footer id="colophon" class="site-footer">
    <div id="footer-top" class="instafeed_widget hidden">
        <div class="widget clearfix">
            <div class="widget-title-area">
                <h5 class="widget-title"><span class="instafeed_widget_title">Follow us on Instagram</span></h5> <!-- /.widget-title -->
            </div> <!-- /.widget-title-area -->
            <div id="instafeed"></div> <!-- /.instafeed-content -->
        </div> <!-- /.josephine_about_widget -->               
    </div><!-- #footer-top" -->

    <div id="footer-middle">
        <div class="container">
            <div class="row">
                    <script>
                        // Showing Widgets by order. Max three widgets allowed.
                        var i = 0;
                        for ( var key in Footer_Widget_Order ) {   
                            if (i === 3) { break; }
                            i++;       
                        
                            if ( Footer_Widget_Order[key] == "About_Me_Widget" ) {
                              document.write('{{^is "author"}}<div class="col-md-4">{{> "widgets/about-author-widget"}}</div>{{/is}}');
                            } else if ( Footer_Widget_Order[key] == "Latest_Posts_Widget" ) {
                              document.write('<div class="col-md-4">{{> "widgets/latest-posts-widget"}}</div>');
                            } else if ( Footer_Widget_Order[key] == "Tags_Widget" ) {
                              document.write('<div class="col-md-4">{{> "widgets/tags-widget"}}</div>');
                            } else if ( Footer_Widget_Order[key] == "Ads_Widget" ) {
                              document.write('<div class="col-md-4">{{> "widgets/ads-widget"}}</div>');
                            } else if ( Footer_Widget_Order[key] == "Social_Widget" ) {
                              document.write('<div class="col-md-4">{{> "widgets/social-widget"}}</div>');
                            } else if ( Footer_Widget_Order[key] == "Navigation_Widget" ) {
                              document.write('<div class="col-md-4">{{> "widgets/navigation-widget"}}</div>');
                            } else if ( Footer_Widget_Order[key] == "Facebook_Page_Widget" ) {
                              document.write('<div class="col-md-4">{{> "widgets/facebook-widget"}}</div>');
                            } else if ( Footer_Widget_Order[key] == "Twitter_Widget" ) {
                              document.write('<div class="col-md-4">{{> "widgets/twitter-widget"}}</div>');
                            } else if ( Footer_Widget_Order[key] == "Googleplus_Page_Widget" ) {
                              document.write('<div class="col-md-4">{{> "widgets/google-plus-widget"}}</div>');
                            } else if ( Footer_Widget_Order[key] == "About_Widget" ) {
                              document.write('<div class="col-md-4">{{> "widgets/about-info"}}</div>');
                            } else if ( Footer_Widget_Order[key] == "Mailchimp_Widget" ) {
                              document.write('<div class="col-md-4">{{> "widgets/newsletter"}}</div>');
                            } else if ( Footer_Widget_Order[key] == "Flickr_Widget" ) {
                              document.write('<div class="col-md-4">{{> "widgets/flickralbum"}}</div>');
                            } 
                        }   
                    </script>
            </div> <!-- /.row -->
        </div> <!-- /.container -->                     
    </div> <!-- #footer-middle -->

    <div id="footer-bottom">
        <div class="container">
            <div id="footer_copyright" class="copyright"></div> <!-- /.copyright -->
            <div id="footer_social" class="footer-social"></div> <!-- /.footer-social --> 
        </div> <!-- /.container -->
    </div> <!-- /#footer-bottom -->
    
</footer> <!-- #footer -->