<div class="preloader hidden" id="preloader">
    <div class="preloader-logo">
        {{#if @blog.logo}}
            <img class="img-responsive" src="{{@blog.logo}}" alt="{{@blog.title}}" />
        {{else}}
            <img class="img-responsive" src="{{asset "images/logo.png"}}" alt="{{@blog.title}}" />
        {{/if}}
    </div> <!-- /.preloader-logo -->

    <div class="loader">
        <script type="text/javascript">
            var preloader_animated_icon = Pre_Loader['animation_icon'];
            if ( preloader_animated_icon == 1 ) {
                var animated_icon =  "fa-spinner fa-pulse";
            } else if ( preloader_animated_icon == 2 ) {
                var animated_icon = "fa-spinner fa-spin";
            } else if ( preloader_animated_icon == 3 ) {
                var animated_icon = "fa-circle-o-notch fa-spin";
            } else if ( preloader_animated_icon == 4 ) {
                var animated_icon = "fa-refresh fa-spin";
            } else if ( preloader_animated_icon == 5 ) {
                var animated_icon = "fa-cog fa-spin";
            } else {
                var animated_icon = "";
            }
            
            document.write('<i class="fa '+animated_icon+'"></i>');
        </script>
    </div>  <!-- /.loader -->
</div> <!-- /.preloader -->

<script type="text/javascript">
    
    function getUrlParameterForPreloader(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    var preloader = getUrlParameterForPreloader('preloader');

    if ( preloader == "on" || Pre_Loader['show'] == true ) {
        document.getElementById("preloader").classList.remove("hidden");
    }

</script>

<!-- Header 
================================================== -->
<header id="masthead" class="site-header">
    <div class="header-mobile">
        <div class="container">
            {{#if @blog.logo}}
            <a class="site-logo-mobile" href="{{@blog.url}}"><img class="retina" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
            {{else}}
            <a class="site-logo-mobile" href="{{@blog.url}}"><img class="retina" src="{{asset "images/logo.png"}}" alt="{{@blog.title}}" /></a>
            {{/if}}
        </div> <!-- /.container -->             
    </div> <!-- /.header-mobile -->

    <div class="header-content center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{#if @blog.logo}}
                    <a id="site-logo-main" class="site-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
                    {{else}}
                    <a id="site-logo-main" class="site-logo" href="{{@blog.url}}"><img class="retina" src="{{asset "images/logo.png"}}" alt="{{@blog.title}}" /></a>
                    {{/if}}
                    <div class="search-social">
                        <div class="search-button-wrap">                                     
                            <button type="button" id="search-button" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                        <button class="share-button" aria-label="Toggle Navigation" type="button">
                        <i class="fa fa-share-alt"></i>
                        </button>
                        <div id="top-social"> </div> <!-- /.top-social -->  
                    </div> <!-- /.search-social -->
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.site-header -->

    <div id="page-search">
        <div id="search-close">&#x000D7;</div>
        <div class="container">
            <div class="search default">
                <form class="searchform">
                    <div class="input-group">
                        <input type="search" placeholder="Search..." class="form-control"  id="dsearch">
                        <span class="input-group-btn">
                        <button type="submit" id="search-submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <ul id="dsearch-result"></ul>
        </div>
    </div> <!-- Menu -->

    <div class="menucontent overlapblackbg"></div>

    <div class="menuexpandermain slideRight">
        <div class="mobile-search-button">
            <button type="button" id="mbsearch-button" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
        <a id="navToggle" class="animated-arrow slideLeft"><span></span></a>
        <span id="menu-marker">Menu</span>
    </div>

    <nav class="top-menu slideLeft clearfix">
        <div class="menu-wrapper">
            <div class="container">
                <div class="row">
                    <script type="text/javascript">
                        if ( dynamic_ghost_nav == true ) {
                            document.write('<ul class="mobile-sub menu-list">{{navigation}}</ul>');
                        } else {
                            document.write('{{> "navigation-custom"}}');                        
                        }
                    </script>
                    <div id="mobile-social">
                        <span>Follow us on-</span>
                    </div> <!-- /#mobile-social --> 
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.menu-wrapper -->
    </nav> <!-- /.menu  -->
</header> <!-- /.Header -->