#preloader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: $color__white;
	z-index: 999999;
}

#header {
	.site-header {
	    background-position: 50% 50% !important;
	    position: relative;
	}
	.overlay {
	    background: rgba(0, 0, 0, 0.4);
	    height: 100%;
	    position: absolute;
	    width: 100%;
	}
	#site-wraper {
		margin:0 auto;
		text-align: center;
		padding: floor($site__base_line * 4.6924) 0 floor($site__base_line * 3.38);
	}

	.site-branding {
		padding: 1em 3em;
		word-break: break-all;
	}

	#box {
		border: 1px solid $color__white;
		@include border-radius(10px);
		display: inline-block;
		position: relative;
		&:before {
			content: "\e602";
			font-family: 'candid';
			position: absolute;
			right: -41px;
			top: -3px;
			font-size: 2em;
			color: $color__white;
		}
		&:after {
			content: "\e601";
			font-family: 'candid';
			position: absolute;
			left: -41px;
			bottom: -2px;
			font-size: 2em;
			color: $color__white;
		}
	}
	.site-title {
		margin-top: 0;
		font-size: 4.5em;
		font-family: 'Pacifico', cursive;
		font-weight: 400;
		letter-spacing: 0.025em;
		line-height: 1.6;
		margin-bottom: 0;

		a {
			color: $color__white;
			display: inline-block;
		}
	}
	.site-description {
		font-weight: 500;
		font-size: 1.2em;
		font-style: italic;
		margin-bottom: 1.2em;
		margin-top: 0;
		line-height: 1.5;
		color: $color__white;
		&:before, &:after {
			content: "\f068";
			font-family: FontAwesome;
			margin: 0 5px;
			color: $color__white;
			vertical-align: middle;
		}
		
	}
}

@media (max-width: 410px) {
	#header {
		.site-branding {
			padding: 1em 2em;
		}
		#box {
			&:before {
				right: -14px;
				top: -7px;
				font-size: 1em;
			}
			&:after {
				left: -14px;
				bottom: -6px;
				font-size: 1em;
			}
		}
	}
}