.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment-reply-title {
	font-weight: bold;
	font-size: $heading__four;
	margin: 0 auto 45px;
	display: table;
	background: $color__white;
	&:before {
		background: $color__border-four;
		content: "";
		height: 1px;
		width: 100%;
		position: absolute;
		left: 0;
		top: 14px;
		z-index: 1;
	}
	span {
		position: relative;
		background: $color__white;
		z-index: 20;
	}
	span:before {
		margin-right: 10px;
		content: "\e603";
		font-family: 'glimmer';
		font-size: 15px;
	}
	span:after {
		margin-left: 10px;
		font-size: 15px;
		content: "\e600";
		font-family: 'glimmer';
	}
}
.cancel-comment-reply-link {
	bottom: -2px;
	display: inline-block;
	left: 0.6em;
	position: relative;
}
.logged-in-as {
	margin-bottom: 0.7em !important;
}
.comments-area {
	margin-top: 2.5em;
	.comment-list, .children {
		list-style: none;
		padding: 0;
	}
	.comments-title {
		font-size: $heading__four;
		font-weight: bold;
		margin: 0;
		text-align: center;
		position: relative;
		top: 14px;
		&:before {
			background: $color__border-four;
			content: "";
			height: 1px;
			width: 100%;
			position: absolute;
			left: 0;
			top: 50%;
			z-index: 1;
		}
		span {
			background: $color__white;
			z-index: 10;
	    	position: relative;
			&:before {
				margin-right: 10px;
				content: "\e603";
				font-family: 'glimmer';
				font-size: 15px;
			}
			&:after {
				margin-left: 10px;
				font-size: 15px;
				content: "\e600";
				font-family: 'glimmer';
			}
		}

	}
	.comment-list {
		margin-bottom: 45px;
		border: 1px solid $color__border-four;
		padding: 45px 30px;
		border-top: none;
	}
	.comment-body {
		overflow: hidden;
		margin-bottom: 45px;
		background: $color__white;
	}
	.comment-list > li.comment:last-child .comment-body {
		margin-bottom: 0;
	}
	.comment-author {
	    float: left;
	    margin-right: 20px;
	    width: 85px;
	}
	.author-img {
		padding-top: 100%;
		position: relative;
		@include prefixed(transform, translateZ(0));
		.avatar.photo {
		    left: 50%;
		    position: absolute;
		    top: 50%;
		    width: 100%;
		    height: 100%;
		    @include prefixed(transform, translate(-50%, -50%));
		    @include prefixed(border-radius, 10px);
		}
	}
	.date {
		display: block;
		font-size: 11px;
		color: #a0a0a0;
		margin-top: 5px;
	}
	.reply {
		margin-top: 20px;
	}
	.comment-details {
		@include table_display;	
	}
	.comment-details {
		width: 1070px;
		overflow: hidden;
	} 
	.comment-content {
		p {
			margin-bottom: 0;
			font-size: 14px;
			line-height: 22px;
		}
	}
	.comment-metadata {
	    margin-bottom: 0.5em;
	    .author {
	    	font-size: 16px;
	    }
	    .says, .comment-edit-link {
	    	color: #777;
	    }
	}
	.children {
		margin-left: 108px;
	}
	.comment-navigation {
		 margin-bottom: 3.5em;
		.nav-links {
			.nav-previous {
				float: left;
			}
			.nav-next {
				float: right;
			}
			span {
				font-size: 18px;
			}	
		}
	}
	.comment-respond {
		//background: $color__white;
		//border: 1px solid $color__border-four;
		//padding: 30px;
		position: relative;
	}
}
.comment-respond {
	p {
		margin-bottom: 1em;
	}
	.form-submit {
		margin-bottom: 0;
	}
	.pd-left {
		padding-left: 8px;
	}
	.pd-right {
		padding-right: 8px;
	}
	.comment-subscription-form {
		display: none;
	}
}