.sticky {
	display: block;
}
.hentry {
	margin: 0 0 1.9em;
}
.page-content {
	margin: 1.4em 0;
}
.entry-content {
	@extend .page-content;
}
.entry-summary {
	@extend .page-content;
}
.page-links {
	clear: both;
	margin: 0 0 2.1em;
}
/*--------------------------------------------------------------
# Page Heading
--------------------------------------------------------------*/
.header-title {
	text-align: center;
	margin-bottom: 2.9em;
	.section-title {
		margin: 0.3em 0 0.4em;
		text-transform: uppercase;
	}
}

/*--------------------------------------------------------------
# Post Meta
--------------------------------------------------------------*/
.entry-meta {
	color: $color__meta;
	font-size: 13px;
	a {
		color: inherit;
	}
	span:before {
		margin-right: 5px;
	}
}
.entry-date {
	font-size: 13px;
	color: $color__meta;
}
.post .entry-header .cat-links a:after {
    content: ", ";
}

.post .entry-header .cat-links a[href="/tag/sidebar-left/"]:after, .post .entry-header .cat-links a[href="/tag/sidebar-right/"]:after, .post .entry-header .cat-links a[href="/tag/full-width/"]:after {
    content: " ";
}

.post .entry-header .cat-links a:last-child:after {
    content: " ";
}

/*--------------------------------------------------------------
# Post Format
--------------------------------------------------------------*/
.content-area {
	.post {
		background: $color__white;
		border: 1px solid $color__border-four;
		position: relative;
		overflow: hidden;
		.post-thumb {
			overflow: hidden;
		}
	}
	.page {
		background: $color__white;
		border: 1px solid $color__border-four;
		position: relative;
		overflow: hidden;
		.post-thumb {
			overflow: hidden;
		}
		.post-status-wrapper {
			text-align: center;
			iframe {
				 margin: 10px auto !important;
			}
		}
		.page-share {
			text-align: center;
			padding: 0 30px 30px;
			span {
				font-size: 1.25em;
				font-style: italic;
				&:after {
					content: "-";
					position: relative;
					vertical-align: middle;
				}
			}
			a {
				padding: 0 5px;
			}
		}
	}
	// Gallery Post Format
	// ------------------------ 
 	.tag-gallery {
		.entry-content {
			margin-top: 30px;
		}
 	}
	// Link Post Format
	// ------------------------
	.post-link {
	    overflow: hidden;
	    position: relative;
	    z-index: 9;
	}
	.post-link-wrapper {
	    background-color: rgba($color__white, 0.8);
	    margin: 10px;
	    padding: 30px 15px;
	    position: relative;
	    text-align: center;
	    z-index: 9;
	    &:after {
		    border: 1px solid $color__white;
		    bottom: -5px;
		    content: "";
		    display: block;
		    left: -5px;
		    position: absolute;
		    right: -5px;
		    top: -5px;
		    z-index: -1;	
	    }
		.tb {
		    height: 100%;
		}
		.tb {
		    display: table;
		    table-layout: fixed;
		    width: 100%;
		}
		.tb-cell {
		    display: table-cell;
		    vertical-align: middle;
			> a {
				display: block;
				font-size: em(13px);
				font-style: italic;
				letter-spacing: 0.1em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}
		}
		h2 {
		    font-size: em(24px);
		    margin-top: 10px;
		    text-transform: uppercase;
		}
		.fa {
		    font-size: 18px;
		}
		~ .images {
			height: 100%;
			left: 0;
			padding-top: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: -1;
			overflow: hidden;
			@include prefixed(transform, translateZ(0px));
		}
	}
	.images img {
	    left: 50%;
	    max-width: none !important;
	    position: absolute !important;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    width: 100%;
	}
	// Quote Post Format
	// ------------------------
	.tag-quote {
		.entry-header {
		 	padding-bottom: 2px;
		    padding-top: 30px;
		}
		.entry-header > span {
			clear: both;
			color: #eaeaea;
			font-size: 30px;
		}
		.entry-title,
		.entry-meta {
			display: none;
		}
		.hr-line {
			margin-top: 15px;
		}
		.entry-content {
			margin: 0;
		}
		blockquote {
			margin-left: 0 !important;
			margin-bottom: 35px;
			margin-top: 0;
			border: 0;
			padding: 0;
			font-style: italic;
			font-size: 25px;
			position: relative;
			z-index: 100;
			text-align: center;
			&:before {
				content: "";
				display: block;
				height: auto;
				left: 0;
				right: 0;
				margin-top: 0;
				padding-top: 0;
				top: 0; 
			}
			p {
				color: #939393;
				padding: 0 1em;
				margin-bottom: 15px;
				position: relative;
				line-height: 1.5em;
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
				cite {
					margin-left: 0;
					padding-left: 0;
				}
			}
			cite, a, span {
			    padding-left: 10px;
				font-size: 0.8em;
				font-weight: 500;
				font-style: normal;
				position: relative;
			}
			cite::before {
			    content: "";
			    padding-right: 0;
			}
		}
		.author {
			font-style: italic;
			font-weight: bold;
			color: #a5a5a5;
			font-size: 14px;
			span {
				margin-right: 7px;
				position: relative;
				top: -1px;
			}
		}
	}
	// Status Post Format
	// ------------------------
	.tag-status {
		.post-status-wrapper {
			background-size: cover !important;
			padding: 60px 0;
			text-align: center;
			overflow: hidden;
			
			.embed, iframe, object {
				margin: 0 auto !important;
			}
		}
	}
	// Sticky Icon
	// ------------------------
	.sticky-icon {
		color: $color__white;
		height: 40px;
		line-height: 54px;
		position: absolute;
		right: -32px;
		text-align: center;
		top: -12px;
		transform: rotate(45deg);
		width: 80px;
		z-index: 30;
	}
}