/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:hover,
	&:active,
	&:focus {
		background-color: $color__background-screen;
		border-radius: 3px;
		clip: auto !important;
		color: $color__text-screen;
		display: block;
		font-size: 0.8em;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Breadcrumb */
.breadcrumb {
	display: inline-block;
	padding: 0;
	margin-bottom: 1.438em;
	@include prefixed(border-radius, 0);
	font-family: $font__sub;
	font-size: 0.8em;
	li:first-child {
		color: $color__white;
		padding: 0.2em 1em;
	}
	> li + li {
		font-family: $font__main;
		font-style: italic;
	}
	> li + li::before {
		content: "\e605";
		font-family: 'glimmer';
		font-style: normal;
		font-size: 0.6em;
		margin: 0 0.6em;
	    padding: 0;
	}
	> li + li + li::before {
	    content: "";
	    margin: 0;
	}
	.divider {
		margin: 0 5px;
		color: $color__text-main;
	}
	.active {
		padding-right: 1em;
	}
	.paged {
		padding-right: 10px;
		&:before {
			content: "--";
			left: -6px;
			padding-right: 5px;
			position: relative;
		}
	}
}