::-moz-selection {
  color: $color__white;
  text-shadow: none;
}
::selection {
  color: $color__white;
  text-shadow: none;
}
p { 
	margin-bottom: 1.3em;
	line-height: 1.73em;
	letter-spacing: 0.05em;
}
blockquote {
	margin: 0 0 1.3em;
}
address {
	margin: 0 0 1.3em;
}
dfn {
	font-size: 1em;
}
em {
	@extend dfn;
	font-style: italic;
}
cite {
	@extend em;
}
i {
	@extend em;
}
code {
	@extend dfn;
}
kbd {
	@extend dfn;
}
tt {
	@extend dfn;
}
var {
	@extend dfn;
}

abbr {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}
acronym {
	@extend abbr;
}
mark {
	background: $color__background-ins;
	text-decoration: none;
}
ins {
	@extend mark;
}
big {
	font-size: 125%;
}
pre {
	@extend dfn;
	background: $color__background-main;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
.dropcap::first-letter {
	display: block;
	float: left;
	margin: 8px 15px 0 0;
	font-weight: bold;
	font-size: 48px;
	color: #ccc;
}