h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2em;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.8em;
}

small {
	font-size: 0.8em;
} 

.font_small {
	@extend small;
}