html {
	font-size: 1em;
}

body {
  background-color: white;
  font-family: $font__main;
  font-size: 1em;
  font-weight: 400;
  line-height: $font__line-height-body;
  color: $color__text-main;
}

@import "headings";

@import "copy";