/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
.infinite-scroll.paging-navigation {
	display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .never ending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

#infscr-loading {
	display: table;
	margin: auto;
	position: relative;
	z-index: 999;
	img {
		display: table;
		margin: auto;
	}
}