/*--------------------------------------------------------------
# WordPress Default Gallery
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin-bottom: 30px;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}
/*--------------------------------------------------------------
# Post-gallery One
--------------------------------------------------------------*/
%gallery-essential {
	.owl-controls {
		margin: 0;
		padding: 0;
	}
	.owl-controls .owl-buttons div {
	   	padding: 16px;
	   	position: absolute;
	   	background: $color__white;
	   	top: 50%;
	   	margin: auto;
		@include prefixed(transform, translate(0, -50%));
		i {
			font-size: 12px;
			vertical-align: middle;
		}
	}
	.owl-controls .owl-buttons .owl-prev {
		float: left;
		left: 0;
		@include prefixed(border-radius, 0);
	}
	.owl-controls .owl-buttons .owl-next {
		float: right;
		right: 0;
		@include prefixed(border-radius, 0);	
	}
}
.gallery-one {
	.item {
		text-align: center;
		img {
			margin: auto;
			height: auto;
			width: 100%;
			display: block;
			vertical-align: middle;
		}
	}
	@extend %gallery-essential;
}
/*--------------------------------------------------------------
# Post-gallery Two
--------------------------------------------------------------*/
.gallery-two {
	.full-view {
		.item {
			text-align: center;
			img {
				margin: auto;
				height: auto;
				width: 100%;
				display: block;
				vertical-align: middle;
			}
		}
		@extend %gallery-essential;
	}
	.list-view {
		margin-top: 2px;
		.active:first-child,:not(.active) +.active {
			.item {
				margin-left: 0;
			}
		}
		.active:last-child,:not(.active) {
			.item {
				margin-right: -2px;
			}
		}
		.item {
		    padding: 0;
		    margin: 0 6px;
		    cursor: pointer;
		    > img {
				min-height: 90px;
				vertical-align: middle;
		    }
		}
		.owl-controls {
			margin: 0;
			padding: 0;
		}
		.owl-controls .owl-buttons div {
		   	position: absolute;
		   	top: 50%;
		   	opacity: 0.6;
			overflow: hidden;
			opacity: 1;
			min-height: 90px;
			line-height: 7.5em;
			margin: auto;
			@include prefixed(transform, translate(0, -50%));			
			@include prefixed(border-radius, 0);
			i {
				font-size: 14px;
				color: $color__white;
				vertical-align: middle;
			}
		}
		.owl-controls .owl-buttons .owl-prev {
			left: 0;
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				@include prefixed(transform, translate(-50%, -50%));
			}
		}
		.owl-controls .owl-buttons .owl-next {
			right: 0;
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				@include prefixed(transform, translate(-50%, -50%));
			}
		}
		.owl-wrapper-outer, 
		.owl-wrapper {
			height: 90px;
			overflow: hidden;
		}
	}	
}
/*--------------------------------------------------------------
# Post Gallery Tiled
--------------------------------------------------------------*/
.glimmer-tiled-gallery {
    z-index: 8;
    &:after {
	    content: '';
	    display: block;
	    position: absolute;
	    width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    border: 1px solid rgba(0, 0, 0, 0.1);
	    border-top-color: $color__border-four;
	    margin: auto;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: -1;
	    @include prefixed(backface-visibility, hidden);
	    @include prefixed(animation, loadingSlider 1s linear infinite);	
    }
    &.justified-gallery:after {
	    display: none;
	}
	.spinner {
	    display: none!important;
	}
	.item {
	    opacity: 0;
	}
	.item+.item {
	    display: none;
	}
	.item.jg-entry {
	   	opacity: 1;
	}
	.item.jg-entry+.item {
	    display: block;
	}
	&.tiled-gallery-mobile .item {
	    opacity: 1;
	}
	&.tiled-gallery-mobile .item+.item {
	    display: block;
	}
	.caption {
	    display: none!important;
	}
}
.post-thumb {
	.glimmer-tiled-gallery a,
	.gallery-one a,
	.gallery-two .full-view a {
	    cursor: url("images/cursor-plus.png") 20 20, auto!important;
	}
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: url("images/cursor-minus.png") 20 20, auto;
}
.mfp-zoom {
    cursor: url("images/cursor-plus.png") 20 20, auto;
}