.feature-area {
	display: block;
	background-color: $color__white;
	#featured-header {
		text-align: center;
		padding: floor($base__line-grid * 2.13) 0 floor($base__line-grid * 1.42);
		.featured-head-content {
			width: 92%;
			margin: 0 auto;
		}
		.entry-title {
			font-family: $font__sub;
			font-size: 2.441em;
			font-weight: 300;
			letter-spacing: 0.02em;
			font-style: italic;
			color: $color__text-heading-two;
			margin-top: 0;
			margin-bottom: 0.35em;
		}
		.featured-sub-title {
			letter-spacing: 0.05em;
			line-height: 1.63em;
			padding: 0 1em;
		}
	}
	#featured-item {
		padding-bottom: 2em;
		@if $includeClasses {
			.#{$nameSpace} {
				@include imghover();
			}
		}
		.item img {
			height: auto;
			display: block;
			width: 100%;
			max-height: 390px;
			min-height: 252px; 
		}
	}
	.owl-theme .owl-controls {
		margin-top: 1.1em;
		margin-bottom: -1.2em;
	}
}


