/* footer top */
#footer-top {
	text-align: center;
	.widget {
		background: transparent;
		border: 0;
		margin: 0 !important;
		padding: 0;
		.widget-title-area {
			margin-bottom: 0.2em;
		}
		.widget-title {
			background: transparent;
			border: 0;
			font-size: 1.25em;
			font-weight: normal;
			letter-spacing: 0;
			line-height: normal;
			margin: 0;
			padding: 0;
			top: 0;
			text-transform: capitalize;
			word-spacing: 0;
			font-style: italic;
			position: relative;
			display: inline-block;
			margin: 3.45em auto 1.1em;
			&:before, &:after {
				border-bottom: 1px solid;
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				width: 130px;
			}
			&:before {
				right: 100%;
				margin-right: 0.75em;
			}
			&:after {
				left: 100%;
				margin-left: 0.75em;
			}
		}
	}
	.jr-insta-thumb {
		background: $color__white;
		padding: 1.9em 0;
		img {
			&:hover {
				opacity: 0.8;
			}
		}
	}
}
/* Footer Middle */
#footer-middle {
	padding: floor($base__line-grid * 2.84) 0 0;
}

/* Footer Bottom */
#footer-bottom {
	#scroll-top {
		text-align: center;
		position: relative;
		z-index: 2;
		top: 45px;
		a {
			display: inline-block;
			text-align: center;
			font-size: 0.8em;
		}
		i {
			display: inline-block;
			color: $color__white;
			padding: 11px 14px 14px;
			@include prefixed(border-radius, 60%);
			top: 1.5em;
			z-index: -2;
		}
		span {
			display: block;
			padding: 11px 26px;
			font-family: $font__sub;
			color: $color__white;
		}
	}
}

/* Site Footer */
.site-footer-banner {
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color__black, 0.4);
    }
    .site-branding {
        text-align: center;
        padding: ($base__line-grid * 4) 0 ($base__line-grid * 3);
        .site-logo {
            margin: 0;
            a {
            	display: inline-block;
            }
  			img {
  				margin: auto;
  				width: 100%;
  			}
        } 
    }
}

/* Site Footer Bottom */
.site-footer-bottom {
	font-size: 0.8em;
	padding: 0.9em 0;
	color: $color__white;
	.copyright {
		float: left;
		p {
			margin-bottom: 0;
		}
		a {
			color: $color__white;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.navbar-right {
		.footer-nav, .footer-social {
			float: left;
		}
		.footer-nav {
				list-style: none;
				line-height: 1.73em;
				padding: 0;
				margin: 0;
				li {
					float: left;
					a {
						color: $color__white;
					}
					&:after {
						content: "|";
						color: $color__white;
						margin: 0 0.5em;					
					}
					&:last-child {
						&:after {
							content: "";
						}					
					}
				}	
			a:hover {
				text-decoration: underline;
			}
		}
		.footer-social {
			margin-left: 2.5em;
			line-height: 1.73em;
			a {
				padding: 0 0.2em;
				color: $color__white;
				i {
					font-size: 1em;
				}
				&:hover {
					color: $color__black;
				}
			}
		}
	}
}