/* Pre-Loader */
.preloader {
    background: $color__white; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    z-index: 999999;
    .loader {
        top: 40%;
        position: relative;  
        i {
            font-size: 3em;
        }       
    }
}
.preloader-logo {
    position: relative;
    top: 20%;
    img {
        margin: auto;
    }
}

/* Site Header */
.site-header {
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color__black, 0.4);
    }
    .site-branding {
        text-align: center;
        padding: ($base__line-grid * 5) 0;
        .site-logo {
            margin: 0 auto;
            a {
                display: inline-block;
            }
            img {
                margin: auto;
                width: 100%;
            }
        }   
    }
}

/* Top Search */
#top-search {
    position: absolute;
    right: 0;
    color: $color__white;
    float: right;
    line-height: normal!important;
    cursor: pointer;
    padding: 1.35em;
    font-size: 0.9em;
    i {
        color: $color__white;
        line-height: 1.35em;
        &:hover {
            color: $color__black;
        }
    }
    ::-webkit-input-placeholder {
        color: $color__white;
    }
    :-moz-placeholder {
        color: $color__white;
    }
    :-ms-input-placeholder {
        color: $color__white;
    }   
}
.search-row {
    border-bottom: 1px solid #999999;
    height: 65px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    width: 980px;
    input {
        outline:none;
        background: none;
        border: none;
        line-height: normal;
        height: 50px;
        width: 90%;
        color: $color__white !important;
        font-size: 20px;
        font-weight: 300;
        -moz-box-sizing: border-box;
        vertical-align: middle;
    }
    input:-webkit-autofill, 
    textarea:-webkit-autofill, 
    select:-webkit-autofill {
        -webkit-text-fill-color: $color__white !important;
    }
    input:-webkit-autofill:focus {
        -webkit-text-fill-color: $color__white !important;
    } 
}

/* Overlay style */
.overlap {
    position: fixed;
    width: 100%;
    height: 347px;
    top: 0;
    left: 0;
    background: rgba($color__black, 0.6);
    z-index: 9999;
    .overlay-close {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0px;
        top: 15px;
        overflow: hidden;
        border: none;
        background: url(images/cross.png) no-repeat center center;
        text-indent: 200%;
        color: transparent;
        outline: none;
        z-index: 100;
    }
}

/* Effects */
.overlay-slidedown {
    visibility: hidden;
    @include prefixed(transform, translateY(-100%));
    @include prefixed_double(transition, transform 0.4s ease-in-out, visibility 0s 0.4s);
    &.close {
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: $color__black;
        text-shadow: none;
        filter: alpha(opacity=20);
        opacity: 1;
        &:hover, &:focus {
            color: $color__black;
            text-decoration: none;
            cursor: pointer;
            filter: alpha(opacity=1);
            opacity: 1; 
        }
    }
    &.open {
        visibility: visible;
        @include prefixed(transform, translateY(0%));
        @include prefixed(transition, transform 0.4s ease-in-out);
    }
}

/* Top Social */
#top-social {
    float: right;
    position: absolute;
    right: 3em;
    a {
        color: $color__white;
        padding: 5px;
        line-height: 4.3em;
        font-size: 0.9em;
        &:hover {
            color: $color__black;
        }
    }
}