/* main content responsive */
@media (max-width: 991px) {
	.content-area {
		padding-bottom: 1.75em;
	}
}
@media (min-width: 1664px) {
	.feature-area #featured-item .item img {
		 min-height: 288px !important;
	}	
}
@media (max-width: 1633px) and (min-width: 1368px) {
	.feature-area #featured-item .item img {
		 min-height: 255px !important;
	}
}
@media (max-width: 800px) and (min-width: 712px) {
	.feature-area #featured-item .item img {
		 min-height: 298px !important;
	}
}
@media (max-width: 710px) {
	.feature-area #featured-item .item img {
		max-height: 350px !important;
   	 	min-height: 273px !important;
	}	
}
@media (max-width: 359px) {
	.feature-area #featured-item .item img {
	    min-height: 255px !important;
	}
}
@media (max-width: 569px) {
	.content-area .entry-footer table tr {
		border: 1px solid $color__border-main;
	}
	.content-area .entry-footer table th {
		display: block;
		width: 100%;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		&:last-child {
			border-bottom: 0;
		}
	}
	.single-post .entry-footer .single-navigation th {
		width: 100%;
	}
}
@media (max-width: 659px) {
	#related-post #related-post-slide .active:first-child .item,
	#related-post #related-post-slide *:not(.active) + .active .item {
		 margin-right: 0 !important;
	}
}
@media (max-width: 470px) {
	.content-area {
		.entry-header {
			.entry-meta {
				padding: 0 2.5em;
			}
		}
	}
	.author-info #author-img {
		display: block;
		width: 100%;
	}
	.author-info .at-img {
		 margin: 0 auto;
	}
	.author-info #author-details {
		display: block;
		text-align: center;
		width: 100%;
		border-width: 0 1px 1px;
		border-left: 1px solid $color__border-post;
	}	
}
@media (max-width: 370px) {
	.author-info #author-footer .post-count,
	.author-info #author-footer .authors-social {
		float: none;
	}
}

/* About page responsive */
@media (max-width: 992px) {
	.about-me .post .entry-footer {
		margin-bottom: 1.7em;
	}
}

/* 404 page responsive */
@media (max-width: 984px) {
	.error-page .border-left {
		display: none;
	}
}
@media (max-width: 577px) {
	.error-page .go-to {
		margin: 0 !important;
	}
	.error-page .search {
		padding: 0 1em;
	}
	.error-page .go-button {
		width: 100%;
		margin-bottom: 0.9em;
	}
	.error-page .go-to:first-child {
		left: 0 !important;
	}
	.error-page .go-to:last-child {
		right: 0 !important;
	}
}

/* Footer responsive */
@media (max-width: 570px) and (min-width: 472px) {
	#footer-top .widget .widget-title::before, 
	#footer-top .widget .widget-title::after {
		width: 40% !important;
	}
}
@media (max-width: 471px) and (min-width: 360px) {
	#footer-top .widget .widget-title::before, 
	#footer-top .widget .widget-title::after {
		width: 22% !important;
	}	
}
@media (max-width: 359px) {
	#footer-top .widget .widget-title::before, 
	#footer-top .widget .widget-title::after {
		width: 12% !important;
	}	
}

@media (max-width: 767px) {
	.footer-sidebar-2,
	.footer-sidebar-3 {
		margin-top: 2.8em;
	}
}
@media (min-width: 990px) {
	#footer-middle {
		.widget {
			margin-bottom: 0;
		}
	}
}
@media (max-width: 768px) {
	#footer-top {
		#instafeed-area {	
			.list {
				width: 50%;
			}
		}
	}	
}
@media (max-width: 410px) {
	.site-footer-bottom .navbar-right {
		.footer-social {
			margin-left: 0;
		}
	}
}

/* When WP Admin bar is coming on Search layout */
@media (min-width: 783px) {
    .admin-bar .overlay-slidedown.open {
      	top: 32px; 
  	} 
}
@media (min-width: 602px) and (max-width: 782px) {
    .admin-bar .overlay-slidedown.open {
      	top: 46px; 
  	} 
}
@media (max-width: 601px) {
  	.admin-bar .overlay-slidedown.open {
    	top: 40px;
    	@include prefixed(transition, top 0.005s ease);
  	}
  	.admin-bar .overlay-slidedown.open.scroll {
    	top: 0; 
  	} 
}