.site-content {
	padding: floor($base__line-grid * 2.45) 0 0;
}
.content-area {
	.page-header {
		background: $color__white;
		border: 1px solid $color__border-main;
		margin: 0 0 1.9em;
		padding: 2.28em;
		text-align: center;
		.page-title {
			font-size: 1.563em;
			font-style: italic;
			margin-bottom: 0;
			margin-top: 0;
		}
		.search {
			margin-top: 1.5em;
			.form-controller {
				height: 43px;
			}
			.btn-search {
				padding: 0.75em 1em;
			}
		}
	}
	// Post Header
	//---------------------
	.entry-header {
		text-align: center;
		.entry-title {
			font-size: 1.563em;
			line-height: 1.3em;
			letter-spacing: 0.02em;
			margin-top: 0.3em;
			margin-bottom: 1.1em;
		}
		.entry-meta {
			color: $color__text-meta;
			font-size: 0.9em;
			font-style: italic;
			letter-spacing: 0.02em;
			a {
				color: $color__text-meta;	
			}
			.cat-links:before {
				content: "\e60e";
				font-family: 'glimmer';
				font-style: normal;
			}
			.entry-date:before {
				content: "\e603";
				font-family: 'glimmer';
				font-style: normal;	
			}
			.author:before {
				content: "\e601";
				font-family: 'glimmer';	
				font-style: normal;	
			}
			.view-link:before {
				content: "\f06e";
				font-family: FontAwesome;
				font-style: normal;	
			}
			span:before {
				margin: 0 5px;

			}
		}	
	}
	// Post Thumb
	//---------------------
	.post-thumb img{
		margin: auto;
	}
	.post-media {
		.wp-video {
		    height: auto !important;
		    width: 100% !important;
			.mejs-container {
			    height: auto !important;
			    padding-top: 57%;
			    width: 100% !important;
			}
			.mejs-mediaelement video {
			    bottom: 0;
			    height: 100% !important;
			    left: 0;
			    position: absolute;
			    right: 0;
			    top: 0;
			    width: 100% !important;
			}
			.mejs-overlay, .wp-video .mejs-poster {
			    height: 100% !important;
			    width: 100% !important;
			}
		}
		.mejs-overlay-button {
			top: 40% !important;
		}	
	}
	// Post Content
	//---------------------
	.entry-content {
		.mejs-container {
			margin-bottom: 1.6em;
		}
		.wp-playlist {
			border: 0 none;
			padding: 0;	
			margin: 0 0 1.9em;	
			.mejs-container {
				margin: 0 auto;
			}
		} 
		.edit-link {
		  	display: block;
		    &:before {
		    	content: "\f044";
		    	font-family: FontAwesome;
		    	margin-right: 5px;
		    }
		}
	}
	// Post Footer
	//---------------------
	.entry-footer {
		table {
			margin: 0;
			th {
				border: 1px solid $color__border-main;
				text-align: center;
				font-family: $font__sub;
				font-size: 0.8em;
				padding: 0;
				font-weight: 400;
				width: 33.333%;
				.comments-link {
					display: inline-block;
					&:before {
						content: "\e604";
						font-family: 'glimmer';
						padding-right: 5px;		
					}
				}
				.button {
					display: block;
					padding: 13px 10px;
					@include prefixed(transition, background .25s ease);
					&:hover {
						color: $color__white;
					}
				}
				.comments-link {
					padding: 12px 10px;
					color: $color__text-meta;
				}
				.share-button {
					display: inline-block;
					padding: 12px 10px;
					color: $color__text-meta;
					&:before {
						content: "\e60a";
						font-family: 'glimmer';
						position: relative;
						left: -0.5em;	
					}
					a {
						margin: 0 4px;
						&:first-child {
							margin-left: 8px;
						}
						&:hover {
							color: $color__black;
						}
					}
				}
				.tags-links {
					padding: 12px 10px;
					span:before {
						content: "\f02b";
						font-family: FontAwesome;
						position: relative;
						left: -0.8em; 
					}
				}
			}
		}
	}
	.type-attachment {
		.entry-content {
			margin-bottom: 0;
			margin-top: 1.9em;
			text-align: center;
		}	
	}
	.entry-content {
		ol li, ul li {
			margin-top: 12px;
		}
	}
}
/* single Post Footer */
.single-post {
	.entry-footer {
		table {
			margin-bottom: 0;
			th {
				padding: 0;
			}
		}
	}
}

/* Section Header title */
.header-title {
	text-align: center;
	margin-bottom: 2.9em;
	.section-title {
		margin: 0.3em 0 0.4em;
		font-family: $font__sub;
		text-transform: uppercase;
	}
}

/* Author Section */
.author-info {
	background: $color__white;
	margin-bottom: 1.9em;
	.at-img {
		width: 110px;
		height: 110px;
		position: relative;
		overflow: hidden;
		@include prefixed(border-radius, 50%);
	}
	.at-img > img {
	    max-height: 110px;
	    max-width: 110px;
	}
	#author-img, #author-details {
		@include table_display;
	}
	#author-img {
		vertical-align: middle;
		border: 1px solid $color__border-post;
		padding: 1.9em;
	}
	.author-name {
		font-size: 1.563em;
		font-family: $font__sub;
		margin: 1em 0 0;
		font-weight: 500;
	}
	.authors-title {
	  	font-size: 0.8em;
	    font-style: italic;
	    letter-spacing: 0.04em;
	    margin: 0.2em 0 1em;
	}
	#author-details {
		border: 1px solid $color__border-post;
		border-left: 0;
		padding:0 2em;
		width: 1070px;
		overflow: hidden;
	}
	.authors-bio p {
		font-size: 0.938em;
		line-height: 1.45em;
		margin-bottom: 1.5em;
		letter-spacing: 0.07em;
	}
	#author-footer {
		border: 1px solid $color__border-post;
		border-top: 0;
		display: table;
		width: 100%;
		padding: 0.8em 1.5em;
		font-size: 0.8em;
		b {
			font-weight: 400;
			letter-spacing: 0.07em;
		}
		.post-count {
			float: left;
			b {
				font-style: italic;
			}
		}
		.authors-social {
			float: right;
			display: inline-block;
			b {
				font-weight: 500;
			  	margin-right: 14px;
			    vertical-align: middle;
			}
			a {
				padding: 0 5px;
				&:first-child {
					padding-left: 15px;
				}
				i {
					vertical-align: middle;
				}
				&:hover {
					color: $color__black;
				}
			}
		}		
	}
}
.archive.author {
	.author-info {
		margin-top: 0;
		margin-bottom:2.2em;
	}
}

/* Related Post */
#related-post {
	h3 {
		margin-top: -4px;
		font-style: italic;
		letter-spacing: 0.02em;
		font-size: 1.25em;
		font-weight: bold;
	}
	.small-border {
		margin: 0.5em 0.8em 1em;
	}
	#related-post-slide {
		@if $includeClasses {
			.#{$nameSpace} {
				@include imghover();
			}
		}
		.item img {
			min-height: 100%;
			height: 235px;
			width: 100%;
		}
		.active:first-child, :not(.active) + .active {
			.item {
				margin-left: 0 !important;
				margin-right: 15px;
			}
		}
		.active:last-child, :not(.active) {
			.item {
				margin-right: 0 !important;
				margin-left: 15px;
			}
		}
		.item {
			padding: 0;
			margin: 0 15px !important;
		}
		.owl-controls {
		    position: absolute;
		    right: -4px;
		    top: -72px;
		}
		.owl-controls .owl-buttons div {
			@include prefixed(border-radius, 0);
		    color: $color__black;
		    background: #d8d8d8;
		    display: inline-block;
		    font-size: 0.6em;
		    opacity: 1;
		    padding: 0.9em 1.15em 0.6em;
		    line-height: 1.6em;
		    &:hover {
		    	color: $color__white;
		    }
		}
		.post-thumbnail {
			height: 235px;
			position: relative;
		}
	}
}

/* ShortCode */
.progress {
	@include prefixed(border-radius, 0);
}

.panel {
	@include prefixed(border-radius, 0);
	@include prefixed(box-shadow, none);
}
.panel-group .panel {
	@extend .panel;
}
.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\2212";
    float: right;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\2b";
}
.nav-tabs {
	li {
		margin-top: 0 !important;
	}
	> li > a {
		@include prefixed(border-radius, 0);
		margin-left: 0;
		margin-right: 0;

	}
	> li.active > a {
		margin-right: 0;
	}
}
.tab-content div {
	padding: 10px 15px;
}
#glimmer-tab-content {
	.edit-link {
		margin-bottom: 1em;
	}
}

.alert {
	padding: 12px;
	@include prefixed(border-radius, 0);
	.close {
		line-height: 1.3em;
		right: 0;
    	top: 0;
		&:hover {
			background: transparent;
		}
	}
}