/* About widget. */
.about-widget {
	.author-image-home {
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	.author-name {
		text-align: center;
		font-weight: 500;
		font-family: $font__sub;
		margin: 0.5em 0 0.4em;
		font-size: 1.25em;
	}
	.about-description {
		text-align: center;
		.author-name {
			font-weight: 400;
		}
		p {
			font-size: 0.8em;
			letter-spacing: 0.05em;
			margin-bottom: 2em;
		}
	}
	.button {
		margin-bottom: 5px;
		font-family: $font__sub;
	}
}

/* Latest widget */
@include widget_class("latest");

/* Popular widget */
@include widget_class("popular");

/* Categories widget */
.widget_categories,
.widget_archive {
	ul {
		padding: 0 1em;
	}
	li {
		padding: 1.3em 0 0.7em;
		font-size: 0.875em;
		position: relative;
		@include prefixed(transition, all .25s ease-in 0s);
		&:first-child {
			padding-bottom: 0.7em;	
		}
		.count {
			float: right;
			background: $color__background-main;
			padding: 2px 12px;
			margin-top: -2px;
		}

		&:hover > .count{
			color: $color__white;
		}
		&.current-cat, &.current-cat-parent {
			> .count{
				color: $color__white;
			}
		}	
	}
	.children {
		margin-top: 0.7em;
		li {
			&:first-child {
				padding-top: 0.2em;				
				padding-bottom: 0.7em;				
			}
			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;				
			}
		}
	}
}

/* TAGCLOUD widget */
.widget_tag_cloud {
	.widget-title-area {
		margin-bottom: -42px;
	}
	.tagcloud {
		margin-bottom: -8px;
		a {
			border: 1px solid $color__border-dark;
			display: inline-block;
			margin: 0 6px 9px 0;
			padding: 4px 12px;
			font-size: 0.8em !important;
			font-weight: 400;
			@include prefixed(transition, all .25s ease);
			&:hover {
				color: $color__white;
			}
		}
	}
}

/* Follow us Widget */
.follow-us-area {
	margin: 0 auto -7px;
	text-align: center;
	.follow-link .fa {
		border: 1px solid $color__border-dark;
		background: $color__white;
		color: $color__text-meta;
		height: 35px;
		line-height: 2.8em;
		margin: 0 3px 9px;
		font-size: 0.8em;
		display: inline-block;
		text-align: center;
		width: 35px;
		&:hover {
			color: $color__white;
		}
	}
}

/* About And contact widget. */
.widget_glimmer_aboutus_contact {
	.about-contact-area {
		h3 {
			margin-top: 0;
			font-size: 1em;
			font-weight: bold;
		}
		p {
			font-size: 0.8em;
			font-style: italic;
		}
		.about-mail {
			border-top: 1px solid $color__border-main;
			padding: 1.198em 0 0;
			margin-top: 1.7em;
			li {
				border: 0;
				padding-top: 0.25em;
				a, span {
					font-family: $font__sub;
					font-size: 0.8em;
					font-weight: bold;
				}
			}
			li:first-child {
				vertical-align: middle;
				a:last-child {
					margin-left: 0.8em;
					&:before {
						content: "-";
						padding-right: 1em;
					}
				}
			}
			i {
				margin-right: 0.25em;
				vertical-align: middle;
				&.fa-mobile {
					font-size: 1.563em;
					position: relative;
					top: -1px;
				}
			}
		}
	}
}

/* Search widget. */
.widget_search {
	.input-group .form-controller {
		display: table-cell;
		font-style: italic;
	}
	.form-controller {
		height: 43px;
	}
	button {
		@include prefixed(border-radius, 0);
		padding: 0.75em 1em;
	}
	.btn-search {
		i {
			position: relative;
			top: -1px;
			vertical-align: middle;
		}
	}
}

/* Advertisement Widget */
.widget_glimmer_advertisement {
	.advertisement-img img {
		margin: auto;
	}
}

/* Calender widget */
.widget_calendar {
	table {
		margin: 0;
	}
	td,
	th {
		font-size: 0.8em;
		line-height: 2.555em;
		text-align: center;
		padding: 0;
	}	
	caption {
		font-weight: bold;
		text-align: center;
		color: $color__white;
		font-family: $font__sub;
		margin: 0;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		padding: 0.5em 1em;
	}
	tbody a {
		-webkit-tap-highlight-color: rgba($color__white, 0.3);
		color: $color__white;
		display: block;
		font-weight: bold;
		&:hover, &:focus {
			color: $color__white;
		}
	}
}

/* Other's WORDPRESS Widget */
.widget_links a,
.widget_meta a,
.widget_nav_menu .menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a {
	border: 0;
	color: $color__text-main;
}
.widget_recent_comments {
	.recentcomments a {
		&:nth-child(2), 
		&:nth-child(3),
		&:nth-child(4) {
			&:before {
				content: "";
				margin-right: 0;
			}
		}
	}
}
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries {
	a {
		border: 0;
		text-decoration: none;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0.2em;		
	}
	li {
		border: 0;
		padding: 0.5em 0 0;
		span:before,
		a:before {
			content: "\f054";
			font-family: FontAwesome;
			margin-right: 1em;
			font-size: 0.55em;
			vertical-align: middle;
			position: relative;
			top: -1.5px;
			left: 0;
			@include prefixed(transition, left 0.35s ease-in);
		}
		span > a:before {
			content: "";
			margin-right: 0;
		}
	}
	li {
		span:hover,
		a:hover {
			&:before {
				left: 5px;
			}
		}
	}
}

.widget_nav_menu .sub-menu,
.widget_pages .children {
	border: 0;
	margin: 0 0 0 1em;
	padding-top: 0.5em;
}
.widget_recent_entries .post-date {
	display: block;
}

/* Widget RSS */
.widget_rss {
	ul {
		list-style: none;
		margin: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	li {
		margin-bottom: 1.6em;
		&:last-child {
			margin-bottom: 0;		
		}
	}
	.rsswidget {
		border: 0;
		font-weight: 700;
	}
	.rsswidget img {
		margin-top: -4px;
	}
	.rss-date, cite {
		font-size: 0.8em;
		font-style: normal;
		display: block;
		line-height: 2;
		opacity: 0.8;
	}
}

/* Text Widget */
.widget_text {
	text-align: center;
	img {
		margin: auto;
	}
}
.textwidget > :last-child {
	margin-bottom: 0;
}

/* Twitter widget Pluging */
.tp_recent_tweets {
	li {
	  	padding-bottom: 10px !important;
	  	background-image: none !important;
	  	float: none;
	  	letter-spacing: 0.03em;
		span {
		  	font-weight: 400;
		  	font-size: 0.8em;
		  	font-style: italic;
			a:hover {
			  	text-decoration: underline;
			}
		}
		.twitter_time {
			display: block;
  			margin-top: 0.47em;
			&:before {
			    content: "\f099";
			    font-family: FontAwesome;
			    font-size: 1.25em;
			    padding-right: 0.5em;
			    font-style: normal;
			}
		}
		&:last-child {
			padding-bottom: 0 !important;
		}
	}
}