body {
	background: $color__background-main; /* Fallback for when there is no custom background color defined. */
	word-wrap: break-word;
}

q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

blockquote {
	margin-left: 50px !important;
	border: 0;
	padding: 0;
	font-style: italic;
	font-size: $heading__four;
	position: relative;
	border-left: 5px solid $color__border-one;
	&:before {
		content: "";
		display: block;
		height: auto;
		left: -50px;
		margin-top: -35px;
		padding-top: 0.7em;
		position: absolute;
		top: 50%; 
		content: "\f10d";
		font-style: normal;
		font-family: FontAwesome;
		font-size: 1.563em;
	}
	p {
		padding: 0 1em;
		margin-bottom: 10px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		cite {
			margin-left: 0;
			padding-left: 0;
		}
	}
	cite, a, span {
	    padding: 0 1.2em;
		font-size: 0.8em;
		font-weight: 500;
		font-style: normal;
		position: relative;
	}
	cite {
		display: block;
	}
	cite::before {
	    content: "--";
	    padding-right: 5px;
	}
}
blockquote .small::before,
blockquote footer::before,
blockquote small::before {
	margin-left: 18px;
} 
.single-post {
	blockquote {
		margin: 1.5em 0;
	}
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

/* Overlay */

.hr-line {
  margin-top: 25px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid $color__border-four;
  position: relative;
  &:after {
	background: #c8c8c8 none repeat scroll 0 0;
	content: "";
	height: 3px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: -2px;
	width: 45px;
  }
}
.devider {
	padding: 0 20px;
}
/* Some border */
.small-border {
    display: block;
    height: 2px;
    margin: 0.5em 0.8em;
    width: 90px;
}
.ex-small-border {
    display: block;
    height: 1px;
    margin: 0.5em auto 0.8em;
    width: 200px;
    background: $color__border-dark;
    position: relative;
    &:after {
		content: "";
		height: 3px;
		left: 50%;
		margin-left: -38px;
		position: absolute;
		top: -1px;
		width: 80px;
    }	
}