@import "../sass/variables-site/colors";

::-moz-selection {
	background: $color__theme-main;
}

::selection {
	background: $color__theme-main;
}
/* link color */
a {
	&:hover,
	&:focus,
	&:active {
		color: $color__theme-main;
	}
}

blockquote {
	&:before {
		color: $color__theme-main;
	}
	cite, a, span {
		color: $color__theme-main;
	}
}

.more-link {
	border-color: $color__theme-main;
	&:before {
		background: $color__theme-main;
	}
} 
.small-border {
	background: $color__theme-main;
}

.ex-small-border::after {
	background: $color__theme-main;
}

.comment-reply-link {
	border-color: $color__theme-main;
	&:hover {
		background: $color__theme-main;
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-color: $color__theme-main;
	&:hover {
		background: $color__theme-main
	}
}
.btn-search {
	background: $color__theme-main;
}
.continue-read{
	color: $color__theme-main;
	&:hover {
		background: $color__theme-main;
		border-color: $color__theme-main;
	}
}
.go-button {
	border-color: $color__theme-main;
	&:hover {
		background: $color__theme-main;
	}
}
#featured-item .owl-item.active .image-extra .inner-extra .fet-read-more {
	&:hover {
		background: $color__theme-main;
		border-color: $color__theme-main;
	}
}
/* Menu */
.top-menu .menu-list > li > a::before {
	background: $color__theme-main;
}
.menu-submenu > li > a:hover,
.menu-submenu-sub > li > a:hover,
.menu-submenu-sub-sub > li > a:hover {
	color: $color__theme-main !important;
}
@media (max-width: 992px) {
	.main-nav {
		.top-menu {
			> ul > li:hover > a,
			> ul > li.active > a {
			  color: $color__theme-main !important;
			}
		}
	}
}

/* featured area */
.feature-area .full-control {
	background: $color__theme-main;
}
.feature-area {
	#featured-header {
		.entry-title {
			span {
				color: $color__theme-main;
			}
		}
	}
	#featured-item {
		.item {
			.image-extra {
				.extra-content {
					span span {
						color: $color__theme-main;
					}

				}
			}
		}
	}
	.owl-theme .owl-controls .owl-page span {
	    background: $color__theme-main;
	}
}
.inner-extra {
	.entry-meta {
		.cat-links:before,
		.author:before {
			color: $color__theme-main;
		}
	}
}

.sticky-icon {
	background: $color__theme-main;
}

/* Main content */
.content-area {
	.entry-header {
		.entry-meta {
			a:hover {
				color: $color__theme-main;	
			}
			.cat-links:before {
				color: $color__theme-main;
			}
			.entry-date:before {
				color: $color__theme-main;
			}
			.author:before {
				color: $color__theme-main;
			}
			.view-link:before {
				color: $color__theme-main;
			}
		}		
	}
	.entry-content {
		.edit-link {
		    &:before {
				color: $color__theme-main;
		    }
		}
	}
	.entry-footer {
		.button {
			&:hover {
				background: $color__theme-main;
			}
		}
		.comments-link {
			&:before {
				color: $color__theme-main;	
			}
			&:hover {
				color: $color__theme-main;
			}
		}
		.share-area {
			&:before {
				color: $color__theme-main;
			}
			a:hover {
				color: $color__theme-main;
			}
		}
		.tags-links {
			span:before {
				color: $color__theme-main;
			}
		}
	}
	.format-link {
		.post-link {
		    .link-content {
		    	color: $color__theme-main;
		    	a {
		    		color: $color__theme-main;
		    	}
		    }
		}
	}
	.format-quote {	
		.quote-content {
			i {
				background: $color__theme-main;
			}
			&:before {
				color: $color__theme-main;
			}
			.author a {
				color: $color__theme-main;
			}
		}
	}

	.ribbon {
	    span {
			background: $color__theme-main;
			background: linear-gradient($color__theme-main 0%, $color__theme-main 100%);
			&:before {
				border-left: 3px solid $color__theme-main;
				border-top: 3px solid $color__theme-main;
			}
			&:after {
				border-right: 3px solid $color__theme-main;
				border-top: 3px solid $color__theme-main;
			}
		}
	}
}
.single-post {
	.entry-content {
		.tag a:hover {
			background: $color__theme-main;
  			border-color: $color__theme-main;
		}
	}
	.entry-footer {
		.post-format {
			color: $color__theme-main;
		}
		.post-author a:hover {
			color: $color__theme-main;
		}
	}
}

/* pagination */
.navigation {
	.nav-links {
		> li {			
			&.active {
				a, span {
					background: $color__theme-main;
				}
			}
			a:hover {
				background: $color__theme-main;
			}
		}
		li:first-child.nav-previous:hover span {
		  background: $color__theme-main;
		  border-color: $color__theme-main;
		}

		li:first-child.nav-previous:hover span:last-child {
		  color: $color__theme-main;
		  border-color: $color__theme-main;
		}

		li:last-child.nav-next:hover span {
		  background: $color__theme-main;
		  border-color: $color__theme-main;
		}

		li:last-child.nav-next:hover span:first-child {
		  color: $color__theme-main;
		  border-color: $color__theme-main;
		}	
	}
	> li a:hover, > li span:hover {
	  border-color: $color__theme-main;
	}

	> li.active a, > li.active span {
	  background: $color__theme-main;
	  border-color: $color__theme-main;
	}
}


/* gallery */
.gallery-one, .gallery-two {
	.owl-controls .owl-buttons div {
		i {
			font-size: 12px;
			color: $color__theme-main;
		}
	}
}
.gallery-two {
	.list-view {	
		.owl-controls .owl-buttons div {
			background: $color__theme-main;
		}
	} 
}
.author-info {
	.authors-social a:hover {
		color: $color__theme-main;
	}
}



/* Comments Section */


/* Widget */
.widget {

	.widget-title-inner:before,
	.widget-title-inner:after {
	   // border-color: $color__theme-main;
	}
}
.follow-us-area {
	.follow-link .fa:hover {
		background: $color__theme-main;
		border-color: $color__theme-main;
	}
}
.latest-item-meta, .popular-item-meta {
	a {
		color: $color__theme-main;
	}
}
.widget_categories li:hover > a, 
.widget_archive li:hover > a {
  color: $color__theme-main;
}

.widget_categories li:hover > .count, 
.widget_archive li:hover > .count {
  background: $color__theme-main;
}

.widget_categories li.current-cat > a, 
.widget_categories li.current-cat-parent > a, 
.widget_archive li.current-cat > a, 
.widget_archive li.current-cat-parent > a {
  color: $color__theme-main;
}
.widget_categories li.current-cat > .count, 
.widget_categories li.current-cat-parent > .count, 
.widget_archive li.current-cat > .count, 
.widget_archive li.current-cat-parent > .count {
  background: $color__theme-main;
}

.widget_tag_cloud .tagcloud a:hover {
  background: $color__theme-main;
  border-color: $color__theme-main;
}

.widget_calendar caption {
	background: $color__theme-main;
}
.widget_calendar tbody a {
  background: $color__theme-main;
}
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries {
	li {
		a:hover {
			color: $color__theme-main;
		}
		span:hover {
			&:before {
				color: $color__theme-main;
			}
		}
	}
}

.tp_recent_tweets li span a {
  	color: $color__theme-main;
}
.tp_recent_tweets li .twitter_time:before {
    color: $color__theme-main;
}
.tp_recent_tweets li .twitter_time {
  	color: $color__theme-main;
}
.widget_josephine_aboutus_contact {
	.about-contact-area {
		h3 {
			span {
				color: $color__theme-main;
			}
		}
	}
}
.form-newsletter {
	#mc-embedded-subscribe:hover {
		border-color: $color__theme-main;
		color: $color__theme-main;
	}
}

/* author page */
.about-me {
	.entry-footer {
		h3 , .follow-link a {
			color: $color__theme-main;
		}
	}
	#author-skill .skillbar-bar {
	  background: $color__theme-main;
	}

	#author-skill .skill-bar-percent {
	  color: $color__theme-main;
	}

	#author-skill .skill-bar-percent:after {
	  border-top: 12px solid $color__theme-main;
	}
}

/* Footer */
#footer-top .widget .widget-title::before, 
#footer-top .widget .widget-title::after {
	border-color: $color__theme-main;
}