.footer-top {
	background: $color__background-aside;
	padding: ($site__base_line * 2) 0;
	.widget {
		margin-bottom: 0;
		border-color: $color__background-hr-two;
		.widget-title {
			border-color: $color__background-hr-two;
		}
		li, li > ul {
			border-color: $color__background-hr-two;
		}
	} 
}
.footer-bottom {
	color: $color__white;
	padding: 1.2em 0 1em;
	font-weight: 400;
	a {
		color: $color__white;
		&:hover {
			color: $color__white;
			text-decoration: underline;
		}
	}
	.navbar-right {
		display: inline-block;
		margin-right: 0;
	}

}
.site-footer {
	clear: both;
	width: $size__site-main;
}

.copyright {
	float: left;
	p {
		margin-bottom: 0;
		color: $color__white;
	}
	a:hover {
		text-decoration: underline;
	}
}
.navbar-right {
	.footer-nav, .footer-social {
		float: left;
	}
	.footer-nav {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				float: left;
				&:after {
					content: "|";
					margin: 0 0.5em;					
				}
				&:last-child {
					&:after {
						content: "";
					}					
				}
			}	
		a:hover {
			text-decoration: underline;
		}
	}
	.footer-social {
		margin-left: 2.5em;
		a {
			padding: 0 0.2em;
		}
	}
}

.topbutton {
	position: fixed;
	bottom: 55px;
	right: 20px;
	width: 40px;
	height: 40px;
	color: $color__white;
	line-height: 3;
	text-align: center;
	opacity: 0.6;
	z-index: 10;
	@include border-radius(50%);
	&:hover, &:focus {
		opacity: 1;
		color: $color__white;
	}
}

@media (max-width: 988px) {
	.footer-top {
		.widget {
			margin-bottom: 2.5em;
		}
		.col-md-4:last-child {
			.widget {
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width: 767px) {
	.topbutton {
		display: none !important;
	}
}

@media (max-width: 410px) {
.navbar-right {
	.footer-social {
		margin-left: 0;
	}
}
}