#main {
	overflow: hidden;
}

.post-thumbnail > img{
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}

.entry-title {
	margin-top: 0;
	margin-bottom: 0.4em;
	font-size: 1.953em;
	font-weight: 400;
	letter-spacing: 0.025em;
	word-spacing: 0.025em;
}

.section-title {
	text-align: center;
	margin-top: 0;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 300;
}
.header-title {
	margin-bottom: ($site__base_line * 2);
}

.post-thumbnail {
	#carousel {
		.slides > li {
			margin: 0 5px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.fancybox-overlay {
	z-index: 99999;
}
.fancybox-skin {
	padding: 0 !important;
}
.fancybox-opened {
  z-index: 999999;
}
#related-post {
	margin-top: ($site__base_line * 2.8);
	h3 {
		font-weight: 500;
	}
}
#related-post-slide {
	margin-top: 1.5em;
	a:hover {
		text-decoration: none;
	}
	.active:first-child, :not(.active) + .active {
		.item {
			margin-left: 0 !important;
			margin-right: 15px !important;
		}
	}
	.active:last-child, :not(.active) {
		.item {
			margin-right: 0;
			margin-left: 15px;
		}
	}
	.item {
		margin: 0 15px;
		.post {
			background: $color__background-screen;
			padding-bottom: 0.5em;
			.entry-header, .entry-content {
				padding: 0 1.5em;
			}
		}
	}
	.owl-controls {
	    position: absolute;
	    right: -5px;
	    top: -75px;
	}
	.owl-controls .owl-buttons div {
	    @include border-radius(0);
	    color: $color__white;
	    display: inline-block;
	    font-size: 14px;
	    margin: 5px;
	    opacity: 1;
	    padding: 8px 12px;
	}
	.entry-title {
		font-size: 1.563em;
		margin-top: 0;
	}
	.entry-content {
		margin: 1em 0;
		p {
			margin-bottom: 1em;
		}
	}
}

/* Author Section */
.author-info {
	margin-top: floor($site__base_line * 2.3);
	.at-img {
		width: 100px;
		height: 100px;
		position: relative;
		overflow: hidden;
		margin: 1em 0;
		@include border-radius(50%);
	}
	.at-img > img {
	    max-height: 100px;
	    max-width: 100px;
	}
	#author-img, #author-details {
		display: table-cell;
		vertical-align: top;
	}
	#author-img {
		vertical-align: middle;
		background: $color__background-screen;
		padding: 0 1.5em;
	}
	.author-name {
		font-size: 1.563em;
		margin-bottom: 0;
		font-weight: 500;
	}
	.authors-title {
		font-size: 0.8em;
		color: $color__sub;
		margin-top: 0;
		font-weight: 500;
	}
	#author-details {
		border: 1px solid $color__background-hr;
		border-left: 0;
		padding:0 1.5em;
		width: 1070px;
		overflow: hidden;
	}
	.authors-bio p {
		line-height: 1.45;
	}
	#author-footer {
		border: 1px solid $color__background-hr;
		border-top: 0;
		display: table;
		width: 100%;
		padding: 0.8em 1em;
		.post-count {
			float: left;
			b {
				font-weight: 500;
			}
		}
		.authors-social {
			float: right;
			display: inline-block;
			b {
				font-weight: 500;
			  	margin-right: 14px;
			    vertical-align: middle;
			}
			a {
				padding: 0 5px;
				&:first-child {
					padding-left: 15px;
				}
				i {
					vertical-align: middle;
					font-size: 16px;
				}
			}
		}		
	}
}
.archive.author {
	.author-info {
		margin-top: 0;
		margin-bottom:2.2em;
	}
}
.author-page {
	#main {
		width: 75%;
		margin: auto;
		.author-name {
			text-align: center;
			margin-top: 0;
		}
		.post-thumbnail img {
			margin: auto;
			width: 100%;
		}
		.author-sign {
			float: left;
			clear: both;
			img {
				margin-left: 0;
				margin-bottom: 5px;
			}
			h3 {
				margin: 0;
			}
		}
		.follow-link {
			float: right;
			bottom: -3.4em;
			position: relative;
		}
	}
	#author-skill {
		width: 75%;
		margin: 0 auto;
		h3 {
			font-weight: 400;
			border-bottom: 1px solid $color__background-hr-two;
			display: inline-block;
			padding: 0 40px 5px 10px;
		}	
		.pd-bottom {
			padding-bottom: 2em;
		}
		.skillbar {
			position: relative;
			display: block;
			margin-top: 16px;
			background: transparent;
			-webkit-transition: 0.4s linear;
			   -moz-transition: 0.4s linear;
			    -ms-transition: 0.4s linear;
			     -o-transition: 0.4s linear;
			        transition: 0.4s linear;

			-webkit-transition-property: width, background-color;
			   -moz-transition-property: width, background-color;
			    -ms-transition-property: width, background-color;
			     -o-transition-property: width, background-color;
			        transition-property: width, background-color;
		}

		.skillbar-title {
			top: 0;
			left: 0;
			line-height: 1.7;
		}
		.skillbar-bg {
			background: $color__background-screen;
		}
		.skillbar-bar {
			height: 15px;
			width: 0;	
		}

		.skill-bar-percent {
			position: absolute;
			top: -18px;
			margin-left: -5px;
			font-size: 12px;
			height: 40px;
			line-height: 36px;
			font-weight: bold;
			content: "";
			&:after {
				content: "";
	    		border-left: 6px solid transparent; 
	    		border-right: 6px solid transparent;
	    		position: absolute;
	    		bottom: 0;
	    		left: 0;
			}
		}
	}	
}

.contact-page {
	#gmaps {
		height: 380px;
		margin-bottom: 2em;
	}
	.post img, 
	.page img {
	    max-width: none;
	}
	.entry-content {
		margin-top: 0;
	}
	.address {
		h4 {
			border-bottom: 1px solid $color__background-hr-two;
			padding-bottom: 0.25em;
			margin-bottom: 1em;
			margin-top: 0;
		}
		.dl-horizontal dd {
		    margin-bottom: 8px;
		    margin-left: 110px;
		    font-weight: 400;
		}
		.dl-horizontal dt {
			text-align: left;
			width: 100px;
		}
	}
	.padding-left {
		padding-left: 0.5em;
	}
	.padding-right {
		padding-right: 0.5em;
	}
	.padding-left-right {
		padding: 0 0.5em;
	}
	.contact-respond {
		p {
			margin-bottom: 1em;
		}
	}
	
}

.error-page {
	background: $color__background-aside;
	.error-content {
		margin: auto;
	}
	.error-image img {
		margin: 4em auto 0;
	}
	.error-description {
		text-align: center;
		h2 {
			font-size: 42px;
			margin-bottom: 0;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		h4 {
			margin-top: 0;
		}
	}
	.go-to {
		margin-top: 3em;
	}	
}

@media (max-width: 994px) {
	.contact-page {
		.padding-left {
			padding-left: 15px;
		}
		.padding-right {
			padding-right: 15px;
		}
		.padding-left-right {
			padding: 0 15px;
		}		
	}	
}
@media (max-width:768px) {
	.active:first-child, :not(.active) + .active {
		.item {
			margin: 0 !important;
		}
	}
	.address {
		.dl-horizontal dd {
			margin-left: 0 !important;
		}		
	}
}

@media (max-width: 620px) {
	.follow-link {
		float: none !important;
		bottom: 0 !important;
		clear: both;
	}
}
@media (max-width: 445px) {
	.authors-social {
		float: none !important;
	}
}
