/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:hover,
	&:active,
	&:focus {
		background-color: $color__background-screen;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $color__text-screen;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

.format-gallery .more-link-area {
	margin-top: 1em;
	margin-bottom: -1em;
}
.fancybox-overlay {
	background-color: rgba(125,189,33,0.3);
}
/* meta data */
.entry-header {
	.entry-meta {
		font-size: 0.9em;
		letter-spacing: 0.025em;
		font-weight: 400;
		color: $color__meta;
		i {
			margin-right: 4px;
		}
		span {
			&:after {
				content: "";
				margin: 0 4px;
			}
		}
		span.author:after {
			margin: 0;
		}
		a {
			color: $color__meta;
		}
		.byline .author, .cat-links, .comments-link {
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}


.breadcrumb {
	margin-bottom: 1em;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	ul {
		padding: 0;
		list-style: none;
		li {
			float: left;
			h4 {
				color: $color__white;
				font-size: 16px;
				margin: 0;
				padding: 2px 8px;
			}
			&:last-child {
				margin-top: 2px;
				&:before {
					content: "\f101";
					font-family: FontAwesome;
					font-size: 16px;
					margin: 0 5px 0 10px;
					line-height: 0;
				}
			}
		}
	}
}

/* catagory icon */

.format-gallery {
	.post-formet {
		&:before {
			content:  "\f00a";
			font-family: FontAwesome;
			margin: 0 2px;
		}
	}	
}

.format-aside {
	.post-formet {
		&:before {
			content:   "\f15c";
			font-family: FontAwesome;
			margin: 0 2px;
		}
	}	
}

.format-video {
	.post-formet {
		&:before {
			content:   "\f03d";
			font-family: FontAwesome;
			margin: 0 2px;
		}
	}		
}

.format-image {
	.post-formet {
		&:before {
			content:  "\f03e";
			font-family: FontAwesome;
			margin: 0 2px;
		}
	}		
}

.format-audio {
	.post-formet {
		&:before {
			content:  "\f028";
			font-family: FontAwesome;
			margin: 0 2px;
		}
	}		
}

.format-chat {
	.post-formet {
		&:before {
			content:  "\f1d7";
			font-family: FontAwesome;
			margin: 0 2px;
		}
	}		
}

.format-status {
	.post-formet {
		&:before {
			content:  "\f118";
			font-family: FontAwesome;
			margin: 0 2px;
		}
	}		
}


.entry-meta {
	.byline {
		.author.vcard {
			&:before {
				content:   "\f007";
				font-family: FontAwesome;
				margin: 0 2px;
			}			
		}
	}
	.cat-links {
		&:before {
			content:  "\f07c";
			font-family: FontAwesome;
			margin: 0 2px;
		}			
	}
	.entry-date {
		&:before {
			content:  "\f073";
			font-family: FontAwesome;
			margin: 0 2px;
		}		
	}
	.comments-link {
		&:before {
			content:  "\f075";
			font-family: FontAwesome;
			margin: 0 2px;
		}		
	}
}