body {
	background: $color__white; /* Fallback for when there is no custom background color defined. */
	word-wrap: break-word;
}

q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

blockquote {
	border: 0;
	padding: 0;
	font-family: $font__heading;
	font-style: italic;
	font-size: $heading__four;
	position: relative;
	border-left: 5px solid #9bc6b2;
	color: #939292;
	&:before {
		content: "";
		display: block;
		height: 40px;
		width: 40px;
		line-height: 40px;
		border-radius: 50%;
		background: #9bc6b2;
		color: $color__white !important;
		text-align: center;
		left: -22px;
		position: absolute;
		top: 0; 
		content: "\f10d";
		font-style: normal;
		font-family: FontAwesome;
		font-size: 15px;
	}
	&:after {
		background: #9bc6b2;
		bottom: 0;
		content: "";
		height: 5px;
		left: 0;
		position: absolute;
		width: 45px;
	}
	p {
		padding: 0 0 20px 40px;
		margin-bottom: 10px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		cite {
			margin-left: 0;
			padding-left: 0;
		}
	}
	footer {
		font-family: $font__body;
		margin-left: 35px;
		position: relative;
		top: 6px;
		margin-top: -15px;
	}
	cite, a, span {
	    padding: 0 1.2em;
		font-size: 0.8em;
		font-weight: 500;
		font-style: normal;
		position: relative;
	}
	cite {
		display: block;
	}
	cite::before {
	    content: "--";
	    padding-right: 5px;
	}
}
blockquote .small::before,
blockquote footer::before,
blockquote small::before {
	margin-left: 18px;
} 
.single-post {
	blockquote {
		margin: 35px 0 35px 25px;
	}
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

.devider {
	padding: 0 15px;
}
/* Some border */
.small-border {
    display: block;
    height: 2px;
    margin: 0.5em 0.8em;
    width: 90px;
}
.ex-small-border {
    display: block;
    height: 1px;
    margin: 0.5em auto 0.8em;
    width: 200px;
    background: $color__border-dark;
    position: relative;
    &:after {
		content: "";
		height: 3px;
		left: 50%;
		margin-left: -38px;
		position: absolute;
		top: -1px;
		width: 80px;
    }	
}