.error-page {
	#main {
		background: #ffffff;
		border: 1px solid #f0f0f0;
		padding: 60px 30px 90px;
	}
	.error-description {
		text-align: center;
	}
	.error-description {
		margin: 0 0 4em;
	}
	.error-description h2 {
		color: #3db5e7;
		font-weight: bold;
	}
	.error-image img {
		margin: auto;
		position: relative;
	}
}