.contact-page {
	.header-title {
		margin-bottom: 3.5em;
	}
	.sub-heading {
		font-weight: 400;
		width: 50%;
		margin: 1.4em auto 0;
		line-height: 1.6em;
	}
	.title {
		font-style: italic;
		font-weight: bold;
		font-size: 1.25em;
	}
	.gmaps-area {
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 30px;		
	}
	#gmaps {
		height: 412px;
		background: $color__background-main;
	}
	.contact-details {
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 30px;
	}
	.post img, 
	.page img {
	    max-width: none;
	}
	.entry-content {
		margin-top: -6px;
	}
	.address {
		h4 {
			border-bottom: 1px solid $color__border-four;
			padding-bottom: 0.8em;
			margin-bottom: 1.3em;
			margin-top: 0;
			font-weight: bold;
			font-size: $heading__five;
		}
		.dl-horizontal dd {
		    margin-bottom: 15px;
		    margin-left: 70px;
		    margin-right: 0;
		}
		.dl-horizontal dt {
			text-align: left;
			width: 60px;
		}
		dl {
			margin-bottom: -7px;
		}
	}
	.padding-left {
		padding-left: 0.5em;
	}
	.padding-right {
		padding-right: 0.5em;
	}
	.padding-left-right {
		padding: 0 0.5em;
	}
	.contact-respond {
		margin-top: 30px;
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 30px;
		p {
			margin-bottom: 1em;
		}
		.form-submit {
			margin-bottom: 0;
		}
	}
	span.wpcf7-not-valid-tip {
	    color: #df2626;
	    display: block;
	    font-size: 0.8em;
	    margin-bottom: -10px;
	    margin-left: 4px;
	    margin-top: 3px;
	}
	div.wpcf7-validation-errors {
		border: 1px solid #efdf35;
		color: #df2626;
	}
	div.wpcf7-mail-sent-ng {
		border: 1px solid #df2626;
	} 
	div.wpcf7-response-output {
		padding: 0.4em 1em;
		margin: 0;
	}
	.wpcf7-mail-sent-ok {
		border-width: 1px;
	}
}