/*--------------------------------------------------------------
# Pre-Loader
--------------------------------------------------------------*/
.preloader {
    background: $color__white; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    z-index: 999999;
    .loader {
        top: 40%;
        position: relative;  
        i {
            font-size: 3em;
        }       
    }
}
.preloader-logo {
    position: relative;
    top: 20%;
    img {
        margin: auto;
    }
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
    background: $color__white;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}
.site-branding {
    text-align: center;
    clear: both;
    display: block;
    position: relative;
    padding: 75px 0;
    .site-logo {
        display: inline-block;
        position: relative;
        z-index: 5;
    }
}
.site-header .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.header-mobile {
    display: none;
}

.social-search {
    float: right;
    > .top-social {
        float: left;
        margin-right: 20px;
        > a {
          display: inline-block;
          font-size: 13px;
          line-height: normal;
          padding: 20px 10px;
          text-decoration: none;
        }
    }
    > #top-search {
        float: right;
    }
    button.btn.btn-default {
        padding: 15px 15px;
        background-color: #2e2e2e;
        border: none;
        color: #fff;
        > i.fa{
            font-size: 15px;
        }
    }
    #top-search #search-btn {
        padding: 20px 15px;
        line-height: normal;
    }
}
.search-submit {
    outline: none;
    border: none;
    background-color: transparent;
    color: #000;
    padding: 0;
    margin: 0;
}

//Header Search
#search-screen {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background: #f7f7f7;
    padding: 45px;
    .search-close:before {
        background: #9a9a9a;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
    }
    .search-close:after {
        background: #9a9a9a;
        bottom: 0;
        content: "";
        height: 40px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
    }
    .search-close:hover:before,
    .search-close:hover:after {
        background: $color__black;
    }
    .search-close {
        cursor: pointer;
        height: 40px;
        position: absolute;
        right: 25px;
        top: 30px;
        transform: rotate(45deg);
        transition: all 300ms ease 0s;
        width: 40px;
        z-index: 0;
    }
    h3 {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 30px auto 20px;
        text-transform: uppercase;
        word-spacing: 3px;
    }
    .search.default {
        margin: auto;
        max-width: 600px;
        padding-top: 15px;
    }
    .search.default .form-controller {
        font-size: 20px;
        padding: 20px 25px;
        height: 64px;
        font-family: $font__heading;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    .search.default .btn.btn-search {
        border-color: #ebebeb;
        font-size: 20px;
        height: 64px;
        padding: 17px;
        background: transparent !important;
        color: #505050;
    }
}

#pick-search-result {
    margin: auto;
    max-height: 450px;
    max-width: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    .post-amount {
        font-family: $font__heading;
        font-size: 22px;
        margin-bottom: 20px;
    }
    .results {
        padding: 6px 0;
    }    
    .results i.fa-arrow-right {
        font-size: 9px;
        line-height: normal;
        padding-right: 10px;
        position: relative;
        top: -3px;
    }
}