
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
	border: none;
}
.format-audio {
	iframe {
		width: 100%;
		overflow: hidden;
	}
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";


