.widget {
	margin: 0 0 1.9em; 
	border: 1px solid $color__border-main;
	background: $color__white;
	padding: 1.9em; 
	&:after, &:before {
		content: "";
		display: table;
		clear: both;
	}
	select {
		width: 100%;
		border: 1px solid $color__border-main;
		padding: 0.4em 0.8em;
	}
	ul, ol {
		margin-bottom: 0;
		margin-left: 0;
	}
	ul,ol,li {
		list-style: none;
		padding: 0;
	}

	li,li > ul {
		padding: 1em 0 0;
		border-top: 1px solid $color__border-main;
	} 
	li:first-child {
		padding: 0;
		border: 0;
	}
	.widget-title-area {
		text-align: center;
		margin-bottom: -42px;
	}
	.widget-title {
		border: 1px solid $color__border-main;
		background: $color__white; 
		display: inline-block;
		padding: 8px 30px;
		position: relative;
		top: -60px;
		text-transform: uppercase;
		font-size: 0.875em;
		line-height: 1.6em;
		letter-spacing: 0.03em;
		vertical-align: middle;
		margin: 12px 0;
		letter-spacing: 0.025em;
		word-spacing: 0.025em;
	}
	pre {
		padding: 0.5em;
	}
	label {
		margin-bottom: 0;
		display: inline;
	}
	option {
		padding: 0.2em 1em;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		padding: 0.5em 1em;
		&:focus {
		 	box-shadow: none !important;
		}
	}
}