{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

        <!-- Content Section 
        ===================================== -->
        <div id="content" class="site-content">	        
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div id="primary" class="content-area">
                            <main id="main" class="site-main">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{! This code is for include author info }}
                                        {{> "author-profile"}} 
                                    </div>
                                </div>
                            	<div class="row">
                            		{{! The code below includes the post loop - partials/loop-main.hbs }}
                                    {{#foreach posts}}
                                            {{> "loop"}} 
                                    {{/foreach}}
                            	</div> <!-- /.row -->

                                <!-- pagination -->
                              	{{pagination}}
                            </main> <!-- / Main -->
                        </div> <!-- / Content-Aria -->
                    </div> <!-- / Col-md-8 -->

                    <!-- sidebar Aria 
                    =========================== -->
					{{> "sidebar"}}
                </div> <!-- / Row -->
            </div> <!-- / Container -->
        </div> <!-- / site-content -->
