::-moz-selection {
  background: #9bc6b2;
}

::selection {
  background: #9bc6b2;
}

/* link color */
a:hover, a:focus, a:active {
  color: #9bc6b2;
}

blockquote:before {
  color: #9bc6b2;
}
blockquote cite, blockquote a, blockquote span {
  color: #9bc6b2;
}

.more-link {
  background: #9bc6b2;
}
.more-link:hover, .more-link:focus, .more-link:active:focus {
  background: rgba(155, 198, 178, 0.8);
}

.small-border {
  background: #9bc6b2;
}

.ex-small-border::after {
  background: #9bc6b2;
}

.comment-reply-link {
  border-color: #9bc6b2;
}
.comment-reply-link:hover {
  background: #9bc6b2;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-color: #9bc6b2;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #9bc6b2;
}

.btn-search {
  background: #9bc6b2;
}
.btn-search:focus, .btn-search:active:focus {
  background: #9bc6b2;
}

.continue-read {
  color: #9bc6b2;
}
.continue-read:hover {
  background: #9bc6b2;
  border-color: #9bc6b2;
}

.go-button:hover {
  background: #9bc6b2;
}
.results i {
  color: #9bc6b2;
}
#featured-slider .item .post-content .more-link-wrap .more-link:hover {
  background: #9bc6b2;
  border-color: #9bc6b2;
}
#featured-slider .owl-controls .owl-nav div:hover i {
  color: #9bc6b2;
}

/* Menu */
.menu-list > li a:hover {
  color: #9bc6b2;
}
.menu-list li a.active {
  color: #9bc6b2 !important;
}
.menu-list li .menu-submenu li a.active {
  color: #9bc6b2 !important;
}
.menu-submenu > li > a:hover,
.menu-submenu .menu-submenu > li > a:hover,
.menu-submenu .menu-submenu .menu-submenu > li > a:hover {
  color: #9bc6b2 !important;
}

.menu-list > li.current-menu-item > a,
.menu-list > li.current-menu-ancestor > a {
  color: #9bc6b2 !important;
}

.menu-submenu .current-menu-item > a,
.current-menu-ancestor .current-menu-ancestor > a {
  color: #9bc6b2 !important;
}

@media (max-width: 992px) {
  .menu-list > ul > li:hover > a,
  .menu-list > ul > li.active > a {
    color: #9bc6b2 !important;
  }
}
.post-format {
  color: #9bc6b2;
}

/* featured area */
#featured-slider .item .post-content .more-link-wrap .more-link {
  color: #9bc6b2;
}

/* Main content */
.content-area .entry-header .entry-meta a:hover {
  color: #9bc6b2;
}
.content-area .entry-content .edit-link:before {
  color: #9bc6b2;
}
.content-area .entry-footer .button:hover {
  background: #9bc6b2;
}
.content-area .entry-footer .comments-link:hover,
.content-area .entry-footer .view-link:hover {
  color: #9bc6b2;
}
.content-area .entry-footer .share-area a span:hover {
  background: #9bc6b2;
  border-color: #9bc6b2;
}
.content-area .entry-footer .tags-links span:before {
  color: #9bc6b2;
}
.content-area .format-link .post-link .icon-area i {
  color: #9bc6b2;
}
.content-area .format-quote .quote-icon a span::before,
.content-area .format-quote .quote-icon a span::after {
  color: #9bc6b2;
}

.content-area .grid .entry-footer .share-area a:hover span {
  color: #9bc6b2 !important;
}

.single-post .entry-content .tag a:hover {
  background: #9bc6b2;
  border-color: #9bc6b2;
}
.single-post .entry-footer .post-format {
  color: #9bc6b2;
}
.single-post .entry-footer .post-author a:hover {
  color: #9bc6b2;
}

/* pagination */
.navigation .nav-links > li.active a, .navigation .nav-links > li.active span {
  background: #9bc6b2;
  border-color: #9bc6b2;
}
.navigation .nav-links > li a:hover {
  background: #9bc6b2;
  border-color: #9bc6b2;
}
.navigation .nav-links li:first-child.nav-previous a:hover,
.navigation .nav-links li:last-child.nav-next a:hover {
  color: #9bc6b2;
}
.navigation > li.active a, .navigation > li.active span {
  background: #9bc6b2;
  border-color: #9bc6b2;
}
.navigation .nav-previous > a::after {
  background: #9bc6b2;
}
.navigation .nav-next > a::after {
  background: #9bc6b2;
}

/* gallery */
.gallery-one .owl-controls .owl-buttons div span, .gallery-two .owl-controls .owl-buttons div span {
  color: #9bc6b2;
}

.gallery-two .list-view .owl-controls .owl-buttons div {
  background: #9bc6b2;
}

.author-info .authors-social a:hover {
  color: #9bc6b2;
}

.related-post .related-post-title span::before,
.related-post .related-post-title span::after,
.comments-area .comments-title span::before,
.comments-area .comments-title span::after,
.comment-reply-title::before,
.comment-reply-title::after {
  color: #9bc6b2;
}

/* Comments Section */
/* Widget */
.widget .widget-title::before,
.widget .widget-title::after {
  color: #9bc6b2;
}

.about-widget .more-link::after {
  background: #9bc6b2;
}

.follow-us-area .follow-link .fa:hover {
  background: #9bc6b2;
  border-color: #9bc6b2;
}

.item-meta a, .popular-item-meta a {
  color: #9bc6b2;
}

.widget_categories li:hover > a,
.widget_archive li:hover > a {
  color: #9bc6b2;
}

.widget_categories li:hover > .count,
.widget_archive li:hover > .count {
  color: #9bc6b2;
}

.widget_categories li.current-cat > a,
.widget_categories li.current-cat-parent > a,
.widget_archive li.current-cat > a,
.widget_archive li.current-cat-parent > a {
  color: #9bc6b2;
}

.widget_categories li.current-cat > .count,
.widget_categories li.current-cat-parent > .count,
.widget_archive li.current-cat > .count,
.widget_archive li.current-cat-parent > .count {
  color: #9bc6b2;
}

.widget_tag_cloud .tagcloud a:hover {
  background: #9bc6b2;
  border-color: #9bc6b2;
}

.widget_calendar caption {
  background: #9bc6b2;
}

.widget_calendar tbody a {
  background: #9bc6b2;
}

.widget_links li a:hover,
.widget_meta li a:hover,
.widget_nav_menu li a:hover,
.widget_pages li a:hover,
.widget_recent_comments li a:hover,
.widget_recent_entries li a:hover {
  color: #9bc6b2;
}
.widget_links li span:hover:before,
.widget_meta li span:hover:before,
.widget_nav_menu li span:hover:before,
.widget_pages li span:hover:before,
.widget_recent_comments li span:hover:before,
.widget_recent_entries li span:hover:before {
  color: #9bc6b2;
}

.tp_recent_tweets li span a {
  color: #9bc6b2;
}

.tp_recent_tweets li .twitter_time:before {
  color: #9bc6b2;
}

.tp_recent_tweets li .twitter_time {
  color: #9bc6b2;
}

.widget_glimmer_aboutus_contact .about-contact-area h3 span {
  color: #9bc6b2;
}
.widget_glimmer_aboutus_contact .about-contact-area .about-mail i {
  color: #9bc6b2;
}

.newsletter-area .form-newsletter #mc-embedded-subscribe:after {
  background: #9bc6b2;
}
.newsletter-area .form-newsletter #mc-embedded-subscribe:hover, .newsletter-area .form-newsletter #mc-embedded-subscribe:focus, .newsletter-area .form-newsletter #mc-embedded-subscribe:active:focus {
  color: #9bc6b2;
}

/* author page */
/* Footer */
#footer-top .widget .widget-title span::before,
#footer-top .widget .widget-title span::after {
  color: #9bc6b2;
}

#footer-middle .widget_tag_cloud .tagcloud a:hover {
  border-color: #9bc6b2;
  background: #9bc6b2;
}
#footer-middle .widget_categories ul li .count:hover,
#footer-middle .widget_archive ul li .count:hover {
  background: #9bc6b2;
  border: 1px solid #9bc6b2;
}

.topbutton {
  color: #9bc6b2;
  border-color: #9bc6b2;
}
