/*--------------------------------------------------------------
# Header Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 780px) {
	.header-mobile {
		display: block;
	}
	.header-content {
		display: none;
	}
	.site-logo-mobile {
		display: block;
		padding: 40px 0;
		text-align: center;
	}
	#mbsearch-button {
		cursor: pointer;
		position: relative;
		z-index: 10;
		border: none;
	    &:hover, &:focus, &:active:focus {
	        background: transparent;
	        outline: none;
	        box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
	    }
	    i {
		 	font-size: 18px;
		    margin-top: 2px;
	    } 
	}
	.mobile-search-button {
		display: block;
	}
	.mbsearch-social .search .input-group {
		width: 100%;
	}
	#mobile-social {
		display: block;
		text-align: center;
		padding-top: 15px;
		color: $color__meta;
		height: 75px;
		overflow: hidden;
		span {
			display: block;
			font-weight: bold;
			margin-bottom: 10px;
		}
		> a {
			display: inline-block;
			padding: 0 5px;
		}
	}
}
/*--------------------------------------------------------------
# Featured Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 814px) {
	.feature-area .owl-controls .owl-buttons div {
		font-size: 70px;
	}
	.feature-area .owl-controls .owl-buttons .owl-prev {
		left: -45px;
	}	
	.feature-area .owl-controls .owl-buttons .owl-next {
		right: -46px;
	}
}
@media only screen and (max-width: 798px) {
	.feature-area .owl-controls .owl-buttons div {
		opacity: 1;
	}
	.feature-area .owl-controls .owl-buttons .owl-prev {
		left: -20px;
	}	
	.feature-area .owl-controls .owl-buttons .owl-next {
		right: -21px;
	}	
}
@media only screen and (max-width: 461px) {
	.feature-area #featured-item .image-extra .extra-content {
		padding: 15px;
	}
	.feature-area #featured-item .image-extra .inner-extra {
		padding: 15px 8px 0;
	}
	.feature-area #featured-item .image-extra .inner-extra h2 {
		font-size: em(24px);
	}	
	.feature-area #featured-item .image-extra .inner-extra .hr-line {
		margin: 12px 0;
	}
	.feature-area #featured-item .image-extra .inner-extra .fet-read-more {
		top: 16px;
	}
	.feature-area .owl-controls .owl-buttons div {
		font-size: em(24px);
		padding: 12px;
	}
}
@media only screen and (max-width: 420px) {
	.feature-area #featured-item .extra-content .entry-meta .devider {
		display: none;
	}	
	.feature-area #featured-item .extra-content .entry-meta span {
		display: block;
	}
	.feature-area #featured-item .image-extra .inner-extra .read-more {
		padding: 10px 18px;
	}
}
@media only screen and (max-width: 767px) {
	.mb-none {
		display: none;
	}
}
/*--------------------------------------------------------------
# Content Area Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	.content-area {
		padding-bottom: 1.75em;
	}
	.related-post .post-media img {
		max-height: none !important;
	}
	.related-post .post-body .entry-title {
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 520px) {
	.content-area .entry-header {
		margin-left: 30px;
		margin-right: 30px;
	}
}
@media only screen and (max-width: 521px) and (min-width: 480px) {

  .sticky-icon {
    right: -60px !important;
  }
 
}
@media only screen and (max-width: 479px) {

  .sticky-icon {
    right: -45px !important;
  }
 
}
@media only screen and (max-width: 470px) {
	.content-area {
		.entry-header {
			.entry-meta {
				padding: 0 2.5em;
			}
		}
		.post-comment {
			float: none !important;
			border-bottom: 1px solid $color__border-four;
			display: block;
			margin-bottom: 10px;
			padding-bottom: 10px;
			text-align: center;
		}
		.entry-footer .share-area {
			float: none !important;
			display: block;
			text-align: center;
		}
	}	
}
@media only screen and (max-width: 480px) {
	.content-area .entry-header {
		margin-left: 15px;
		margin-right: 15px;
	}
	.content-area .post-thumb,
	.content-area .post-media,
	.content-area .post-link {
		margin: 15px 15px 0;
	}
	.content-area .entry-content {
		padding: 0 15px;
	}	
}
@media only screen and (max-width: 340px) {
	.content-area .entry-header .entry-meta {
		.devider {
			display: none;
		}
		span {
			display: block;
		}
	}
}
/*--------------------------------------------------------------
# Post author-info Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 470px) {
	.author-info #author-img {
		display: block;
		width: 100%;
	}
	.author-info .at-img {
		 margin: 0 auto;
	}
	.author-info #author-details {
		display: block;
		text-align: center;
		width: 100%;
		border-width: 0 1px 1px;
		border-left: 1px solid $color__border-one;
	}	
}
@media only screen and (max-width: 370px) {
	.author-info #author-footer .post-count,
	.author-info #author-footer .authors-social {
		float: none;
	}
	.author-info #author-footer {
		text-align: center;
	}
}
/*--------------------------------------------------------------
# Footer Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	#footer-middle .widget {
		margin-bottom: 30px;
	}
	.newsletter-area .form-newsletter .pad-right {
		padding-right: 15px;
	}
	.newsletter-area .form-newsletter .pad-left {
		padding-left: 15px;
	}
}
@media only screen and (max-width: 768px) {
	#footer-top {
		#instafeed-area {	
			.list {
				width: 50%;
			}
		}
	}
	.topbutton {
		bottom: 8px;
		height: 35px;
		line-height: 36px;
		right: 8px;
		width: 35px;
		z-index: 10;
	}
}

@media only screen and (max-width: 780px) {
	.admin-bar {
		.top-menu {
			margin-top: 46px;
		}
		.animated-arrow.menuopen {
			top: 50px;
		}
	}
}
@media only screen and (max-width: 600px) {
	.admin-bar {
		.top-menu.scroll {
			margin-top: 0;
		}
		.animated-arrow.menuopen.scroll {
			top: 20px;
		}		
	}
}