.site-content {
	padding: floor($base__line-grid * 2.45) 0 0;
}
.content-area {
	.page-header {
		background: $color__white;
		border: 1px solid $color__border-four;
		margin: 0 0 1.9em;
		padding: 2.28em;
		text-align: center;
		.page-title {
			font-size: 1.563em;
			margin-bottom: 0;
			margin-top: 0;
		}
		.search {
			margin-top: 1.5em;
			.form-controller {
				height: 43px;
			}
			.btn-search {
				padding: 0.75em 1em;
			}
		}
	}
	// Post Header
	//---------------------
	.entry-header {
		clear: both;
		position: relative;
		text-align: center;
		padding: 30px 30px 0;
		i {
		   	color: #eaeaea;
		    font-size: 28px;
		}
		.entry-title {
			margin: 18px 0 30px;
			font-weight: bold;
		}
		.sticky-icon i {
		   	color: $color__white;
		    font-size: 16px;
		}
	}
	// Post Thumb
	//---------------------
	.post-thumb, .post-media, .post-link {
		margin: 30px 30px 0;
	}
	.post-thumb img {
		margin: auto;
	}
	.post-thumb, .post-media {
		position: relative;
	}
	// Post Content
	//---------------------
	.entry-content {
		margin: 22px 0 0;
		padding: 0 30px;
		p a:hover {
			text-decoration: underline;
		} 
		ul, ol {
			margin-bottom: 30px;
			margin-left: 20px; 
		}
		ol li, 
		ul li {
			margin-top: 12px;
		}
		iframe {
			padding-top: 10px;
			padding-bottom: 22px;
		}
	}
	// Post Footer
	//---------------------
	.entry-footer {
		padding: 8px 30px 30px;
		.footer-meta {
			font-size: 13px;
			color: $color__meta;
			a {
				color: inherit;
			}
		}
		.post-comment {
			float: left;
		}
		.comments-link {
			&:before {
				content: "\e604";
				font-family: 'josephine';
				padding-right: 5px;
				font-weight: normal;
				font-size: 13px;
				vertical-align: top;		
			}
		}
		.share-area {
			display: inline-block;
			float: right;
			color: $color__meta;
			&:before {
				content: "\e60a";
				font-family: 'josephine';
				padding-right: 5px;
				font-weight: normal;
				font-size: 13px;
				vertical-align: top;	
			}
			a {
				margin: 0 5px;
				font-size: 13px;
				&:first-child {
					margin-left: 8px;
				}
			}
		}
		.tags-links {
			span:before {
				content: "\f02b";
				font-family: FontAwesome;
				position: relative;
				left: -0.8em; 
			}
		}
	}
}
/*--------------------------------------------------------------
# Single Post Footer
--------------------------------------------------------------*/
.single-post {
	&.format-video {
		.entry-header {
			position: relative;
			@include prefixed(transform, translateY(0));
		}
	}
	.entry-content {
		.tag {
			font-size: 13px;
			color: $color__meta;
		}
		.tag span {
			display: block;
			font-weight: bold;
			margin-bottom: 8px;
		}
		.tag a {
			font-family: $font__heading;
			border: 1px solid $color__border-four;
			display: block;
			color: $color__black;
			float: left;
			font-weight: normal;
			line-height: 1.4em !important;
			margin-bottom: 5px;
			margin-right: 5px;
			padding: 6px 17px;
			position: relative;
			text-decoration: none;
			transition: all 0.2s linear 0s;
			white-space: nowrap;
			&:hover {
				color: $color__white;
				transition: all 0.1s linear 0s;
			}
		}
	}
	.inline {
		display: inline-block;
		float: left;
		padding-right: 8px;
		&.post-format {
			font-size: 16px;
		}
		&.post-view:after {
			content: ",";
		}
	}
	.entry-footer {
		border-top: 1px solid $color__border-four;
		margin-left: 30px;
		margin-right: 30px;
		margin-top: 30px;
		padding-left: 0;
		padding-right: 0;
		padding-top: 15px;
		.footer-meta {
			margin-top: 0;
		}
	}
}
/*--------------------------------------------------------------
# Single Post Navigation
--------------------------------------------------------------*/
.post-navigation {
    background-color: $color__white;
    border: 1px solid $color__border-four;
    display: table;
    margin-bottom: 30px;
    position: relative;
    //table-layout: fixed;
    vertical-align: middle;
    width: 100%;
	.post-previous, 
	.post-next {
	    display: table-cell;
	    position: relative;
	    vertical-align: middle;
	    width: 50%;
	    border-left: 1px solid $color__border-four;
	    border-right: 1px solid $color__border-four;
	}
	.post-previous i.fa {
	    left: 25px
	}
	.post-next i.fa {
	    right: 25px
	}
	i.fa {
	    font-size: 30px;
	    position: absolute;
	    top: 50%;
	    @include prefixed(transform, translateY(-50%));
	}
	.post-previous {
	    padding: 40px 10px 40px 25px;
	    text-align: left;
		border-left: 0 none;
		border-right: 0 none;
	}
	.post-next {
	   	padding: 40px 25px 40px 10px;
	    text-align: right;
	    border-right: 0 none;
	}
	h3 {
	    font-size: $heading__four;
	    font-weight: normal;
	    margin: 0;
	    transition: all 0.2s linear 0s;
	    span {
	    	display: block;
	    	font-size: 15px;
	    	font-family: $font__body;
	    	color: $color__meta;
	    }
	}
	.post-previous h3 {
	    margin-left: 40px;
	}
	.post-next h3 {
	    margin-right: 40px;
	}
	&.no-next-link .post-previous {
	    float: left;
	    border-right: 1px solid $color__border-four;
	}
	&.post-navigation.no-next-link .post-next {
	    float: right;
	    border-left: 1px solid $color__border-four;
	}
}

/*--------------------------------------------------------------
# Category Section Heading
--------------------------------------------------------------*/
.archive-page-title {
	margin-bottom: 30px;
	.title-content {
		background: $color__white;
		border: 1px solid $color__border-four;
		padding: 45px;
		text-align: center;
		h1 {
			margin: 0;
			line-height: 1em;
			font-weight: bold;
			span {
				display: block;
				font-size: 18px;
				font-family: $font__body;
				font-style: italic;
				font-weight: normal;
				&:after {
				   background-color: $color__border-three;
				   content: "";
				   display: block;
				   height: 2px;
				   margin: 8px auto;
				   width: 150px;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
# Post Author Info 
--------------------------------------------------------------*/
.author-info {
	background: $color__white;
	margin-bottom: 1.9em;
	.bg-overlay {
		background: rgba($color__white, 0.9);
	}
	.at-img {
		width: 110px;
		height: 110px;
		position: relative;
		overflow: hidden;
		@include prefixed(border-radius, 50%);
	}
	.at-img > img {
	    max-height: 110px;
	    max-width: 110px;
	}
	#author-img, #author-details {
		@include table_display;
	}
	#author-img {
		vertical-align: middle;
		border: 1px solid $color__border-four;
		padding: 1.9em;
	}
	.author-name {
		font-size: $heading__four;
		font-weight: bold;
		margin: 1em 0 0;
	}
	.authors-title {
		font-family: $font__body;
	  	font-size: 13px;
	  	color: #a0a0a0;
	    margin: 5px 0 16px;
	}
	#author-details {
		border: 1px solid $color__border-four;
		border-left: 0;
		padding:0 2em;
		width: 1070px;
		overflow: hidden;
	}
	.authors-bio p {
		font-size: em(15px);
		line-height: 1.45em;
		margin-bottom: 1.5em;
	}
	#author-footer {
		border: 1px solid $color__border-four;
		border-top: 0;
		display: table;
		width: 100%;
		padding: 15px 30px;
		font-size: 13px;
		color: $color__meta;
		b {
			font-weight: bold;
		}
		.post-count {
			float: left;
		}
		.authors-social {
			float: right;
			display: inline-block;
			b {
				font-weight: bold;
			  	margin-right: 14px;
			    vertical-align: middle;
			}
			a {
				padding: 0 5px;
				&:first-child {
					padding-left: 15px;
				}
				i {
					vertical-align: middle;
				}
			}
		}		
	}
}
.archive.author {
	.author-info {
		margin-top: 0;
		margin-bottom:2.2em;
	}
}

/*--------------------------------------------------------------
# Related Post 
--------------------------------------------------------------*/
#related-post-wrap {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		text-align: center;
		margin-top: 10px;
	}
	li:first-child {
		padding-left: 0;
	}
	li:last-child {
		padding-right: 0;
	}
	li img {
		margin-bottom: 15px;
	}
	li time {
		font-size: 13px;
		margin-top: 10px;
		color: #a0a0a0;
	}
	li h5 {
		margin-top: 5px;
	}
}
.related-post-title {
	font-size: $heading__five;
    font-weight: bold;
    margin: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
	&:after {
	    background-color: $color__border-three;
	    content: "";
	    display: block;
	    height: 2px;
	    margin: 10px auto;
	    width: 42px;
	}
}
.related-post,
.comments-area {
	background: $color__white;
	border: 1px solid $color__border-four;
	margin-bottom: 30px;
	padding: 30px;
}
