/*--------------------------------------------------------------
# About widget
--------------------------------------------------------------*/
.about-widget {
	.author-image-home {
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	.author-name {
		font-size: 24px;
		font-weight: 700;
		word-spacing: 2px;
		text-align: center;
		margin: 0.8em 0 0.4em;
	}
	.about-description {
		text-align: center;
		font-family: $font__body;
		p {
			font-size: 14px;
			line-height: 1.6em;
			margin-bottom: 2em;
			text-align: center;
		}
	}
	.more-link {
		height: 40px;
		line-height: 37px;
		width: 130px;
		margin-top: 0;
	}
}

/*--------------------------------------------------------------
# Latest widget
--------------------------------------------------------------*/
@include widget_class("latest");
.latest-image {
	.post-thumb i.fa-image {
	    font-size: 68px;
	    margin-top: -4px;
	    color: #a7a7a7;
	}
}

/*--------------------------------------------------------------
# TagCloud Widget
--------------------------------------------------------------*/
.widget_tag_cloud {
	.tagcloud {
		margin-bottom: -2px;
		a {
			border: 1px solid $color__border-four;
			display: block;
			color: $color__black;
			float: left;
			font-size: 12px !important;
			font-weight: normal;
			line-height: 1.4em !important;
			margin-bottom: 5px;
			margin-right: 5px;
			padding: 6px 17px;
			position: relative;
			text-decoration: none;
			white-space: nowrap;
			letter-spacing: 0.05em;
			@include prefixed(transform, translateZ(0));
			@include prefixed(backface-visibility, hidden);
			@include prefixed(transition, all 0.2s linear 0s);
			&:hover {
				color: $color__white;
			}
		}
	}
}

/*--------------------------------------------------------------
# Follow Us Widget
--------------------------------------------------------------*/
.follow-us-area {
	margin: 0 auto -7px;
	text-align: center;
	.follow-link .fa {
		border: 1px solid $color__border-four;
		color: $color__meta;
		height: 35px;
		line-height: 2.8em;
		margin: 0 3px 9px;
		font-size: 0.8em;
		display: inline-block;
		text-align: center;
		width: 35px;
		&:hover {
			color: $color__white;
		}
	}
}
/*--------------------------------------------------------------
# About And Contact Widget
--------------------------------------------------------------*/
.widget_josephine_aboutus_contact {
	.about-contact-area {
		p {
			font-family: $font__body;
			font-size: 15px;
			margin-bottom: 15px;
		}
		.about-mail {
			font-family: $font__body;
			border-top: 1px solid $color__border-five;
			padding: 1.198em 0 0;
			margin-top: 1.7em;
			li {
				border: 0;
				padding-top: 0.25em;
				a, span {
					font-size: 14px;
					font-weight: bold;
				}
			}
			li:first-child {
				vertical-align: middle;
			}
			i {
				margin-right: 10px;
				vertical-align: middle;
				&.fa-mobile {
					font-size: 1.563em;
					position: relative;
					top: -1px;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
# Advertisement Widget
--------------------------------------------------------------*/
.widget_josephine_advertisement {
	.advertisement-img img {
		margin: auto;
	}
}


/*------------------------------------------------------------------------
# Links, Meta, NavMenu, Pages, Recent Comment, Recent Entries  Widget
-------------------------------------------------------------------------*/
.widget_nav_menu .menu a {
	border: 0;
}
.widget_nav_menu {
	font-size: 15px;
	a {
		border: 0;
		text-decoration: none;
	}
	ul {
		list-style: none;
		margin: 0;
		li {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px dotted $color__border-one;
			border-bottom: 0 none;
			span:before,
			a:before {
				content: "\f054";
				font-family: FontAwesome;
				margin-right: 1em;
				font-size: 0.55em;
				vertical-align: middle;
				position: relative;
				top: -1.5px;
				left: 0;
				@include prefixed(transition, left 0.35s ease-in);
			}
			span > a:before {
				content: "";
				margin-right: 0;
			}
			span:hover,
			a:hover {
				&:before {
					left: 5px;
				}
			}
		}	
	}
	> ul > li:first-child {
		margin-top: 0;
		padding-top: 0;
		border-top: 0 none;
	}
}

.widget_nav_menu .sub-menu,
.widget_pages .children {
	border: 0;
	margin: 0 0 0 1em;
}
/*--------------------------------------------------------------
# Email Subscribe Widget
--------------------------------------------------------------*/
.newsletter-area {
	font-family: $font__body;
	.form-newsletter {
		.pad-right {
			padding-right: 5px;
		}
		.pad-left {
			padding-left: 5px;
		}
		p {
			margin-bottom: 15px;
		}
	}
}
/*--------------------------------------------------------------
# Flickr Widget Plugin Fix
--------------------------------------------------------------*/
ul.flickr li, 
.widget ul.flickr li {
	margin: 2px!important;
	border-bottom: none;
}

.josephine_flickr {
  padding: 3px;
}
.josephine_flickr li {
  float: left;
  height: 82px;
  list-style: outside none none;
  margin: 0;
  overflow: hidden;
  width: 94px;
}
.josephine_flickr img {
  height: 100%;
  width: 100%;
}

button.mail-submite {
  overflow: hidden;
  padding: 12px 5px;
  width: 100%;
  background-color: transparent;
  color: $color__footer;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  border-color: $color__border-five;
}

button.mail-submite:hover {
  background-color: transparent;
}

button.mail-submite:active {
  margin-top: 15px;
  background-color: #2c3e50;
  box-shadow: 0px 0px #49b294;
}

button.mail-submite::-moz-focus-inner {
  border: 0;
}

.mc-loading button {
  background: #2c3e50 url("../images/loading.gif") center center no-repeat;
  text-indent: -9999px;
}
.mc-response {
	margin-top: 10px;
}

.google-plus-widget,
.facebook-widget {
	margin: auto;
	text-align: center;
}
