/*
Theme Name: Glimmer
Theme URI: http://softhopper.net
Author: SoftHopper
Author URI: http://softhopper.net
Description: It\' s a blog theme. Which is a unique feature and user competitive feature.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: glimmer
Tags:  two-columns, right-sidebar, left-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images,  post-formats, sticky-post, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Glimmer is based on Underscores http://underscores.me/, (C) 2012-2015 Automatic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
	## Pagination
	## Navigation responsive
# Accessibility
# Alignments
# Clearings
# Widgets
#layouts
	## Header Content
	## Featured Content
	## Main Content
	## Widget-content
	## Layout Responsive
# Content
    ## Posts and pages
	## Asides
	## Comments
	## Site Responsive
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
  font-size: 1em;
}

body {
  background-color: white;
  font-family: "lora", serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.45em;
  color: #505050;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2em;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

small, .font_small {
  font-size: 0.8em;
}

::-moz-selection {
  color: #ffffff;
  text-shadow: none;
}

::selection {
  color: #ffffff;
  text-shadow: none;
}

p {
  margin-bottom: 1.3em;
  line-height: 1.73em;
  letter-spacing: 0.05em;
}

blockquote {
  margin: 0 0 1.3em;
}

address {
  margin: 0 0 1.3em;
}

dfn, em, cite, i, code, kbd, tt, var, pre {
  font-size: 1em;
}

em, cite, i {
  font-style: italic;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

pre {
  background: #f5f5f5;
  line-height: 1.6em;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

.dropcap::first-letter {
  display: block;
  float: left;
  margin: 8px 15px 0 0;
  font-weight: bold;
  font-size: 48px;
  color: #ccc;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  background: #f5f5f5;
  /* Fallback for when there is no custom background color defined. */
  word-wrap: break-word;
}

q {
  quotes: "" "";
}
q:before, q:after {
  content: "";
}

blockquote {
  margin-left: 50px !important;
  border: 0;
  padding: 0;
  font-style: italic;
  font-size: 1.25em;
  font-weight: 400;
  position: relative;
  z-index: 100;
  border-left: 5px solid #eeeeee;
}
blockquote:before {
  content: "";
  display: block;
  height: auto;
  left: -50px;
  margin-top: -35px;
  padding-top: 0.7em;
  position: absolute;
  top: 50%;
  content: "\f10d";
  font-style: normal;
  font-family: FontAwesome;
  font-size: 1.563em;
}
blockquote p {
  padding: 0 1em;
  margin-bottom: 10px;
  position: relative;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote p cite {
  margin-left: 0;
  padding-left: 0;
}
blockquote cite, blockquote a, blockquote span {
  padding: 0 1.2em;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
}
blockquote cite {
  display: block;
}
blockquote cite::before {
  content: "--";
  padding-right: 5px;
}

.single-post blockquote {
  margin: 1.5em 0;
}

ul, ol {
  padding-left: 0.9em;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  border: 1px solid #d6d6d6;
}

th, td {
  border: 1px solid #d6d6d6;
}

td {
  border-width: 0 1px 1px 0;
}

/* post, page, comments table */
.site-main .post li, .site-main .content-area .page li, .content-area .site-main .page li, .site-main .content-area .type-attachment li, .content-area .site-main .type-attachment li, .site-main .page li, .site-main #comments li {
  line-height: 1.3em;
}
.site-main .post table, .site-main .content-area .page table, .content-area .site-main .page table, .site-main .content-area .type-attachment table, .content-area .site-main .type-attachment table, .site-main .page table, .site-main #comments table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-left: none;
}
.site-main .post table tbody tr.odd, .site-main .content-area .page table tbody tr.odd, .content-area .site-main .page table tbody tr.odd, .site-main .content-area .type-attachment table tbody tr.odd, .content-area .site-main .type-attachment table tbody tr.odd, .site-main .page table tbody tr.odd, .site-main #comments table tbody tr.odd {
  background: #ffffff;
}
.site-main .post table th, .site-main .content-area .page table th, .content-area .site-main .page table th, .site-main .content-area .type-attachment table th, .content-area .site-main .type-attachment table th, .site-main .post table td, .site-main .content-area .page table td, .content-area .site-main .page table td, .site-main .content-area .type-attachment table td, .content-area .site-main .type-attachment table td,
.site-main .post table td,
.site-main .content-area .page table td,
.content-area .site-main .page table td,
.site-main .content-area .type-attachment table td,
.content-area .site-main .type-attachment table td, .site-main .page table th, .site-main .page table td,
.site-main .page table td, .site-main #comments table th, .site-main #comments table td,
.site-main #comments table td {
  border-left: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  line-height: 18px;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

/* Overlay */
/* Some border */
.small-border {
  display: block;
  height: 2px;
  margin: 0.5em 0.8em;
  width: 90px;
}

.ex-small-border {
  display: block;
  height: 1px;
  margin: 0.5em auto 0.8em;
  width: 200px;
  background: #d6d6d6;
  position: relative;
}
.ex-small-border:after {
  content: "";
  height: 3px;
  left: 50%;
  margin-left: -38px;
  position: absolute;
  top: -1px;
  width: 80px;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.025em;
  padding: 0.7em 2.4em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

button, input[type="button"], input[type="reset"], input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}

button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button a, input[type="button"] a, input[type="reset"] a, input[type="submit"] a {
  color: #ffffff;
}

.btn {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.btn:hover, .btn:focus {
  color: #ffffff;
  text-decoration: none;
}
.btn:focus {
  outline: 0 none;
}
.btn:active:focus {
  outline: 0 none;
}

.continue-read {
  border: 1px solid #d6d6d6;
  padding: 0.4em 2.6em;
  font-size: 0.8em;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.continue-read:hover {
  color: #ffffff;
}

.comment-reply-link {
  padding: 0.3em 1.6em;
  margin-top: 1.1em;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  display: inline-block;
}
.comment-reply-link:hover {
  color: #ffffff;
}

.comment-navigation .nav-links a {
  background: #ffffff;
  display: inline-block;
  padding: 0.5em 1.8em;
  letter-spacing: 0.02em;
}
.comment-navigation .nav-links a:hover {
  color: #ffffff;
}

.go-button {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  display: inline-block;
  width: 192px;
  height: 40px;
  line-height: 3.2em;
}

.entry-content .btn {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.7em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 0.5em 1em;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent url("images/select2.png") no-repeat scroll 95% 50%;
}
select option[selected] {
  color: #ffffff;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: #505050 !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: #505050 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  display: block;
  width: 100%;
  font-size: 0.8em;
  padding-left: 3px;
  display: block;
}

input,
select,
textarea {
  margin: 0;
  border: none;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: 400;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* Placeholder Color */
::-webkit-input-placeholder {
  color: #9c9c9c;
}

:-moz-placeholder {
  color: #9c9c9c;
  opacity: 1;
}

::-moz-placeholder {
  color: #9c9c9c;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9c9c9c;
}

/* Form Controls */
.form-controller {
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  border: 1px solid #f0f0f0;
  background: #ffffff;
  width: 100%;
  padding: 0.5em 1em;
  outline: none;
}
.form-controller:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Post password Form */
.post-password-form input[type="password"] {
  font-size: 0.8em;
  border: 1px solid #eeeeee;
  outline: none;
}
.post-password-form input[type="submit"] {
  margin-left: -5px;
  padding: 0.58em 1.4em;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #333333;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-nav {
  position: relative;
}

.top-menu {
  width: auto;
  line-height: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  position: relative;
  max-width: 85%;
  z-index: 999;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  -webkit-overflow-scrolling: touch;
}
.top-menu ul,
.top-menu ul li,
.top-menu ul li a,
.top-menu #menu-button {
  width: auto;
  line-height: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  position: relative;
}
.top-menu:after,
.top-menu #menu-button {
  display: none;
}
.top-menu #menu-line {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.top-menu > ul > li {
  float: left;
}
.top-menu.align-center > ul {
  font-size: 0;
  text-align: center;
}
.top-menu.align-center > ul > li {
  display: inline-block;
  float: none;
}
.top-menu.align-center ul ul {
  text-align: left;
}
.top-menu.align-right > ul > li {
  float: right;
}
.top-menu.align-right ul ul {
  text-align: right;
}
.top-menu.align-right li:hover > ul {
  right: 0;
}
.top-menu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
.top-menu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
.top-menu .has-sub ul li {
  font-weight: 400;
  border: none !important;
}
.top-menu ul li {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.top-menu ul li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.top-menu > ul > li > a {
  padding: 23px 28px;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: color 0.45s ease;
  transition: color 0.45s ease;
}
.top-menu > ul > li:hover > a,
.top-menu > ul > li.active > a {
  color: #000000;
}
.top-menu > ul > li.has-sub:hover > a::after {
  border-color: #000000;
}
.top-menu ul ul {
  position: absolute;
  left: -9999px;
  z-index: 99999;
  white-space: nowrap;
}
.top-menu li:hover > ul {
  left: auto;
}
.top-menu ul ul ul {
  margin-left: 100%;
  top: 0;
}
.top-menu ul ul li {
  height: 0;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
}
.top-menu ul li:hover > ul > li {
  height: 32px;
}
.top-menu ul ul li a {
  padding: 15px 18px;
  width: auto;
  min-width: 145px;
  font-size: 0.9em;
  line-height: 1.3em;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.top-menu ul ul li:hover > a,
.top-menu ul ul li a:hover {
  color: #ffffff;
}
.top-menu ul ul li.has-sub > a::after {
  position: absolute;
  top: 22px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.top-menu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
.top-menu .current-menu-ancestor > a {
  color: #000000;
}
.top-menu .current-menu-ancestor .current-menu-ancestor > a {
  color: #ffffff;
}
.top-menu .current-menu-item > a {
  color: #ffffff;
}

/* For Mobile menu Button */
.menu-opened#menu-button::before {
  transform: rotate(45deg);
  border-bottom: 0 !important;
  top: 20px !important;
  left: 7px;
  width: 22px !important;
}

.menu-opened#menu-button::after {
  transform: rotate(-45deg);
  top: 21px !important;
  width: 22px !important;
  left: 9px;
}

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
/* Pagination */
.navigation {
  padding-top: 0.6em;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
}
.navigation:before, .navigation:after {
  content: " ";
  display: table;
}
.navigation:after {
  clear: both;
}
.navigation .nav-links {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 1em;
  margin: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.navigation .nav-links a {
  font-weight: 500;
}
.navigation .nav-links > li {
  display: inline-block;
  margin: 0 2px;
}
.navigation .nav-links > li:first-child, .navigation .nav-links > li:last-child {
  margin: 0;
}
.navigation .nav-links > li a, .navigation .nav-links > li span {
  padding: 8px 12px;
  background: #ffffff;
}
.navigation .nav-links > li .ico-right-angle, .navigation .nav-links > li .ico-left-angle {
  font-size: 0.6em;
}
.navigation .nav-links > li a > span {
  padding: 0;
  border: 0;
}
.navigation .nav-links > li span.page-numbers.dots {
  border: 0;
  background: transparent;
}
.navigation .nav-links > li a:hover {
  color: #ffffff;
}
.navigation .nav-links > li.active a, .navigation .nav-links > li.active span {
  color: #ffffff;
}
.navigation .nav-links li.nav-previous, .navigation .nav-links li.nav-next {
  background: #ffffff;
}
.navigation .nav-links li.nav-previous a, .navigation .nav-links li.nav-previous span, .navigation .nav-links li.nav-next a, .navigation .nav-links li.nav-next span {
  padding: 0;
  border: 0;
  display: inline-block;
}
.navigation .nav-links li.nav-previous a:hover, .navigation .nav-links li.nav-next a:hover {
  background: #ffffff;
}
.navigation .nav-links li.nav-previous {
  border: 0;
  margin-top: -6px;
}
.navigation .nav-links li.nav-previous span {
  padding: 12px;
}
.navigation .nav-links li.nav-previous a {
  display: inline-block;
}
.navigation .nav-links li.nav-previous span:first-child {
  height: 35px;
  line-height: 1.1em;
  width: 30px;
}
.navigation .nav-links li.nav-previous span:last-child {
  float: right;
  height: 35px;
  width: 100px;
  line-height: 0.7em;
  display: block;
  margin: 0;
  border-left: 0 !important;
}
.navigation .nav-links li.nav-previous:hover span {
  color: #ffffff;
}
.navigation .nav-links li.nav-previous:hover span:last-child {
  background: transparent !important;
}
.navigation .nav-links li.nav-previous.disabled > a {
  pointer-events: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.navigation .nav-links li.nav-next {
  border: 0;
  margin-top: -6px;
}
.navigation .nav-links li.nav-next span {
  padding: 12px;
}
.navigation .nav-links li.nav-next a {
  display: inline-block;
}
.navigation .nav-links li.nav-next span:first-child {
  float: left;
  height: 35px;
  width: 100px;
  line-height: 0.7em;
  display: block;
  margin: 0;
  border-right: 0 !important;
}
.navigation .nav-links li.nav-next span:last-child {
  height: 35px;
  line-height: 1.1em;
  width: 30px;
}
.navigation .nav-links li.nav-next:hover span {
  color: #ffffff;
}
.navigation .nav-links li.nav-next:hover span:first-child {
  background: transparent !important;
}
.navigation .nav-links li.nav-next.disabled > a {
  pointer-events: none;
  filter: alpha(opacity=60);
  opacity: 0.6;
}

/* Single Post Pagination */
.single-post .entry-footer .single-navigation th, .single-post .entry-footer .single-navigation td {
  width: 50%;
  padding: 0;
}
.single-post .entry-footer .single-navigation th a, .single-post .entry-footer .single-navigation td a {
  display: block;
  position: relative;
}
.single-post .entry-footer .single-navigation .nav-previous span:first-child {
  border-right: 1px solid #f0f0f0;
  display: inline-block;
  padding: 1.66em 1.4em;
  left: 0;
  top: 0;
  position: absolute;
  font-size: 0.8em;
}
.single-post .entry-footer .single-navigation .nav-previous span:last-child {
  padding: 1em;
  display: block;
}
.single-post .entry-footer .single-navigation .nav-previous:hover span:first-child {
  color: #ffffff;
}
.single-post .entry-footer .single-navigation .nav-next span:last-child {
  border-left: 1px solid #f0f0f0;
  display: inline-block;
  padding: 1.66em 1.4em;
  right: 0;
  top: 0;
  position: absolute;
  font-size: 0.8em;
}
.single-post .entry-footer .single-navigation .nav-next span:first-child {
  padding: 1em;
  display: block;
}
.single-post .entry-footer .single-navigation .nav-next:hover span:last-child {
  color: #ffffff;
}

/* page link pagination */
.entry-content .page-links > a {
  border: 1px solid #eeeeee;
  font-size: 0.8em;
  padding: 0.4em 0.8em;
}

/*--------------------------------------------------------------
## Navigation Responsive
--------------------------------------------------------------*/
@media (max-width: 992px) {
  .main-nav .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    overflow: hidden;
  }
  .main-nav .top-menu {
    padding-bottom: 0;
    min-width: 60px;
  }
  .main-nav .top-menu .menu-button-area {
    height: 42px;
  }
  .main-nav .top-menu ul {
    background: #f1f1f1;
  }
  .main-nav .top-menu > ul > li > a {
    color: #505050 !important;
  }
  .main-nav .top-menu ul ul li a {
    color: #505050;
  }

  .top-menu #menu-button {
    display: inline-block !important;
    top: -8px;
    left: 1em !important;
  }

  .top-menu ul li:last-child {
    border-right: 0 !important;
  }

  #top-search {
    z-index: 99999;
    top: 0;
    right: 1.5em !important;
  }

  #top-social {
    z-index: 99999;
    top: 0;
    right: 4.4em !important;
  }

  .search-row {
    width: 95% !important;
  }
}
@media all and (max-width: 992px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .top-menu {
    width: 100%;
    max-width: 100%;
    padding: 1.2em 0;
  }
  .top-menu ul {
    width: 100%;
    display: none;
  }
  .top-menu ul li {
    border-left: 0 !important;
  }
  .top-menu.align-center > ul, .top-menu.align-right ul ul {
    text-align: left;
  }
  .top-menu ul ul {
    white-space: normal;
  }
  .top-menu ul li,
  .top-menu ul ul li,
  .top-menu ul li:hover > ul > li {
    width: 100%;
    height: auto;
  }
  .top-menu ul li a,
  .top-menu ul ul li a {
    width: 100%;
    border-top: 1px solid rgba(156, 156, 156, 0.15);
  }
  .top-menu > ul > li, .top-menu.align-center > ul > li, .top-menu.align-right > ul > li {
    float: none;
    display: block;
  }
  .top-menu ul ul li a {
    padding: 20px 20px 20px 38px;
    color: #000000;
    background: none;
  }
  .top-menu ul ul li:hover > a,
  .top-menu ul ul li a:hover {
    color: #000000;
  }
  .top-menu ul ul ul li a {
    padding-left: 40px;
  }
  .top-menu ul ul,
  .top-menu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  .top-menu > ul > li.has-sub > a::after,
  .top-menu ul ul li.has-sub > a::after {
    display: none;
  }
  .top-menu ul li ul li a {
    padding: 22px 20px 20px 38px;
  }
  .top-menu #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  .top-menu #menu-button::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 10px;
    display: block;
    width: 22px;
    height: 2px;
    background: #000000;
    -webkit-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
  }
  .top-menu #menu-button::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 10px;
    display: block;
    width: 22px;
    height: 7px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    -webkit-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
  }
  .top-menu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 22px;
    top: 0;
    display: block;
    border-left: 1px solid rgba(156, 156, 156, 0.15);
    height: 60px;
    width: 50px;
    cursor: pointer;
  }
  .top-menu .submenu-button::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  .top-menu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 30px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  .top-menu .submenu-button.submenu-opened:after {
    display: none;
  }

  #menu-line {
    display: none;
  }

  #menu-background {
    bottom: 0;
    height: 60px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    display: block;
    z-index: 9999;
  }
}
@media (max-width: 991px) {
  .top-menu ul li {
    border: 0;
  }
}
@media (max-width: 590px) {
  .paging-navigation .nav-links li {
    display: none;
  }
  .paging-navigation .nav-links li:first-child.nav-previous,
  .paging-navigation .nav-links li:last-child.nav-next {
    display: block;
  }
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Breadcrumb */
.breadcrumb {
  display: inline-block;
  padding: 0;
  margin-bottom: 1.438em;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
}
.breadcrumb li:first-child {
  color: #ffffff;
  padding: 0.2em 1em;
}
.breadcrumb > li + li {
  font-family: "lora", serif;
  font-style: italic;
}
.breadcrumb > li + li::before {
  content: "\e605";
  font-family: 'glimmer';
  font-style: normal;
  font-size: 0.6em;
  margin: 0 0.6em;
  padding: 0;
}
.breadcrumb > li + li + li::before {
  content: "";
  margin: 0;
}
.breadcrumb .divider {
  margin: 0 5px;
  color: #505050;
}
.breadcrumb .active {
  padding-right: 1em;
}
.breadcrumb .paged {
  padding-right: 10px;
}
.breadcrumb .paged:before {
  content: "--";
  left: -6px;
  padding-right: 5px;
  position: relative;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.9em;
  border: 1px solid #f0f0f0;
  background: #ffffff;
  padding: 1.9em;
}
.widget:after, .widget:before {
  content: "";
  display: table;
  clear: both;
}
.widget select {
  width: 100%;
  border: 1px solid #f0f0f0;
  padding: 0.4em 0.8em;
}
.widget ul, .widget ol {
  margin-bottom: 0;
  margin-left: 0;
}
.widget ul, .widget ol, .widget li {
  list-style: none;
  padding: 0;
}
.widget li, .widget li > ul {
  padding: 1em 0 0;
  border-top: 1px solid #f0f0f0;
}
.widget li:first-child {
  padding: 0;
  border: 0;
}
.widget .widget-title-area {
  text-align: center;
  margin-bottom: -42px;
}
.widget .widget-title {
  border: 1px solid #f0f0f0;
  background: #ffffff;
  display: inline-block;
  padding: 8px 30px;
  position: relative;
  top: -60px;
  text-transform: uppercase;
  font-size: 0.875em;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  vertical-align: middle;
  margin: 12px 0;
  letter-spacing: 0.025em;
  word-spacing: 0.025em;
}
.widget pre {
  padding: 0.5em;
}
.widget label {
  margin-bottom: 0;
  display: inline;
}
.widget option {
  padding: 0.2em 1em;
}
.widget input[type="text"],
.widget input[type="email"],
.widget input[type="url"],
.widget input[type="password"],
.widget input[type="search"],
.widget textarea {
  padding: 0.5em 1em;
}
.widget input[type="text"]:focus,
.widget input[type="email"]:focus,
.widget input[type="url"]:focus,
.widget input[type="password"]:focus,
.widget input[type="search"]:focus,
.widget textarea:focus {
  box-shadow: none !important;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header Content
--------------------------------------------------------------*/
/* Pre-Loader */
.preloader {
  background: #ffffff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  text-align: center;
  z-index: 999999;
}
.preloader .loader {
  top: 40%;
  position: relative;
}
.preloader .loader i {
  font-size: 3em;
}

.preloader-logo {
  position: relative;
  top: 20%;
}
.preloader-logo img {
  margin: auto;
}

/* Site Header */
.site-header {
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.site-header .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.site-header .site-branding {
  text-align: center;
  padding: 120px 0;
}
.site-header .site-branding .site-logo {
  margin: 0 auto;
}
.site-header .site-branding .site-logo a {
  display: inline-block;
}
.site-header .site-branding .site-logo img {
  margin: auto;
  width: 100%;
}

/* Top Search */
#top-search {
  position: absolute;
  right: 0;
  color: #ffffff;
  float: right;
  line-height: normal !important;
  cursor: pointer;
  padding: 1.35em;
  font-size: 0.9em;
}
#top-search i {
  color: #ffffff;
  line-height: 1.35em;
}
#top-search i:hover {
  color: #000000;
}
#top-search ::-webkit-input-placeholder {
  color: #ffffff;
}
#top-search :-moz-placeholder {
  color: #ffffff;
}
#top-search :-ms-input-placeholder {
  color: #ffffff;
}

.search-row {
  border-bottom: 1px solid #999999;
  height: 65px;
  margin: 0 auto;
  position: relative;
  top: 40%;
  width: 980px;
}
.search-row input {
  outline: none;
  background: none;
  border: none;
  line-height: normal;
  height: 50px;
  width: 90%;
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 300;
  -moz-box-sizing: border-box;
  vertical-align: middle;
}
.search-row input:-webkit-autofill,
.search-row textarea:-webkit-autofill,
.search-row select:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
}
.search-row input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff !important;
}

/* Overlay style */
.overlap {
  position: fixed;
  width: 100%;
  height: 347px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.overlap .overlay-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 15px;
  overflow: hidden;
  border: none;
  background: url(images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Effects */
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: transform 0.4s ease-in-out,visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out,visibility 0s 0.4s;
}
.overlay-slidedown.close {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #000000;
  text-shadow: none;
  filter: alpha(opacity=20);
  opacity: 1;
}
.overlay-slidedown.close:hover, .overlay-slidedown.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=1);
  opacity: 1;
}
.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

/* Top Social */
#top-social {
  float: right;
  position: absolute;
  right: 3em;
}
#top-social a {
  color: #ffffff;
  padding: 5px;
  line-height: 4.3em;
  font-size: 0.9em;
}
#top-social a:hover {
  color: #000000;
}

/*--------------------------------------------------------------
# Featured Content
--------------------------------------------------------------*/
.feature-area {
  display: block;
  background-color: #ffffff;
}
.feature-area #featured-header {
  text-align: center;
  padding: 51px 0 34px;
}
.feature-area #featured-header .featured-head-content {
  width: 92%;
  margin: 0 auto;
}
.feature-area #featured-header .entry-title {
  font-family: "Roboto", sans-serif;
  font-size: 2.441em;
  font-weight: 300;
  letter-spacing: 0.02em;
  font-style: italic;
  color: #6f6f6f;
  margin-top: 0;
  margin-bottom: 0.35em;
}
.feature-area #featured-header .featured-sub-title {
  letter-spacing: 0.05em;
  line-height: 1.63em;
  padding: 0 1em;
}
.feature-area #featured-item {
  padding-bottom: 2em;
}
.feature-area #featured-item .item {
  position: relative;
  overflow: hidden;
}
.feature-area #featured-item .item .image-extra {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3em;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.feature-area #featured-item .item .image-extra:before, .feature-area #featured-item .item .image-extra:after {
  position: absolute;
  content: '';
  opacity: 0;
}
.feature-area #featured-item .item .image-extra:before {
  bottom: 30px;
  left: 18px;
  right: 18px;
  top: 30px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.feature-area #featured-item .item .image-extra:after {
  bottom: 18px;
  left: 30px;
  right: 30px;
  top: 18px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.feature-area #featured-item .item .image-extra .extra-content {
  position: relative;
  top: 50%;
  margin-top: -40px;
}
.feature-area #featured-item .item .image-extra .extra-content .entry-meta {
  font-size: 0.8em;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.feature-area #featured-item .item .image-extra .extra-content .entry-title {
  font-size: 1.25em;
  line-height: 1.4em;
  letter-spacing: 0.04em;
  font-style: italic;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  display: block;
  display: -webkit-box;
  height: calc(1.25em * 1.4em * 2);
  height: 2.8em;
  margin: 5px auto 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.feature-area #featured-item .item .image-extra .extra-content span:after {
  margin: 0 2px;
}
.feature-area #featured-item .item .image-extra .extra-content span:last-child:after {
  content: "";
}
.feature-area #featured-item .item .image-extra:before, .feature-area #featured-item .item .image-extra:after {
  -webkit-transition: opacity 0.35s,transform 0.35s;
  transition: opacity 0.35s,transform 0.35s;
}
.feature-area #featured-item .item:hover .image-extra {
  opacity: 1;
}
.feature-area #featured-item .item:hover .image-extra:before, .feature-area #featured-item .item:hover .image-extra:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.feature-area #featured-item .item:hover .image-extra .entry-title, .feature-area #featured-item .item:hover .image-extra .entry-meta {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.feature-area #featured-item .item:hover .image-extra:before, .feature-area #featured-item .item:hover .image-extra:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.feature-area #featured-item .item img {
  height: auto;
  display: block;
  width: 100%;
  max-height: 390px;
  min-height: 252px;
}
.feature-area .owl-theme .owl-controls {
  margin-top: 1.1em;
  margin-bottom: -1.2em;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/
.site-content {
  padding: 58px 0 0;
}

.content-area .page-header {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  margin: 0 0 1.9em;
  padding: 2.28em;
  text-align: center;
}
.content-area .page-header .page-title {
  font-size: 1.563em;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0;
}
.content-area .page-header .search {
  margin-top: 1.5em;
}
.content-area .page-header .search .form-controller {
  height: 43px;
}
.content-area .page-header .search .btn-search {
  padding: 0.75em 1em;
}
.content-area .entry-header {
  text-align: center;
}
.content-area .entry-header .entry-title {
  font-size: 1.563em;
  line-height: 1.3em;
  letter-spacing: 0.02em;
  margin-top: 0.3em;
  margin-bottom: 1.1em;
}
.content-area .entry-header .entry-meta {
  color: #9c9c9c;
  font-size: 0.9em;
  font-style: italic;
  letter-spacing: 0.02em;
}
.content-area .entry-header .entry-meta a {
  color: #9c9c9c;
}
.content-area .entry-header .entry-meta .cat-links:before {
  content: "\e60e";
  font-family: 'glimmer';
  font-style: normal;
}
.content-area .entry-header .entry-meta .entry-date:before {
  content: "\e603";
  font-family: 'glimmer';
  font-style: normal;
}
.content-area .entry-header .entry-meta .author:before {
  content: "\e601";
  font-family: 'glimmer';
  font-style: normal;
}
.content-area .entry-header .entry-meta .view-link:before {
  content: "\f06e";
  font-family: FontAwesome;
  font-style: normal;
}
.content-area .entry-header .entry-meta span:before {
  margin: 0 5px;
}
.content-area .post-thumb img {
  margin: auto;
}
.content-area .post-media .wp-video {
  height: auto !important;
  width: 100% !important;
}
.content-area .post-media .wp-video .mejs-container {
  height: auto !important;
  padding-top: 57%;
  width: 100% !important;
}
.content-area .post-media .wp-video .mejs-mediaelement video {
  bottom: 0;
  height: 100% !important;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100% !important;
}
.content-area .post-media .wp-video .mejs-overlay, .content-area .post-media .wp-video .wp-video .mejs-poster {
  height: 100% !important;
  width: 100% !important;
}
.content-area .post-media .mejs-overlay-button {
  top: 40% !important;
}
.content-area .entry-content .mejs-container {
  margin-bottom: 1.6em;
}
.content-area .entry-content .wp-playlist {
  border: 0 none;
  padding: 0;
  margin: 0 0 1.9em;
}
.content-area .entry-content .wp-playlist .mejs-container {
  margin: 0 auto;
}
.content-area .entry-content .edit-link {
  display: block;
}
.content-area .entry-content .edit-link:before {
  content: "\f044";
  font-family: FontAwesome;
  margin-right: 5px;
}
.content-area .entry-footer table {
  margin: 0;
}
.content-area .entry-footer table th, .content-area .entry-footer table td {
  border: 1px solid #f0f0f0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  padding: 0;
  font-weight: 400;
  width: 33.333%;
}
.content-area .entry-footer table th .comments-link, .content-area .entry-footer table td .comments-link {
  display: inline-block;
}
.content-area .entry-footer table th .comments-link:before, .content-area .entry-footer table td .comments-link:before {
  content: "\e604";
  font-family: 'glimmer';
  padding-right: 5px;
}
.content-area .entry-footer table th .button, .content-area .entry-footer table td .button {
  display: block;
  padding: 13px 10px;
  -webkit-transition: background 0.25s ease;
  transition: background 0.25s ease;
}
.content-area .entry-footer table th .button:hover, .content-area .entry-footer table td .button:hover {
  color: #ffffff;
}
.content-area .entry-footer table th .comments-link, .content-area .entry-footer table td .comments-link {
  padding: 12px 10px;
  color: #9c9c9c;
}
.content-area .entry-footer table th .share-button, .content-area .entry-footer table td .share-button {
  display: inline-block;
  padding: 12px 10px;
  color: #9c9c9c;
}
.content-area .entry-footer table th .share-button:before, .content-area .entry-footer table td .share-button:before {
  content: "\e60a";
  font-family: 'glimmer';
  position: relative;
  left: -0.5em;
}
.content-area .entry-footer table th .share-button a, .content-area .entry-footer table td .share-button a {
  margin: 0 4px;
}
.content-area .entry-footer table th .share-button a:first-child, .content-area .entry-footer table td .share-button a:first-child {
  margin-left: 8px;
}
.content-area .entry-footer table th .share-button a:hover, .content-area .entry-footer table td .share-button a:hover {
  color: #000000;
}
.content-area .entry-footer table th .tags-links, .content-area .entry-footer table td .tags-links {
  padding: 12px 10px;
}
.content-area .entry-footer table th .tags-links span:before, .content-area .entry-footer table td .tags-links span:before {
  content: "\f02b";
  font-family: FontAwesome;
  position: relative;
  left: -0.8em;
}
.content-area .type-attachment .entry-content {
  margin-bottom: 0;
  margin-top: 1.9em;
  text-align: center;
}
.content-area .entry-content ol li, .content-area .entry-content ul li {
  margin-top: 12px;
}

/* single Post Footer */
.single-post .entry-footer table {
  margin-bottom: 0;
}
.single-post .entry-footer table th, .single-post .entry-footer table td {
  padding: 0;
}

/* Section Header title */
.header-title {
  text-align: center;
  margin-bottom: 2.9em;
}
.header-title .section-title {
  margin: 0.3em 0 0.4em;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

/* Author Section */
.author-info {
  background: #ffffff;
  margin-bottom: 1.9em;
}
.author-info .at-img {
  width: 110px;
  height: 110px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.author-info .at-img > img {
  max-height: 110px;
  max-width: 110px;
}
.author-info #author-img, .author-info #author-details {
  display: table-cell;
  vertical-align: top;
}
.author-info #author-img {
  vertical-align: middle;
  border: 1px solid #eeeeee;
  padding: 1.9em;
}
.author-info .author-name {
  font-size: 1.563em;
  font-family: "Roboto", sans-serif;
  margin: 1em 0 0;
  font-weight: 500;
}
.author-info .authors-title {
  font-size: 0.8em;
  font-style: italic;
  letter-spacing: 0.04em;
  margin: 0.2em 0 1em;
}
.author-info #author-details {
  border: 1px solid #eeeeee;
  border-left: 0;
  padding: 0 2em;
  width: 1070px;
  overflow: hidden;
}
.author-info .authors-bio p {
  font-size: 0.938em;
  line-height: 1.45em;
  margin-bottom: 1.5em;
  letter-spacing: 0.07em;
}
.author-info #author-footer {
  border: 1px solid #eeeeee;
  border-top: 0;
  display: table;
  width: 100%;
  padding: 0.8em 1.5em;
  font-size: 0.8em;
}
.author-info #author-footer b {
  font-weight: 400;
  letter-spacing: 0.07em;
}
.author-info #author-footer .post-count {
  float: left;
}
.author-info #author-footer .post-count b {
  font-style: italic;
}
.author-info #author-footer .authors-social {
  float: right;
  display: inline-block;
}
.author-info #author-footer .authors-social b {
  font-weight: 500;
  margin-right: 14px;
  vertical-align: middle;
}
.author-info #author-footer .authors-social a {
  padding: 0 5px;
}
.author-info #author-footer .authors-social a:first-child {
  padding-left: 15px;
}
.author-info #author-footer .authors-social a i {
  vertical-align: middle;
}
.author-info #author-footer .authors-social a:hover {
  color: #000000;
}

.archive.author .author-info {
  margin-top: 0;
  margin-bottom: 2.2em;
}

/* Related Post */
#related-post h3 {
  margin-top: -4px;
  font-style: italic;
  letter-spacing: 0.02em;
  font-size: 1.25em;
  font-weight: bold;
}
#related-post .small-border {
  margin: 0.5em 0.8em 1em;
}
#related-post #related-post-slide .item {
  position: relative;
  overflow: hidden;
}
#related-post #related-post-slide .item .image-extra {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3em;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
#related-post #related-post-slide .item .image-extra:before, #related-post #related-post-slide .item .image-extra:after {
  position: absolute;
  content: '';
  opacity: 0;
}
#related-post #related-post-slide .item .image-extra:before {
  bottom: 30px;
  left: 18px;
  right: 18px;
  top: 30px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
#related-post #related-post-slide .item .image-extra:after {
  bottom: 18px;
  left: 30px;
  right: 30px;
  top: 18px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
#related-post #related-post-slide .item .image-extra .extra-content {
  position: relative;
  top: 50%;
  margin-top: -40px;
}
#related-post #related-post-slide .item .image-extra .extra-content .entry-meta {
  font-size: 0.8em;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
#related-post #related-post-slide .item .image-extra .extra-content .entry-title {
  font-size: 1.25em;
  line-height: 1.4em;
  letter-spacing: 0.04em;
  font-style: italic;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  display: block;
  display: -webkit-box;
  height: calc(1.25em * 1.4em * 2);
  height: 2.8em;
  margin: 5px auto 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
#related-post #related-post-slide .item .image-extra .extra-content span:after {
  margin: 0 2px;
}
#related-post #related-post-slide .item .image-extra .extra-content span:last-child:after {
  content: "";
}
#related-post #related-post-slide .item .image-extra:before, #related-post #related-post-slide .item .image-extra:after {
  -webkit-transition: opacity 0.35s,transform 0.35s;
  transition: opacity 0.35s,transform 0.35s;
}
#related-post #related-post-slide .item:hover .image-extra {
  opacity: 1;
}
#related-post #related-post-slide .item:hover .image-extra:before, #related-post #related-post-slide .item:hover .image-extra:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#related-post #related-post-slide .item:hover .image-extra .entry-title, #related-post #related-post-slide .item:hover .image-extra .entry-meta {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#related-post #related-post-slide .item:hover .image-extra:before, #related-post #related-post-slide .item:hover .image-extra:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
#related-post #related-post-slide .item img {
  min-height: 100%;
  height: 235px;
  width: 100%;
}
#related-post #related-post-slide .active:first-child .item, #related-post #related-post-slide :not(.active) + .active .item {
  margin-left: 0 !important;
  margin-right: 15px;
}
#related-post #related-post-slide .active:last-child .item, #related-post #related-post-slide :not(.active) .item {
  margin-right: 0 !important;
  margin-left: 15px;
}
#related-post #related-post-slide .item {
  padding: 0;
  margin: 0 15px !important;
}
#related-post #related-post-slide .owl-controls {
  position: absolute;
  right: -4px;
  top: -72px;
}
#related-post #related-post-slide .owl-controls .owl-buttons div {
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #000000;
  background: #d8d8d8;
  display: inline-block;
  font-size: 0.6em;
  opacity: 1;
  padding: 0.9em 1.15em 0.6em;
  line-height: 1.6em;
}
#related-post #related-post-slide .owl-controls .owl-buttons div:hover {
  color: #ffffff;
}
#related-post #related-post-slide .post-thumbnail {
  height: 235px;
  position: relative;
}

/* ShortCode */
.progress {
  -webkit-border-radius: 0;
  border-radius: 0;
}

.panel, .panel-group .panel {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\2212";
  float: right;
}

.panel-heading .accordion-toggle.collapsed:after {
  content: "\2b";
}

.nav-tabs li {
  margin-top: 0 !important;
}
.nav-tabs > li > a {
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}
.nav-tabs > li.active > a {
  margin-right: 0;
}

.tab-content div {
  padding: 10px 15px;
}

#glimmer-tab-content .edit-link {
  margin-bottom: 1em;
}

.alert {
  padding: 12px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.alert .close {
  line-height: 1.3em;
  right: 0;
  top: 0;
}
.alert .close:hover {
  background: transparent;
}

/*--------------------------------------------------------------
# Widget Content
--------------------------------------------------------------*/
/* About widget. */
.about-widget .author-image-home {
  overflow: hidden;
}
.about-widget .author-image-home img {
  width: 100%;
  height: auto;
}
.about-widget .author-name {
  text-align: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 0.5em 0 0.4em;
  font-size: 1.25em;
}
.about-widget .about-description {
  text-align: center;
}
.about-widget .about-description .author-name {
  font-weight: 400;
}
.about-widget .about-description p {
  font-size: 0.8em;
  letter-spacing: 0.05em;
  margin-bottom: 2em;
}
.about-widget .button {
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
}

/* Latest widget */
.latest-widget .latest-wrap {
  padding: 1.8em 0;
}
.latest-widget .latest-wrap .latest-image {
  display: table-cell;
  vertical-align: top;
  padding-right: 0.9em;
}
.latest-widget .latest-wrap .latest-image .fit-img {
  position: relative;
  width: 90px;
  height: 80px;
  overflow: hidden;
}
.latest-widget .latest-wrap .latest-item-text {
  display: table-cell;
  vertical-align: top;
}
.latest-widget .latest-wrap .latest-item-text h4 {
  margin-top: 0;
  margin-bottom: 0.35em;
  font-size: 0.938em;
  font-style: italic;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
}
.latest-widget .latest-wrap .latest-item-meta {
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #9c9c9c;
}
.latest-widget .latest-wrap .latest-item-meta a:hover {
  text-decoration: underline;
}
.latest-widget .latest-wrap .latest-item-thumb {
  width: 90px;
  height: 80px;
}
.latest-widget .latest-wrap:first-child {
  padding-bottom: 1.8em;
}
.latest-widget .latest-wrap:last-child {
  padding-bottom: 0;
}

/* Popular widget */
.popular-widget .popular-wrap {
  padding: 1.8em 0;
}
.popular-widget .popular-wrap .popular-image {
  display: table-cell;
  vertical-align: top;
  padding-right: 0.9em;
}
.popular-widget .popular-wrap .popular-image .fit-img {
  position: relative;
  width: 90px;
  height: 80px;
  overflow: hidden;
}
.popular-widget .popular-wrap .popular-item-text {
  display: table-cell;
  vertical-align: top;
}
.popular-widget .popular-wrap .popular-item-text h4 {
  margin-top: 0;
  margin-bottom: 0.35em;
  font-size: 0.938em;
  font-style: italic;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
}
.popular-widget .popular-wrap .popular-item-meta {
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #9c9c9c;
}
.popular-widget .popular-wrap .popular-item-meta a:hover {
  text-decoration: underline;
}
.popular-widget .popular-wrap .popular-item-thumb {
  width: 90px;
  height: 80px;
}
.popular-widget .popular-wrap:first-child {
  padding-bottom: 1.8em;
}
.popular-widget .popular-wrap:last-child {
  padding-bottom: 0;
}

/* Categories widget */
.widget_categories ul,
.widget_archive ul {
  padding: 0 1em;
}
.widget_categories li,
.widget_archive li {
  padding: 1.3em 0 0.7em;
  font-size: 0.875em;
  position: relative;
  -webkit-transition: all 0.25s ease-in 0s;
  transition: all 0.25s ease-in 0s;
}
.widget_categories li:first-child,
.widget_archive li:first-child {
  padding-bottom: 0.7em;
}
.widget_categories li .count,
.widget_archive li .count {
  float: right;
  background: #f5f5f5;
  padding: 2px 12px;
  margin-top: -2px;
}
.widget_categories li:hover > .count,
.widget_archive li:hover > .count {
  color: #ffffff;
}
.widget_categories li.current-cat > .count, .widget_categories li.current-cat-parent > .count,
.widget_archive li.current-cat > .count,
.widget_archive li.current-cat-parent > .count {
  color: #ffffff;
}
.widget_categories .children,
.widget_archive .children {
  margin-top: 0.7em;
}
.widget_categories .children li:first-child,
.widget_archive .children li:first-child {
  padding-top: 0.2em;
  padding-bottom: 0.7em;
}
.widget_categories .children li:last-child,
.widget_archive .children li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* TAGCLOUD widget */
.widget_tag_cloud .widget-title-area {
  margin-bottom: -42px;
}
.widget_tag_cloud .tagcloud {
  margin-bottom: -8px;
}
.widget_tag_cloud .tagcloud a {
  border: 1px solid #d6d6d6;
  display: inline-block;
  margin: 0 6px 9px 0;
  padding: 4px 12px;
  font-size: 0.8em !important;
  font-weight: 400;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.widget_tag_cloud .tagcloud a:hover {
  color: #ffffff;
}

/* Follow us Widget */
.follow-us-area {
  margin: 0 auto -7px;
  text-align: center;
}
.follow-us-area .follow-link .fa {
  border: 1px solid #d6d6d6;
  background: #ffffff;
  color: #9c9c9c;
  height: 35px;
  line-height: 2.8em;
  margin: 0 3px 9px;
  font-size: 0.8em;
  display: inline-block;
  text-align: center;
  width: 35px;
}
.follow-us-area .follow-link .fa:hover {
  color: #ffffff;
}

/* About And contact widget. */
.widget_glimmer_aboutus_contact .about-contact-area h3 {
  margin-top: 0;
  font-size: 1em;
  font-weight: bold;
}
.widget_glimmer_aboutus_contact .about-contact-area p {
  font-size: 0.8em;
  font-style: italic;
}
.widget_glimmer_aboutus_contact .about-contact-area .about-mail {
  border-top: 1px solid #f0f0f0;
  padding: 1.198em 0 0;
  margin-top: 1.7em;
}
.widget_glimmer_aboutus_contact .about-contact-area .about-mail li {
  border: 0;
  padding-top: 0.25em;
}
.widget_glimmer_aboutus_contact .about-contact-area .about-mail li a, .widget_glimmer_aboutus_contact .about-contact-area .about-mail li span {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}
.widget_glimmer_aboutus_contact .about-contact-area .about-mail li:first-child {
  vertical-align: middle;
}
.widget_glimmer_aboutus_contact .about-contact-area .about-mail li:first-child a:last-child {
  margin-left: 0.8em;
}
.widget_glimmer_aboutus_contact .about-contact-area .about-mail li:first-child a:last-child:before {
  content: "-";
  padding-right: 1em;
}
.widget_glimmer_aboutus_contact .about-contact-area .about-mail i {
  margin-right: 0.25em;
  vertical-align: middle;
}
.widget_glimmer_aboutus_contact .about-contact-area .about-mail i.fa-mobile {
  font-size: 1.563em;
  position: relative;
  top: -1px;
}

/* Search widget. */
.widget_search .input-group .form-controller {
  display: table-cell;
  font-style: italic;
}
.widget_search .form-controller {
  height: 43px;
}
.widget_search button, .widget_search input[type="button"], .widget_search input[type="reset"], .widget_search input[type="submit"] {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0.75em 1em;
}
.widget_search .btn-search i {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

/* Advertisement Widget */
.widget_glimmer_advertisement .advertisement-img img {
  margin: auto;
}

/* Calender widget */
.widget_calendar table {
  margin: 0;
}
.widget_calendar td,
.widget_calendar th,
.widget_calendar td {
  font-size: 0.8em;
  line-height: 2.555em;
  text-align: center;
  padding: 0;
}
.widget_calendar caption {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 0.5em 1em;
}
.widget_calendar tbody a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  display: block;
  font-weight: bold;
}
.widget_calendar tbody a:hover, .widget_calendar tbody a:focus {
  color: #ffffff;
}

/* Other's WORDPRESS Widget */
.widget_links a,
.widget_meta a,
.widget_nav_menu .menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a {
  border: 0;
  color: #505050;
}

.widget_recent_comments .recentcomments a:nth-child(2):before, .widget_recent_comments .recentcomments a:nth-child(3):before, .widget_recent_comments .recentcomments a:nth-child(4):before {
  content: "";
  margin-right: 0;
}

.widget_links a,
.widget_meta a,
.widget_nav_menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a {
  border: 0;
  text-decoration: none;
}
.widget_links ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
  list-style: none;
  margin: 0;
  padding: 0.2em;
}
.widget_links li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_recent_comments li,
.widget_recent_entries li {
  border: 0;
  padding: 0.5em 0 0;
}
.widget_links li span:before,
.widget_links li a:before,
.widget_meta li span:before,
.widget_meta li a:before,
.widget_nav_menu li span:before,
.widget_nav_menu li a:before,
.widget_pages li span:before,
.widget_pages li a:before,
.widget_recent_comments li span:before,
.widget_recent_comments li a:before,
.widget_recent_entries li span:before,
.widget_recent_entries li a:before {
  content: "\f054";
  font-family: FontAwesome;
  margin-right: 1em;
  font-size: 0.55em;
  vertical-align: middle;
  position: relative;
  top: -1.5px;
  left: 0;
  -webkit-transition: left 0.35s ease-in;
  transition: left 0.35s ease-in;
}
.widget_links li span > a:before,
.widget_meta li span > a:before,
.widget_nav_menu li span > a:before,
.widget_pages li span > a:before,
.widget_recent_comments li span > a:before,
.widget_recent_entries li span > a:before {
  content: "";
  margin-right: 0;
}
.widget_links li span:hover:before,
.widget_links li a:hover:before,
.widget_meta li span:hover:before,
.widget_meta li a:hover:before,
.widget_nav_menu li span:hover:before,
.widget_nav_menu li a:hover:before,
.widget_pages li span:hover:before,
.widget_pages li a:hover:before,
.widget_recent_comments li span:hover:before,
.widget_recent_comments li a:hover:before,
.widget_recent_entries li span:hover:before,
.widget_recent_entries li a:hover:before {
  left: 5px;
}

.widget_nav_menu .sub-menu,
.widget_pages .children {
  border: 0;
  margin: 0 0 0 1em;
  padding-top: 0.5em;
}

.widget_recent_entries .post-date {
  display: block;
}

/* Widget RSS */
.widget_rss ul {
  list-style: none;
  margin: 0;
}
.widget_rss ul:last-child {
  margin-bottom: 0;
}
.widget_rss li {
  margin-bottom: 1.6em;
}
.widget_rss li:last-child {
  margin-bottom: 0;
}
.widget_rss .rsswidget {
  border: 0;
  font-weight: 700;
}
.widget_rss .rsswidget img {
  margin-top: -4px;
}
.widget_rss .rss-date, .widget_rss cite {
  font-size: 0.8em;
  font-style: normal;
  display: block;
  line-height: 2;
  opacity: 0.8;
}

/* Text Widget */
.widget_text {
  text-align: center;
}
.widget_text img {
  margin: auto;
}

.textwidget > :last-child {
  margin-bottom: 0;
}

/* Twitter widget Pluging */
.tp_recent_tweets li {
  padding-bottom: 10px !important;
  background-image: none !important;
  float: none;
  letter-spacing: 0.03em;
}
.tp_recent_tweets li span {
  font-weight: 400;
  font-size: 0.8em;
  font-style: italic;
}
.tp_recent_tweets li span a:hover {
  text-decoration: underline;
}
.tp_recent_tweets li .twitter_time {
  display: block;
  margin-top: 0.47em;
}
.tp_recent_tweets li .twitter_time:before {
  content: "\f099";
  font-family: FontAwesome;
  font-size: 1.25em;
  padding-right: 0.5em;
  font-style: normal;
}
.tp_recent_tweets li:last-child {
  padding-bottom: 0 !important;
}

/*--------------------------------------------------------------
# Footer Content
--------------------------------------------------------------*/
/* footer top */
#footer-top {
  text-align: center;
}
#footer-top .widget {
  background: transparent;
  border: 0;
  margin: 0 !important;
  padding: 0;
}
#footer-top .widget .widget-title-area {
  margin-bottom: 0.2em;
}
#footer-top .widget .widget-title {
  background: transparent;
  border: 0;
  font-size: 1.25em;
  font-weight: normal;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
  padding: 0;
  top: 0;
  text-transform: capitalize;
  word-spacing: 0;
  font-style: italic;
  position: relative;
  display: inline-block;
  margin: 3.45em auto 1.1em;
}
#footer-top .widget .widget-title:before, #footer-top .widget .widget-title:after {
  border-bottom: 1px solid;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 130px;
}
#footer-top .widget .widget-title:before {
  right: 100%;
  margin-right: 0.75em;
}
#footer-top .widget .widget-title:after {
  left: 100%;
  margin-left: 0.75em;
}
#footer-top .jr-insta-thumb {
  background: #ffffff;
  padding: 1.9em 0;
}
#footer-top .jr-insta-thumb img:hover {
  opacity: 0.8;
}

/* Footer Middle */
#footer-middle {
  padding: 68px 0 0;
}

/* Footer Bottom */
#footer-bottom #scroll-top {
  text-align: center;
  position: relative;
  z-index: 2;
  top: 45px;
}
#footer-bottom #scroll-top a {
  display: inline-block;
  text-align: center;
  font-size: 0.8em;
}
#footer-bottom #scroll-top i {
  display: inline-block;
  color: #ffffff;
  padding: 11px 14px 14px;
  -webkit-border-radius: 60%;
  border-radius: 60%;
  top: 1.5em;
  z-index: -2;
}
#footer-bottom #scroll-top span {
  display: block;
  padding: 11px 26px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

/* Site Footer */
.site-footer-banner {
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.site-footer-banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.site-footer-banner .site-branding {
  text-align: center;
  padding: 96px 0 72px;
}
.site-footer-banner .site-branding .site-logo {
  margin: 0;
}
.site-footer-banner .site-branding .site-logo a {
  display: inline-block;
}
.site-footer-banner .site-branding .site-logo img {
  margin: auto;
  width: 100%;
}

/* Site Footer Bottom */
.site-footer-bottom {
  font-size: 0.8em;
  padding: 0.9em 0;
  color: #ffffff;
}
.site-footer-bottom .copyright {
  float: left;
}
.site-footer-bottom .copyright p {
  margin-bottom: 0;
}
.site-footer-bottom .copyright a {
  color: #ffffff;
}
.site-footer-bottom .copyright a:hover {
  text-decoration: underline;
}
.site-footer-bottom .navbar-right .footer-nav, .site-footer-bottom .navbar-right .footer-social {
  float: left;
}
.site-footer-bottom .navbar-right .footer-nav {
  list-style: none;
  line-height: 1.73em;
  padding: 0;
  margin: 0;
}
.site-footer-bottom .navbar-right .footer-nav li {
  float: left;
}
.site-footer-bottom .navbar-right .footer-nav li a {
  color: #ffffff;
}
.site-footer-bottom .navbar-right .footer-nav li:after {
  content: "|";
  color: #ffffff;
  margin: 0 0.5em;
}
.site-footer-bottom .navbar-right .footer-nav li:last-child:after {
  content: "";
}
.site-footer-bottom .navbar-right .footer-nav a:hover {
  text-decoration: underline;
}
.site-footer-bottom .navbar-right .footer-social {
  margin-left: 2.5em;
  line-height: 1.73em;
}
.site-footer-bottom .navbar-right .footer-social a {
  padding: 0 0.2em;
  color: #ffffff;
}
.site-footer-bottom .navbar-right .footer-social a i {
  font-size: 1em;
}
.site-footer-bottom .navbar-right .footer-social a:hover {
  color: #000000;
}

/*--------------------------------------------------------------
# Layout Responsive
--------------------------------------------------------------*/
/* main content responsive */
@media (max-width: 991px) {
  .content-area {
    padding-bottom: 1.75em;
  }
}
@media (min-width: 1664px) {
  .feature-area #featured-item .item img {
    min-height: 288px !important;
  }
}
@media (max-width: 1633px) and (min-width: 1368px) {
  .feature-area #featured-item .item img {
    min-height: 255px !important;
  }
}
@media (max-width: 800px) and (min-width: 712px) {
  .feature-area #featured-item .item img {
    min-height: 298px !important;
  }
}
@media (max-width: 710px) {
  .feature-area #featured-item .item img {
    max-height: 350px !important;
    min-height: 273px !important;
  }
}
@media (max-width: 359px) {
  .feature-area #featured-item .item img {
    min-height: 255px !important;
  }
}
@media (max-width: 569px) {
  .content-area .entry-footer table tr {
    border: 1px solid #f0f0f0;
  }

  .content-area .entry-footer table th, .content-area .entry-footer table td {
    display: block;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }
  .content-area .entry-footer table th:last-child, .content-area .entry-footer table td:last-child {
    border-bottom: 0;
  }

  .single-post .entry-footer .single-navigation th, .single-post .entry-footer .single-navigation td {
    width: 100%;
  }
}
@media (max-width: 659px) {
  #related-post #related-post-slide .active:first-child .item,
  #related-post #related-post-slide *:not(.active) + .active .item {
    margin-right: 0 !important;
  }
}
@media (max-width: 470px) {
  .content-area .entry-header .entry-meta {
    padding: 0 2.5em;
  }

  .author-info #author-img {
    display: block;
    width: 100%;
  }

  .author-info .at-img {
    margin: 0 auto;
  }

  .author-info #author-details {
    display: block;
    text-align: center;
    width: 100%;
    border-width: 0 1px 1px;
    border-left: 1px solid #eeeeee;
  }
}
@media (max-width: 370px) {
  .author-info #author-footer .post-count,
  .author-info #author-footer .authors-social {
    float: none;
  }
}
/* About page responsive */
@media (max-width: 992px) {
  .about-me .post .entry-footer, .about-me .content-area .page .entry-footer, .content-area .about-me .page .entry-footer, .about-me .content-area .type-attachment .entry-footer, .content-area .about-me .type-attachment .entry-footer {
    margin-bottom: 1.7em;
  }
}
/* 404 page responsive */
@media (max-width: 984px) {
  .error-page .border-left {
    display: none;
  }
}
@media (max-width: 577px) {
  .error-page .go-to {
    margin: 0 !important;
  }

  .error-page .search {
    padding: 0 1em;
  }

  .error-page .go-button {
    width: 100%;
    margin-bottom: 0.9em;
  }

  .error-page .go-to:first-child {
    left: 0 !important;
  }

  .error-page .go-to:last-child {
    right: 0 !important;
  }
}
/* Footer responsive */
@media (max-width: 570px) and (min-width: 472px) {
  #footer-top .widget .widget-title::before,
  #footer-top .widget .widget-title::after {
    width: 40% !important;
  }
}
@media (max-width: 471px) and (min-width: 360px) {
  #footer-top .widget .widget-title::before,
  #footer-top .widget .widget-title::after {
    width: 22% !important;
  }
}
@media (max-width: 359px) {
  #footer-top .widget .widget-title::before,
  #footer-top .widget .widget-title::after {
    width: 12% !important;
  }
}
@media (max-width: 767px) {
  .footer-sidebar-2,
  .footer-sidebar-3 {
    margin-top: 2.8em;
  }
}
@media (min-width: 990px) {
  #footer-middle .widget {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  #footer-top #instafeed-area .list {
    width: 50%;
  }
}
@media (max-width: 410px) {
  .site-footer-bottom .navbar-right .footer-social {
    margin-left: 0;
  }
}
/* When WP Admin bar is coming on Search layout */
@media (min-width: 783px) {
  .admin-bar .overlay-slidedown.open {
    top: 32px;
  }
}
@media (min-width: 602px) and (max-width: 782px) {
  .admin-bar .overlay-slidedown.open {
    top: 46px;
  }
}
@media (max-width: 601px) {
  .admin-bar .overlay-slidedown.open {
    top: 40px;
    -webkit-transition: top 0.005s ease;
    transition: top 0.005s ease;
  }

  .admin-bar .overlay-slidedown.open.scroll {
    top: 0;
  }
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.9em;
}

.page-content, .entry-content, .entry-summary {
  margin: 1.4em 0 1.4em;
}
.page-content p:last-child, .entry-content p:last-child, .entry-summary p:last-child {
  margin-bottom: 0;
}

.page-links {
  clear: both;
  margin: 0 0 2.1em;
}

.content-area .post, .content-area .page, .content-area .type-attachment {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 1.9em;
  position: relative;
}
.content-area .post .post-thumb, .content-area .page .post-thumb, .content-area .type-attachment .post-thumb {
  overflow: hidden;
}
.content-area .page .post-status-wrapper {
  text-align: center;
}
.content-area .page .post-status-wrapper iframe {
  margin: 10px auto !important;
}
.content-area .page .page-share {
  text-align: center;
}
.content-area .page .page-share span {
  font-size: 1.25em;
  font-style: italic;
}
.content-area .page .page-share span:after {
  content: "-";
  position: relative;
  vertical-align: middle;
}
.content-area .page .page-share a {
  padding: 0 5px;
}
.content-area .format-link .post-link {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
.content-area .format-link .post-link .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.content-area .format-link .post-link .link-content {
  position: relative;
  padding: 2.9em 0.9em 2.9em 6em;
}
.content-area .format-link .post-link .link-content:before {
  content: "\e600";
  font-family: 'glimmer';
  position: absolute;
  font-size: 2.4em;
  left: 1em;
  top: 1.6em;
}
.content-area .format-link .post-link .link-content .link-title, .content-area .format-link .post-link .link-content .link {
  font-family: "Roboto", sans-serif;
  display: block;
}
.content-area .format-link .post-link .link-content .link-title {
  font-weight: 500;
  font-size: 1.563em;
  margin: 10px 0 12px;
}
.content-area .format-link .post-link .link-content .link {
  font-size: 0.9em;
  margin-top: -5px;
}
.content-area .format-link .post-link .link-content a:hover {
  text-decoration: underline;
}
.content-area .format-quote .entry-title,
.content-area .format-quote .entry-meta {
  display: none;
}
.content-area .format-quote .entry-content {
  margin: 0;
}
.content-area .format-quote blockquote {
  margin-left: 0 !important;
  margin-bottom: 0;
  border: 0;
  padding: 0;
  font-style: italic;
  font-size: 1.25em;
  font-weight: 400;
  position: relative;
  z-index: 100;
  text-align: center;
}
.content-area .format-quote blockquote:before {
  content: "\f10d";
  display: block;
  height: auto;
  left: 0;
  right: 0;
  margin-top: 0;
  padding-top: 0;
  top: -40px;
  font-style: normal;
  font-family: FontAwesome;
  font-size: 1.563em;
}
.content-area .format-quote blockquote p {
  padding: 0 1em;
  margin-bottom: 10px;
  position: relative;
  font-weight: bold;
}
.content-area .format-quote blockquote p:first-child {
  margin-top: 2em;
}
.content-area .format-quote blockquote p:last-child {
  margin-bottom: 0;
}
.content-area .format-quote blockquote p cite {
  margin-left: 0;
  padding-left: 0;
}
.content-area .format-quote blockquote cite, .content-area .format-quote blockquote a, .content-area .format-quote blockquote span {
  padding: 0 1.2em;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
}
.content-area .format-quote blockquote cite::before {
  content: "";
  padding-right: 0;
}
.content-area .format-status .post-status-wrapper {
  background-size: cover !important;
  padding: 2.85em 0;
  text-align: center;
}
.content-area .format-status .post-status-wrapper .embed, .content-area .format-status .post-status-wrapper iframe, .content-area .format-status .post-status-wrapper object {
  margin: 0 auto !important;
}
.content-area .format-chat .entry-content {
  margin-bottom: 0;
}
.content-area .format-chat .chat-transcript {
  padding: 20px 30px 42px;
}
.content-area .format-chat .chat-row {
  padding: 3px 0;
  clear: both;
  overflow: hidden;
}
.content-area .format-chat .chat-row p {
  margin-bottom: 0 !important;
  line-height: 1.4em;
}
.content-area .format-chat .chat-row cite {
  font-style: normal;
  font-weight: bold;
}
.content-area .format-chat .chat-row:nth-child(2n+2) .chat-author {
  float: right;
  padding: 7px  0 0 15px;
}
.content-area .format-chat .chat-row:nth-child(2n+2) .chat-text {
  float: right;
}
.content-area .format-chat .chat-row:nth-child(2n+2) .chat-text:before {
  float: right;
  margin: 5px -28px 0 0;
  border-right-color: transparent !important;
}
.content-area .format-chat .chat-author {
  float: left;
  padding: 7px 15px 0 0;
}
.content-area .format-chat .chat-text {
  padding: 8px 16px;
  max-width: 55%;
  float: left;
  color: #ffffff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.content-area .format-chat .chat-text:before {
  float: left;
  content: " ";
  display: block;
  width: 0;
  height: 0;
  margin: 5px 0 0 -28px;
  border: 6px solid transparent;
}
.content-area .format-chat .chat-text a {
  color: #ffffff;
  text-decoration: underline;
}
.content-area .format-chat .chat-speaker-2 .chat-text {
  color: #ffffff;
}
.content-area .format-chat .chat-speaker-3 .chat-text {
  color: #ffffff;
}
.content-area .format-chat .chat-speaker-4 .chat-text {
  color: #ffffff;
}
.content-area .format-chat .chat-speaker-5 .chat-text {
  color: #ffffff;
}
.content-area .format-chat .chat-speaker-6 .chat-text {
  color: #ffffff;
}
.content-area .ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.content-area .ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 19px;
  right: -21px;
  letter-spacing: 0.1em;
}
.content-area .ribbon span:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.content-area .ribbon span:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.content-area .format-standard .entry-content .twitter-tweet.twitter-tweet-rendered {
  margin: auto !important;
}

/* No results */
.no-results .page-header {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-bottom: 0;
  padding: 1.9em;
  margin: 0;
}
.no-results .page-header h3 {
  margin: 0;
  font-style: italic;
  text-align: center;
}
.no-results .page-content, .no-results .entry-content, .no-results .entry-summary {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 1.9em;
  margin: 0 0 1.9em;
  text-align: center;
}
.no-results .page-content .page-not-found-icon, .no-results .entry-content .page-not-found-icon, .no-results .entry-summary .page-not-found-icon {
  font-size: 5.441em;
  margin-bottom: 0;
  line-height: normal;
  color: #9c9c9c;
  margin-top: -14px;
}
.no-results .page-content .page-not-found-icon i, .no-results .entry-content .page-not-found-icon i, .no-results .entry-summary .page-not-found-icon i {
  line-height: normal;
}
.no-results .page-content .input-group .form-controller, .no-results .entry-content .input-group .form-controller, .no-results .entry-summary .input-group .form-controller {
  width: 100%;
  height: 43px;
  padding: 0.56em 1em;
  font-style: italic;
  display: table-cell;
  border: 1px solid #f0f0f0;
}
.no-results .page-content button, .no-results .entry-content button, .no-results .entry-summary button, .no-results .page-content input[type="button"], .no-results .entry-content input[type="button"], .no-results .entry-summary input[type="button"], .no-results .page-content input[type="reset"], .no-results .entry-content input[type="reset"], .no-results .entry-summary input[type="reset"], .no-results .page-content input[type="submit"], .no-results .entry-content input[type="submit"], .no-results .entry-summary input[type="submit"] {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0.75em 1em;
}
.no-results .page-content .btn-search i, .no-results .entry-content .btn-search i, .no-results .entry-summary .btn-search i {
  position: relative;
  top: 0;
  vertical-align: middle;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.format-aside .entry-title,
.format-aside .entry-footer {
  display: none;
}

.format-aside .entry-content {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-reply-title {
  font-weight: bold;
  font-style: italic;
  font-size: 1.25em;
  margin: 0.6em 0 1.5em;
  margin-left: 1px;
}

.cancel-comment-reply-link {
  bottom: -2px;
  display: inline-block;
  left: 0.6em;
  position: relative;
}

.logged-in-as {
  margin-bottom: 0.7em !important;
  margin-left: 1px;
  font-size: 1em;
  font-style: italic;
}

.comments-area {
  margin-top: 2.5em;
}
.comments-area .comment-list, .comments-area .children {
  list-style: none;
  padding: 0;
}
.comments-area .comments-title {
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
  margin-top: 0;
}
.comments-area .comment-list {
  margin-top: 1.9em;
}
.comments-area .comment-body {
  overflow: hidden;
  margin-bottom: 1.9em;
}
.comments-area .author-img {
  height: 90px;
  margin-right: 1em;
  overflow: hidden;
  position: relative;
  width: 90px;
  float: left;
  display: inline-block;
}
.comments-area .date {
  display: block;
  font-size: 0.8em;
  color: #9c9c9c;
}
.comments-area .reply {
  margin: 0;
}
.comments-area .comment-details {
  display: table-cell;
  vertical-align: top;
}
.comments-area .comment-details {
  width: 1070px;
  overflow: hidden;
}
.comments-area .comment-content {
  border: 1px solid #eeeeee;
  background: #ffffff;
  padding: 0.6em 1em 0.7em;
}
.comments-area .comment-content p {
  margin-bottom: 0;
  font-size: 0.8em;
}
.comments-area .comment-metadata {
  margin-bottom: 0.5em;
  font-family: "Roboto", sans-serif;
}
.comments-area .comment-metadata .says, .comments-area .comment-metadata .comment-edit-link {
  font-size: 0.8em;
  color: #9c9c9c;
}
.comments-area .children {
  margin-left: 108px;
}
.comments-area #contact_form .form-submit #submit {
  margin-left: 1px;
}
.comments-area .comment-form .form-submit {
  margin-left: 1px;
}
.comments-area .comment-navigation {
  margin-bottom: 3.5em;
}
.comments-area .comment-navigation .nav-links .nav-previous {
  float: left;
}
.comments-area .comment-navigation .nav-links .nav-next {
  float: right;
}
.comments-area .comment-navigation .nav-links span {
  font-size: 18px;
}

.comment-respond p {
  margin-bottom: 1em;
}
.comment-respond .pd-left {
  padding-left: 8px;
}
.comment-respond .pd-right {
  padding-right: 8px;
}
.comment-respond .comment-subscription-form {
  display: none;
}

/*--------------------------------------------------------------
## About Page
--------------------------------------------------------------*/
.about-me {
  background: #ffffff;
}
.about-me .author-name, .about-me #author-skill h3 {
  font-style: italic;
  font-weight: bold;
  font-size: 1.25em;
}
.about-me .author-name {
  margin-top: 0;
}
.about-me .entry-footer {
  font-family: "Roboto", sans-serif;
}
.about-me .entry-footer .author-sign {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 0.5em;
}
.about-me .entry-footer .author-sign h3 {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.6em;
  margin-top: 5px;
}
.about-me .entry-footer .follow-link {
  margin-top: 1.2em;
}
.about-me .entry-footer .follow-link span {
  font-weight: 500;
  margin-right: 10px;
}
.about-me .entry-footer .follow-link a {
  margin: 0 5px;
}
.about-me .author-image img {
  width: 100%;
}
.about-me #author-skill {
  margin: 50px 0 37.9992px;
}
.about-me #author-skill h3 {
  margin-left: 1.4em;
}
.about-me #author-skill .pd-bottom {
  padding-bottom: 2.3em;
}
.about-me #author-skill .skillbar {
  position: relative;
  display: block;
  margin-top: 16px;
  background: transparent;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition: width,background-color;
  transition: width,background-color;
}
.about-me #author-skill .skillbar-title {
  top: 0;
  left: 0;
  line-height: 1.7em;
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.4em;
}
.about-me #author-skill .skillbar-bg {
  background: #f5f5f5;
}
.about-me #author-skill .skillbar-bar {
  height: 15px;
  width: 0;
}
.about-me #author-skill .skill-bar-percent {
  position: absolute;
  top: -18px;
  margin-left: -5px;
  font-size: 12px;
  height: 40px;
  line-height: 36px;
  font-weight: bold;
  content: "";
}
.about-me #author-skill .skill-bar-percent:after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  bottom: 1px;
  left: 0;
}

/*--------------------------------------------------------------
## Contact Page
--------------------------------------------------------------*/
.contact-page {
  background: #ffffff;
}
.contact-page .header-title {
  margin-bottom: 3.5em;
}
.contact-page .sub-heading {
  font-weight: 400;
  width: 50%;
  margin: 1.4em auto 0;
  line-height: 1.6em;
}
.contact-page .title {
  font-style: italic;
  font-weight: bold;
  font-size: 1.25em;
}
.contact-page #gmaps {
  height: 500px;
}
.contact-page .post img, .contact-page .content-area .page img, .content-area .contact-page .page img, .contact-page .content-area .type-attachment img, .content-area .contact-page .type-attachment img,
.contact-page .page img {
  max-width: none;
}
.contact-page .entry-content {
  margin-top: -6px;
}
.contact-page .address h4 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 0.8em;
  margin-bottom: 1.3em;
  margin-top: 0;
  font-style: italic;
}
.contact-page .address .dl-horizontal dd {
  margin-bottom: 8px;
  margin-left: 110px;
  font-weight: 400;
}
.contact-page .address .dl-horizontal dt {
  text-align: left;
  width: 100px;
}
.contact-page .padding-left {
  padding-left: 0.5em;
}
.contact-page .padding-right {
  padding-right: 0.5em;
}
.contact-page .padding-left-right {
  padding: 0 0.5em;
}
.contact-page .contact-respond {
  margin: 58px 0 45px;
}
.contact-page .contact-respond p {
  margin-bottom: 1em;
}
.contact-page span.wpcf7-not-valid-tip {
  color: #df2626;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  margin-bottom: -10px;
  margin-left: 4px;
  margin-top: 3px;
}
.contact-page div.wpcf7-validation-errors {
  border: 1px solid #efdf35;
  color: #df2626;
  font-family: "Roboto", sans-serif;
}
.contact-page div.wpcf7-mail-sent-ng {
  border: 1px solid #df2626;
}
.contact-page div.wpcf7-response-output {
  padding: 0.4em 1em;
  margin: 0;
}
.contact-page .wpcf7-mail-sent-ok {
  border-width: 1px;
}

/*--------------------------------------------------------------
## 404 Page
--------------------------------------------------------------*/
.error-page .error-description {
  text-align: center;
}
.error-page .error-description {
  margin: 0 0 4em;
}
.error-page .error-description h2 {
  color: #3db5e7;
  font-weight: bold;
}
.error-page .error-image img {
  margin: auto;
  position: relative;
}
.error-page .border-left {
  width: 1px;
  background: #d6d6d6;
  height: 176px;
  position: absolute;
  right: 0;
  top: 0;
}
.error-page .search {
  text-align: center;
  margin-top: 2em;
  padding: 0 4em;
}
.error-page .search-form {
  width: 100% !important;
  margin: auto;
  margin-bottom: 1em;
}
.error-page .search-form .input-group .form-controller {
  font-style: italic;
  padding: 1em;
  height: 56px;
}
.error-page .search-form .input-group .btn-search i {
  position: relative;
  top: 3px;
}
.error-page .search-form .input-group button, .error-page .search-form .input-group input[type="button"], .error-page .search-form .input-group input[type="reset"], .error-page .search-form .input-group input[type="submit"] {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 1.12em;
  position: relative;
}
.error-page .goto-button {
  padding: 0 4em;
  text-align: center;
  display: block;
}
.error-page .go-to {
  margin: 0 1em;
  text-align: center;
}
.error-page .go-to:first-child {
  margin-left: 0;
  position: relative;
  left: -3px;
}
.error-page .go-to:last-child {
  margin-right: 0;
  position: relative;
  right: -4px;
}

/*--------------------------------------------------------------
## Site Responsive
--------------------------------------------------------------*/
@media (max-width: 991px) {
  #contact_form .form-submit {
    margin-bottom: 0;
  }

  .comment-respond .pd-right {
    padding-right: 15px;
  }

  .comment-respond .pd-left {
    padding-left: 15px;
  }

  .contact-respond .padding-right {
    padding-right: 15px;
  }
  .contact-respond .padding-left-right {
    padding-right: 15px;
    padding-left: 15px;
  }
  .contact-respond .padding-left {
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .children {
    margin-left: 40px !important;
  }

  .content-area .format-quote .quote-thumb .quote-content {
    padding: 2.8em 1em 1.2em !important;
  }

  .content-area .format-quote .quote-thumb .quote-content::before {
    top: 16px;
  }
}
@media (max-width: 482px) {
  .content-area .post, .content-area .page, .content-area .type-attachment, .content-area .page {
    padding: 1em;
  }
  .content-area .format-quote blockquote p:first-child {
    margin-top: 2.5em !important;
  }
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .entry-summary .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
  border: none;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.4em 0;
  font-size: 0.9em;
  font-style: italic;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/* WORDPRESS Default Gallery */
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin-bottom: 30px;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/* Post-gallery-One */
.gallery-one .item {
  text-align: center;
}
.gallery-one .item img {
  margin: auto;
  width: 100%;
  vertical-align: middle;
}
.gallery-one .owl-controls {
  margin-top: 0 !important;
}
.gallery-one .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  padding: 10px 13px;
  margin-top: -20px;
  background: #ffffff;
}
.gallery-one .owl-controls .owl-buttons div i {
  font-size: 12px;
}
.gallery-one .owl-controls .owl-buttons .owl-prev {
  left: -24px;
}
.gallery-one .owl-controls .owl-buttons .owl-prev i {
  padding: 0 4px 0 13px;
}
.gallery-one .owl-controls .owl-buttons .owl-next {
  right: -24px;
}
.gallery-one .owl-controls .owl-buttons .owl-next i {
  padding: 0 13px 0 4px;
}

/* Post-gallery-two */
.gallery-two .full-view .item {
  text-align: center;
}
.gallery-two .full-view .item img {
  margin: auto;
  width: 100%;
  vertical-align: middle;
}
.gallery-two .full-view .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  padding: 10px 13px;
  margin-top: -20px;
  background: #ffffff;
}
.gallery-two .full-view .owl-controls .owl-buttons div i {
  font-size: 12px;
}
.gallery-two .full-view .owl-controls .owl-buttons .owl-prev {
  left: -24px;
}
.gallery-two .full-view .owl-controls .owl-buttons .owl-prev i {
  padding: 0 4px 0 13px;
}
.gallery-two .full-view .owl-controls .owl-buttons .owl-next {
  right: -24px;
}
.gallery-two .full-view .owl-controls .owl-buttons .owl-next i {
  padding: 0 13px 0 4px;
}
.gallery-two .list-view {
  margin-bottom: -8px;
}
.gallery-two .list-view .active:first-child .item, .gallery-two .list-view :not(.active) + .active .item {
  margin-left: 0;
}
.gallery-two .list-view .active:last-child .item, .gallery-two .list-view :not(.active) .item {
  margin-right: 0;
}
.gallery-two .list-view .item {
  padding: 0;
  margin: 0 10px;
  cursor: pointer;
}
.gallery-two .list-view .item > img {
  min-height: 90px;
  vertical-align: middle;
}
.gallery-two .list-view .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  opacity: 0.6;
  padding: 0 6px;
  top: -5px;
  display: inline-block;
  overflow: hidden;
  opacity: 1;
  min-height: 90px;
  line-height: 7.3em;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.gallery-two .list-view .owl-controls .owl-buttons div i {
  font-size: 14px;
  color: #ffffff;
}
.gallery-two .list-view .owl-controls .owl-buttons .owl-prev {
  left: -6px;
}
.gallery-two .list-view .owl-controls .owl-buttons .owl-next {
  right: -6px;
}
.gallery-two .list-view .owl-wrapper-outer,
.gallery-two .list-view .owl-wrapper {
  height: 90px;
  overflow: hidden;
}
