::-moz-selection {
  background: #ef9d87;
}

::selection {
  background: #ef9d87;
}

/* link color */
a:hover, a:focus, a:active {
  color: #ef9d87;
}

blockquote:before {
  color: #ef9d87;
}
blockquote cite, blockquote a, blockquote span {
  color: #ef9d87;
}

.more-link {
  border-color: #ef9d87;
}
.more-link:before {
  background: #ef9d87;
}

.small-border {
  background: #ef9d87;
}

.ex-small-border::after {
  background: #ef9d87;
}

.comment-reply-link {
  border-color: #ef9d87;
}
.comment-reply-link:hover {
  background: #ef9d87;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-color: #ef9d87;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #ef9d87;
}

.btn-search {
  background: #ef9d87;
}

.continue-read {
  color: #ef9d87;
}
.continue-read:hover {
  background: #ef9d87;
  border-color: #ef9d87;
}
#dsearch-result li a h2:hover {
  color: #ef9d87;
}
.go-button {
  border-color: #ef9d87;
}
.go-button:hover {
  background: #ef9d87;
}

#featured-item .owl-item.active .image-extra .inner-extra .fet-read-more:hover {
  background: #ef9d87;
  border-color: #ef9d87;
}

/* Menu */
.top-menu .menu-list > li > a::before {
  background: #ef9d87;
}

.menu-submenu > li > a:hover,
.menu-submenu-sub > li > a:hover,
.menu-submenu-sub-sub > li > a:hover {
  color: #ef9d87 !important;
}

@media (max-width: 992px) {
  .main-nav .top-menu > ul > li:hover > a,
  .main-nav .top-menu > ul > li.active > a {
    color: #ef9d87 !important;
  }
}
/* featured area */
.feature-area .full-control {
  background: #ef9d87;
}

.feature-area #featured-header .entry-title span {
  color: #ef9d87;
}
.feature-area #featured-item .item .image-extra .extra-content span span {
  color: #ef9d87;
}
.feature-area .owl-theme .owl-controls .owl-page span {
  background: #ef9d87;
}

.inner-extra .entry-meta .cat-links:before,
.inner-extra .entry-meta .author:before {
  color: #ef9d87;
}

.sticky-icon {
  background: #ef9d87;
}

/* Main content */
.content-area .entry-header .entry-meta a:hover {
  color: #ef9d87;
}
.content-area .entry-header .entry-meta .cat-links:before {
  color: #ef9d87;
}
.content-area .entry-header .entry-meta .entry-date:before {
  color: #ef9d87;
}
.content-area .entry-header .entry-meta .author:before {
  color: #ef9d87;
}
.content-area .entry-header .entry-meta .view-link:before {
  color: #ef9d87;
}
.content-area .entry-content .edit-link:before {
  color: #ef9d87;
}
.content-area .entry-footer .button:hover {
  background: #ef9d87;
}
.content-area .entry-footer .comments-link:before {
  color: #ef9d87;
}
.content-area .entry-footer .comments-link:hover {
  color: #ef9d87;
}
.content-area .entry-footer .share-area:before {
  color: #ef9d87;
}
.content-area .entry-footer .share-area a:hover {
  color: #ef9d87;
}
.content-area .entry-footer .tags-links span:before {
  color: #ef9d87;
}
.content-area .format-link .post-link .link-content {
  color: #ef9d87;
}
.content-area .format-link .post-link .link-content a {
  color: #ef9d87;
}
.content-area .format-quote .quote-content i {
  background: #ef9d87;
}
.content-area .format-quote .quote-content:before {
  color: #ef9d87;
}
.content-area .format-quote .quote-content .author a {
  color: #ef9d87;
}
.content-area .ribbon span {
  background: #ef9d87;
  background: -webkit-gradient(linear, left top, left bottom, from(#ef9d87), to(#ef9d87));
  background: -webkit-linear-gradient(#ef9d87 0%, #ef9d87 100%);
  background: linear-gradient(#ef9d87 0%, #ef9d87 100%);
}
.content-area .ribbon span:before {
  border-left: 3px solid #ef9d87;
  border-top: 3px solid #ef9d87;
}
.content-area .ribbon span:after {
  border-right: 3px solid #ef9d87;
  border-top: 3px solid #ef9d87;
}

.single-post .entry-content .tag a:hover {
  background: #ef9d87;
  border-color: #ef9d87;
}
.single-post .entry-footer .post-format {
  color: #ef9d87;
}
.single-post .entry-footer .post-author a:hover {
  color: #ef9d87;
}

/* pagination */
.navigation .nav-links > li.active a, .navigation .nav-links > li.active span {
  background: #ef9d87;
}
.navigation .nav-links > li a:hover {
  background: #ef9d87;
}
.navigation .nav-links li:first-child.nav-previous:hover span {
  background: #ef9d87;
  border-color: #ef9d87;
}
.navigation .nav-links li:first-child.nav-previous:hover span:last-child {
  color: #ef9d87;
  border-color: #ef9d87;
}
.navigation .nav-links li:last-child.nav-next:hover span {
  background: #ef9d87;
  border-color: #ef9d87;
}
.navigation .nav-links li:last-child.nav-next:hover span:first-child {
  color: #ef9d87;
  border-color: #ef9d87;
}
.navigation > li a:hover, .navigation > li span:hover {
  border-color: #ef9d87;
}
.navigation > li.active a, .navigation > li.active span {
  background: #ef9d87;
  border-color: #ef9d87;
}

/* gallery */
.gallery-one .owl-controls .owl-buttons div i, .gallery-two .owl-controls .owl-buttons div i {
  font-size: 12px;
  color: #ef9d87;
}

.gallery-two .list-view .owl-controls .owl-buttons div {
  background: #ef9d87;
}

.author-info .authors-social a:hover {
  color: #ef9d87;
}

/* Comments Section */
/* Widget */
.follow-us-area .follow-link .fa:hover {
  background: #ef9d87;
  border-color: #ef9d87;
}

.latest-item-meta a, .popular-item-meta a {
  color: #ef9d87;
}

.widget_categories li:hover > a,
.widget_archive li:hover > a {
  color: #ef9d87;
}

.widget_categories li:hover > .count,
.widget_archive li:hover > .count {
  background: #ef9d87;
}

.widget_categories li.current-cat > a,
.widget_categories li.current-cat-parent > a,
.widget_archive li.current-cat > a,
.widget_archive li.current-cat-parent > a {
  color: #ef9d87;
}

.widget_categories li.current-cat > .count,
.widget_categories li.current-cat-parent > .count,
.widget_archive li.current-cat > .count,
.widget_archive li.current-cat-parent > .count {
  background: #ef9d87;
}

.widget_tag_cloud .tagcloud a:hover {
  background: #ef9d87;
  border-color: #ef9d87;
}

.widget_calendar caption {
  background: #ef9d87;
}

.widget_calendar tbody a {
  background: #ef9d87;
}

.widget_links li a:hover,
.widget_meta li a:hover,
.widget_nav_menu li a:hover,
.widget_pages li a:hover,
.widget_recent_comments li a:hover,
.widget_recent_entries li a:hover {
  color: #ef9d87;
}
.widget_links li span:hover:before,
.widget_meta li span:hover:before,
.widget_nav_menu li span:hover:before,
.widget_pages li span:hover:before,
.widget_recent_comments li span:hover:before,
.widget_recent_entries li span:hover:before {
  color: #ef9d87;
}

.tp_recent_tweets li span a {
  color: #ef9d87;
}

.tp_recent_tweets li .twitter_time:before {
  color: #ef9d87;
}

.tp_recent_tweets li .twitter_time {
  color: #ef9d87;
}

.widget_josephine_aboutus_contact .about-contact-area h3 span {
  color: #ef9d87;
}

.form-newsletter #mc-embedded-subscribe:hover {
  border-color: #ef9d87;
  color: #ef9d87;
}

/* author page */
.about-me .entry-footer h3, .about-me .entry-footer .follow-link a {
  color: #ef9d87;
}
.about-me #author-skill .skillbar-bar {
  background: #ef9d87;
}
.about-me #author-skill .skill-bar-percent {
  color: #ef9d87;
}
.about-me #author-skill .skill-bar-percent:after {
  border-top: 12px solid #ef9d87;
}

/* Footer */
#footer-top .widget .widget-title::before,
#footer-top .widget .widget-title::after {
  border-color: #ef9d87;
}
