{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

{{! This bellow code to Show page content }}
{{#post}}

<!-- Content
================================================== -->
<div id="content" class="site-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="main-layout"> 
                <div id="primary" class="content-area"> <!-- Content Area -->
                    <main id="main" class="site-main">
                        <article class="{{post_class}} single-post hentry"> 

                            <header class="entry-header">
                                <h2 class="entry-title">{{title}}</h2>
                                <div class="hr-line"></div>
                                <div class="entry-meta">        
                                    <span class="byline">
                                        <span class="author vcard"> By {{author}}  </span>
                                    </span>
                                    <span class="devider">/</span>
                                    <span class="entry-date">{{date format="DD MMMM YYYY"}}</span>
                                </div> <!-- .entry-meta -->
                            </header>

                            {{#if image}}
                                <figure class="post-thumb">
                                    <img src="{{image}}" class="img-responsive" alt="{{title}}">
                                </figure> <!-- /.post-thumb -->
                            {{/if}}

                            <div class="entry-content">
                                {{content}}
                            </div>  <!-- .entry-content -->

                            <div class="page-share">
                                <script type="text/javascript">
                                    function josephinePopupWindow(url, title, w, h) {
                                        var left = (screen.width/2)-(w/2);
                                        var top = (screen.height/2)-(h/2);
                                        return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
                                      }   
                                </script>                      
                                <span>Share </span>

                                <!-- facebook share -->
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" onclick="josephinePopupWindow(this.href, 'facebook-share', 580, 400); return false;"><i class="fa fa-facebook"></i></a>

                                <!-- twitter share -->
                                <a href="https://twitter.com/home?status={{url absolute='true'}}" onclick="josephinePopupWindow(this.href, 'facebook-share', 580, 400); return false;"><i class="fa fa-twitter"></i></a>

                                <!-- google plus share -->
                                <a href="https://plus.google.com/share?url={{url absolute='true'}}" onclick="josephinePopupWindow(this.href, 'google-plus-share', 550,530); return false;"><i class="fa fa-google-plus"></i></a>

                                <!-- pinterest share -->
                                <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><i class="fa fa-pinterest-p"></i></a>

                                <!-- linkedin share -->
                                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute='true'}}" onclick="josephinePopupWindow(this.href, 'linkedin-share', 550,530); return false;"><i class="fa fa-linkedin"></i></a>
                            </div> <!-- Page Share -->
                        </article>  <!-- /.post-->

                        {{! This code is for include author info }}
                        {{> "author-profile"}} 

                    </main> <!-- #main -->
                </div> <!-- #primary -->
            </div> <!-- /.col-md-8 -->

            {{! Code for load sidebar from partials/sidebar.hbs }}
            {{> "sidebar"}}

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- #content -->
{{/post}}