{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

{{! This code to show Post in single page }}
{{#post}}
    <!-- Content
    ================================================== -->
    <div id="content" class="site-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8" id="main-layout">
                    <div id="primary" class="content-area"> <!-- Content Area -->

                        <main id="main" class="site-main">
                        
                            {{! This code to include post loop.hbs }}
                            {{> "loop-main"}}

                            <nav class="post-navigation clearfix" id="post_prev_next">
                                {{#next_post}}
                                    <div class="post-previous">
                                        <a rel="prev" href="{{url}}">
                                            <i class="fa fa-angle-double-left"></i>
                                            <h3><span>Previous Post</span>{{title}}</h3>
                                        </a>
                                    </div>
                                {{/next_post}}

                                {{#prev_post}}
                                    <div class="post-next">
                                        <a rel="prev" href="{{url}}">
                                            <i class="fa fa-angle-double-right"></i>
                                            <h3><span>Next Post</span>{{title}}</h3>
                                        </a>
                                    </div>
                                {{/prev_post}}
                            </nav> <!-- /.post-navigation -->

                            {{! This code is for include author info }}
                            {{> "author-profile"}} 
                            
                            <div class="related-post clearfix" id="related-post"> <!-- related-post -->
                                <h3 class="related-post-title">You may also like</h3>
                                <ul id="related-post-wrap" class="row"></ul>
                            </div>

                            {{! Code for Disqus Comment}}
                            {{> "comments-disqus"}}

                        </main> <!-- #main -->
                    </div> <!-- #primary -->
                </div> <!-- /.col-md-8 -->

                {{! Code for load sidebar from partials/sidebar.hbs }}
                {{> "sidebar"}}

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- #content -->
{{/post}}