.navigation {
	padding-top: 0.6em;
	z-index: 1;
	font-size: 0.8em;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	.nav-links {
		list-style: none;
		padding: 0;
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		margin: 0;
		@include prefixed(transition, all 0.2s ease-in);
		a {
			font-weight: bold;
		}
		> li {
			display: inline-block;
			margin: 0 2px;
			&:first-child, &:last-child  {
				margin: 0;
			}			
			a, span {
				padding: 8px 12px;
				background: $color__white;
			}
			.ico-right-angle, .ico-left-angle {
				font-size: 0.6em;
			}
			a > {
				span {
					padding: 0;
					border: 0;
				}
			}
			span.page-numbers.dots {
				border: 0;
				background: transparent;
			}
			a:hover {
				color: $color__white;
			}
			&.active {
				a, span {
					color: $color__white;
				}
			}
		}
		li.page-numbers {
			a:hover {
				background: $color__white !important;
				color: inherit;
			}
		}
		li.nav-previous, li.nav-next {
			background: $color__white;
			a, span {
				padding: 0;
				border: 0;
				display: inline-block;
			}
			a:hover {
				background: $color__white;
			}
		}
		li.nav-previous {
			border: 0;
			margin-top: -6px;

			span {
				padding: 12px;
			}
			a {
				display: inline-block;
			}
			span:first-child {
				height: 35px;
				line-height: 12px;
				width: 30px;
			}
			span:last-child {
				float: right;
				height: 35px;
				width: 100px;
				line-height: 10px;
				display: block;
				margin: 0;
				border-left: 0 !important;
			}
			&:hover {
				span {
					color: $color__white;
				}
				span:last-child {
					background: transparent !important;
				}	
			}
			&.disabled > a {
				pointer-events: none;
				filter: alpha(opacity=60);
				opacity: 0.6;
			}
		}
		li.nav-next {
			border: 0;
			margin-top: -6px;
			span {
				padding: 12px;
			}
			a {
				display: inline-block;
			}
			span:first-child {
				float: left;
				height: 35px;
				width: 100px;
				line-height: 10px;
				display: block;
				margin: 0;
				border-right: 0 !important;
			}
			span:last-child {
				height: 35px;
				line-height: 12px;
				width: 30px;
			}
			&:hover {
				span {
					color: $color__white;
				}
				span:first-child {
					background: transparent !important; 
				}	
			}	
			&.disabled > a {
				pointer-events: none;
				filter: alpha(opacity=60);
				opacity: 0.6;
			}	
		}
	}	
}
/* Pagination Color */
.navigation {
	.nav-links {
		> li {			
			a, span {
				border: 1px solid $color__border-two;
			}
		}
		li.nav-previous {
			span {
				border: 1px solid $color__border-two;
			}
			span:last-child {
				border: 1px solid $color__border-two;	
			}
		}
		li.nav-next {
			span {
				border: 1px solid $color__border-two;
			}
			span:first-child {
				border: 1px solid $color__border-two;	
			}		
		}

	}

}
/* page link pagination */
.entry-content {
	.page-links {
		> a {
			border: 1px solid $color__border-one;
			font-size: 0.8em;
    		padding: 0.4em 0.8em;
		}
	}
}